APP/config/n8n/WorkFlows/CMDB - Resumen por clase, estado y bodega - SMTP.json
{
  "name": "CMDB - Resumen por clase, estado y bodega - SMTP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "55a41b36-545c-438d-8681-6744d1218581",
      "name": "Ejecutar manualmente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be0f574f-78a5-4049-828f-ba07e19eb87a",
              "name": "itop_url",
              "value": "http://172.16.123.132/itop/",
              "type": "string"
            },
            {
              "id": "70911b51-3e10-42e0-8a22-847a2ec49e90",
              "name": "email_from",
              "value": "notificaciones@dominio.cl",
              "type": "string"
            },
            {
              "id": "5ce18441-aeb6-4e26-b8e6-871755b16888",
              "name": "email_to",
              "value": "destinatario@dominio.cl",
              "type": "string"
            },
            {
              "id": "3e87128c-69ba-427f-8ac1-68190ebea711",
              "name": "email_cc",
              "value": "",
              "type": "string"
            },
            {
              "id": "a0662505-2e0c-4c60-a558-4c160482818f",
              "name": "email_bcc",
              "value": "",
              "type": "string"
            },
            {
              "id": "10f6dd16-4a5f-4e74-9b53-dd02fcb2e573",
              "name": "email_subject",
              "value": "Reporte CMDB - resumen por clase, estado y bodega",
              "type": "string"
            },
            {
              "id": "bb01f27f-7232-4a8a-b9dc-e650a42d0955",
              "name": "timezone",
              "value": "America/Santiago",
              "type": "string"
            },
            {
              "id": "b89d42d7-f496-477d-877d-fa600fb89133",
              "name": "itop_organization",
              "value": "Minera GoldFields Chile",
              "type": "string"
            },
            {
              "id": "7430aeba-f167-4567-92b2-e89af073a11d",
              "name": "Company",
              "value": "TecnoComp",
              "type": "string"
            },
            {
              "id": "3959ff09-c937-44ec-8a32-72a3177706ae",
              "name": "itop_limit",
              "value": 5000,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "308682df-b7fc-48fa-9c99-bb5adf60a687",
      "name": "Config Reporte"
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "PhysicalDevice",
        "key": "SELECT PhysicalDevice AS d JOIN lnkContactToFunctionalCI AS l ON l.functionalci_id = d.id",
        "output_fields": "id,name,friendlyname,finalclass,status,org_id,org_id_friendlyname,location_id,location_id_friendlyname,contacts_list,brand_id,brand_id_friendlyname,model_id,model_id_friendlyname,serialnumber,asset_number,move2production,purchase_date,end_of_warranty,description",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "2825518e-2253-452c-8877-abd02a3fa170",
      "name": "iTop - Activos CMDB para resumen",
      "credentials": {
        "iTopTokenApi": {
          "id": "9wFstaIYKt1u82UQ",
          "name": "iTopTokenGF"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config Reporte').first().json;\nconst company = String(config.Company || config.company || 'TecnoComp').trim();\nconst itopOrganization = String(config.itop_organization || '').trim();\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction csvEscape(value) {\n  const text = String(value ?? '').replace(/\"/g, '\"\"');\n  return `\"${text}\"`;\n}\n\nfunction getField(obj, names, fallback = '') {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return fallback;\n}\n\nfunction flattenInput(items) {\n  const rows = [];\n  for (const item of items) {\n    const j = item.json || {};\n    if (j.objects && typeof j.objects === 'object') {\n      for (const [key, value] of Object.entries(j.objects)) rows.push({ key, ...(value || {}), fields: value?.fields || value || {} });\n      continue;\n    }\n    if (Array.isArray(j)) { rows.push(...j); continue; }\n    rows.push(j);\n  }\n  return rows;\n}\n\nfunction scalarText(value) {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const text = String(value).trim();\n    return text === '[object Object]' ? '' : text;\n  }\n  return '';\n}\n\nfunction cleanContactText(value) {\n  let text = scalarText(value);\n  if (!text) return '';\n  if (text.includes(' / ')) text = text.split(' / ')[0].trim();\n  return text;\n}\n\nfunction normalizeContactEntry(entry) {\n  if (entry === undefined || entry === null) return '';\n  const direct = cleanContactText(entry);\n  if (direct) return direct;\n  if (Array.isArray(entry)) return entry.map(normalizeContactEntry).filter(Boolean).join(', ');\n  if (typeof entry === 'object') {\n    if (entry.fields && typeof entry.fields === 'object') {\n      const fromFields = normalizeContactEntry(entry.fields);\n      if (fromFields) return fromFields;\n    }\n    if (entry.objects && typeof entry.objects === 'object') {\n      return Object.values(entry.objects).map(normalizeContactEntry).filter(Boolean).join(', ');\n    }\n    const preferred = ['contact_id_friendlyname','person_id_friendlyname','user_id_friendlyname','contact_name','person_name','display_name','name','friendlyname','email','email_address'];\n    for (const field of preferred) {\n      const text = cleanContactText(entry[field]);\n      if (text) return text;\n    }\n    const nested = ['contact_id','person_id','user_id','contact','person','user'];\n    for (const field of nested) {\n      const text = normalizeContactEntry(entry[field]);\n      if (text) return text;\n    }\n  }\n  return '';\n}\n\nfunction normalizeContacts(value) {\n  const text = normalizeContactEntry(value);\n  if (!text) return '';\n  const unique = [];\n  const seen = new Set();\n  for (const part of text.split(',').map(v => cleanContactText(v)).filter(Boolean)) {\n    const key = part.toLowerCase();\n    if (!seen.has(key)) { seen.add(key); unique.push(part); }\n  }\n  return unique.join(', ');\n}\n\nfunction isBlankValue(value) {\n  const v = String(value ?? '').trim();\n  return !v || v === '-' || v.toLowerCase() === 'n/a' || v.toLowerCase() === 'null' || v.toLowerCase() === 'undefined' || v.toLowerCase() === 'sin bodega/localidad';\n}\n\nfunction inferWorkstationClass(f) {\n  const rawHints = [\n    getField(f, ['finalclass', 'class', 'class_friendlyname'], ''),\n    getField(f, ['type', 'type_friendlyname', 'computer_type', 'computer_type_friendlyname', 'device_type', 'device_type_friendlyname'], ''),\n    getField(f, ['category', 'category_friendlyname', 'subcategory', 'subcategory_friendlyname'], ''),\n    getField(f, ['name', 'friendlyname'], ''),\n    getField(f, ['model_id_friendlyname', 'model'], ''),\n    getField(f, ['brand_id_friendlyname', 'brand'], ''),\n    getField(f, ['description', 'comment', 'comments'], ''),\n  ].map(v => String(v || '').trim()).filter(Boolean);\n  const hint = rawHints.join(' ').toLowerCase();\n  const laptopPatterns = ['laptop','notebook','portable','portatil','portátil','ultrabook','latitude','elitebook','probook','thinkpad','thinkbook','macbook','vivobook','zenbook','travelmate','tecra','xps 13','xps 15',/\\b(34|35|54|55|72|73|74|75)[0-9]{2}\\b/,/\\bt14\\b/,/\\bt15\\b/,/\\bx1\\b/,/\\be14\\b/,/\\be15\\b/];\n  const desktopPatterns = ['desktop','sobremesa','escritorio','tower','torre','sff','micro','minitower','optiplex','prodesk','elitedesk','thinkcentre','workstation','all-in-one','all in one','aio'];\n  for (const pattern of desktopPatterns) if (hint.includes(pattern)) return 'PC';\n  for (const pattern of laptopPatterns) if (pattern instanceof RegExp ? pattern.test(hint) : hint.includes(pattern)) return 'Laptop';\n  return 'PC';\n}\n\nfunction normalizeClass(value, f = {}) {\n  const raw = String(value || '-').trim();\n  const lower = raw.toLowerCase();\n  if (lower === 'pc' || lower === 'pc/laptop' || lower.includes('pc/laptop') || lower.includes('desktop') || lower.includes('laptop') || lower.includes('notebook') || lower.includes('portable')) {\n    return inferWorkstationClass({ ...f, finalclass: raw });\n  }\n  if (lower === 'mobilephone' || lower.includes('phone') || lower.includes('telefono') || lower.includes('teléfono')) return 'Teléfonos móviles';\n  if (lower === 'tablet') return 'Tablets';\n  if (lower === 'printer' || lower.includes('impresora')) return 'Impresoras';\n  if (lower === 'peripheral' || lower.includes('periferico') || lower.includes('periférico')) return 'Periféricos';\n  return raw || 'Otros';\n}\n\nfunction classSortWeight(className) {\n  const order = { 'PC': 10, 'Laptop': 20, 'Tablets': 30, 'Teléfonos móviles': 40, 'Impresoras': 50, 'Periféricos': 60, 'Otros': 90 };\n  return order[className] || 80;\n}\n\nfunction normalizeStatusInfo(value) {\n  const raw = String(value || '-').trim();\n  const s = raw.toLowerCase();\n  if (s === 'stock' || s.includes('stock') || s.includes('inventario') || s.includes('available') || s.includes('disponible')) return { key: 'stock', label: 'En Inventario', raw };\n  if (s === 'implementation' || s.includes('implementation') || s.includes('implementacion') || s.includes('implementación') || s.includes('no productivo')) return { key: 'implementation', label: 'No Productivo', raw };\n  if (s === 'production' || s.includes('production') || s.includes('produccion') || s.includes('producción') || s.includes('active') || s.includes('assigned') || s.includes('asignado')) return { key: 'production', label: 'Productivo', raw };\n  if (s === 'obsolete' || s.includes('obsolete') || s.includes('obsoleto') || s.includes('retired') || s.includes('retirado')) return { key: 'obsolete', label: 'Obsoleto', raw };\n  return { key: 'other', label: raw || 'Sin estado', raw };\n}\n\nfunction statusSortWeight(key) { return ({ stock: 10, implementation: 20, production: 30, obsolete: 40, other: 90 })[key] || 99; }\nfunction badge(text, cls='badge-gray') { return `<span class=\"badge ${cls}\">${escapeHtml(text)}</span>`; }\nfunction statusBadgeByKey(key, label) {\n  if (key === 'production') return badge(label, 'badge-green');\n  if (key === 'stock') return badge(label, 'badge-blue');\n  if (key === 'implementation') return badge(label, 'badge-orange');\n  if (key === 'obsolete') return badge(label, 'badge-gray');\n  return badge(label, 'badge-yellow');\n}\nfunction td(value, align='left') { return `<td align=\"${align}\" style=\"font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top;\">${value}</td>`; }\nfunction th(value, align='left') { return `<th align=\"${align}\" style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:${align}; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap;\">${escapeHtml(value)}</th>`; }\nfunction fmtDateOnly(value) {\n  if (!value || value === '-') return '-';\n  const d = new Date(String(value).replace(' ', 'T'));\n  if (Number.isNaN(d.getTime())) return String(value);\n  return d.toLocaleDateString('es-CL', { timeZone: config.timezone || 'America/Santiago', year:'numeric', month:'2-digit', day:'2-digit' });\n}\n\nconst generatedAt = new Date().toLocaleString('es-CL', { timeZone: config.timezone || 'America/Santiago', year:'numeric', month:'2-digit', day:'2-digit', hour:'2-digit', minute:'2-digit' });\nconst rawRows = flattenInput($input.all());\n\nconst mappedAssets = rawRows.map((row) => {\n  const f = row.fields || row;\n  const contactRaw = getField(f, ['contacts_list_friendlyname','contacts_list','contact_id_friendlyname','contact_name','person_id_friendlyname','user_id_friendlyname'], '');\n  const statusInfo = normalizeStatusInfo(getField(f, ['operational_status_friendlyname','operational_status','status_friendlyname','status'], '-'));\n  const finalclassRaw = getField(f, ['finalclass','class','class_friendlyname'], '-');\n  return {\n    id: getField(f, ['id','key'], ''),\n    name: getField(f, ['name','friendlyname'], '-'),\n    finalclass: normalizeClass(finalclassRaw, f),\n    finalclassRaw,\n    status: statusInfo.label,\n    statusKey: statusInfo.key,\n    statusRaw: statusInfo.raw,\n    organization: getField(f, ['org_id_friendlyname','organization_name','org_name'], '-'),\n    location: getField(f, ['location_id_friendlyname','location_name','location_id'], ''),\n    contacts: normalizeContacts(contactRaw),\n    brand: getField(f, ['brand_id_friendlyname','brand'], '-'),\n    model: getField(f, ['model_id_friendlyname','model'], '-'),\n    serial: getField(f, ['serialnumber','serial_number'], ''),\n    move2production: getField(f, ['move2production','production_date'], '-'),\n    purchaseDate: getField(f, ['purchase_date'], '-'),\n    warrantyEnd: getField(f, ['end_of_warranty'], '-'),\n  };\n});\n\nconst unique = new Map();\nfor (const a of mappedAssets) {\n  const key = String(a.id || `${a.finalclass}|${a.name}|${a.serial}`);\n  if (!unique.has(key)) unique.set(key, a);\n}\n\nfor (const asset of unique.values()) {\n  if (String(asset.finalclass || '').trim().toLowerCase() === 'pc/laptop') {\n    asset.finalclass = 'PC';\n  }\n}\n\nconst assets = Array.from(unique.values()).sort((a,b) =>\n  statusSortWeight(a.statusKey) - statusSortWeight(b.statusKey) ||\n  classSortWeight(a.finalclass) - classSortWeight(b.finalclass) ||\n  String(a.finalclass).localeCompare(String(b.finalclass),'es') ||\n  String(a.location).localeCompare(String(b.location),'es') ||\n  String(a.name).localeCompare(String(b.name),'es')\n);\n\nfunction isProductionStatus(a) { return a.statusKey === 'production'; }\nfunction isStockStatus(a) { return a.statusKey === 'stock'; }\nfunction isImplementationStatus(a) { return a.statusKey === 'implementation'; }\nfunction isObsoleteStatus(a) { return a.statusKey === 'obsolete'; }\n\nconst classes = new Map(), classStatus = new Map(), classLocation = new Map(), locations = new Map();\nfunction inc(map, key, by=1) { map.set(key, (map.get(key) || 0) + by); }\n\nfor (const a of assets) {\n  if (!classes.has(a.finalclass)) classes.set(a.finalclass, []);\n  classes.get(a.finalclass).push(a);\n  inc(classStatus, `${a.finalclass}||${a.statusKey}||${a.status}`);\n  inc(classLocation, `${a.finalclass}||${a.location || 'Sin bodega/localidad'}`);\n  const loc = a.location || 'Sin bodega/localidad';\n  if (!locations.has(loc)) locations.set(loc, []);\n  locations.get(loc).push(a);\n}\n\nconst classSummaryRows = Array.from(classes.entries())\n  .sort(([a],[b]) => classSortWeight(a) - classSortWeight(b) || a.localeCompare(b,'es'))\n  .map(([cls, list]) => `<tr>` +\n    td(escapeHtml(cls)) +\n    td(`<strong>${list.length}</strong>`,'right') +\n    td(list.filter(isProductionStatus).length,'right') +\n    td(list.filter(isStockStatus).length,'right') +\n    td(list.filter(a => isImplementationStatus(a) || isObsoleteStatus(a)).length,'right') +\n    td(list.filter(a => !String(a.location || '').trim()).length,'right') +\n  `</tr>`).join('');\n\nconst classStatusRows = Array.from(classStatus.entries()).sort((a,b) => {\n  const [classA, keyA] = a[0].split('||');\n  const [classB, keyB] = b[0].split('||');\n  return classSortWeight(classA) - classSortWeight(classB) || classA.localeCompare(classB,'es') || statusSortWeight(keyA) - statusSortWeight(keyB);\n}).map(([key,count]) => {\n  const [cls,statusKey,statusLabel]=key.split('||');\n  const obs = statusKey === 'implementation' ? badge('No productivo / implementación','badge-orange') : statusKey === 'obsolete' ? badge('Fuera de ciclo','badge-gray') : statusKey === 'stock' ? badge('Disponible en inventario','badge-blue') : statusKey === 'production' ? badge('Activo operativo','badge-green') : badge('Validar estado','badge-yellow');\n  return `<tr>` + td(escapeHtml(cls)) + td(statusBadgeByKey(statusKey, statusLabel)) + td(`<strong>${count}</strong>`,'right') + td(obs) + `</tr>`;\n}).join('');\n\nconst orderedMatrixClasses = Array.from(classes.keys())\n  .sort((a,b) => classSortWeight(a) - classSortWeight(b) || a.localeCompare(b,'es'));\n\nconst locationMatrixHeaderCells = [\n  th('Bodega / localidad'),\n  th('Estado'),\n  ...orderedMatrixClasses.map(cls => th(cls, 'right')),\n  th('Total', 'right'),\n].join('');\n\nconst locationMatrixRows = Array.from(locations.entries())\n  .sort(([a],[b]) => a.localeCompare(b,'es'))\n  .map(([loc, list]) => {\n    const statusMap = new Map();\n    for (const asset of list) {\n      if (!statusMap.has(asset.statusKey)) {\n        statusMap.set(asset.statusKey, { key: asset.statusKey, label: asset.status, list: [] });\n      }\n      statusMap.get(asset.statusKey).list.push(asset);\n    }\n\n    return Array.from(statusMap.values())\n      .sort((a,b) => statusSortWeight(a.key) - statusSortWeight(b.key) || a.label.localeCompare(b.label,'es'))\n      .map(({ key: statusKey, label: statusLabel, list: statusList }) => {\n        const classCells = orderedMatrixClasses.map((cls) => {\n          const count = statusList.filter(asset => asset.finalclass === cls).length;\n          return td(count ? `<strong>${count}</strong>` : '0', 'right');\n        }).join('');\n\n        return `<tr>` +\n          td(escapeHtml(loc || 'Sin bodega/localidad')) +\n          td(statusBadgeByKey(statusKey, statusLabel)) +\n          classCells +\n          td(`<strong>${statusList.length}</strong>`, 'right') +\n        `</tr>`;\n      }).join('');\n  }).join('');\n\nconst topLocationRows = Array.from(locations.entries()).sort((a,b)=>b[1].length-a[1].length).map(([loc,list]) => {\n  const classNames=[...new Set(list.map(a=>a.finalclass))].sort((a,b)=>classSortWeight(a)-classSortWeight(b)||a.localeCompare(b,'es')).join(', ');\n  return `<tr>` + td(escapeHtml(loc)) + td(`<strong>${list.length}</strong>`,'right') + td(escapeHtml(classNames || '-')) + `</tr>`;\n}).join('');\n\nconst csvHeaders = [\n  'Nombre', 'Clase/Tipo', 'Estado', 'Bodega/Localidad', 'Contactos', 'Marca', 'Modelo', 'Serie', 'Puesto en Produccion', 'Fecha de Compra', 'Vencimiento de Garantia'\n];\nconst csvRows = assets.map(a => [a.name, a.finalclass, a.status, a.location || 'Sin bodega/localidad', a.contacts, a.brand, a.model, a.serial, fmtDateOnly(a.move2production), fmtDateOnly(a.purchaseDate), fmtDateOnly(a.warrantyEnd)]);\nconst csvContent = '\\uFEFF' + [csvHeaders.map(csvEscape).join(';'), ...csvRows.map(row => row.map(csvEscape).join(';'))].join('\\r\\n');\n\nconst subjectBase = String(config.email_subject || 'Reporte CMDB - resumen por clase, estado y bodega').trim();\nconst emailSubject = itopOrganization ? `${subjectBase} - ${itopOrganization}` : subjectBase;\nconst generatedAtFile = new Date().toISOString().replace(/[:.]/g, '-').replace('T', '_').slice(0, 19);\n\nreturn [{\n  json: {\n    email_from: config.email_from,\n    email_to: config.email_to,\n    email_cc: config.email_cc || '',\n    email_bcc: config.email_bcc || '',\n    email_subject: emailSubject,\n    company,\n    Company: company,\n    itop_organization: itopOrganization || '-',\n    generated_at: generatedAt,\n    total_assets: String(assets.length),\n    production_count: String(assets.filter(isProductionStatus).length),\n    stock_count: String(assets.filter(isStockStatus).length),\n    without_location_count: String(assets.filter(a => !String(a.location || '').trim()).length),\n    non_operational_count: String(assets.filter(a => isImplementationStatus(a) || isObsoleteStatus(a)).length),\n    implementation_count: String(assets.filter(isImplementationStatus).length),\n    obsolete_count: String(assets.filter(isObsoleteStatus).length),\n    class_count: String(classes.size),\n    class_summary_rows: classSummaryRows || `<tr>${td('Sin datos CMDB para resumir.')}</tr>`,\n    class_status_rows: classStatusRows || `<tr>${td('Sin estados para resumir.')}</tr>`,\n    location_matrix_header_cells: locationMatrixHeaderCells,\n    location_matrix_rows: locationMatrixRows || `<tr><td colspan=\"${orderedMatrixClasses.length + 3}\" style=\"padding:12px; font-size:12px; color:#64748b;\">Sin bodegas/localidades para resumir.</td></tr>`,\n    top_location_rows: topLocationRows || `<tr>${td('Sin bodegas/localidades para listar.')}</tr>`,\n    itop_url: config.itop_url || '#',\n    csv_filename: `cmdb_resumen_clase_estado_bodega_${generatedAtFile}.csv`,\n  },\n  binary: {\n    csv: {\n      data: Buffer.from(csvContent, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName: `cmdb_resumen_clase_estado_bodega_${generatedAtFile}.csv`,\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "fc09743d-d7bd-4fc1-aeaf-3f1ee26bbd8d",
      "name": "Preparar datos reporte"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst data = input.json || {};\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nconst template = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Resumen CMDB por clase, estado y bodega</title>\n  <style type=\"text/css\">\n    body { margin:0; padding:0; background-color:#eef2f6; font-family:Arial, Helvetica, sans-serif; color:#1f2937; }\n    table { border-collapse:collapse; }\n    a { color:#1d4ed8; text-decoration:none; }\n    .wrapper { width:100%; background-color:#eef2f6; padding:24px 0; }\n    .container { width:100%; max-width:1000px; background-color:#ffffff; border:1px solid #d9e2ec; }\n    .mobile-padding { padding-left:28px; padding-right:28px; }\n    .summary-card { padding:4px; }\n    .data-table th { background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap; }\n    .data-table td { font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top; }\n    .section-title { font-size:18px; line-height:24px; font-weight:bold; color:#111827; margin-bottom:8px; }\n    .section-subtitle { font-size:12px; line-height:18px; color:#6b7280; margin-bottom:10px; }\n    .badge { display:inline-block; padding:4px 8px; border-radius:12px; font-size:11px; font-weight:bold; line-height:14px; white-space:nowrap; }\n    .badge-green { background-color:#dcfce7; color:#166534; border:1px solid #bbf7d0; }\n    .badge-yellow { background-color:#fef9c3; color:#854d0e; border:1px solid #fde68a; }\n    .badge-orange { background-color:#ffedd5; color:#9a3412; border:1px solid #fed7aa; }\n    .badge-red { background-color:#fee2e2; color:#991b1b; border:1px solid #fecaca; }\n    .badge-blue { background-color:#dbeafe; color:#1e3a8a; border:1px solid #bfdbfe; }\n    .badge-gray { background-color:#f3f4f6; color:#374151; border:1px solid #e5e7eb; }\n    @media only screen and (max-width:760px) { .container{width:100%!important;} .mobile-padding{padding-left:14px!important;padding-right:14px!important;} .summary-card{width:100%!important;display:block!important;margin-bottom:8px!important;} .table-scroll{overflow-x:auto!important;display:block!important;width:100%!important;} }\n  </style>\n</head>\n<body style=\"margin:0; padding:0; background-color:#eef2f6; font-family:Arial, Helvetica, sans-serif; color:#1f2937;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"wrapper\" style=\"width:100%; background-color:#eef2f6; padding:24px 0;\"><tr><td align=\"center\">\n    <table role=\"presentation\" width=\"1000\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"container\" style=\"width:100%; max-width:1000px; background-color:#ffffff; border:1px solid #d9e2ec;\">\n      <tr><td style=\"background-color:#0f172a; padding:24px 28px;\" class=\"mobile-padding\">\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n          <td valign=\"top\" style=\"width:65%;\">\n            <div style=\"font-size:13px; line-height:18px; color:#93c5fd; font-weight:bold; letter-spacing:0.4px;\">Automatización ITSM / CMDB</div>\n            <div style=\"font-size:26px; line-height:32px; color:#ffffff; font-weight:bold; margin-top:6px;\">Resumen CMDB por clase, estado y bodega</div>\n            <div style=\"font-size:14px; line-height:20px; color:#cbd5e1; margin-top:6px;\">Consolidado operativo de activos sincronizados desde Combodo iTop</div>\n            <div style=\"font-size:13px; line-height:19px; color:#cbd5e1; margin-top:10px;\"><strong style=\"color:#ffffff;\">Organización iTop:</strong> {{itop_organization}}</div>\n          </td>\n          <td valign=\"top\" align=\"right\" style=\"width:35%;\">\n            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" align=\"right\">\n              <tr><td style=\"font-size:12px; line-height:18px; color:#cbd5e1; text-align:right;\"><strong style=\"color:#ffffff;\">Generado:</strong><br>{{generated_at}}</td></tr>\n              <tr><td style=\"font-size:12px; line-height:18px; color:#cbd5e1; text-align:right; padding-top:8px;\"><strong style=\"color:#ffffff;\">Fuente:</strong><br>Producción / iTop CMDB</td></tr>\n            </table>\n          </td>\n        </tr></table>\n      </td></tr>\n\n      <tr><td style=\"padding:24px 28px 12px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Resumen ejecutivo</div>\n        <div style=\"font-size:13px; line-height:19px; color:#6b7280; margin-top:4px;\">Vista consolidada de activos físicos agrupados por <strong>Clase/Tipo</strong>, estado operativo y bodega/localidad para la organización <strong>{{itop_organization}}</strong>.</div>\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 18px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n        <td class=\"summary-card\" width=\"16.66%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #cbd5e1; background-color:#f8fafc;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#475569; font-weight:bold;\">TOTAL ACTIVOS</div><div style=\"font-size:24px; color:#0f172a; font-weight:bold;\">{{total_assets}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"16.66%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #bbf7d0; background-color:#f0fdf4;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#166534; font-weight:bold;\">EN PRODUCCIÓN</div><div style=\"font-size:24px; color:#166534; font-weight:bold;\">{{production_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"16.66%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #bfdbfe; background-color:#eff6ff;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#1e3a8a; font-weight:bold;\">EN STOCK</div><div style=\"font-size:24px; color:#1e3a8a; font-weight:bold;\">{{stock_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"16.66%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #fde68a; background-color:#fffbeb;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#854d0e; font-weight:bold;\">SIN BODEGA</div><div style=\"font-size:24px; color:#854d0e; font-weight:bold;\">{{without_location_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"16.66%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #fed7aa; background-color:#fff7ed;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#9a3412; font-weight:bold;\">NO OPERATIVOS</div><div style=\"font-size:24px; color:#9a3412; font-weight:bold;\">{{non_operational_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"16.66%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #cbd5e1; background-color:#f8fafc;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#475569; font-weight:bold;\">CLASES/TIPOS</div><div style=\"font-size:24px; color:#0f172a; font-weight:bold;\">{{class_count}}</div></td></tr></table></td>\n      </tr></table></td></tr>\n\n      <tr><td style=\"padding:0 28px 20px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #e5e7eb; background-color:#f9fafb;\"><tr><td style=\"padding:12px 14px;\">\n        <div style=\"font-size:13px; line-height:18px; font-weight:bold; color:#111827; margin-bottom:8px;\">Criterio del reporte</div>\n        <div style=\"font-size:12px; line-height:18px; color:#374151;\">Se consolida la información recuperada desde iTop y se normalizan estados operativos para lectura ejecutiva. Se adjunta CSV único con el volcado consolidado.</div>\n      </td></tr></table></td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Totales por Clase/Tipo</div>\n        <div class=\"section-subtitle\">Cantidad total de objetos registrados por Clase/Tipo de activo.</div>\n        <div class=\"table-scroll\" style=\"width:100%; overflow-x:auto;\"><table role=\"presentation\" width=\"100%\" class=\"data-table\" style=\"width:100%; border:1px solid #dbe3ec;\"><thead><tr><th>Clase/Tipo</th><th style=\"text-align:right;\">Total</th><th style=\"text-align:right;\">En producción</th><th style=\"text-align:right;\">En stock</th><th style=\"text-align:right;\">No operativo</th><th style=\"text-align:right;\">Sin bodega</th></tr></thead><tbody>{{class_summary_rows}}</tbody></table></div>\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Resumen por Bodega / Clase-Tipo</div>\n        <div class=\"section-subtitle\">Distribución por bodega/localidad. Las clases/tipos de activo se presentan como columnas y los estados operativos como filas.</div>\n        <div class=\"table-scroll\" style=\"width:100%; overflow-x:auto;\"><table role=\"presentation\" width=\"100%\" class=\"data-table\" style=\"width:100%; border:1px solid #dbe3ec;\"><thead><tr>{{location_matrix_header_cells}}</tr></thead><tbody>{{location_matrix_rows}}</tbody></table></div>\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Bodegas con mayor concentración de activos</div>\n        <div class=\"section-subtitle\">Vista rápida de localidades o bodegas con mayor volumen de objetos CMDB.</div>\n        <div class=\"table-scroll\" style=\"width:100%; overflow-x:auto;\"><table role=\"presentation\" width=\"100%\" class=\"data-table\" style=\"width:100%; border:1px solid #dbe3ec;\"><thead><tr><th>Bodega / localidad</th><th style=\"text-align:right;\">Total activos</th><th>Clases/Tipos presentes</th></tr></thead><tbody>{{top_location_rows}}</tbody></table></div>\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #dbe3ec; background-color:#f8fafc;\"><tr><td style=\"padding:16px 18px;\"><div style=\"font-size:15px; line-height:21px; color:#111827; font-weight:bold; margin-bottom:8px;\">Observaciones operacionales</div><ul style=\"margin:0; padding-left:18px; color:#374151; font-size:13px; line-height:20px;\"><li>Este reporte fue generado automáticamente por \"Automatización ITSM / CMDB\".</li><li>Organización iTop considerada en el reporte: <strong>{{itop_organization}}</strong>.</li><li>Se adjunta un CSV único con el volcado consolidado del resumen CMDB.</li></ul></td></tr></table></td></tr>\n\n      <tr><td align=\"center\" style=\"padding:0 28px 26px 28px;\" class=\"mobile-padding\"><table role=\"presentation\"><tr><td align=\"center\" bgcolor=\"#1d4ed8\" style=\"background-color:#1d4ed8; padding:11px 20px;\"><a href=\"{{itop_url}}\" target=\"_blank\" style=\"font-size:13px; line-height:18px; color:#ffffff; font-weight:bold; text-decoration:none; display:inline-block;\">Abrir Combodo iTop</a></td></tr></table></td></tr>\n      <tr><td style=\"background-color:#f1f5f9; border-top:1px solid #dbe3ec; padding:18px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\"><tr><td valign=\"top\" style=\"font-size:12px; line-height:18px; color:#64748b;\"><strong style=\"color:#334155;\">Automatización ITSM / CMDB</strong><br>{{company}}<br>Correo generado automáticamente. No responder a este mensaje.</td><td valign=\"top\" align=\"right\" style=\"font-size:12px; line-height:18px; color:#64748b;\">Generado:<br>{{generated_at}}</td></tr></table></td></tr>\n    </table>\n  </td></tr></table>\n</body>\n</html>`;\n\nlet html = template;\nfor (const [key, value] of Object.entries(data)) {\n  html = html.replaceAll(`{{${key}}}`, String(value ?? ''));\n}\n\nreturn [{\n  json: {\n    ...data,\n    html,\n  },\n  binary: input.binary || {},\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "id": "5ab82288-7d0b-4d21-a85a-f01266a82806",
      "name": "HTML - Template Reporte"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from }}",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachments": "csv",
          "ccEmail": "={{ $json.email_cc }}",
          "bccEmail": "={{ $json.email_bcc }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1328,
        0
      ],
      "id": "45de348a-5292-4ac3-b2fd-c4049bafeead",
      "name": "Enviar correo SMTP",
      "webhookId": "7db4ae00-baa9-4802-9cc5-9a9952d26ac7",
      "credentials": {
        "smtp": {
          "id": "xNtpGsiFHeoJckRp",
          "name": "SMTP_MailPit"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "Config Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Reporte": {
      "main": [
        [
          {
            "node": "iTop - Activos CMDB para resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Activos CMDB para resumen": {
      "main": [
        [
          {
            "node": "Preparar datos reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos reporte": {
      "main": [
        [
          {
            "node": "HTML - Template Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Template Reporte": {
      "main": [
        [
          {
            "node": "Enviar correo SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8a79f3d8-a10f-4724-9ed5-3442a2fbe4a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ad3b920e2d3586b0e2fb892d909337f22ce15cbde2c7354c038d868efea76ad"
  },
  "id": "RHlheFiawtmkE234",
  "tags": []
}