APP/config/n8n/WorkFlows/CMDB - Activos sin contacto asignado - SMTP.json
{
  "name": "CMDB - Activos sin contacto asignado - SMTP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -128
      ],
      "id": "ce2ec88d-4dc2-4a80-8b51-6d4c39f3c9ab",
      "name": "Ejecutar manualmente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f222a86-ed19-4347-a21f-aadf679dd709",
              "name": "itop_url",
              "value": "http://172.16.123.132/itop/",
              "type": "string"
            },
            {
              "id": "0ea4237c-39d9-417e-a6f2-92bc8c790e94",
              "name": "email_from",
              "value": "notificaciones@dominio.cl",
              "type": "string"
            },
            {
              "id": "b1fb2367-0d9a-4fe4-8eef-c930cdb6037c",
              "name": "email_to",
              "value": "destinatario@dominio.cl",
              "type": "string"
            },
            {
              "id": "8040478b-aca3-47b6-97aa-9a0a9ead36e0",
              "name": "email_cc",
              "value": "",
              "type": "string"
            },
            {
              "id": "fbd4690c-80e0-4235-a5bc-5f33fc74e588",
              "name": "email_bcc",
              "value": "",
              "type": "string"
            },
            {
              "id": "c2584a8c-2d1b-40cb-be72-244ee41e46f9",
              "name": "email_subject",
              "value": "CMDB - activos productivos sin contacto asignado",
              "type": "string"
            },
            {
              "id": "98ff434f-dd04-4ba4-aed8-d429825998b4",
              "name": "timezone",
              "value": "America/Santiago",
              "type": "string"
            },
            {
              "id": "6763ba86-919a-4c2a-98ce-53d3b947d19d",
              "name": "itop_organization",
              "value": "Minera GoldFields Chile",
              "type": "string"
            },
            {
              "id": "bce3be48-0d73-4be9-ae38-151bc3f8035a",
              "name": "Company",
              "value": "TecnoComp",
              "type": "string"
            },
            {
              "id": "a94bacbf-3336-42c7-815f-5bb26ea4009c",
              "name": "itop_limit",
              "value": 5000,
              "type": "number"
            },
            {
              "id": "f6956bc6-d773-48ed-8f57-954fb21df1dc",
              "name": "report_mode",
              "value": "without_contact_production",
              "type": "string"
            },
            {
              "id": "2e8444b4-1b6b-4fb4-89b5-04fbc8ae6f78",
              "name": "csv_basename",
              "value": "testing_cmdb_activos_sin_contacto_produccion",
              "type": "string"
            },
            {
              "id": "c648d9d2-09e9-4af7-8432-3ccd8acec76a",
              "name": "report_title",
              "value": "CMDB - Activos sin contacto asignado",
              "type": "string"
            },
            {
              "id": "198769f5-6c04-4454-8041-7307b0d627f8",
              "name": "report_description",
              "value": "Vista consolidada de activos físicos en estado Productivo que no presentan contacto responsable asociado para la organización Minera GoldFields Chile.",
              "type": "string"
            },
            {
              "id": "c7f55878-2883-4658-a851-a7435def19ba",
              "name": "operational_notes",
              "value": "Este reporte fue generado automáticamente por \"Automatización ITSM / CMDB\".\nOrganización iTop considerada en el reporte: Minera GoldFields Chile.\nSe adjunta un CSV único con el volcado consolidado del resumen CMDB.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -128
      ],
      "id": "62da5360-ec0a-41b4-a254-96d50acc7d14",
      "name": "Config Reporte"
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "PhysicalDevice",
        "key": "SELECT PhysicalDevice\nWHERE finalclass IN ('PC', 'Laptop', 'MobilePhone', 'Tablet', 'Printer', 'Peripheral', 'NetworkDevice')\nAND status = 'production'",
        "output_fields": "id,name,friendlyname,finalclass,status,org_id,org_id_friendlyname,location_id,location_id_friendlyname,contacts_list,brand_id,brand_id_friendlyname,model_id,model_id_friendlyname,serialnumber,asset_number,move2production,purchase_date,end_of_warranty,description",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        448,
        -128
      ],
      "id": "b74d773b-657b-493b-b03e-3a1a62705c66",
      "name": "iTop - Activos CMDB",
      "credentials": {
        "iTopTokenApi": {
          "id": "9wFstaIYKt1u82UQ",
          "name": "iTopTokenGF"
        }
      },
      "notes": "PhysicalDevice no acepta type/type_friendlyname como output_fields. En este flujo no se separa PC y Laptop: ambos se consolidan como PC/Laptop."
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config Reporte').first().json;\nconst company = String(config.Company || config.company || 'TecnoComp').trim();\nconst itopOrganization = String(config.itop_organization || '').trim();\nconst timezone = String(config.timezone || 'America/Santiago').trim();\nconst reportMode = String(config.report_mode || '').trim();\nconst warrantyDays = Number(config.warranty_warning_days || 90);\nconst now = new Date();\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction csvEscape(value) {\n  const text = String(value ?? '').replace(/\"/g, '\"\"');\n  return `\"${text}\"`;\n}\n\nfunction getField(obj, names, fallback = '') {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return fallback;\n}\n\nfunction flattenInput(items) {\n  const rows = [];\n  for (const item of items) {\n    const j = item.json || {};\n    if (j.objects && typeof j.objects === 'object') {\n      for (const [key, value] of Object.entries(j.objects)) {\n        rows.push({ key, ...(value || {}), fields: value?.fields || value || {} });\n      }\n      continue;\n    }\n    if (Array.isArray(j)) { rows.push(...j); continue; }\n    rows.push(j);\n  }\n  return rows;\n}\n\nfunction scalarText(value) {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const text = String(value).trim();\n    return text === '[object Object]' ? '' : text;\n  }\n  return '';\n}\n\nfunction cleanContactText(value) {\n  let text = scalarText(value);\n  if (!text) return '';\n  if (text.includes(' / ')) text = text.split(' / ')[0].trim();\n  return text;\n}\n\nfunction normalizeContactEntry(entry) {\n  if (entry === undefined || entry === null) return '';\n  const direct = cleanContactText(entry);\n  if (direct) return direct;\n  if (Array.isArray(entry)) return entry.map(normalizeContactEntry).filter(Boolean).join(', ');\n  if (typeof entry === 'object') {\n    if (entry.fields && typeof entry.fields === 'object') {\n      const fromFields = normalizeContactEntry(entry.fields);\n      if (fromFields) return fromFields;\n    }\n    if (entry.objects && typeof entry.objects === 'object') {\n      return Object.values(entry.objects).map(normalizeContactEntry).filter(Boolean).join(', ');\n    }\n    const preferred = ['contact_id_friendlyname','person_id_friendlyname','user_id_friendlyname','contact_name','person_name','display_name','name','friendlyname','email','email_address'];\n    for (const field of preferred) {\n      const text = cleanContactText(entry[field]);\n      if (text) return text;\n    }\n    const nested = ['contact_id','person_id','user_id','contact','person','user'];\n    for (const field of nested) {\n      const text = normalizeContactEntry(entry[field]);\n      if (text) return text;\n    }\n  }\n  return '';\n}\n\nfunction normalizeContacts(value) {\n  const text = normalizeContactEntry(value);\n  if (!text) return '';\n  const unique = [];\n  const seen = new Set();\n  for (const part of text.split(',').map(v => cleanContactText(v)).filter(Boolean)) {\n    const key = part.toLowerCase();\n    if (!seen.has(key)) { seen.add(key); unique.push(part); }\n  }\n  return unique.join(', ');\n}\n\nfunction isBlankValue(value) {\n  const v = String(value ?? '').trim();\n  return !v || v === '-' || v.toLowerCase() === 'n/a' || v.toLowerCase() === 'null' || v.toLowerCase() === 'undefined';\n}\n\nfunction inferWorkstationClass(f = {}) {\n  // No se realiza separación PC vs Laptop en este flujo.\n  // Todo activo cuya clase base corresponda a PC/Laptop, PC o Laptop se consolida como PC/Laptop.\n  return 'PC/Laptop';\n}\n\nfunction normalizeClass(value, f = {}) {\n  const raw = String(value || '-').trim();\n  const lower = raw.toLowerCase();\n\n  if (\n    lower === 'pc' ||\n    lower === 'laptop' ||\n    lower === 'pc/laptop' ||\n    lower.includes('pc/laptop') ||\n    lower.includes('desktop') ||\n    lower.includes('laptop') ||\n    lower.includes('notebook') ||\n    lower.includes('portable') ||\n    lower.includes('computer')\n  ) {\n    return 'PC/Laptop';\n  }\n\n  if (\n    lower === 'mobilephone' ||\n    lower.includes('mobilephone') ||\n    lower.includes('mobile phone') ||\n    lower.includes('smartphone') ||\n    lower.includes('phone') ||\n    lower.includes('telefono') ||\n    lower.includes('teléfono') ||\n    lower.includes('celular')\n  ) return 'Teléfonos móviles';\n\n  if (lower === 'tablet' || lower.includes('tablet')) return 'Tablet';\n  if (lower === 'printer' || lower.includes('impresora') || lower.includes('printer')) return 'Impresoras';\n  if (lower === 'peripheral' || lower.includes('periferico') || lower.includes('periférico') || lower.includes('peripheral')) return 'Periféricos';\n\n  return 'Periféricos';\n}\n\nfunction classSortWeight(className) {\n  const order = {\n    'PC/Laptop': 10,\n    'Tablet': 20,\n    'Teléfonos móviles': 30,\n    'Impresoras': 40,\n    'Periféricos': 50,\n  };\n  return order[className] || 80;\n}\n\nfunction translateStatus(value) {\n  const map = {\n    stock: 'En Stock',\n    implementation: 'No Productivo',\n    production: 'En Producción',\n    obsolete: 'Obsoleto',\n  };\n  const key = String(value || '').trim().toLowerCase();\n  return map[key] || String(value || '-');\n}\n\nfunction parseDate(value) {\n  const text = String(value || '').trim();\n  if (!text || text === '-') return null;\n  const normalized = text.replace(' ', 'T');\n  const date = new Date(normalized);\n  return Number.isNaN(date.getTime()) ? null : date;\n}\n\nfunction formatDate(dateValue) {\n  if (!dateValue) return '-';\n  const date = dateValue instanceof Date ? dateValue : parseDate(dateValue);\n  if (!date) return '-';\n  return date.toLocaleDateString('es-CL', { timeZone: timezone, year:'numeric', month:'2-digit', day:'2-digit' });\n}\n\nfunction daysBetween(fromDate, toDate) {\n  const ms = 24 * 60 * 60 * 1000;\n  return Math.ceil((toDate.getTime() - fromDate.getTime()) / ms);\n}\n\nfunction groupBy(list, fn) {\n  const map = new Map();\n  for (const item of list) {\n    const key = fn(item) || '-';\n    if (!map.has(key)) map.set(key, []);\n    map.get(key).push(item);\n  }\n  return map;\n}\n\nfunction buildAssetRows(list, emptyText) {\n  if (!list.length) {\n    return `<tr><td colspan=\"7\" style=\"padding:14px; font-size:12px; color:#64748b;\">${escapeHtml(emptyText)}</td></tr>`;\n  }\n  return list.map(a => `\n    <tr>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.finalclass)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\"><strong>${escapeHtml(a.name)}</strong></td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.location)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.brand)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.model)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.serial)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.warrantyDateDisplay)}</td>\n    </tr>`).join('');\n}\n\nfunction buildClassSummary(list) {\n  const groups = [...groupBy(list, a => a.finalclass).entries()]\n    .sort((a, b) => classSortWeight(a[0]) - classSortWeight(b[0]) || a[0].localeCompare(b[0], 'es'));\n  if (!groups.length) return '<tr><td colspan=\"4\" style=\"padding:12px; font-size:12px; color:#64748b;\">Sin registros para el criterio del reporte.</td></tr>';\n  return groups.map(([klass, rows]) => {\n    const locations = new Set(rows.map(r => r.location).filter(v => !isBlankValue(v) && v !== 'Sin bodega/localidad')).size;\n    const observation = locations\n      ? `Distribuido en ${locations} ${locations === 1 ? 'bodega/localidad' : 'bodegas/localidades'}.`\n      : 'Todos los registros requieren normalización de bodega/localidad.';\n    return `<tr>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(klass)}</td>\n      <td align=\"right\" style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\"><strong>${rows.length}</strong></td>\n      <td align=\"right\" style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${locations}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(observation)}</td>\n    </tr>`;\n  }).join('');\n}\n\nconst rawRows = flattenInput($input.all());\nlet assets = rawRows.map(row => {\n  const f = row.fields || row;\n  const warrantyDate = parseDate(getField(f, ['end_of_warranty', 'warranty_end_date'], ''));\n  const contacts = normalizeContacts(getField(f, ['contacts_list', 'contact_list', 'contact_id_friendlyname', 'contact_name'], ''));\n  const statusRaw = String(getField(f, ['status'], '-')).trim().toLowerCase();\n  const days = warrantyDate ? daysBetween(now, warrantyDate) : null;\n  return {\n    id: getField(f, ['id', 'key'], row.key || ''),\n    name: getField(f, ['name', 'friendlyname'], '-'),\n    finalclass: normalizeClass(getField(f, ['finalclass', 'class'], '-'), f),\n    statusRaw,\n    status: translateStatus(statusRaw),\n    organization: getField(f, ['org_id_friendlyname', 'org_name', 'organization_name'], '-'),\n    location: getField(f, ['location_id_friendlyname', 'location_name', 'location_id'], 'Sin bodega/localidad'),\n    contact: contacts,\n    brand: getField(f, ['brand_id_friendlyname', 'brand'], '-'),\n    model: getField(f, ['model_id_friendlyname', 'model'], '-'),\n    serial: getField(f, ['serialnumber', 'serial_number'], '-'),\n    assetNumber: getField(f, ['asset_number', 'assetnumber'], '-'),\n    purchaseDate: getField(f, ['purchase_date'], '-'),\n    warrantyDate,\n    warrantyDateDisplay: formatDate(warrantyDate),\n    daysToWarranty: days,\n    daysLabel: days === null ? '-' : (days >= 0 ? `${days} días` : `${Math.abs(days)} días vencida`),\n  };\n});\n\nif (reportMode === 'without_contact_production') {\n  assets = assets.filter(a => a.statusRaw === 'production' && isBlankValue(a.contact));\n  assets.sort((a, b) => a.location.localeCompare(b.location, 'es') || classSortWeight(a.finalclass) - classSortWeight(b.finalclass) || a.name.localeCompare(b.name, 'es'));\n} else if (reportMode === 'warranty_upcoming') {\n  assets = assets.filter(a => a.statusRaw !== 'obsolete' && a.warrantyDate && a.daysToWarranty >= 0 && a.daysToWarranty <= warrantyDays);\n  assets.sort((a, b) => a.daysToWarranty - b.daysToWarranty || a.name.localeCompare(b.name, 'es'));\n} else if (reportMode === 'warranty_expired') {\n  assets = assets.filter(a => a.statusRaw !== 'obsolete' && a.warrantyDate && a.daysToWarranty < 0);\n  assets.sort((a, b) => a.daysToWarranty - b.daysToWarranty || a.name.localeCompare(b.name, 'es'));\n}\n\nconst generatedAt = now.toLocaleString('es-CL', { timeZone: timezone, year:'numeric', month:'2-digit', day:'2-digit', hour:'2-digit', minute:'2-digit' });\nconst generatedAtFile = now.toISOString().replace(/[:.]/g, '-').replace('T', '_').slice(0, 19);\nconst subjectBase = String(config.email_subject || 'Reporte CMDB').trim();\nconst emailSubject = itopOrganization ? `${subjectBase} - ${itopOrganization}` : subjectBase;\n\nconst headers = ['Clase','Activo','Bodega','Marca','Modelo','Serie','Garantía'];\nconst csvContent = '\\uFEFF' + [\n  headers.map(csvEscape).join(';'),\n  ...assets.map(a => [a.finalclass,a.name,a.location,a.brand,a.model,a.serial,a.warrantyDateDisplay].map(csvEscape).join(';'))\n].join('\\r\\n');\n\nconst groupedByLocation = [...groupBy(assets, a => a.location).entries()]\n  .sort((a, b) => a[0].localeCompare(b[0], 'es'));\n\nlet detailBlocks = '';\nif (!assets.length) {\n  detailBlocks = '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #dbe3ec;\"><tr><td style=\"padding:14px; font-size:13px; color:#64748b;\">No se encontraron activos para el criterio del reporte.</td></tr></table>';\n} else {\n  detailBlocks = groupedByLocation.map(([location, rows]) => `\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 16px 0; border:1px solid #dbe3ec;\">\n      <tr>\n        <td style=\"background-color:#f8fafc; padding:10px 12px; border-bottom:1px solid #dbe3ec;\">\n          <div style=\"font-size:14px; line-height:20px; font-weight:bold; color:#0f172a;\">${escapeHtml(location)} <span style=\"color:#64748b; font-weight:normal;\">(${rows.length} activos)</span></div>\n          <div style=\"font-size:12px; line-height:18px; color:#64748b; margin-top:4px;\">Agrupación por bodega/localidad para facilitar revisión operacional.</div>\n        </td>\n      </tr>\n      <tr><td>\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; width:100%;\">\n          <thead><tr style=\"background:#f8fafc;\">\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Clase</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Activo</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Bodega</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Marca</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Modelo</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Serie</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Garantía</th>\n          </tr></thead>\n          <tbody>${buildAssetRows(rows, 'Sin registros.')}</tbody>\n        </table>\n      </td></tr>\n    </table>`).join('');\n}\n\nconst csvBaseName = String(config.csv_basename || 'cmdb_reporte_testing').trim();\nconst withoutLocationCount = assets.filter(a => isBlankValue(a.location) || a.location === 'Sin bodega/localidad').length;\nconst expiredWarrantyCount = assets.filter(a => a.warrantyDate && a.daysToWarranty < 0).length;\nconst classTypeCount = new Set(assets.map(a => a.finalclass).filter(Boolean)).size;\nconst pcLaptopCount = assets.filter(a => a.finalclass === 'PC/Laptop').length;\nconst tabletCount = assets.filter(a => a.finalclass === 'Tablet').length;\nconst mobileCount = assets.filter(a => a.finalclass === 'Teléfonos móviles').length;\nconst printerCount = assets.filter(a => a.finalclass === 'Impresoras').length;\nconst peripheralCount = assets.filter(a => a.finalclass === 'Periféricos').length;\n\nreturn [{\n  json: {\n    email_from: config.email_from,\n    email_to: config.email_to,\n    email_cc: config.email_cc || '',\n    email_bcc: config.email_bcc || '',\n    email_subject: emailSubject,\n    company,\n    Company: company,\n    itop_organization: itopOrganization || '-',\n    generated_at: generatedAt,\n    total_assets: String(assets.length),\n    production_count: String(assets.filter(a => a.statusRaw === 'production').length),\n    without_contact_count: String(assets.filter(a => isBlankValue(a.contact)).length),\n    without_location_count: String(withoutLocationCount),\n    expired_warranty_count: String(expiredWarrantyCount),\n    class_type_count: String(classTypeCount),\n    pc_laptop_count: String(pcLaptopCount),\n    tablet_count: String(tabletCount),\n    mobile_count: String(mobileCount),\n    printer_count: String(printerCount),\n    peripheral_count: String(peripheralCount),\n    warranty_days: String(warrantyDays),\n    class_summary_rows: buildClassSummary(assets),\n    detail_blocks: detailBlocks,\n    report_title: config.report_title || subjectBase,\n    report_description: config.report_description || '',\n    operational_notes: config.operational_notes || '',\n    itop_url: config.itop_url || '#',\n    csv_filename: `${csvBaseName}_${generatedAtFile}.csv`,\n  },\n  binary: {\n    csv: {\n      data: Buffer.from(csvContent, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName: `${csvBaseName}_${generatedAtFile}.csv`,\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -128
      ],
      "id": "0cd2852a-e48e-4e81-abdb-0032dd754ccd",
      "name": "Preparar datos reporte"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst data = input.json || {};\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction headerCell(text) {\n  return `<th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap;\">${escapeHtml(text)}</th>`;\n}\n\nconst template = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>CMDB - Activos sin contacto asignado</title>\n  <style type=\"text/css\">\n    body { margin:0; padding:0; background-color:#eef2f6; font-family:Arial, Helvetica, sans-serif; color:#1f2937; }\n    table { border-collapse:collapse; }\n    a { color:#1d4ed8; text-decoration:none; }\n    .wrapper { width:100%; background-color:#eef2f6; padding:24px 0; }\n    .container { width:100%; max-width:1000px; background-color:#ffffff; border:1px solid #d9e2ec; }\n    .mobile-padding { padding-left:28px; padding-right:28px; }\n    .summary-card { padding:4px; }\n    .data-table th { background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap; }\n    .data-table td { font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top; }\n    .section-title { font-size:18px; line-height:24px; font-weight:bold; color:#111827; margin-bottom:8px; }\n    .section-subtitle { font-size:12px; line-height:18px; color:#6b7280; margin-bottom:10px; }\n    @media only screen and (max-width:760px) { .container{width:100%!important;} .mobile-padding{padding-left:14px!important;padding-right:14px!important;} .summary-card{width:100%!important;display:block!important;margin-bottom:8px!important;} .table-scroll{overflow-x:auto!important;display:block!important;width:100%!important;} }\n  </style>\n</head>\n<body style=\"margin:0; padding:0; background-color:#eef2f6; font-family:Arial, Helvetica, sans-serif; color:#1f2937;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"wrapper\"><tr><td align=\"center\">\n    <table role=\"presentation\" width=\"1000\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"container\">\n      <tr><td style=\"background-color:#0f172a; padding:24px 28px;\" class=\"mobile-padding\">\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n          <td valign=\"top\" style=\"width:65%;\">\n            <div style=\"font-size:13px; line-height:18px; color:#93c5fd; font-weight:bold; letter-spacing:0.4px;\">Automatización ITSM / CMDB</div>\n            <div style=\"font-size:26px; line-height:32px; color:#ffffff; font-weight:bold; margin-top:6px;\">CMDB - Activos sin contacto asignado</div>\n            <div style=\"font-size:14px; line-height:20px; color:#cbd5e1; margin-top:6px;\">Consolidado operativo de activos sincronizados desde Combodo iTop</div>\n            <div style=\"font-size:13px; line-height:19px; color:#cbd5e1; margin-top:10px;\"><strong style=\"color:#ffffff;\">Organización iTop:</strong> {{itop_organization}}</div>\n          </td>\n          <td valign=\"top\" align=\"right\" style=\"width:35%; font-size:12px; line-height:18px; color:#cbd5e1; text-align:right;\"><strong style=\"color:#ffffff;\">Generado:</strong><br>{{generated_at}}<br><br><strong style=\"color:#ffffff;\">Fuente:</strong><br>Producción / iTop CMDB</td>\n        </tr></table>\n      </td></tr>\n\n      <tr><td style=\"padding:24px 28px 12px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Resumen ejecutivo</div>\n        <div style=\"font-size:13px; line-height:19px; color:#6b7280; margin-top:4px;\">Vista consolidada de activos físicos en estado <strong>En Producción</strong> que no presentan contacto responsable asociado para la organización <strong>{{itop_organization}}</strong>.</div>\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 18px 28px;\" class=\"mobile-padding\">\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n          <tr>\n            <td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #cbd5e1; background-color:#f8fafc;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#475569; font-weight:bold;\">TOTAL</div><div style=\"font-size:24px; color:#0f172a; font-weight:bold;\">{{total_assets}}</div></td></tr></table></td>\n            <td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #bfdbfe; background-color:#eff6ff;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#1e3a8a; font-weight:bold;\">PC/LAPTOP</div><div style=\"font-size:24px; color:#1e3a8a; font-weight:bold;\">{{pc_laptop_count}}</div></td></tr></table></td>\n            <td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #ddd6fe; background-color:#f5f3ff;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#6d28d9; font-weight:bold;\">TABLET</div><div style=\"font-size:24px; color:#6d28d9; font-weight:bold;\">{{tablet_count}}</div></td></tr></table></td>\n          </tr>\n          <tr>\n            <td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #fde68a; background-color:#fffbeb;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#a16207; font-weight:bold;\">TELÉFONO MÓVIL</div><div style=\"font-size:24px; color:#a16207; font-weight:bold;\">{{mobile_count}}</div></td></tr></table></td>\n            <td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #fed7aa; background-color:#fff7ed;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#9a3412; font-weight:bold;\">IMPRESORAS</div><div style=\"font-size:24px; color:#9a3412; font-weight:bold;\">{{printer_count}}</div></td></tr></table></td>\n            <td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #e5e7eb; background-color:#f9fafb;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#374151; font-weight:bold;\">PERIFÉRICOS</div><div style=\"font-size:24px; color:#111827; font-weight:bold;\">{{peripheral_count}}</div></td></tr></table></td>\n          </tr>\n        </table>\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 20px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #e5e7eb; background-color:#f9fafb;\"><tr><td style=\"padding:12px 14px;\">\n        <div style=\"font-size:13px; line-height:18px; font-weight:bold; color:#111827; margin-bottom:8px;\">Criterio del reporte</div>\n        <div style=\"font-size:12px; line-height:18px; color:#374151;\">Se consideran únicamente activos físicos de la CMDB con estado <strong>production</strong> y sin contacto responsable asociado. El objetivo es identificar activos huérfanos para su normalización operativa, administrativa y de trazabilidad.</div>\n      </td></tr></table></td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Detalle operacional</div>\n        <div class=\"section-subtitle\">Detalle de activos sin contacto asignado, agrupados por bodega/localidad.</div>\n        {{detail_blocks}}\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #dbe3ec; background-color:#f8fafc;\"><tr><td style=\"padding:16px 18px;\"><div style=\"font-size:15px; line-height:21px; color:#111827; font-weight:bold; margin-bottom:8px;\">Observaciones operacionales</div><ul style=\"margin:0; padding-left:18px; color:#374151; font-size:13px; line-height:20px;\"><li>Este reporte fue generado automáticamente por &quot;Automatización ITSM / CMDB&quot;.</li><li>Organización iTop considerada en el reporte: <strong>{{itop_organization}}</strong>.</li><li>Se adjunta un CSV único con el volcado consolidado del resumen CMDB.</li></ul></td></tr></table></td></tr>\n\n      <tr><td align=\"center\" style=\"padding:0 28px 26px 28px;\" class=\"mobile-padding\"><table role=\"presentation\"><tr><td align=\"center\" bgcolor=\"#1d4ed8\" style=\"background-color:#1d4ed8; padding:11px 20px;\"><a href=\"{{itop_url}}\" target=\"_blank\" style=\"font-size:13px; line-height:18px; color:#ffffff; font-weight:bold; text-decoration:none; display:inline-block;\">Abrir Combodo iTop</a></td></tr></table></td></tr>\n      <tr><td style=\"background-color:#f1f5f9; border-top:1px solid #dbe3ec; padding:18px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\"><tr><td valign=\"top\" style=\"font-size:12px; line-height:18px; color:#64748b;\"><strong style=\"color:#334155;\">Automatización ITSM / CMDB</strong><br>{{company}}<br>Correo generado automáticamente. No responder a este mensaje.</td><td valign=\"top\" align=\"right\" style=\"font-size:12px; line-height:18px; color:#64748b;\">Generado:<br>{{generated_at}}</td></tr></table></td></tr>\n    </table>\n  </td></tr></table>\n</body>\n</html>`;\n\nlet html = template;\nfor (const [key, value] of Object.entries(data)) {\n  html = html.replaceAll(`{{${key}}}`, String(value ?? ''));\n}\n\nreturn [{\n  json: {\n    ...data,\n    html,\n  },\n  binary: input.binary || {},\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -128
      ],
      "id": "f329bfda-7f41-4d20-9115-df2ff2dc4813",
      "name": "HTML - Template Reporte"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from }}",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachments": "csv",
          "ccEmail": "={{ $json.email_cc }}",
          "bccEmail": "={{ $json.email_bcc }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1264,
        -128
      ],
      "id": "25c6ad41-5e22-4313-8794-9ea75ce6125f",
      "name": "Enviar correo SMTP",
      "webhookId": "7db4ae00-baa9-4802-9cc5-9a9952d26ac7",
      "credentials": {
        "smtp": {
          "id": "xNtpGsiFHeoJckRp",
          "name": "SMTP_MailPit"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "Config Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Reporte": {
      "main": [
        [
          {
            "node": "iTop - Activos CMDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Activos CMDB": {
      "main": [
        [
          {
            "node": "Preparar datos reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos reporte": {
      "main": [
        [
          {
            "node": "HTML - Template Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Template Reporte": {
      "main": [
        [
          {
            "node": "Enviar correo SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c3d0e66c-59fe-48d0-a360-76b86d609be5",
  "meta": {
    "instanceId": "0ad3b920e2d3586b0e2fb892d909337f22ce15cbde2c7354c038d868efea76ad"
  },
  "id": "HgPLQqj2ooCuEd5I",
  "tags": []
}