APP/config/n8n/WorkFlows/ITSM - Tickets abiertos por agente - SMTP.json
{
  "name": "ITSM - Tickets abiertos por agente - SMTP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9b975bda-2f91-4bc2-8608-10b671424995",
      "name": "Ejecutar manualmente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b268bdf7-7d18-40aa-9870-8139529af547",
              "name": "itop_url",
              "value": "http://172.16.123.132/itop/",
              "type": "string"
            },
            {
              "id": "396744f1-201a-470f-a337-e048067a34af",
              "name": "email_from",
              "value": "notificaciones@dominio.cl",
              "type": "string"
            },
            {
              "id": "4a5dcc42-c379-4691-83cc-0606a2eb331e",
              "name": "email_cc",
              "value": "",
              "type": "string"
            },
            {
              "id": "6aa10f74-fa09-4100-a960-0aaa66cb5d8f",
              "name": "email_bcc",
              "value": "",
              "type": "string"
            },
            {
              "id": "6856e4c0-79a7-4f6b-8118-95f0f382c62e",
              "name": "email_subject",
              "value": "Reporte ITSM - tickets abiertos pendientes por agente",
              "type": "string"
            },
            {
              "id": "b487de84-024c-4fb6-87ef-f76b45e00401",
              "name": "timezone",
              "value": "America/Santiago",
              "type": "string"
            },
            {
              "id": "b2436dac-53e5-4918-ace2-3a6e1856af18",
              "name": "itop_organization",
              "value": "Minera GoldFields Chile",
              "type": "string"
            },
            {
              "id": "fc67ac5f-7cd2-4f72-9a68-928753b6bcad",
              "name": "Company",
              "value": "TecnoComp",
              "type": "string"
            },
            {
              "id": "c2cbc65d-6667-4576-b659-a52b30a799a7",
              "name": "itop_limit",
              "value": 5000,
              "type": "number"
            },
            {
              "id": "6b6794f5-af35-485f-a21b-764818321696",
              "name": "closed_status_values",
              "value": "closed,resolved,rejected,cancelled,cerrado,resuelto,rechazado",
              "type": "string"
            },
            {
              "id": "e8bd8bcf-3e7d-4183-9cdd-cf7c463083b6",
              "name": "send_only_with_agent_email",
              "value": "true",
              "type": "string"
            },
            {
              "id": "dd173236-ed3e-45bd-b1e7-15cd948ba373",
              "name": "fallback_agent_email",
              "value": "",
              "type": "string"
            },
            {
              "id": "ffeb78b4-ce06-4ad5-8c08-1b6c291f8c33",
              "name": "include_requirements",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "48f9d4ec-1116-4f3f-a5a0-7751a2001d86",
              "name": "include_incidents",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a90eaced-d42b-4830-91b6-a69422c72cd4",
              "name": "include_changes",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a9755a7f-a38b-404e-9f54-da70bf02a636",
              "name": "include_problems",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "514ff144-aab5-4f02-8043-a6e21b64c0d0",
      "name": "Config Reporte"
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "UserLocal",
        "key": "SELECT UserLocal AS u JOIN Person AS p ON u.contactid = p.id",
        "output_fields": "contactid,last_name,first_name,email,org_id,login,language,status,finalclass,friendlyname,contactid_friendlyname,org_id_friendlyname",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "26d894ce-430e-474e-9fff-bd2cace3957b",
      "name": "iTop - Usuarios Locales con Persona",
      "credentials": {
        "iTopTokenApi": {
          "id": "9wFstaIYKt1u82UQ",
          "name": "iTopTokenGF"
        }
      },
      "notes": "Consulta UserLocal unido a Person para resolver el correo del agente. UserLocal por sí solo puede retornar únicamente id/friendlyname; el correo se recupera desde el contacto/persona relacionado."
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "Ticket",
        "key": "SELECT Ticket WHERE operational_status NOT IN ('closed', 'resolved', 'rejected', 'cancelled')",
        "output_fields": "operational_status,ref,org_id,org_name,caller_id,caller_name,team_id,team_name,team_email,agent_id,agent_name,title,description,start_date,end_date,last_update,close_date,private_log,contacts_list,functionalcis_list,workorders_list,finalclass,friendlyname,org_id_friendlyname,caller_id_friendlyname,team_id_friendlyname,agent_id_friendlyname",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        784,
        0
      ],
      "id": "1bb471be-e15c-4ece-a9e1-7d081bd168aa",
      "name": "iTop - Tickets abiertos",
      "credentials": {
        "iTopTokenApi": {
          "id": "9wFstaIYKt1u82UQ",
          "name": "iTopTokenGF"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config Reporte').first().json;\nconst timezone = config.timezone || 'America/Santiago';\nconst now = new Date();\n\nconst closedValues = new Set(String(config.closed_status_values || 'closed,resolved,rejected,cancelled,cerrado,resuelto,rechazado')\n  .split(',')\n  .map(v => v.trim().toLowerCase())\n  .filter(Boolean));\n\nconst company = String(config.Company || config.company || 'TecnoComp').trim();\nconst itopOrganization = String(config.itop_organization || '').trim();\nconst subjectBase = String(config.email_subject || 'Reporte ITSM - tickets abiertos pendientes por agente').trim();\nconst sendOnlyWithAgentEmail = String(config.send_only_with_agent_email ?? 'true').toLowerCase() !== 'false';\nconst fallbackAgentEmail = String(config.fallback_agent_email || '').trim();\n\nfunction isEnabledFlag(value, defaultValue = true) {\n  if (value === undefined || value === null || value === '') return defaultValue;\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value).trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 'sí', 'y', 'on', 'enabled'].includes(normalized);\n}\n\nconst includeRequirements = isEnabledFlag(config.include_requirements, true);\nconst includeIncidents = isEnabledFlag(config.include_incidents, true);\nconst includeChanges = isEnabledFlag(config.include_changes, true);\nconst includeProblems = isEnabledFlag(config.include_problems, true);\n\nconst enabledTicketTypes = new Set();\nif (includeRequirements) enabledTicketTypes.add('requirement');\nif (includeIncidents) enabledTicketTypes.add('incident');\nif (includeChanges) enabledTicketTypes.add('change');\nif (includeProblems) enabledTicketTypes.add('problem');\n\nfunction normalizeTicketKind(value, fields = {}) {\n  const rawValues = [\n    value,\n    getField(fields, ['finalclass', 'class', 'class_friendlyname', 'ticket_class', 'ticket_type', 'type', 'request_type', 'request_type_friendlyname'], ''),\n    getField(fields, ['ref', 'reference', 'friendlyname'], '')\n  ].map(v => String(v || '').trim()).filter(Boolean);\n\n  const raw = rawValues.join(' ').toLowerCase();\n\n  if (raw.includes('userrequest') || raw.includes('user request') || raw.includes('request') || raw.includes('requerimiento') || raw.includes('requisito') || raw.includes('solicitud')) {\n    return { key: 'requirement', label: 'Requerimiento' };\n  }\n  if (raw.includes('incident') || raw.includes('incidente') || raw.includes('incidencia')) {\n    return { key: 'incident', label: 'Incidente' };\n  }\n  if (raw.includes('change') || raw.includes('cambio')) {\n    return { key: 'change', label: 'Cambio' };\n  }\n  if (raw.includes('problem') || raw.includes('problema')) {\n    return { key: 'problem', label: 'Problema' };\n  }\n\n  return { key: 'unknown', label: rawValues[0] || 'No identificado' };\n}\n\nfunction enabledTicketTypeText() {\n  const labels = [];\n  if (includeRequirements) labels.push('Requerimientos');\n  if (includeIncidents) labels.push('Incidentes');\n  if (includeChanges) labels.push('Cambios');\n  if (includeProblems) labels.push('Problemas');\n  return labels.length ? labels.join(', ') : 'Sin tipos habilitados';\n}\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction csvEscape(value) {\n  const text = String(value ?? '').replace(/\"/g, '\"\"');\n  return `\"${text}\"`;\n}\n\nfunction stripHtml(value) {\n  return String(value ?? '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction getField(obj, names, fallback = '') {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return fallback;\n}\n\nfunction rawField(obj, names) {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return undefined;\n}\n\nfunction entryDateValue(entry, fallbackKey = '') {\n  if (!entry || typeof entry !== 'object') return fallbackKey;\n  return entry.date || entry.created || entry.created_at || entry.creation_date || entry.timestamp || entry.time || fallbackKey || '';\n}\n\nfunction entryAuthorValue(entry) {\n  if (!entry || typeof entry !== 'object') return '';\n  return entry.user_id_friendlyname || entry.user_friendlyname || entry.user_name || entry.user_login || entry.author || entry.author_friendlyname || '';\n}\n\nfunction normalizeLogText(value, fallbackKey = '') {\n  if (value === undefined || value === null || value === '') return '';\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const text = stripHtml(value);\n    return text && text !== '[object Object]' ? text : '';\n  }\n\n  if (Array.isArray(value)) {\n    const normalized = value\n      .map((entry, index) => ({\n        date: entryDateValue(entry, String(index).padStart(6, '0')),\n        text: normalizeLogText(entry, String(index).padStart(6, '0')),\n      }))\n      .filter(e => e.text);\n    if (!normalized.length) return '';\n    normalized.sort((a, b) => String(a.date).localeCompare(String(b.date)));\n    return normalized[normalized.length - 1].text;\n  }\n\n  if (typeof value === 'object') {\n    const direct = rawField(value, [\n      'message', 'html', 'text', 'body', 'content', 'comment', 'note',\n      'last_comment', 'last_note', 'entry', 'value', 'description'\n    ]);\n\n    if (direct !== undefined && direct !== value) {\n      const text = normalizeLogText(direct, fallbackKey);\n      if (text) {\n        const date = entryDateValue(value, fallbackKey);\n        const author = entryAuthorValue(value);\n        const prefix = [date, author].map(v => stripHtml(v)).filter(Boolean).join(' - ');\n        return prefix ? `${prefix}: ${text}` : text;\n      }\n    }\n\n    const collection = value.entries || value.items || value.log || value.logs || value.records || value.data;\n    if (collection && collection !== value) {\n      const entries = Array.isArray(collection)\n        ? collection.map((v, i) => [String(i).padStart(6, '0'), v])\n        : Object.entries(collection);\n      const normalized = entries\n        .map(([key, entry]) => ({ date: entryDateValue(entry, key), text: normalizeLogText(entry, key) }))\n        .filter(e => e.text);\n      if (!normalized.length) return '';\n      normalized.sort((a, b) => String(a.date).localeCompare(String(b.date)));\n      return normalized[normalized.length - 1].text;\n    }\n\n    // Fallback para estructuras de iTop expuestas como objetos planos o respuestas parciales.\n    const nestedEntries = Object.entries(value)\n      .filter(([, val]) => val && typeof val === 'object')\n      .map(([key, val]) => ({ date: entryDateValue(val, key), text: normalizeLogText(val, key) }))\n      .filter(e => e.text);\n    if (nestedEntries.length) {\n      nestedEntries.sort((a, b) => String(a.date).localeCompare(String(b.date)));\n      return nestedEntries[nestedEntries.length - 1].text;\n    }\n\n    const leafTexts = [];\n    const ignored = new Set(['id', 'key', 'code', 'class', 'finalclass', 'type', 'attribute', 'attcode', 'att_code']);\n    for (const [key, val] of Object.entries(value)) {\n      if (ignored.has(String(key).toLowerCase())) continue;\n      if (typeof val === 'string' || typeof val === 'number' || typeof val === 'boolean') {\n        const text = stripHtml(val);\n        if (text && text !== '[object Object]') leafTexts.push(text);\n      }\n    }\n    const unique = [...new Set(leafTexts)].filter(t => t.length > 1);\n    return unique.slice(-3).join(' / ');\n  }\n\n  return '';\n}\n\nfunction getLastReadableNote(fields) {\n  const candidates = [\n    rawField(fields, ['last_comment', 'last_note', 'last_public_log', 'last_private_log', 'last_update_reason', 'last_change']),\n    rawField(fields, ['public_log', 'private_log', 'user_satisfaction', 'caselog', 'work_log', 'history']),\n    rawField(fields, ['description'])\n  ];\n\n  for (const candidate of candidates) {\n    const text = normalizeLogText(candidate);\n    if (text) return text;\n  }\n  return '-';\n}\n\nfunction flattenInput(items) {\n  const rows = [];\n  for (const item of items) {\n    const j = item.json || {};\n    if (j.objects && typeof j.objects === 'object') {\n      for (const [key, value] of Object.entries(j.objects)) {\n        rows.push({ key, ...(value || {}), fields: value?.fields || value || {} });\n      }\n      continue;\n    }\n    if (Array.isArray(j)) {\n      rows.push(...j);\n      continue;\n    }\n    rows.push(j);\n  }\n  return rows;\n}\n\nfunction parseDate(value) {\n  if (!value || value === '-') return null;\n  if (value instanceof Date) return Number.isNaN(value.getTime()) ? null : value;\n  const raw = String(value).trim();\n  if (!raw) return null;\n  const normalized = raw.includes('T') ? raw : raw.replace(' ', 'T');\n  const d = new Date(normalized);\n  return Number.isNaN(d.getTime()) ? null : d;\n}\n\nfunction fmtDateTime(value) {\n  const d = parseDate(value);\n  if (!d) return '-';\n  return d.toLocaleString('es-CL', {\n    timeZone: timezone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n}\n\nfunction diffHours(from, to = now) {\n  const d = parseDate(from);\n  if (!d) return 0;\n  return Math.max(0, Math.floor((to.getTime() - d.getTime()) / 36e5));\n}\n\nfunction formatDurationFromHours(hours) {\n  const h = Math.max(0, Math.floor(Number(hours || 0)));\n  const days = Math.floor(h / 24);\n  const rem = h % 24;\n  if (days <= 0) return `${rem}h`;\n  if (rem === 0) return `${days}d`;\n  return `${days}d ${rem}h`;\n}\n\nfunction isBlank(value) {\n  const v = String(value ?? '').trim();\n  return !v || v === '-' || v.toLowerCase() === 'null' || v.toLowerCase() === 'undefined' || v.toLowerCase() === 'n/a';\n}\n\nfunction isClosed(status) {\n  const s = String(status || '').trim().toLowerCase();\n  return closedValues.has(s);\n}\n\nfunction collectLogEntries(value, collector = []) {\n  if (value === undefined || value === null || value === '') return collector;\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const text = stripHtml(value);\n    if (text && text !== '[object Object]') collector.push({ date: '', author: '', text });\n    return collector;\n  }\n\n  if (Array.isArray(value)) {\n    value.forEach(v => collectLogEntries(v, collector));\n    return collector;\n  }\n\n  if (typeof value === 'object') {\n    const date = value.date || value.created || value.created_at || value.creation_date || value.timestamp || value.time || value.modification_date || '';\n    const author = value.user_id_friendlyname || value.user_friendlyname || value.user_name || value.user_login || value.author || value.author_friendlyname || '';\n\n    const direct = rawField(value, [\n      'message', 'html', 'text', 'body', 'content', 'comment', 'note',\n      'entry', 'value', 'description'\n    ]);\n\n    if (direct !== undefined && direct !== value) {\n      const text = stripHtml(direct);\n      if (text && text !== '[object Object]') collector.push({ date, author, text });\n    }\n\n    const collection = value.entries || value.items || value.log || value.logs || value.records || value.data;\n    if (collection && collection !== value) collectLogEntries(collection, collector);\n  }\n\n  return collector;\n}\n\nfunction getLastLog(fields) {\n  const candidates = [\n    rawField(fields, ['last_comment', 'last_note', 'last_public_log', 'last_private_log', 'last_update_reason', 'last_change']),\n    rawField(fields, ['public_log', 'private_log', 'user_satisfaction', 'caselog', 'work_log', 'history'])\n  ];\n\n  const entries = [];\n  for (const candidate of candidates) collectLogEntries(candidate, entries);\n\n  const valid = entries.filter(e => e.text);\n  if (!valid.length) return { text: '-', date: null };\n\n  valid.sort((a, b) => {\n    const da = parseDate(a.date)?.getTime() || 0;\n    const db = parseDate(b.date)?.getTime() || 0;\n    return da - db;\n  });\n\n  const last = valid[valid.length - 1];\n  const prefix = [last.date ? fmtDateTime(last.date) : '', stripHtml(last.author)].filter(Boolean).join(' - ');\n  return {\n    text: prefix ? `${prefix}: ${last.text}` : last.text,\n    date: parseDate(last.date)\n  };\n}\n\nfunction detectLastUpdate(fields, createdAt) {\n  const explicitUpdate = getField(fields, [\n    'last_update',\n    'last_update_date',\n    'last_modification_date',\n    'last_modified',\n    'modification_date',\n    'date_mod',\n    'updated_at',\n    'last_activity',\n    'last_activity_date'\n  ], '');\n\n  const explicitUpdateDate = parseDate(explicitUpdate);\n  const lastLog = getLastLog(fields);\n  const logDate = lastLog.date;\n\n  const updateCandidates = [explicitUpdateDate, logDate].filter(Boolean);\n  updateCandidates.sort((a, b) => b.getTime() - a.getTime());\n\n  return {\n    date: updateCandidates[0] || createdAt || null,\n    source: updateCandidates[0] ? 'update' : 'creation_fallback',\n    note: lastLog.text || '-'\n  };\n}\n\nfunction getSlaInfo(fields) {\n  const raw = [\n    getField(fields, ['tto_escalation_deadline', 'ttr_escalation_deadline', 'resolution_deadline'], ''),\n    getField(fields, ['tto_escalation_flag', 'ttr_escalation_flag', 'sla_status', 'sla', 'slas'], '')\n  ].filter(Boolean).join(' ');\n\n  const s = raw.toLowerCase();\n  const breached = ['breach', 'breached', 'vencido', 'expired', 'late', 'rojo', 'red'].some(v => s.includes(v));\n  return { text: raw || '-', breached };\n}\n\nfunction normalizeStatus(value) {\n  const raw = String(value || '').trim();\n  const s = raw.toLowerCase();\n  const map = {\n    ongoing: 'En curso',\n    assigned: 'Asignado',\n    new: 'Nuevo',\n    pending: 'Pendiente',\n    waiting_for_approval: 'Esperando aprobación',\n    waiting_for_customer: 'Esperando solicitante',\n    escalated_tto: 'Escalado TTO',\n    escalated_ttr: 'Escalado TTR',\n    resolved: 'Resuelto',\n    closed: 'Cerrado',\n    rejected: 'Rechazado',\n    cancelled: 'Cancelado'\n  };\n  return map[s] || raw || '-';\n}\n\nfunction severity(ticket) {\n  if (ticket.slaBreached || ticket.ageDays > 14) return 'Crítico';\n  if (ticket.ageDays >= 7) return 'Alto';\n  return 'Seguimiento';\n}\n\nfunction severityBadge(ticket) {\n  const s = severity(ticket);\n  if (s === 'Crítico') return '<span class=\"badge badge-red\">Crítico</span>';\n  if (s === 'Alto') return '<span class=\"badge badge-orange\">Alto</span>';\n  return '<span class=\"badge badge-yellow\">Seguimiento</span>';\n}\n\nfunction td(value, align = 'left') {\n  return `<td align=\"${align}\" style=\"font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top;\">${value}</td>`;\n}\n\nfunction th(text, align = 'left') {\n  return `<th align=\"${align}\" style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:${align}; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap;\">${escapeHtml(text)}</th>`;\n}\n\nfunction ticketRow(ticket) {\n  const note = ticket.lastNote && ticket.lastNote !== '-' ? ticket.lastNote : 'Sin anotación legible desde la respuesta de iTop';\n  return `<tr>\n    ${td(severityBadge(ticket))}\n    ${td(`<strong>${escapeHtml(ticket.ref)}</strong>`)}\n    ${td(`<strong>${escapeHtml(ticket.title)}</strong>`)}\n    ${td(escapeHtml(ticket.caller))}\n    ${td(escapeHtml(fmtDateTime(ticket.createdAt)))}\n    ${td(escapeHtml(fmtDateTime(ticket.lastUpdateAt)))}\n    ${td(escapeHtml(formatDurationFromHours(ticket.ageHours)))}\n    ${td(ticket.slaBreached ? '<span class=\"badge badge-red\">Vencido</span>' : escapeHtml(ticket.slaText || '-'))}\n    ${td(`<span class=\"wrap\">${escapeHtml(note).slice(0, 500)}</span>`)}\n  </tr>`;\n}\n\nfunction renderTicketTable(tickets) {\n  if (!tickets.length) {\n    return `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #dbe3ec; margin-bottom:20px;\"><tr><td style=\"padding:14px; font-size:13px; color:#64748b;\">No existen tickets abiertos asignados al agente.</td></tr></table>`;\n  }\n\n  const rows = tickets.map(ticketRow).join('');\n  return `<div class=\"table-scroll\" style=\"width:100%; overflow-x:auto;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"data-table\" style=\"width:100%; border:1px solid #dbe3ec;\">\n      <thead><tr>\n        ${th('Crit.')}${th('Referencia')}${th('Título / asunto')}${th('Solicitante')}${th('Creación')}${th('Último update')}${th('Tiempo abierto')}${th('SLA')}${th('Última anotación / cambio registrado')}\n      </tr></thead>\n      <tbody>${rows}</tbody>\n    </table>\n  </div>`;\n}\n\nfunction renderTicketTypeSection(title, tickets) {\n  const sorted = [...tickets].sort((a, b) => (a.createdAt?.getTime() || 0) - (b.createdAt?.getTime() || 0));\n  return `<div style=\"font-size:15px; line-height:21px; color:#111827; font-weight:bold; margin:16px 0 8px 0;\">${escapeHtml(title)} <span style=\"color:#64748b; font-weight:normal;\">(${sorted.length})</span></div>${renderTicketTable(sorted)}`;\n}\n\nfunction renderTicketsByType(tickets) {\n  const sections = [\n    { key: 'requirement', title: 'Requerimientos' },\n    { key: 'incident', title: 'Incidentes' },\n    { key: 'change', title: 'Cambios' },\n    { key: 'problem', title: 'Problemas' },\n  ];\n\n  const blocks = sections\n    .map(section => {\n      const list = tickets.filter(ticket => ticket.ticketType === section.key);\n      if (!list.length) return '';\n      return renderTicketTypeSection(section.title, list);\n    })\n    .filter(Boolean);\n\n  if (!blocks.length) return renderTicketTable([]);\n  return blocks.join('');\n}\n\nfunction normalizeEmail(value) {\n  const text = String(value ?? '').trim();\n  const match = text.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nconst userRows = (() => {\n  try {\n    return flattenInput($('iTop - Usuarios Locales con Persona').all());\n  } catch (error) {\n    return [];\n  }\n})();\n\nconst agentEmailIndex = new Map();\n\nfunction addAgentEmailIndex(key, email) {\n  const k = String(key ?? '').trim();\n  const e = normalizeEmail(email);\n  if (!k || !e) return;\n  agentEmailIndex.set(k.toLowerCase(), e);\n}\n\nfunction indexAgentRecord(row) {\n  const f = row.fields || row;\n\n  const email = normalizeEmail(getField(f, [\n    'email',\n    'email_address',\n    'mail',\n    'notify_email',\n    'business_email',\n    'p.email',\n    'p_email',\n    'person_email',\n    'contact_email',\n    'contactid_email',\n    'contact_id_email',\n    'login'\n  ], ''));\n  if (!email) return;\n\n  const rawKeys = [\n    row.key,\n    getField(f, ['id'], ''),\n    getField(f, ['login'], ''),\n    getField(f, ['friendlyname', 'name', 'display_name', 'full_name'], ''),\n    getField(f, ['email', 'email_address', 'mail', 'p.email', 'p_email', 'person_email', 'contact_email'], ''),\n    getField(f, ['contactid', 'contact_id', 'contactid_id', 'contact_id_id', 'p.id', 'p_id', 'person_id'], ''),\n    getField(f, ['contactid_friendlyname', 'contact_id_friendlyname', 'contact_friendlyname', 'person_id_friendlyname', 'p.friendlyname', 'p_friendlyname', 'person_friendlyname'], '')\n  ];\n\n  const contactObject = rawField(f, ['contactid', 'contact_id', 'contact', 'person_id', 'person']);\n  if (contactObject && typeof contactObject === 'object') {\n    const cf = contactObject.fields || contactObject;\n    rawKeys.push(\n      contactObject.key,\n      getField(cf, ['id'], ''),\n      getField(cf, ['friendlyname', 'name', 'display_name', 'full_name'], ''),\n      getField(cf, ['email', 'email_address', 'mail'], '')\n    );\n  }\n\n  const rowKey = String(row.key || '').trim();\n  const idFromKey = rowKey.includes('::') ? rowKey.split('::').pop() : '';\n  if (idFromKey) rawKeys.push(idFromKey, `UserLocal::${idFromKey}`, `User::${idFromKey}`);\n\n  const contactId = String(getField(f, ['contactid', 'contact_id', 'contactid_id', 'contact_id_id', 'p.id', 'p_id', 'person_id'], '') || '').trim();\n  if (contactId) rawKeys.push(contactId, `Person::${contactId}`, `Contact::${contactId}`);\n\n  const personFriendly = String(getField(f, ['p.friendlyname', 'p_friendlyname', 'person_friendlyname', 'contactid_friendlyname', 'contact_id_friendlyname'], '') || '').trim();\n  if (personFriendly) rawKeys.push(personFriendly);\n\n  for (const key of rawKeys) addAgentEmailIndex(key, email);\n}\nfor (const user of userRows) indexAgentRecord(user);\n\nfunction lookupAgentEmail(value) {\n  if (value === undefined || value === null || value === '') return '';\n\n  const directEmail = normalizeEmail(value);\n  if (directEmail) return directEmail;\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const key = String(value).trim().toLowerCase();\n    return agentEmailIndex.get(key) || '';\n  }\n\n  if (typeof value === 'object') {\n    const f = value.fields || value;\n    const email = normalizeEmail(getField(f, ['email', 'email_address', 'mail', 'p.email', 'p_email', 'person_email', 'contact_email', 'login'], ''));\n    if (email) return email;\n\n    const candidates = [\n      value.key,\n      getField(f, ['id'], ''),\n      getField(f, ['login'], ''),\n      getField(f, ['contactid', 'contact_id', 'contactid_id', 'contact_id_id', 'person_id', 'user_id'], ''),\n      getField(f, ['contactid_friendlyname', 'contact_id_friendlyname', 'contact_friendlyname', 'person_id_friendlyname'], ''),\n      getField(f, ['friendlyname', 'name', 'display_name', 'full_name', 'p.friendlyname', 'p_friendlyname', 'person_friendlyname'], '')\n    ];\n\n    for (const candidate of candidates) {\n      const key = String(candidate ?? '').trim().toLowerCase();\n      if (key && agentEmailIndex.has(key)) return agentEmailIndex.get(key);\n    }\n  }\n\n  return '';\n}\n\nfunction getAgentEmail(fields) {\n  const direct = getField(fields, [\n    'agent_id_email',\n    'agent_email',\n    'assignee_id_email',\n    'assignee_email',\n    'owner_id_email',\n    'owner_email',\n    'agent_id_obsolescence_flag_email',\n    'agent_id_friendlyname_email',\n    'agent_email_address',\n    'agent_id_contact_email',\n    'agent_id_email_address',\n    'agent_id_person_email',\n    'email'\n  ], '');\n\n  let email = normalizeEmail(direct);\n  if (email) return email;\n\n  const lookupCandidates = [\n    rawField(fields, ['agent_id']),\n    rawField(fields, ['agent']),\n    rawField(fields, ['assignee_id']),\n    rawField(fields, ['assignee']),\n    rawField(fields, ['owner_id']),\n    rawField(fields, ['owner']),\n    getField(fields, ['agent_id', 'assignee_id', 'owner_id'], ''),\n    getField(fields, ['agent_id_friendlyname', 'agent_name', 'assignee_id_friendlyname', 'owner_id_friendlyname'], '')\n  ];\n\n  for (const candidate of lookupCandidates) {\n    email = lookupAgentEmail(candidate);\n    if (email) return email;\n  }\n\n  return '';\n}\n\nconst rows = flattenInput($input.all());\n\nconst mappedTickets = rows.map((row) => {\n  const f = row.fields || row;\n  const statusRaw = getField(f, ['operational_status', 'operational_status_friendlyname', 'status', 'status_friendlyname'], '');\n  const createdRaw = getField(f, ['start_date', 'creation_date', 'created_at', 'date', 'opened_at'], '');\n  const createdAt = parseDate(createdRaw);\n  const lastUpdate = detectLastUpdate(f, createdAt);\n  const lastReadableNote = getLastReadableNote(f);\n  const ageHours = diffHours(createdAt, now);\n  const sla = getSlaInfo(f);\n  const ref = getField(f, ['ref', 'reference', 'ticket_ref', 'friendlyname'], row.key || '-');\n  const agent = getField(f, ['agent_id_friendlyname', 'agent_name', 'assignee_id_friendlyname', 'team_id_friendlyname', 'owner_id_friendlyname'], 'Sin agente asignado');\n  const agentEmail = getAgentEmail(f);\n  const ticketKind = normalizeTicketKind(getField(f, ['finalclass', 'class', 'class_friendlyname', 'ticket_class', 'ticket_type', 'type'], ''), f);\n\n  return {\n    ref,\n    title: stripHtml(getField(f, ['title', 'description', 'name', 'friendlyname'], '-')),\n    ticketType: ticketKind.key,\n    ticketTypeLabel: ticketKind.label,\n    statusRaw,\n    statusLabel: normalizeStatus(statusRaw),\n    caller: getField(f, ['caller_id_friendlyname', 'customer_id_friendlyname', 'requestor_id_friendlyname', 'person_id_friendlyname'], '-'),\n    agent,\n    agentEmail: agentEmail || fallbackAgentEmail,\n    createdAt,\n    lastUpdateAt: lastUpdate.date,\n    lastUpdateSource: lastUpdate.source,\n    lastNote: lastReadableNote && lastReadableNote !== '-' ? lastReadableNote : lastUpdate.note,\n    ageHours,\n    ageDays: Math.floor(ageHours / 24),\n    slaText: sla.text,\n    slaBreached: sla.breached\n  };\n});\n\n// Evita duplicidad por respuestas repetidas del nodo iTop o joins internos.\n// La referencia del ticket es la llave operativa más estable para este reporte.\nconst uniqueTicketsByRef = new Map();\nfor (const ticket of mappedTickets) {\n  const key = String(ticket.ref || '').trim().toLowerCase() || `${String(ticket.title || '').trim().toLowerCase()}|${String(ticket.agent || '').trim().toLowerCase()}|${String(ticket.createdAt?.toISOString?.() || '').trim()}`;\n  if (!uniqueTicketsByRef.has(key)) {\n    uniqueTicketsByRef.set(key, ticket);\n    continue;\n  }\n\n  const current = uniqueTicketsByRef.get(key);\n  const currentHasNote = current.lastNote && current.lastNote !== '-';\n  const ticketHasNote = ticket.lastNote && ticket.lastNote !== '-';\n  if (!currentHasNote && ticketHasNote) uniqueTicketsByRef.set(key, ticket);\n}\n\nconst tickets = Array.from(uniqueTicketsByRef.values())\n.filter(t => !isClosed(t.statusRaw))\n.filter(t => enabledTicketTypes.has(t.ticketType))\n.filter(t => !sendOnlyWithAgentEmail || !isBlank(t.agentEmail))\n.sort((a, b) => (a.createdAt?.getTime() || 0) - (b.createdAt?.getTime() || 0));\n\nconst groups = new Map();\n\nfor (const ticket of tickets) {\n  const key = ticket.agentEmail || fallbackAgentEmail || '';\n  if (!key) continue;\n  if (!groups.has(key)) {\n    groups.set(key, {\n      agentEmail: key,\n      agentName: ticket.agent || 'Sin agente asignado',\n      tickets: []\n    });\n  }\n  groups.get(key).tickets.push(ticket);\n}\n\nconst generatedAt = now.toLocaleString('es-CL', {\n  timeZone: timezone,\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst generatedAtFile = new Date()\n  .toISOString()\n  .replace(/[:.]/g, '-')\n  .replace('T', '_')\n  .slice(0, 19);\n\nconst output = [];\n\nfor (const group of groups.values()) {\n  const list = [...group.tickets].sort((a, b) => (a.createdAt?.getTime() || 0) - (b.createdAt?.getTime() || 0));\n  const olderThan14Count = list.filter(t => t.ageDays > 14).length;\n  const slaBreachedCount = list.filter(t => t.slaBreached).length;\n  const criticalCount = list.filter(t => severity(t) === 'Crítico').length;\n  const requirementCount = list.filter(t => t.ticketType === 'requirement').length;\n  const incidentCount = list.filter(t => t.ticketType === 'incident').length;\n  const changeCount = list.filter(t => t.ticketType === 'change').length;\n  const problemCount = list.filter(t => t.ticketType === 'problem').length;\n  const typeStatsText = `Requerimientos: ${requirementCount} · Incidentes: ${incidentCount} · Cambios: ${changeCount} · Problemas: ${problemCount}`;\n  const oldestTicket = list[0] ? `${list[0].ref} · ${formatDurationFromHours(list[0].ageHours)}` : '-';\n\n  const csvHeaders = [\n    'Referencia',\n    'Tipo',\n    'Titulo',\n    'Solicitante',\n    'Agente',\n    'Email agente',\n    'Creacion',\n    'Ultimo update',\n    'Tiempo abierto',\n    'SLA',\n    'SLA vencido',\n    'Ultima anotacion o cambio'\n  ];\n\n  const csvRows = list.map(ticket => [\n    ticket.ref,\n    ticket.ticketTypeLabel,\n    ticket.title,\n    ticket.caller,\n    ticket.agent,\n    ticket.agentEmail,\n    fmtDateTime(ticket.createdAt),\n    fmtDateTime(ticket.lastUpdateAt),\n    formatDurationFromHours(ticket.ageHours),\n    ticket.slaText,\n    ticket.slaBreached ? 'Si' : 'No',\n    ticket.lastNote\n  ]);\n\n  const csvContent = '\\uFEFF' + [\n    csvHeaders.map(csvEscape).join(';'),\n    ...csvRows.map(row => row.map(csvEscape).join(';'))\n  ].join('\\r\\n');\n\n  const safeAgent = String(group.agentName || 'agente')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-zA-Z0-9_-]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .slice(0, 60) || 'agente';\n\n  const emailSubject = itopOrganization\n    ? `${subjectBase} - ${itopOrganization} - ${group.agentName}`\n    : `${subjectBase} - ${group.agentName}`;\n\n  output.push({\n    json: {\n      email_from: config.email_from,\n      email_to: group.agentEmail,\n      email_cc: config.email_cc || '',\n      email_bcc: config.email_bcc || '',\n      email_subject: emailSubject,\n      company,\n      Company: company,\n      itop_organization: itopOrganization || '-',\n      itop_url: config.itop_url || '#',\n      generated_at: generatedAt,\n      enabled_ticket_types: enabledTicketTypeText(),\n      include_requirements: String(includeRequirements),\n      include_incidents: String(includeIncidents),\n      include_changes: String(includeChanges),\n      include_problems: String(includeProblems),\n      lookup_records: String(userRows.length),\n      indexed_agent_emails: String(agentEmailIndex.size),\n      agent_name: group.agentName,\n      agent_email: group.agentEmail,\n      total_open: String(list.length),\n      older_than_14_count: String(olderThan14Count),\n      sla_breached_count: String(slaBreachedCount),\n      critical_count: String(criticalCount),\n      requirement_count: String(requirementCount),\n      incident_count: String(incidentCount),\n      change_count: String(changeCount),\n      problem_count: String(problemCount),\n      type_stats_text: typeStatsText,\n      oldest_ticket: oldestTicket,\n      ticket_rows_html: renderTicketsByType(list),\n      csv_filename: `tickets_abiertos_${safeAgent}_${generatedAtFile}.csv`\n    },\n    binary: {\n      csv: {\n        data: Buffer.from(csvContent, 'utf8').toString('base64'),\n        mimeType: 'text/csv',\n        fileName: `tickets_abiertos_${safeAgent}_${generatedAtFile}.csv`\n      }\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "id": "a7efd026-cb0b-4155-97d6-4c51dc2d866d",
      "name": "Preparar datos por agente"
    },
    {
      "parameters": {
        "jsCode": "function renderEmail(input) {\nconst data = input.json || {};\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nconst template = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Tickets abiertos asignados</title>\n  <style type=\"text/css\">\n    body { margin:0; padding:0; background-color:#eef2f6; font-family:Arial, Helvetica, sans-serif; color:#1f2937; }\n    table { border-collapse:collapse; }\n    a { color:#1d4ed8; text-decoration:none; }\n    .wrapper { width:100%; background-color:#eef2f6; padding:24px 0; }\n    .container { width:100%; max-width:1000px; background-color:#ffffff; border:1px solid #d9e2ec; }\n    .mobile-padding { padding-left:28px; padding-right:28px; }\n    .summary-card { padding:4px; }\n    .data-table th { background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap; }\n    .data-table td { font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top; }\n    .section-title { font-size:18px; line-height:24px; font-weight:bold; color:#111827; margin-bottom:8px; }\n    .section-subtitle { font-size:12px; line-height:18px; color:#6b7280; margin-bottom:10px; }\n    .badge { display:inline-block; padding:4px 8px; border-radius:12px; font-size:11px; font-weight:bold; line-height:14px; white-space:nowrap; }\n    .badge-red { background-color:#fee2e2; color:#991b1b; border:1px solid #fecaca; }\n    .badge-orange { background-color:#ffedd5; color:#9a3412; border:1px solid #fed7aa; }\n    .badge-yellow { background-color:#fef9c3; color:#854d0e; border:1px solid #fde68a; }\n    .badge-green { background-color:#dcfce7; color:#166534; border:1px solid #bbf7d0; }\n    .badge-blue { background-color:#dbeafe; color:#1e3a8a; border:1px solid #bfdbfe; }\n    .badge-gray { background-color:#f3f4f6; color:#374151; border:1px solid #e5e7eb; }\n    .wrap { word-break:break-word; overflow-wrap:break-word; }\n    @media only screen and (max-width:760px) {\n      .container{width:100%!important;}\n      .mobile-padding{padding-left:14px!important;padding-right:14px!important;}\n      .summary-card{width:100%!important;display:block!important;margin-bottom:8px!important;}\n      .table-scroll{overflow-x:auto!important;display:block!important;width:100%!important;}\n    }\n  </style>\n</head>\n<body style=\"margin:0; padding:0; background-color:#eef2f6; font-family:Arial, Helvetica, sans-serif; color:#1f2937;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"wrapper\"><tr><td align=\"center\">\n    <table role=\"presentation\" width=\"1000\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"container\">\n      <tr><td style=\"background-color:#0f172a; padding:24px 28px;\" class=\"mobile-padding\">\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n          <td valign=\"top\" style=\"width:65%;\">\n            <div style=\"font-size:13px; line-height:18px; color:#93c5fd; font-weight:bold; letter-spacing:0.4px;\">Automatización ITSM / Backlog</div>\n            <div style=\"font-size:26px; line-height:32px; color:#ffffff; font-weight:bold; margin-top:6px;\">Tickets abiertos asignados</div>\n            <div style=\"font-size:14px; line-height:20px; color:#cbd5e1; margin-top:6px;\">Pendientes sincronizados desde Combodo iTop</div>\n            <div style=\"font-size:12px; line-height:18px; color:#93c5fd; margin-top:8px;\"><strong style=\"color:#ffffff;\">Organización iTop:</strong> {{itop_organization}}</div>\n          </td>\n          <td valign=\"top\" align=\"right\" style=\"width:35%; font-size:12px; line-height:18px; color:#cbd5e1; text-align:right;\">\n            <strong style=\"color:#ffffff;\">Generado:</strong><br>{{generated_at}}<br><br>\n            <strong style=\"color:#ffffff;\">Fuente:</strong><br>Producción / Combodo iTop\n          </td>\n        </tr></table>\n      </td></tr>\n\n      <tr><td style=\"padding:24px 28px 12px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Resumen ejecutivo</div>\n        <div style=\"font-size:13px; line-height:19px; color:#6b7280; margin-top:4px;\">\n          Reporte individual de tickets abiertos asignados a <strong>{{agent_name}}</strong>. Este correo se envía al correo registrado en las propiedades del agente: <strong>{{agent_email}}</strong>.\n        </div>\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 18px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #cbd5e1; background-color:#f8fafc;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#475569; font-weight:bold;\">TOTAL</div><div style=\"font-size:24px; color:#0f172a; font-weight:bold;\">{{total_open}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #fecaca; background-color:#fef2f2;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#991b1b; font-weight:bold;\">REQUERIMIENTOS</div><div style=\"font-size:24px; color:#991b1b; font-weight:bold;\">{{requirement_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #fed7aa; background-color:#fff7ed;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#9a3412; font-weight:bold;\">INCIDENTES</div><div style=\"font-size:24px; color:#9a3412; font-weight:bold;\">{{incident_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #fecaca; background-color:#fff1f2;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#991b1b; font-weight:bold;\">CAMBIOS</div><div style=\"font-size:24px; color:#991b1b; font-weight:bold;\">{{change_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #bfdbfe; background-color:#eff6ff;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#1e3a8a; font-weight:bold;\">PROBLEMAS</div><div style=\"font-size:24px; line-height:30px; color:#1e3a8a; font-weight:bold;\">{{problem_count}}</div></td></tr></table></td>\n      </tr></table></td></tr>\n\n      \n\n      <tr><td style=\"padding:0 28px 20px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #e5e7eb; background-color:#f9fafb;\"><tr><td style=\"padding:12px 14px;\">\n        <div style=\"font-size:13px; line-height:18px; font-weight:bold; color:#111827; margin-bottom:8px;\">Criterio del reporte</div>\n        <div style=\"font-size:12px; line-height:18px; color:#374151;\">Se incluyen únicamente tickets abiertos asignados al agente. El orden se presenta desde el ticket más antiguo al más reciente. Se adjunta un CSV con el mismo universo de tickets enviados en este correo.</div>\n      </td></tr></table></td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Tickets abiertos pendientes</div>\n        <div class=\"section-subtitle\">Los tickets se presentan agrupados por tipo y ordenados desde el más antiguo al más reciente.</div>\n        {{ticket_rows_html}}\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #dbe3ec; background-color:#f8fafc;\"><tr><td style=\"padding:16px 18px;\"><div style=\"font-size:15px; line-height:21px; color:#111827; font-weight:bold; margin-bottom:8px;\">Observaciones operacionales</div><ul style=\"margin:0; padding-left:18px; color:#374151; font-size:13px; line-height:20px;\"><li>Este reporte fue generado automáticamente por &quot;Automatización ITSM / Backlog&quot;.</li><li>Organización iTop considerada en el reporte: <strong>{{itop_organization}}</strong>.</li><li>El CSV adjunto contiene únicamente los tickets enviados a este agente.</li></ul></td></tr></table></td></tr>\n\n      <tr><td align=\"center\" style=\"padding:0 28px 26px 28px;\" class=\"mobile-padding\"><table role=\"presentation\"><tr><td align=\"center\" bgcolor=\"#1d4ed8\" style=\"background-color:#1d4ed8; padding:11px 20px;\"><a href=\"{{itop_url}}\" target=\"_blank\" style=\"font-size:13px; line-height:18px; color:#ffffff; font-weight:bold; text-decoration:none; display:inline-block;\">Abrir Combodo iTop</a></td></tr></table></td></tr>\n\n      <tr><td style=\"background-color:#f1f5f9; border-top:1px solid #dbe3ec; padding:18px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\"><tr><td style=\"font-size:12px; line-height:18px; color:#64748b;\"><strong style=\"color:#334155;\">Automatización ITSM / Backlog</strong><br>{{company}}<br>Correo generado automáticamente. No responder a este mensaje.</td><td align=\"right\" style=\"font-size:12px; line-height:18px; color:#64748b;\">Generado:<br>{{generated_at}}</td></tr></table></td></tr>\n    </table>\n  </td></tr></table>\n</body>\n</html>`;\n\nlet html = template;\nfor (const [key, value] of Object.entries(data)) {\n  html = html.replaceAll(`{{${key}}}`, String(value ?? ''));\n}\n\nreturn {\n  json: {\n    ...data,\n    html\n  },\n  binary: input.binary || {}\n};\n}\n\nreturn $input.all().map(renderEmail);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        0
      ],
      "id": "4b667fe7-8811-4d2f-9c7c-5009555ee060",
      "name": "HTML - Template Reporte"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from }}",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachments": "csv",
          "ccEmail": "={{ $json.email_cc }}",
          "bccEmail": "={{ $json.email_bcc }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1600,
        0
      ],
      "id": "12a69ea1-178e-4d26-9581-9783908a0604",
      "name": "Enviar correo SMTP",
      "webhookId": "0711891f-e083-4c41-82df-2dec573e4bbe",
      "credentials": {
        "smtp": {
          "id": "xNtpGsiFHeoJckRp",
          "name": "SMTP_MailPit"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "Config Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Reporte": {
      "main": [
        [
          {
            "node": "iTop - Usuarios Locales con Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Tickets abiertos": {
      "main": [
        [
          {
            "node": "Preparar datos por agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos por agente": {
      "main": [
        [
          {
            "node": "HTML - Template Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Template Reporte": {
      "main": [
        [
          {
            "node": "Enviar correo SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Usuarios Locales con Persona": {
      "main": [
        [
          {
            "node": "iTop - Tickets abiertos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "090456fb-2f60-4fe3-891d-9965534b08c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ad3b920e2d3586b0e2fb892d909337f22ce15cbde2c7354c038d868efea76ad"
  },
  "id": "PqiygNHmMZB8VLX5",
  "tags": []
}