APP/config/n8n/WorkFlow_v2/CMDB - Movimientos recientes de inventario - SMTP.json
{
  "name": "CMDB - Movimientos recientes de inventario - SMTP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        30000,
        14064
      ],
      "id": "ed658643-7b52-4ddc-84be-0947c6a3c930",
      "name": "Ejecutar manualmente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fbc4873-3514-4b04-b59c-9515bdeeb7e3",
              "name": "itop_url",
              "value": "http://192.168.3.111/web/",
              "type": "string"
            },
            {
              "id": "322d4761-dd9b-43d3-8d4a-f84a84cf374d",
              "name": "email_from",
              "value": "notificaciones@dominio.cl",
              "type": "string"
            },
            {
              "id": "0fc3ff2e-d4ca-454a-8c9a-af060660fa86",
              "name": "email_to",
              "value": "={{ $json.body?.email_to ?? \"destinatario@dominio.cl\" }}",
              "type": "string"
            },
            {
              "id": "6e9b85da-3d0e-4377-86a6-332be4f30960",
              "name": "email_cc",
              "value": "={{ $json.body?.email_cc ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "10318e4a-0984-4ea3-92b9-deb18b0e4c2c",
              "name": "email_bcc",
              "value": "={{ $json.body?.email_bcc ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "1c41b2f6-0875-4a57-99cf-a71636aa508d",
              "name": "email_subject",
              "value": "Reporte CMDB - movimientos de inventario",
              "type": "string"
            },
            {
              "id": "d15824c4-3a52-4ae0-833f-0cc1ff903b06",
              "name": "timezone",
              "value": "America/Santiago",
              "type": "string"
            },
            {
              "id": "286165a6-ba26-42be-94c3-e3645bf493f5",
              "name": "itop_organization",
              "value": "Generadora Metropolitana",
              "type": "string"
            },
            {
              "id": "f4158783-084d-463a-8d01-e8d58b7d778d",
              "name": "Company",
              "value": "TecnoComp",
              "type": "string"
            },
            {
              "id": "a01c60c2-8a4d-48dc-b2d4-e0e0d0603f9b",
              "name": "itop_limit",
              "value": 5000,
              "type": "number"
            },
            {
              "id": "baac7761-bdc4-4644-8596-850cfb5cb204",
              "name": "movement_days",
              "value": "={{ $json.body?.movement_days ?? 7 }}",
              "type": "number"
            },
            {
              "id": "84024e18-e3ab-46fe-90a2-bf83b890eeb7",
              "name": "tracked_status_fields",
              "value": "status,operational_status",
              "type": "string"
            },
            {
              "id": "7cfba136-c3c4-491b-aecf-6689600e5625",
              "name": "tracked_location_fields",
              "value": "location_id",
              "type": "string"
            },
            {
              "id": "4e12aa18-525f-468c-8e97-faef83be5d3d",
              "name": "tracked_contact_relation_class",
              "value": "lnkContactToFunctionalCI",
              "type": "string"
            },
            {
              "id": "2adebe61-43fb-4726-aee7-8799ee352024",
              "name": "include_attachment",
              "value": "={{ $json.body?.include_attachment ?? true }}",
              "type": "string"
            },
            {
              "id": "0cb0d59c-acb0-4a51-be22-e2250e9bc4d7",
              "name": "include_detail",
              "value": "={{ $json.body?.include_detail ?? true }}",
              "type": "string"
            },
            {
              "id": "f6059d71-cc45-4caa-a34b-da2f0fdf8228",
              "name": "include_summary",
              "value": "={{ $json.body?.include_summary ?? true }}",
              "type": "string"
            },
            {
              "id": "95199911-1538-4ada-97dc-7f03f71c06c2",
              "name": "include_operational_notes",
              "value": "={{ $json.body?.include_operational_notes ?? true }}",
              "type": "string"
            },
            {
              "id": "2c82c943-c553-4983-ae06-26689cb0b60a",
              "name": "include_itop_button_footer",
              "value": "={{ $json.body?.include_itop_button_footer ?? true }}",
              "type": "string"
            },
            {
              "id": "4ca610e0-5efe-4394-93e7-a4defce7239c",
              "name": "start_date",
              "value": "={{ $json.body?.start_date ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "3fb9495f-551d-41ff-92c1-1177fcbdd57d",
              "name": "end_date",
              "value": "={{ $json.body?.end_date ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "c60f3be5-22a9-48b4-acaa-0d4da53e0549",
              "name": "report_template_key",
              "value": "cmdb-movimientos-recientes-inventario",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        30240,
        14064
      ],
      "id": "75bf0d8d-3ae9-4dde-9950-c5928150373c",
      "name": "SetTrigger - Flujo"
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\nconst timezone = config.timezone || 'America/Santiago';\nconst days = Math.max(1, Number(config.movement_days || 7));\nconst now = new Date();\nconst explicitSince = String(config.start_date || '').trim();\nconst explicitUntil = String(config.end_date || '').trim();\nconst since = explicitSince ? new Date(explicitSince.replace(' ', 'T')) : new Date(now.getTime() - (days * 24 * 60 * 60 * 1000));\nconst until = explicitUntil ? new Date(explicitUntil.replace(' ', 'T')) : now;\n\nfunction fmtLocal(date) {\n  return date.toLocaleString('es-CL', {\n    timeZone: timezone,\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit'\n  });\n}\n\n// iTop/OQL trabaja normalmente con formato YYYY-MM-DD HH:mm:ss.\nfunction fmtOql(date) {\n  const p = (n) => String(n).padStart(2, '0');\n  return `${date.getFullYear()}-${p(date.getMonth() + 1)}-${p(date.getDate())} ${p(date.getHours())}:${p(date.getMinutes())}:${p(date.getSeconds())}`;\n}\n\nreturn [{\n  json: {\n    ...config,\n    movement_days: days,\n    since_date: fmtOql(since),\n    until_date: fmtOql(now),\n    since_date_display: fmtLocal(since),\n    until_date_display: fmtLocal(now),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30448,
        14256
      ],
      "id": "d47cc160-d36c-48d8-b30e-0191e35bc6a9",
      "name": "Preparar ventana de consulta"
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "CMDBChangeOpSetAttributeScalar",
        "key": "=SELECT CMDBChangeOpSetAttributeScalar AS op\nJOIN CMDBChange AS ch ON op.change = ch.id\nWHERE ch.date >= '{{ $json.since_date }}'\nAND op.objclass IN (\n  'PhysicalDevice',\n  'PC',\n  'Laptop',\n  'MobilePhone',\n  'Tablet',\n  'Printer',\n  'Peripheral',\n  'NetworkDevice'\n)\nAND op.attcode IN (\n  'status',\n  'operational_status',\n  'location_id'\n)",
        "output_fields": "id,change,objclass,objkey,finalclass,attcode,oldvalue,newvalue",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        30672,
        14064
      ],
      "id": "916910fd-6f9a-414d-9e2e-3a443ec7087b",
      "name": "iTop - Movimientos atributos",
      "alwaysOutputData": true,
      "credentials": {
        "iTopTokenApi": {
          "id": "KSBBVlgbETeCqYUP",
          "name": "iTopToken_GF_QA"
        }
      },
      "notes": "Historial de cambios de estado y bodega/localidad. Campos explícitos de la operación; fecha/agente/origen se resuelven por lookup separado contra CMDBChange para evitar selector *."
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "CMDBChangeOp",
        "key": "=SELECT CMDBChangeOp AS op\nJOIN CMDBChange AS ch ON op.change = ch.id\nWHERE ch.date >= '{{ $json.since_date }}'\nAND op.objclass = 'lnkContactToFunctionalCI'",
        "output_fields": "id,change,objclass,objkey,finalclass",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        30672,
        14256
      ],
      "id": "48d216ea-1567-4688-97e8-0ff12366a501",
      "name": "iTop - Movimientos usuarios",
      "alwaysOutputData": true,
      "credentials": {
        "iTopTokenApi": {
          "id": "KSBBVlgbETeCqYUP",
          "name": "iTopToken_GF_QA"
        }
      },
      "notes": "Eventos sobre relación usuario-activo. Campos explícitos de la operación; fecha/agente/origen se resuelven por lookup separado contra CMDBChange."
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "CMDBChangeOpSetAttributeScalar",
        "key": "=SELECT CMDBChangeOpSetAttributeScalar AS op\nJOIN CMDBChange AS ch ON op.change = ch.id\nWHERE ch.date >= '{{ $json.since_date }}'\nAND op.objclass = 'lnkContactToFunctionalCI'\nAND op.attcode IN ('functionalci_id', 'contact_id')",
        "output_fields": "id,change,objclass,objkey,finalclass,attcode,oldvalue,newvalue",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        30896,
        14432
      ],
      "id": "011a3790-2a7c-4135-a70e-d566eb951f5c",
      "name": "iTop - Histórico relación usuario-activo",
      "alwaysOutputData": true,
      "credentials": {
        "iTopTokenApi": {
          "id": "KSBBVlgbETeCqYUP",
          "name": "iTopToken_GF_QA"
        }
      },
      "notes": "Lookup histórico mínimo de relaciones usuario-activo. Se mantienen oldvalue/newvalue y sus friendlyname para resolver activo/contacto sin selector *."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        30896,
        14160
      ],
      "id": "3c533b5f-cc5b-4d1a-907d-71c27bbff954",
      "name": "Unificar movimientos base"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        31120,
        14256
      ],
      "id": "b70eec3e-004c-4ab9-bcf6-cb90c13aa796",
      "name": "Unificar histórico usuario-activo"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Preparar ventana de consulta').first().json;\n\nfunction flattenItems(items) {\n  const rows = [];\n  for (const item of items || []) {\n    const j = item.json || {};\n    if (j.objects && typeof j.objects === 'object') {\n      for (const [key, value] of Object.entries(j.objects)) {\n        rows.push({ key, ...(value || {}), fields: value?.fields || value || {} });\n      }\n      continue;\n    }\n    if (Array.isArray(j)) { rows.push(...j); continue; }\n    if (Object.keys(j).length) rows.push(j);\n  }\n  return rows;\n}\n\nfunction getNodeItemsSafe(nodeName) {\n  try { return $items(nodeName); } catch (error) { return []; }\n}\n\nfunction valueToText(value, options = {}) {\n  const preferId = options.preferId === true;\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'object') {\n    if (Array.isArray(value)) return value.map(v => valueToText(v, options)).filter(Boolean).join(', ');\n    const idKeys = ['id', '_key', 'key', 'code', 'value'];\n    const nameKeys = ['friendlyname', 'friendly_name', 'name', 'label', 'display_name', 'displayName'];\n    const ordered = preferId ? [...idKeys, ...nameKeys] : [...nameKeys, ...idKeys];\n    for (const k of ordered) {\n      if (value[k] !== undefined && value[k] !== null && String(value[k]).trim() !== '') return valueToText(value[k], options);\n    }\n    return '';\n  }\n  return String(value).trim();\n}\n\nfunction getField(obj, names, fallback = '', options = {}) {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && valueToText(obj[name], options) !== '') return valueToText(obj[name], options);\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && valueToText(obj.fields[name], options) !== '') return valueToText(obj.fields[name], options);\n  }\n  return valueToText(fallback, options);\n}\n\nfunction normalizeKey(value) {\n  const text = valueToText(value, { preferId: true }).trim();\n  if (!text) return '';\n  return text.replace(/^[A-Za-z_][A-Za-z0-9_]*::/, '').trim();\n}\n\nfunction addId(set, value) {\n  const id = normalizeKey(value);\n  if (/^\\d+$/.test(id)) set.add(id);\n}\n\nfunction addChangeId(value) {\n  const id = normalizeKey(value);\n  if (/^\\d+$/.test(id)) changeIds.add(id);\n}\n\nconst ids = new Set();\nconst locationIds = new Set();\nconst changeIds = new Set();\nconst locationFields = String(config.tracked_location_fields || 'location_id').split(',').map(v => v.trim()).filter(Boolean);\n\n// Cambios directos sobre activos: objkey es el ID del objeto modificado.\n// Si el atributo modificado es location_id, oldvalue/newvalue son los ID de Location.\nfor (const row of flattenItems(getNodeItemsSafe('iTop - Movimientos atributos'))) {\n  const f = row.fields || row;\n  addChangeId(getField(f, ['change', 'change_id'], '', { preferId: true }));\n  const attcode = String(getField(f, ['attcode', 'attribute_code'], '')).trim();\n  addId(ids, getField(f, ['objkey', 'obj_key', 'object_id', 'object_key'], '', { preferId: true }));\n\n  if (locationFields.includes(attcode)) {\n    addId(locationIds, getField(f, ['oldvalue', 'old_value'], '', { preferId: true }));\n    addId(locationIds, getField(f, ['newvalue', 'new_value'], '', { preferId: true }));\n  }\n}\n\n// Histórico de relación usuario-activo: functionalci_id apunta al activo real.\nfor (const row of flattenItems(getNodeItemsSafe('iTop - Histórico relación usuario-activo'))) {\n  const f = row.fields || row;\n  addChangeId(getField(f, ['change', 'change_id'], '', { preferId: true }));\n  const attcode = String(getField(f, ['attcode', 'attribute_code'], '')).trim();\n  if (attcode !== 'functionalci_id') continue;\n  addId(ids, getField(f, ['newvalue', 'new_value', 'oldvalue', 'old_value'], '', { preferId: true }));\n}\n\n// Algunos conectores devuelven el functionalci_id directo en el movimiento de usuario.\nfor (const row of flattenItems(getNodeItemsSafe('iTop - Movimientos usuarios'))) {\n  const f = row.fields || row;\n  addChangeId(getField(f, ['change', 'change_id'], '', { preferId: true }));\n  addId(ids, getField(f, ['functionalci_id', 'functionalci'], '', { preferId: true }));\n}\n\nconst idList = [...ids].sort((a, b) => Number(a) - Number(b));\nconst locationIdList = [...locationIds].sort((a, b) => Number(a) - Number(b));\nconst changeIdList = [...changeIds].sort((a, b) => Number(a) - Number(b));\n\nconst assetOql = idList.length\n  ? `SELECT PhysicalDevice WHERE id IN (${idList.join(',')})`\n  : 'SELECT PhysicalDevice WHERE id = 0';\n\nconst locationOql = locationIdList.length\n  ? `SELECT Location WHERE id IN (${locationIdList.join(',')})`\n  : 'SELECT Location WHERE id = 0';\n\nconst changeOql = changeIdList.length\n  ? `SELECT CMDBChange WHERE id IN (${changeIdList.join(',')})`\n  : 'SELECT CMDBChange WHERE id = 0';\n\nreturn [{\n  json: {\n    ...config,\n    affected_asset_ids: idList.join(','),\n    affected_asset_count: idList.length,\n    affected_location_ids: locationIdList.join(','),\n    affected_location_count: locationIdList.length,\n    affected_change_ids: changeIdList.join(','),\n    affected_change_count: changeIdList.length,\n    asset_oql: assetOql,\n    location_oql: locationOql,\n    change_oql: changeOql,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        31344,
        14256
      ],
      "id": "4bf3d808-7c14-4069-b227-a6b34ceec358",
      "name": "Preparar consulta activos afectados"
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "PhysicalDevice",
        "key": "={{ $json.asset_oql }}",
        "output_fields": "id,name,friendlyname,finalclass,status,location_id,serialnumber",
        "limit": "={{ Math.max(1, Number($json.affected_asset_count || 1)) }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        31568,
        14064
      ],
      "id": "91ec3ed7-b7fe-4922-bde0-82dd636c97b3",
      "name": "iTop - Activos afectados",
      "alwaysOutputData": true,
      "credentials": {
        "iTopTokenApi": {
          "id": "KSBBVlgbETeCqYUP",
          "name": "iTopToken_GF_QA"
        }
      },
      "notes": "Activos afectados por los movimientos. Output Fields acotado: id,name,friendlyname,finalclass,status,location_id,serialnumber. No usar selector * para evitar expansión innecesaria de relaciones/campos derivados."
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "Location",
        "key": "={{ $json.location_oql }}",
        "output_fields": "id,name,friendlyname",
        "limit": "={{ Math.max(1, Number($json.affected_location_count || 1)) }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        31568,
        14256
      ],
      "id": "9eb0a573-1618-4ec8-9126-3ebe0c528e45",
      "name": "iTop - Localidades afectadas",
      "alwaysOutputData": true,
      "credentials": {
        "iTopTokenApi": {
          "id": "KSBBVlgbETeCqYUP",
          "name": "iTopToken_GF_QA"
        }
      },
      "notes": "Lookup acotado de localidades afectadas. Output Fields: id,name,friendlyname. No usar selector *; evita error 500 por expansión de relaciones/campos derivados."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        31792,
        14160
      ],
      "id": "dd5f34fc-3d19-4f9f-820d-1f48e07f111b",
      "name": "Unificar activos y localidades"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Preparar ventana de consulta').first().json;\nconst company = String(config.Company || config.company || 'TecnoComp').trim();\nconst itopOrganization = String(config.itop_organization || '-').trim() || '-';\nconst timezone = config.timezone || 'America/Santiago';\nconst statusFields = String(config.tracked_status_fields || 'status,operational_status').split(',').map(v => v.trim()).filter(Boolean);\nconst locationFields = String(config.tracked_location_fields || 'location_id').split(',').map(v => v.trim()).filter(Boolean);\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction csvEscape(value) {\n  const text = String(value ?? '').replace(/\"/g, '\"\"');\n  return `\"${text}\"`;\n}\n\nfunction flattenItems(items) {\n  const rows = [];\n  for (const item of items || []) {\n    const j = item.json || {};\n    if (j.objects && typeof j.objects === 'object') {\n      for (const [key, value] of Object.entries(j.objects)) {\n        rows.push({ key, ...(value || {}), fields: value?.fields || value || {} });\n      }\n      continue;\n    }\n    if (Array.isArray(j)) { rows.push(...j); continue; }\n    if (Object.keys(j).length) rows.push(j);\n  }\n  return rows;\n}\n\nfunction getNodeItemsSafe(nodeName) {\n  try { return $items(nodeName); } catch (error) { return []; }\n}\n\nfunction isBlank(value) {\n  const v = String(value ?? '').trim();\n  return !v || v === '-' || v.toLowerCase() === 'null' || v.toLowerCase() === 'undefined' || v.toLowerCase() === '[object object]';\n}\n\nfunction valueToText(value, options = {}) {\n  const preferId = options.preferId === true;\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'object') {\n    if (Array.isArray(value)) return value.map(v => valueToText(v, options)).filter(Boolean).join(', ');\n    const idKeys = ['id', '_key', 'key', 'code', 'value'];\n    const nameKeys = ['friendlyname', 'friendly_name', 'name', 'label', 'display_name', 'displayName'];\n    const ordered = preferId ? [...idKeys, ...nameKeys] : [...nameKeys, ...idKeys];\n    for (const k of ordered) {\n      if (value[k] !== undefined && value[k] !== null && String(value[k]).trim() !== '') return valueToText(value[k], options);\n    }\n    return '';\n  }\n  return String(value).trim();\n}\n\nfunction getField(obj, names, fallback = '', options = {}) {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && valueToText(obj[name], options) !== '') return valueToText(obj[name], options);\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && valueToText(obj.fields[name], options) !== '') return valueToText(obj.fields[name], options);\n  }\n  return valueToText(fallback, options);\n}\n\nfunction normalizeKey(value) {\n  const text = valueToText(value, { preferId: true }).trim();\n  if (!text) return '';\n  return text.replace(/^[A-Za-z_][A-Za-z0-9_]*::/, '').trim();\n}\n\nfunction normalizeClass(value) {\n  const raw = String(value || '-').trim();\n  const lower = raw.toLowerCase();\n  if (lower === 'pc' || lower.includes('desktop')) return 'PC';\n  if (lower === 'laptop' || lower.includes('notebook') || lower.includes('portable')) return 'Laptop';\n  if (lower === 'mobilephone' || lower.includes('phone') || lower.includes('telefono') || lower.includes('teléfono')) return 'Teléfonos móviles';\n  if (lower === 'tablet') return 'Tablets';\n  if (lower === 'printer' || lower.includes('impresora')) return 'Impresoras';\n  if (lower === 'peripheral' || lower.includes('periferico') || lower.includes('periférico')) return 'Periféricos';\n  if (lower === 'networkdevice') return 'Dispositivos de red';\n  return raw || 'Otros';\n}\n\nfunction normalizeStatus(value) {\n  const raw = String(value || '').trim();\n  const s = raw.toLowerCase();\n  if (s === 'stock' || s.includes('stock') || s.includes('inventario') || s.includes('available')) return 'En Inventario';\n  if (s === 'implementation' || s.includes('implementation') || s.includes('implementacion') || s.includes('implementación')) return 'No Productivo';\n  if (s === 'production' || s.includes('production') || s.includes('produccion') || s.includes('producción')) return 'Productivo';\n  if (s === 'obsolete' || s.includes('obsolete') || s.includes('obsoleto') || s.includes('retired')) return 'Obsoleto';\n  return raw || '-';\n}\n\nfunction looksLikeCiCode(value) {\n  const text = valueToText(value).trim();\n  return /^CI\\s*\\d+$/i.test(text) || /^[A-Za-z_][A-Za-z0-9_]*::\\d+$/.test(text);\n}\n\nfunction isNumericOnly(value) {\n  return /^\\d+$/.test(String(value ?? '').trim());\n}\n\nfunction cleanAssetName(value) {\n  const text = valueToText(value).trim();\n  if (isBlank(text)) return '';\n  if (text.includes('/')) {\n    const parts = text.split('/').map(v => v.trim()).filter(Boolean);\n    if (parts.length >= 2) return parts[parts.length - 1];\n  }\n  return text;\n}\n\nfunction cleanContactName(value) {\n  const text = valueToText(value).trim();\n  if (isBlank(text)) return '';\n  if (text.includes('/')) {\n    const parts = text.split('/').map(v => v.trim()).filter(Boolean);\n    if (parts.length >= 2) return parts[0];\n  }\n  return text;\n}\n\nfunction registerMapKey(map, key, value) {\n  const normalized = normalizeKey(key);\n  if (normalized && !map.has(normalized)) map.set(normalized, value);\n  const raw = valueToText(key, { preferId: true }).trim();\n  if (raw && !map.has(raw)) map.set(raw, value);\n}\n\nfunction movementBadge(type) {\n  const color = type === 'Cambio de estado' ? 'green' : type === 'Cambio de bodega' ? 'blue' : type === 'Asignación de usuario' ? 'orange' : type === 'Remoción de usuario' ? 'gray' : 'yellow';\n  return `<span class=\"badge badge-${color}\">${escapeHtml(type)}</span>`;\n}\n\nfunction td(value, align = 'left') {\n  return `<td align=\"${align}\" style=\"font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top;\">${value}</td>`;\n}\n\nfunction parseMaybeDate(value) {\n  if (isBlank(value)) return null;\n  const text = String(value);\n  const direct = new Date(text.replace(' ', 'T'));\n  if (!Number.isNaN(direct.getTime())) return direct;\n  const match = text.match(/(\\d{4}-\\d{2}-\\d{2}[ T]\\d{2}:\\d{2}:\\d{2})/);\n  if (match) {\n    const d = new Date(match[1].replace(' ', 'T'));\n    if (!Number.isNaN(d.getTime())) return d;\n  }\n  return null;\n}\n\nfunction fmtDate(value) {\n  const d = parseMaybeDate(value);\n  if (!d) return String(value || '-');\n  return d.toLocaleString('es-CL', { timeZone: timezone, year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\n}\n\nfunction getBestFriendlyValue(f, prefix) {\n  const friendly = getField(f, [`${prefix}_friendlyname`, `${prefix}_friendly_name`, `${prefix}value_friendlyname`, `${prefix}value_friendly_name`], '');\n  if (!isBlank(friendly) && !isNumericOnly(friendly) && !looksLikeCiCode(friendly)) return friendly;\n  return getField(f, [`${prefix}value`, `${prefix}_value`, prefix], '');\n}\n\nconst locationRows = flattenItems(getNodeItemsSafe('iTop - Localidades afectadas'));\nconst locationMap = new Map();\n\nfor (const row of locationRows) {\n  const f = row.fields || row;\n  const id = normalizeKey(getField(f, ['id', '_key', 'key'], row._key || row.key || '', { preferId: true }));\n  const name = getField(f, ['name', 'friendlyname', 'friendly_name'], '');\n  if (!isBlank(id) && !isBlank(name)) {\n    registerMapKey(locationMap, id, name);\n    registerMapKey(locationMap, row._key || row.key, name);\n    registerMapKey(locationMap, `Location::${id}`, name);\n  }\n}\n\nfunction resolveLocationValue(raw, assetCurrentLocationId = '', assetCurrentLocationName = '') {\n  const text = valueToText(raw).trim();\n  if (isBlank(text)) return '-';\n  if (!isNumericOnly(text)) return text;\n\n  const key = normalizeKey(text);\n  if (key && locationMap.has(key)) return locationMap.get(key);\n  if (!isBlank(assetCurrentLocationId) && key === normalizeKey(assetCurrentLocationId) && !isBlank(assetCurrentLocationName)) return assetCurrentLocationName;\n  return `Localidad ID ${text}`;\n}\n\n// -----------------------------------------------------------------------------\n// 0) Catálogo de cambios CMDB: fecha, agente responsable y origen.\n//    Estos datos vienen desde CMDBChange para no depender de selector * en los\n//    nodos CMDBChangeOp / CMDBChangeOpSetAttributeScalar.\n// -----------------------------------------------------------------------------\nconst changeRows = flattenItems(getNodeItemsSafe('iTop - Cambios CMDB'));\nconst changeMap = new Map();\n\nfor (const row of changeRows) {\n  const f = row.fields || row;\n  const id = normalizeKey(getField(f, ['id', '_key', 'key'], row._key || row.key || '', { preferId: true }));\n  if (!id) continue;\n  const rec = {\n    id,\n    date: getField(f, ['date', 'change_date'], ''),\n    userinfo: getField(f, ['userinfo', 'user_info', 'user_id_friendlyname', 'user_id_friendly_name'], ''),\n    origin: getField(f, ['origin', 'change_origin'], ''),\n  };\n  registerMapKey(changeMap, id, rec);\n  registerMapKey(changeMap, row._key || row.key, rec);\n  registerMapKey(changeMap, `CMDBChange::${id}`, rec);\n}\n\nfunction getChangeInfo(f) {\n  const changeId = normalizeKey(getField(f, ['change', 'change_id'], '', { preferId: true }));\n  const rec = changeId ? changeMap.get(changeId) : null;\n  return {\n    id: changeId,\n    date: rec?.date || getField(f, ['date', 'change_date', 'change_id_friendlyname', 'change_friendlyname'], config.until_date_display),\n    userinfo: rec?.userinfo || getField(f, ['userinfo', 'user_info', 'user_id_friendlyname', 'change_userinfo'], '-'),\n    origin: rec?.origin || getField(f, ['origin', 'change_origin'], '-'),\n  };\n}\n\n// -----------------------------------------------------------------------------\n// 1) Catálogo de activos y lookup de localidades, ambos acotados por ID.\n// -----------------------------------------------------------------------------\nconst assetRows = flattenItems(getNodeItemsSafe('iTop - Activos afectados'));\nconst assetMap = new Map();\n\nfor (const row of assetRows) {\n  const f = row.fields || row;\n  const id = normalizeKey(getField(f, ['id', '_key', 'key'], row._key || row.key || '', { preferId: true }));\n  const rawKey = valueToText(row._key || row.key || getField(f, ['_key', 'key'], '', { preferId: true }), { preferId: true });\n  const assetId = id || normalizeKey(rawKey);\n  const finalclass = getField(f, ['finalclass', 'class', 'class_friendlyname'], 'PhysicalDevice');\n\n  // El nodo iTop puede entregar el nombre técnico en name o el nombre visible en friendlyname.\n  // Se selecciona el primer valor realmente descriptivo y se descartan IDs puros o códigos tipo CI 123.\n  const candidateNames = [\n    getField(f, ['name'], ''),\n    getField(f, ['friendlyname', 'friendly_name'], ''),\n    getField(f, ['display_name', 'label'], ''),\n  ].map(cleanAssetName).filter(v => !isBlank(v));\n  const descriptiveName = candidateNames.find(v => !isNumericOnly(v) && !looksLikeCiCode(v));\n  const name = descriptiveName || candidateNames[0] || (assetId ? `CI ${assetId}` : 'Activo no resuelto');\n\n  const locationId = normalizeKey(getField(f, ['location_id'], '', { preferId: true }));\n  const locationNameFromAsset = getField(f, [\n    'location_name',\n    'location_id_friendlyname',\n    'location_id_friendly_name',\n    'location_friendlyname',\n    'location_friendly_name'\n  ], '');\n\n  // Aprovecha los datos ya presentes en el activo para enriquecer el lookup de bodegas/localidades.\n  if (!isBlank(locationId) && !isBlank(locationNameFromAsset)) {\n    registerMapKey(locationMap, locationId, locationNameFromAsset);\n    registerMapKey(locationMap, `Location::${locationId}`, locationNameFromAsset);\n  }\n\n  const asset = {\n    id: assetId,\n    rawKey,\n    name,\n    classType: normalizeClass(finalclass),\n    serial: getField(f, ['serialnumber', 'serial_number'], ''),\n    locationId,\n    location: !isBlank(locationNameFromAsset) ? locationNameFromAsset : resolveLocationValue(locationId),\n    status: normalizeStatus(getField(f, ['operational_status_friendlyname', 'operational_status', 'status_friendlyname', 'status'], '-')),\n  };\n\n  if (!asset.id && !asset.rawKey) continue;\n  registerMapKey(assetMap, asset.id, asset);\n  registerMapKey(assetMap, asset.rawKey, asset);\n  registerMapKey(assetMap, row._key || row.key, asset);\n  registerMapKey(assetMap, `PhysicalDevice::${asset.id}`, asset);\n  registerMapKey(assetMap, `FunctionalCI::${asset.id}`, asset);\n  if (!isBlank(finalclass)) registerMapKey(assetMap, `${finalclass}::${asset.id}`, asset);\n}\n\nfunction getAssetById(id, fallbackName = '') {\n  const key = normalizeKey(id);\n  const fallback = cleanAssetName(fallbackName);\n  const asset = key ? assetMap.get(key) : null;\n  if (asset) {\n    const assetName = cleanAssetName(asset.name);\n    const finalName = (!isBlank(fallback) && !looksLikeCiCode(fallback) && !isNumericOnly(fallback) && looksLikeCiCode(assetName)) ? fallback : assetName;\n    return { ...asset, name: finalName || fallback || assetName || `CI ${key}` };\n  }\n  return { id: key || '-', name: (!isBlank(fallback) && !isNumericOnly(fallback)) ? fallback : (key ? `CI ID ${key} no resuelto` : 'Activo no resuelto'), classType: '-', serial: '', locationId: '', location: '-', status: '-' };\n}\n\nfunction movementPreviousValue(m) {\n  return m.oldStatus || m.oldLocation || m.oldUser || '-';\n}\nfunction movementNewValue(m) {\n  return m.newStatus || m.newLocation || m.newUser || '-';\n}\n\n// -----------------------------------------------------------------------------\n// 2) Histórico mínimo de relación usuario-activo.\n//    Evita depender de SELECT lnkContactToFunctionalCI, porque las remociones ya\n//    no existen en la tabla vigente.\n// -----------------------------------------------------------------------------\nconst relationHistoryRows = flattenItems(getNodeItemsSafe('iTop - Histórico relación usuario-activo'));\nconst relationHistoryMap = new Map();\n\nfor (const row of relationHistoryRows) {\n  const f = row.fields || row;\n  const relationId = normalizeKey(getField(f, ['objkey', 'obj_key', 'object_id', 'object_key'], row._key || row.key || '', { preferId: true }));\n  if (!relationId) continue;\n  const attcode = String(getField(f, ['attcode', 'attribute_code'], '')).trim();\n  const oldVal = getBestFriendlyValue(f, 'old');\n  const newVal = getBestFriendlyValue(f, 'new');\n  const rawOld = getField(f, ['oldvalue', 'old_value'], '', { preferId: true });\n  const rawNew = getField(f, ['newvalue', 'new_value'], '', { preferId: true });\n  const rec = relationHistoryMap.get(relationId) || { relationId, assetId: '', assetName: '', contactId: '', contactName: '' };\n\n  if (attcode === 'functionalci_id') {\n    rec.assetId = normalizeKey(rawNew || rawOld || newVal || oldVal) || rec.assetId;\n    rec.assetName = cleanAssetName(newVal || oldVal) || rec.assetName;\n  }\n  if (attcode === 'contact_id') {\n    rec.contactId = normalizeKey(rawNew || rawOld || newVal || oldVal) || rec.contactId;\n    rec.contactName = cleanContactName(newVal || oldVal) || rec.contactName;\n  }\n  relationHistoryMap.set(relationId, rec);\n}\n\n// -----------------------------------------------------------------------------\n// 3) Movimientos de estado/bodega.\n// -----------------------------------------------------------------------------\nconst attrRows = flattenItems(getNodeItemsSafe('iTop - Movimientos atributos'));\nconst userRows = flattenItems(getNodeItemsSafe('iTop - Movimientos usuarios'));\nconst movements = [];\nlet unresolvedLocationCount = 0;\nlet unresolvedAssetCount = 0;\n\nfor (const row of attrRows) {\n  const f = row.fields || row;\n  const attcode = String(getField(f, ['attcode', 'attribute_code'], '')).trim();\n  if (!attcode) continue;\n\n  const changeInfo = getChangeInfo(f);\n  const objKey = getField(f, ['objkey', 'obj_key', 'object_id', 'object_key'], '', { preferId: true });\n  const objFriendlyName = getField(f, ['objkey_friendlyname', 'object_friendlyname', 'objname', 'obj_name', 'friendlyname'], '');\n  const asset = getAssetById(objKey, objFriendlyName);\n  if (looksLikeCiCode(asset.name) || asset.name === 'Activo no resuelto') unresolvedAssetCount++;\n\n  const rawOld = getBestFriendlyValue(f, 'old');\n  const rawNew = getBestFriendlyValue(f, 'new');\n  const isStatus = statusFields.includes(attcode);\n  const isLocation = locationFields.includes(attcode);\n  const type = isStatus ? 'Cambio de estado' : isLocation ? 'Cambio de bodega' : `Cambio ${attcode}`;\n\n  const oldLocation = isLocation ? resolveLocationValue(rawOld, asset.locationId, asset.location) : '';\n  const newLocation = isLocation ? resolveLocationValue(rawNew, asset.locationId, asset.location) : '';\n  if (isLocation && (/^Localidad ID \\d+$/.test(oldLocation) || /^Localidad ID \\d+$/.test(newLocation))) unresolvedLocationCount++;\n\n  movements.push({\n    dateRaw: changeInfo.date,\n    movementType: type,\n    assetName: asset.name,\n    classType: asset.classType,\n    serial: asset.serial,\n    oldStatus: isStatus ? normalizeStatus(rawOld) : '',\n    newStatus: isStatus ? normalizeStatus(rawNew) : '',\n    oldLocation,\n    newLocation,\n    oldUser: '',\n    newUser: '',\n    operator: changeInfo.userinfo || '-',\n    origin: changeInfo.origin || '-',\n    changeRef: changeInfo.id || getField(f, ['change_id', 'change', 'change_id_friendlyname'], '-'),\n  });\n}\n\n// -----------------------------------------------------------------------------\n// 4) Movimientos de usuario/contacto.\n// -----------------------------------------------------------------------------\nfor (const row of userRows) {\n  const f = row.fields || row;\n  const changeInfo = getChangeInfo(f);\n  const opClass = String(getField(f, ['finalclass', 'class', 'class_friendlyname'], '')).toLowerCase();\n  const operation = String(getField(f, ['operation', 'op'], '')).toLowerCase();\n  const isDelete = opClass.includes('delete') || opClass.includes('remove') || operation.includes('delete') || operation.includes('remove');\n  const isCreate = opClass.includes('create') || opClass.includes('add') || operation.includes('create') || operation.includes('add');\n  const type = isDelete ? 'Remoción de usuario' : isCreate ? 'Asignación de usuario' : 'Cambio de usuario';\n\n  const relationObjKey = getField(f, ['objkey', 'obj_key', 'object_id', 'object_key'], '', { preferId: true });\n  const relationId = normalizeKey(relationObjKey);\n  const hist = relationHistoryMap.get(relationId) || {};\n  const linkFriendly = getField(f, ['objkey_friendlyname', 'object_friendlyname', 'friendlyname', 'friendly_name', 'name'], '');\n\n  const assetId = hist.assetId || '';\n  const assetNameFromFriendly = cleanAssetName(linkFriendly);\n  const contactFromFriendly = cleanContactName(linkFriendly);\n  const contact = cleanContactName(hist.contactName || getField(f, ['contact_id_friendlyname', 'person_id_friendlyname', 'user_id_friendlyname', 'contact_name'], '') || contactFromFriendly);\n  const asset = assetId ? getAssetById(assetId, hist.assetName || assetNameFromFriendly) : getAssetById('', hist.assetName || assetNameFromFriendly);\n\n  if (asset.name === 'Activo no resuelto' || looksLikeCiCode(asset.name)) unresolvedAssetCount++;\n\n  movements.push({\n    dateRaw: changeInfo.date,\n    movementType: type,\n    assetName: asset.name,\n    classType: asset.classType,\n    serial: asset.serial,\n    oldStatus: '',\n    newStatus: '',\n    oldLocation: '',\n    newLocation: '',\n    oldUser: type === 'Remoción de usuario' ? (contact || '-') : '',\n    newUser: type !== 'Remoción de usuario' ? (contact || '-') : '',\n    operator: changeInfo.userinfo || '-',\n    origin: changeInfo.origin || '-',\n    changeRef: changeInfo.id || getField(f, ['change_id', 'change', 'change_id_friendlyname'], '-'),\n  });\n}\n\nfunction isUnresolvedAssetName(value) {\n  const text = String(value ?? '').trim();\n  return isBlank(text)\n    || text === 'Activo no resuelto'\n    || text.toLowerCase().includes('no resuelto')\n    || looksLikeCiCode(text)\n    || /^\\d+$/.test(text);\n}\n\n// Se excluye cualquier movimiento sin activo CMDB resuelto.\n// Esto evita mostrar filas operativamente ambiguas como \"Activo no resuelto\".\nconst unresolvedAssetMovements = movements.filter(m => isUnresolvedAssetName(m.assetName));\nconst reportMovements = movements.filter(m => !isUnresolvedAssetName(m.assetName));\n\nreportMovements.sort((a, b) => {\n  const da = parseMaybeDate(a.dateRaw)?.getTime() || 0;\n  const db = parseMaybeDate(b.dateRaw)?.getTime() || 0;\n  if (db !== da) return db - da;\n  return String(a.assetName).localeCompare(String(b.assetName), 'es');\n});\n\nconst counts = movements.reduce((acc, m) => { acc[m.movementType] = (acc[m.movementType] || 0) + 1; return acc; }, {});\nconst visibleCounts = reportMovements.reduce((acc, m) => { acc[m.movementType] = (acc[m.movementType] || 0) + 1; return acc; }, {});\nconst countStatus = counts['Cambio de estado'] || 0;\nconst countLocation = counts['Cambio de bodega'] || 0;\nconst countAssign = counts['Asignación de usuario'] || 0;\nconst countRemove = counts['Remoción de usuario'] || 0;\nconst unresolvedAssetHiddenCount = unresolvedAssetMovements.length;\nconst unresolvedUserRemovalCount = unresolvedAssetMovements.filter(m => m.movementType === 'Remoción de usuario').length;\n\nconst movementRows = reportMovements.map(m => `<tr>\n  ${td(`<strong>${escapeHtml(m.assetName)}</strong>`)}\n  ${td(movementBadge(m.movementType))}\n  ${td(escapeHtml(fmtDate(m.dateRaw)))}\n  ${td(escapeHtml(m.operator || '-'))}\n  ${td(escapeHtml(movementPreviousValue(m)))}\n  ${td(escapeHtml(movementNewValue(m)))}\n</tr>`).join('');\n\nconst csvHeaders = ['Equipo','Movimiento','Fecha','Agente responsable','Valor anterior','Valor nuevo','Clase/Tipo','Serie','Origen','Referencia cambio'];\nconst csvRows = reportMovements.map(m => [m.assetName, m.movementType, fmtDate(m.dateRaw), m.operator, movementPreviousValue(m), movementNewValue(m), m.classType, m.serial, m.origin, m.changeRef]);\nconst csvContent = '\\uFEFF' + [csvHeaders.map(csvEscape).join(';'), ...csvRows.map(row => row.map(csvEscape).join(';'))].join('\\r\\n');\nconst generatedAt = new Date().toLocaleString('es-CL', { timeZone: timezone, year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' });\nconst generatedAtFile = new Date().toISOString().replace(/[:.]/g, '-').replace('T', '_').slice(0, 19);\nconst subjectBase = String(config.email_subject || 'Reporte CMDB - movimientos de inventario').trim();\nconst emailSubject = `${subjectBase} - ${itopOrganization} - últimos ${config.movement_days} días`;\n\nreturn [{\n  json: {\n    flags: config.flags || {},\n    include_attachment: config.flags?.include_attachment ?? config.include_attachment,\n    include_detail: config.flags?.include_detail ?? config.include_detail,\n    include_summary: config.flags?.include_summary ?? config.include_summary,\n    include_operational_notes: config.flags?.include_operational_notes ?? config.include_operational_notes,\n    include_itop_button_footer: config.flags?.include_itop_button_footer ?? config.include_itop_button_footer,\n    email_from: config.email_from,\n    email_to: config.email_to,\n    email_cc: config.email_cc || '',\n    email_bcc: config.email_bcc || '',\n    email_subject: emailSubject,\n    company,\n    itop_organization: itopOrganization,\n    itop_url: config.itop_url || '#',\n    generated_at: generatedAt,\n    movement_days: String(config.movement_days),\n    since_date_display: config.since_date_display,\n    until_date_display: config.until_date_display,\n    total_movements: String(movements.length),\n    reported_movements: String(reportMovements.length),\n    status_movement_count: String(countStatus),\n    location_movement_count: String(countLocation),\n    assignment_count: String(countAssign),\n    removal_count: String(countRemove),\n    unresolved_location_count: String(unresolvedLocationCount),\n    unresolved_asset_count: String(unresolvedAssetCount),\n    unresolved_user_removal_count: String(unresolvedUserRemovalCount),\n    unresolved_asset_hidden_count: String(unresolvedAssetHiddenCount),\n    visible_status_movement_count: String(visibleCounts['Cambio de estado'] || 0),\n    visible_location_movement_count: String(visibleCounts['Cambio de bodega'] || 0),\n    visible_assignment_count: String(visibleCounts['Asignación de usuario'] || 0),\n    visible_removal_count: String(visibleCounts['Remoción de usuario'] || 0),\n    movement_rows: movementRows || '<tr><td colspan=\"6\" style=\"padding:12px; font-size:12px; color:#64748b;\">No se detectaron movimientos de inventario con activo CMDB resuelto para la ventana consultada.</td></tr>',\n    csv_filename: `cmdb_movimientos_inventario_${generatedAtFile}.csv`,\n  },\n  binary: {\n    csv: {\n      data: Buffer.from(csvContent, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName: `cmdb_movimientos_inventario_${generatedAtFile}.csv`,\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32240,
        14256
      ],
      "id": "7e20c295-fa98-4d6e-b045-2f6b9c6ae123",
      "name": "Preparar datos reporte"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst data = input.json || {};\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction th(text, align = 'left') {\n  return `<th align=\"${align}\" style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:${align}; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap;\">${escapeHtml(text)}</th>`;\n}\n\n\n\nfunction getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nfunction flagEnabled(name, fallback = true) {\n  const trigger = getNodeJson('SetTrigger - Flujo');\n  const mixed = getNodeJson('SetMixed - Configuracion efectiva');\n  const value = trigger[name] ?? trigger.flags?.[name] ?? data[name] ?? data.flags?.[name] ?? mixed[name] ?? mixed.flags?.[name];\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si', 's', 'on', 'enabled'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', 'off', 'disabled'].includes(text)) return false;\n  return fallback;\n}\n\nfunction removeOuterRowByMarker(html, marker) {\n  let index = html.indexOf(marker);\n  if (index === -1) return html;\n  const starts = ['\\n      <tr><td', '\\n                        <tr><td', '\\n                        <tr><td align', '\\n      <tr><td align'];\n  let start = -1;\n  for (const token of starts) {\n    const candidate = html.lastIndexOf(token, index);\n    if (candidate > start) start = candidate;\n  }\n  if (start === -1) start = html.lastIndexOf('<tr><td', index);\n  if (start === -1) return html;\n  let end = html.indexOf('\\n\\n      <tr><td', index);\n  const endAlt = html.indexOf('\\n\\n                        <tr><td', index);\n  if (end === -1 || (endAlt !== -1 && endAlt < end)) end = endAlt;\n  const footerAlt = html.indexOf('\\n      <tr><td style=\"background-color', index);\n  if (end === -1 || (footerAlt !== -1 && footerAlt < end)) end = footerAlt;\n  const footerAlt2 = html.indexOf('\\n                        <tr><td style=\"background-color', index);\n  if (end === -1 || (footerAlt2 !== -1 && footerAlt2 < end)) end = footerAlt2;\n  if (end === -1) {\n    const close = html.indexOf('</td></tr>', index);\n    if (close === -1) return html;\n    end = close + '</td></tr>'.length;\n  }\n  return html.slice(0, start) + html.slice(end);\n}\n\nfunction removeNextOuterRowAfterMarker(html, marker) {\n  const index = html.indexOf(marker);\n  if (index === -1) return html;\n  const firstEnd = html.indexOf('\\n\\n      <tr><td', index);\n  const firstEndAlt = html.indexOf('\\n\\n                        <tr><td', index);\n  let start = firstEnd;\n  if (start === -1 || (firstEndAlt !== -1 && firstEndAlt < start)) start = firstEndAlt;\n  if (start === -1) return html;\n  let end = html.indexOf('\\n\\n      <tr><td', start + 1);\n  const endAlt = html.indexOf('\\n\\n                        <tr><td', start + 1);\n  if (end === -1 || (endAlt !== -1 && endAlt < end)) end = endAlt;\n  if (end === -1) return html;\n  return html.slice(0, start) + html.slice(end);\n}\n\nfunction applyVisualFlags(html) {\n  if (!flagEnabled('include_summary')) {\n    html = removeNextOuterRowAfterMarker(html, 'Resumen ejecutivo');\n    html = removeOuterRowByMarker(html, 'Resumen ejecutivo');\n  }\n  if (!flagEnabled('include_detail')) {\n    for (const marker of [\n      'Detalle operacional',\n      'Tickets abiertos pendientes',\n      'Tickets abiertos por agente',\n      'Tickets con más de 14 días abiertos',\n      'Tickets abiertos hasta 14 días',\n      'older_section',\n      'recent_section',\n      'ticket_sections',\n      'data-table',\n      'ticket-table'\n    ]) {\n      let previous;\n      do {\n        previous = html;\n        html = removeOuterRowByMarker(html, marker);\n      } while (html !== previous);\n    }\n  }\n  if (!flagEnabled('include_operational_notes')) {\n    html = removeOuterRowByMarker(html, 'Observaciones operacionales');\n  }\n  if (!flagEnabled('include_itop_button_footer')) {\n    html = removeOuterRowByMarker(html, 'Abrir Combodo iTop');\n  }\n  return html;\n}\n\nconst template = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Reporte CMDB - movimientos de inventario</title>\n  <style type=\"text/css\">\n    body { margin:0; padding:0; background-color:#eef2f6; font-family:Arial, Helvetica, sans-serif; color:#1f2937; }\n    table { border-collapse:collapse; }\n    a { color:#1d4ed8; text-decoration:none; }\n    .wrapper { width:100%; background-color:#eef2f6; padding:24px 0; }\n    .container { width:100%; max-width:1000px; background-color:#ffffff; border:1px solid #d9e2ec; }\n    .mobile-padding { padding-left:28px; padding-right:28px; }\n    .summary-card { padding:4px; }\n    .data-table th { background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap; }\n    .data-table td { font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top; }\n    .section-title { font-size:18px; line-height:24px; font-weight:bold; color:#111827; margin-bottom:8px; }\n    .section-subtitle { font-size:12px; line-height:18px; color:#6b7280; margin-bottom:10px; }\n    .badge { display:inline-block; padding:4px 8px; border-radius:12px; font-size:11px; font-weight:bold; line-height:14px; white-space:nowrap; }\n    .badge-green { background-color:#dcfce7; color:#166534; border:1px solid #bbf7d0; }\n    .badge-blue { background-color:#dbeafe; color:#1e3a8a; border:1px solid #bfdbfe; }\n    .badge-yellow { background-color:#fef9c3; color:#854d0e; border:1px solid #fde68a; }\n    .badge-orange { background-color:#ffedd5; color:#9a3412; border:1px solid #fed7aa; }\n    .badge-gray { background-color:#f3f4f6; color:#374151; border:1px solid #e5e7eb; }\n    @media only screen and (max-width:760px) { .container{width:100%!important;} .mobile-padding{padding-left:14px!important;padding-right:14px!important;} .summary-card{width:100%!important;display:block!important;margin-bottom:8px!important;} .table-scroll{overflow-x:auto!important;display:block!important;width:100%!important;} }\n  </style>\n</head>\n<body style=\"margin:0; padding:0; background-color:#eef2f6; font-family:Arial, Helvetica, sans-serif; color:#1f2937;\">\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"wrapper\"><tr><td align=\"center\">\n    <table role=\"presentation\" width=\"1000\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"container\">\n      <tr><td style=\"background-color:#0f172a; padding:24px 28px;\" class=\"mobile-padding\">\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n          <td valign=\"top\" style=\"width:65%;\">\n            <div style=\"font-size:13px; line-height:18px; color:#93c5fd; font-weight:bold; letter-spacing:0.4px;\">Automatización ITSM / CMDB</div>\n            <div style=\"font-size:26px; line-height:32px; color:#ffffff; font-weight:bold; margin-top:6px;\">Movimientos de inventario CMDB</div>\n            <div style=\"font-size:14px; line-height:20px; color:#cbd5e1; margin-top:6px;\">Cambios de estado, bodega y asignación de usuarios desde Combodo iTop</div>\n            <div style=\"font-size:12px; line-height:18px; color:#cbd5e1; margin-top:8px;\"><strong style=\"color:#ffffff;\">Organización iTop:</strong> {{itop_organization}}</div>\n          </td>\n          <td valign=\"top\" align=\"right\" style=\"width:35%; font-size:12px; line-height:18px; color:#cbd5e1; text-align:right;\"><strong style=\"color:#ffffff;\">Generado:</strong><br>{{generated_at}}<br><br><strong style=\"color:#ffffff;\">Fuente:</strong><br>Producción / iTop CMDB</td>\n        </tr></table>\n      </td></tr>\n\n      <tr><td style=\"padding:24px 28px 12px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Resumen ejecutivo</div>\n        <div style=\"font-size:13px; line-height:19px; color:#6b7280; margin-top:4px;\">Movimientos de inventario detectados durante los últimos <strong>{{movement_days}}</strong> días, entre <strong>{{since_date_display}}</strong> y <strong>{{until_date_display}}</strong>. Se consideran movimientos los cambios de estado, cambios de bodega/localidad, asignación de usuario/contacto y remoción de usuario/contacto.</div>\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 18px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\"><tr>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #cbd5e1; background-color:#f8fafc;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#475569; font-weight:bold;\">TOTAL MOVIMIENTOS</div><div style=\"font-size:24px; color:#0f172a; font-weight:bold;\">{{total_movements}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #bbf7d0; background-color:#f0fdf4;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#166534; font-weight:bold;\">CAMBIO ESTADO</div><div style=\"font-size:24px; color:#166534; font-weight:bold;\">{{status_movement_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #bfdbfe; background-color:#eff6ff;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#1e3a8a; font-weight:bold;\">CAMBIO BODEGA</div><div style=\"font-size:24px; color:#1e3a8a; font-weight:bold;\">{{location_movement_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #fed7aa; background-color:#fff7ed;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#9a3412; font-weight:bold;\">ASIGNACIONES</div><div style=\"font-size:24px; color:#9a3412; font-weight:bold;\">{{assignment_count}}</div></td></tr></table></td>\n        <td class=\"summary-card\" width=\"20%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #e5e7eb; background-color:#f9fafb;\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:#374151; font-weight:bold;\">REMOCIONES</div><div style=\"font-size:24px; color:#374151; font-weight:bold;\">{{removal_count}}</div></td></tr></table></td>\n      </tr></table></td></tr>\n\n      <tr><td style=\"padding:0 28px 20px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #e5e7eb; background-color:#f9fafb;\"><tr><td style=\"padding:12px 14px;\">\n        <div style=\"font-size:13px; line-height:18px; font-weight:bold; color:#111827; margin-bottom:8px;\">Criterio del reporte</div>\n        <div style=\"font-size:12px; line-height:18px; color:#374151;\">Este reporte resume los movimientos de inventario registrados durante la ventana seleccionada, permitiendo revisar cambios relevantes sobre activos CMDB, tales como variaciones de estado, traslados entre bodegas o localidades, asignaciones y remociones de usuarios o contactos asociados.<br><br></div>\n      </td></tr></table></td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\">\n        <div class=\"section-title\">Detalle de movimientos</div><div class=\"section-subtitle\">Listado consolidado sin agrupación. Se muestran únicamente movimientos asociados a un activo CMDB resuelto, ordenados desde el más reciente al más antiguo.</div>\n        <div class=\"table-scroll\" style=\"width:100%; overflow-x:auto;\"><table role=\"presentation\" width=\"100%\" class=\"data-table\" style=\"width:100%; border:1px solid #dbe3ec;\"><thead><tr>${th('Equipo')}${th('Movimiento')}${th('Fecha')}${th('Agente (responsable)')}${th('Valor anterior')}${th('Valor nuevo')}</tr></thead><tbody>{{movement_rows}}</tbody></table></div>\n      </td></tr>\n\n      <tr><td style=\"padding:0 28px 24px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid #dbe3ec; background-color:#f8fafc;\"><tr><td style=\"padding:16px 18px;\"><div style=\"font-size:15px; line-height:21px; color:#111827; font-weight:bold; margin-bottom:8px;\">Observaciones operacionales</div><ul style=\"margin:0; padding-left:18px; color:#374151; font-size:13px; line-height:20px;\"><li>Este reporte fue generado automáticamente por \"Automatización ITSM / CMDB\".</li><li>Organización iTop considerada en el reporte: <strong>{{itop_organization}}</strong>.</li><li>Se adjunta un CSV único con los movimientos mostrados en el detalle principal.</li><li>Si una fecha aparece incompleta o no permite identificar claramente el evento, confirme el detalle directamente en iTop con el registro del activo o con el historial de cambios asociado.</li></ul></td></tr></table></td></tr>\n\n      <tr><td align=\"center\" style=\"padding:0 28px 26px 28px;\" class=\"mobile-padding\"><table role=\"presentation\"><tr><td align=\"center\" bgcolor=\"#1d4ed8\" style=\"background-color:#1d4ed8; padding:11px 20px;\"><a href=\"{{itop_url}}\" target=\"_blank\" style=\"font-size:13px; line-height:18px; color:#ffffff; font-weight:bold; text-decoration:none; display:inline-block;\">Abrir Combodo iTop</a></td></tr></table></td></tr>\n      <tr><td style=\"background-color:#f1f5f9; border-top:1px solid #dbe3ec; padding:18px 28px;\" class=\"mobile-padding\"><table role=\"presentation\" width=\"100%\"><tr><td style=\"font-size:12px; line-height:18px; color:#64748b;\"><strong style=\"color:#334155;\">Automatización ITSM / CMDB</strong><br>{{company}}<br>Correo generado automáticamente. No responder a este mensaje.</td><td align=\"right\" style=\"font-size:12px; line-height:18px; color:#64748b;\">Generado:<br>{{generated_at}}</td></tr></table></td></tr>\n    </table>\n  </td></tr></table>\n</body>\n</html>`;\n\nlet html = template;\nfor (const [key, value] of Object.entries(data)) html = html.replaceAll(`{{${key}}}`, String(value ?? ''));\n\nhtml = applyVisualFlags(html);\n\nreturn [{ json: { ...data, html }, binary: input.binary || {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32464,
        14256
      ],
      "id": "7bd11f54-5dea-4625-8ae6-2c14a3d9f10d",
      "name": "HTML - Template Reporte"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from }}",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ $json.attachment_binary_names }}",
          "ccEmail": "={{ $json.email_cc }}",
          "bccEmail": "={{ $json.email_bcc }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        32688,
        14256
      ],
      "id": "bb82e359-2f9d-4cfd-b453-3ab2c72c1b8f",
      "name": "Enviar correo SMTP",
      "webhookId": "31ca44c3-2daa-4ffe-9de3-99e87c77b4ff",
      "credentials": {
        "smtp": {
          "id": "m5LS8f8n5D8bPQrN",
          "name": "SMTP_MailPit"
        }
      }
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "CMDBChange",
        "key": "={{ $json.change_oql }}",
        "output_fields": "id,date,userinfo,origin",
        "limit": "={{ Math.max(1, Number($json.affected_change_count || 1)) }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        31792,
        14432
      ],
      "id": "bf106a50-5119-4afa-b06a-28049f349b5c",
      "name": "iTop - Cambios CMDB",
      "alwaysOutputData": true,
      "credentials": {
        "iTopTokenApi": {
          "id": "KSBBVlgbETeCqYUP",
          "name": "iTopToken_GF_QA"
        }
      },
      "notes": "Lookup acotado de cambios CMDB. Permite recuperar fecha, agente responsable y origen sin volver a usar selector * en los nodos de operaciones."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32016,
        14256
      ],
      "id": "0169826a-c490-4303-b3eb-b792e2604bea",
      "name": "Unificar datos complementarios"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cmdb-movimientos-recientes-inventario",
        "options": {},
        "authentication": "headerAuth",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        30000,
        13872
      ],
      "id": "834a750b-5873-433e-81e5-ab806771a87f",
      "name": "Webhook - ejecucion externa",
      "webhookId": "5f85bb6e-2aac-4c7e-8a8f-fe5cec5d2f9b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WNX33Gh3cUP4WGLz",
          "name": "HeaderAuth_GF_QA"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        30000,
        14256
      ],
      "id": "2b6961d1-87f2-49f3-8a1b-cd22fc369362",
      "name": "Cron - lunes 07:00"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "puR8KZ9UFvq5zRqX",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/puR8KZ9UFvq5zRqX",
          "cachedResultName": "SYS - Configuracion base reportes correo"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "78480a79-349f-45fe-be5e-bc0807146b26",
      "name": "SubWorkflow - SetBase reportes correo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        30480,
        14064
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first()?.json || {};\nconst trigger = $('SetTrigger - Flujo').first()?.json || {};\n\nfunction normalizeBoolean(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si'].includes(text)) return true;\n  if (['false', '0', 'no', 'n'].includes(text)) return false;\n  return fallback;\n}\n\nconst flags = { ...(base.flags || {}) };\nfor (const key of ['include_attachment', 'include_detail', 'include_summary', 'include_operational_notes', 'include_itop_button_footer', 'send_email', 'include_requirements', 'include_incidents', 'include_changes', 'include_problems']) {\n  if (trigger[key] !== undefined && trigger[key] !== null && trigger[key] !== '') {\n    flags[key] = normalizeBoolean(trigger[key], flags[key]);\n  }\n}\n\nconst setMixed = {\n  ...base,\n  ...trigger,\n  flags,\n  config_source: 'SetBase + SetTrigger',\n};\n\nfor (const [key, value] of Object.entries(flags)) {\n  if (setMixed[key] === undefined || setMixed[key] === null || setMixed[key] === '') setMixed[key] = value;\n}\n\nreturn [{ json: setMixed }];"
      },
      "id": "84f158c0-40f3-4152-9753-f3faba8a4bb3",
      "name": "Config Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30704,
        14064
      ]
    },
    {
      "parameters": {
        "jsCode": "function getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nfunction mergeFlags(...sources) {\n  const flags = {};\n  for (const source of sources) {\n    if (!source) continue;\n    Object.assign(flags, source.flags || {});\n    for (const key of ['include_attachment','include_detail','include_summary','include_operational_notes','include_itop_button_footer','send_email','include_requirements','include_incidents','include_changes','include_problems']) {\n      if (source[key] !== undefined && source[key] !== null && source[key] !== '') flags[key] = normalizeBoolean(source[key], flags[key]);\n    }\n  }\n  return flags;\n}\n\nfunction normalizeBoolean(value, fallback = true) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si', 's', 'on', 'enabled'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', 'off', 'disabled'].includes(text)) return false;\n  return fallback;\n}\n\nfunction flagEnabled(data, name, fallback = true) {\n  return normalizeBoolean(data[name] ?? data.flags?.[name], fallback);\n}\n\nfunction removeOuterRowByMarker(html, marker) {\n  const index = html.indexOf(marker);\n  if (index === -1) return html;\n  const starts = ['\\n      <tr><td', '\\n                        <tr><td', '<tr><td', '<tr>'];\n  let start = -1;\n  for (const needle of starts) {\n    const pos = html.lastIndexOf(needle, index);\n    if (pos !== -1 && pos > start) start = pos;\n  }\n  if (start === -1) start = Math.max(0, index - 200);\n  const ends = ['\\n      <tr><td', '\\n                        <tr><td', '\\n      <tr><td style=\"background-color', '\\n                        <tr><td style=\"background-color'];\n  let end = -1;\n  for (const needle of ends) {\n    const pos = html.indexOf(needle, index + marker.length);\n    if (pos !== -1 && (end === -1 || pos < end)) end = pos;\n  }\n  if (end === -1) {\n    const close = html.indexOf('</td></tr>', index);\n    end = close === -1 ? index + marker.length : close + '</td></tr>'.length;\n  }\n  return html.slice(0, start) + html.slice(end);\n}\n\nfunction removeAllRowsByMarker(html, marker) {\n  let previous;\n  do {\n    previous = html;\n    html = removeOuterRowByMarker(html, marker);\n  } while (html !== previous);\n  return html;\n}\n\nfunction removeTablesByClass(html) {\n  return html\n    .replace(/<table\\b[^>]*class=[\"'][^\"']*(?:data-table|ticket-table)[^\"']*[\"'][\\s\\S]*?<\\/table>/gi, '')\n    .replace(/<table\\b[^>]*(?:data-table|ticket-table)[^>]*>[\\s\\S]*?<\\/table>/gi, '');\n}\n\nfunction applyVisualFlags(html, data) {\n  if (!html) return html;\n  if (!flagEnabled(data, 'include_summary', true)) {\n    for (const marker of ['Resumen ejecutivo', 'TOTAL ACTIVOS', 'TOTAL CON CONTACTO', 'TOTAL TICKETS', 'TOTAL CAMBIOS', 'TOTAL MOVIMIENTOS']) html = removeAllRowsByMarker(html, marker);\n  }\n  if (!flagEnabled(data, 'include_detail', true)) {\n    for (const marker of [\n      'Detalle operacional',\n      'Detalle de activos',\n      'Detalle de tickets',\n      'Detalle por agente',\n      'Detalle por antig?edad',\n      'Resumen por estado',\n      'Resumen por bodega/localidad',\n      'Resumen por clase',\n      'Activos por clase',\n      'Por revisar',\n      'Tickets abiertos',\n      'Tickets abiertos pendientes',\n      'Tickets abiertos por agente',\n      'Tickets con m?s de 14 d?as abiertos',\n      'Tickets abiertos hasta 14 d?as',\n      'Movimientos recientes',\n      'data-table',\n      'ticket-table'\n    ]) html = removeAllRowsByMarker(html, marker);\n    html = removeTablesByClass(html);\n    html = html.replace(/\\.data-table[\\s\\S]*?\\}/g, '').replace(/\\.ticket-table[\\s\\S]*?\\}/g, '');\n  }\n  if (!flagEnabled(data, 'include_operational_notes', true)) html = removeAllRowsByMarker(html, 'Observaciones operacionales');\n  if (!flagEnabled(data, 'include_itop_button_footer', true)) html = removeAllRowsByMarker(html, 'Abrir Combodo iTop');\n  return html;\n}\n\nreturn $input.all().map((item) => {\n  const configReporte = getNodeJson('Config Reporte');\n  const setMixed = getNodeJson('SetMixed - Configuracion efectiva');\n  const setTrigger = getNodeJson('SetTrigger - Flujo');\n  const itemJson = item.json || {};\n  const flags = mergeFlags(configReporte, setMixed, itemJson, setTrigger);\n  const data = { ...configReporte, ...setMixed, ...itemJson, ...setTrigger, flags };\n  for (const [key, value] of Object.entries(flags)) data[key] = value;\n\n  const includeAttachment = flagEnabled(data, 'include_attachment', true);\n  const binary = includeAttachment ? (item.binary || {}) : {};\n  const html = applyVisualFlags(data.html, data);\n\n  return {\n    json: {\n      ...data,\n      html,\n      include_attachment_effective: includeAttachment,\n      attachment_binary_names: includeAttachment && binary.csv ? 'csv' : '',\n      has_csv_binary: Boolean(binary.csv),\n    },\n    binary,\n  };\n});"
      },
      "id": "2c36967a-ba4c-40e3-b8a3-da95d8ef4d0a",
      "name": "Aplicar flags envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32688,
        14256
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item?.json?.body || {};\nconst errors = [];\n\nfunction text(name) {\n  return String(body[name] ?? '').trim();\n}\n\nfunction positiveNumber(name) {\n  const raw = body[name];\n  if (raw === undefined || raw === null || raw === '') return false;\n  const n = Number(raw);\n  return Number.isFinite(n) && n > 0;\n}\n\nfunction validDateText(name) {\n  const value = text(name);\n  if (!value) return false;\n  const parsed = new Date(value.replace(' ', 'T'));\n  return !Number.isNaN(parsed.getTime());\n}\n\nfunction dateWindowState() {\n  const hasStart = text('start_date').length > 0;\n  const hasEnd = text('end_date').length > 0;\n  if (!hasStart && !hasEnd) return { provided: false, valid: false };\n  if (!hasStart || !hasEnd) return { provided: true, valid: false, error: 'start_date y end_date deben enviarse juntos.' };\n  if (!validDateText('start_date') || !validDateText('end_date')) return { provided: true, valid: false, error: 'start_date y end_date deben ser fechas validas.' };\n  const start = new Date(text('start_date').replace(' ', 'T'));\n  const end = new Date(text('end_date').replace(' ', 'T'));\n  if (start > end) return { provided: true, valid: false, error: 'start_date no puede ser mayor que end_date.' };\n  return { provided: true, valid: true };\n}\n\nif (!text('email_to')) {\n  errors.push('email_to es obligatorio para llamadas webhook.');\n}\n\nconst webhookPath = 'cmdb-movimientos-recientes-inventario';\nconst window = dateWindowState();\n\nif (webhookPath === 'cmdb-movimientos-recientes-inventario') {\n  const hasMovementDays = positiveNumber('movement_days');\n  if (!hasMovementDays && !window.valid) {\n    errors.push(window.error || 'Debe enviar movement_days positivo o la ventana start_date + end_date.');\n  }\n}\n\nif (webhookPath === 'cmdb-activos-proximos-vencer-garantia') {\n  if (!positiveNumber('warranty_warning_months')) {\n    errors.push('warranty_warning_months es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (webhookPath === 'itsm-tickets-sin-actualizacion-24h') {\n  if (!positiveNumber('stale_threshold_hours')) {\n    errors.push('stale_threshold_hours es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (window.provided && !window.valid && webhookPath !== 'cmdb-movimientos-recientes-inventario') {\n  errors.push(window.error || 'Ventana de fechas invalida.');\n}\n\nconst valid = errors.length === 0;\n\nreturn [{\n  json: {\n    ...(item.json || {}),\n    webhook_contract: {\n      valid,\n      status_code: valid ? 202 : 400,\n      message: valid ? 'Workflow accepted' : errors.join(' '),\n      errors,\n    },\n  },\n  binary: item.binary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30240,
        13872
      ],
      "id": "8695465d-6254-4afd-a719-505c9b044c4f",
      "name": "Validar webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $json.webhook_contract.message, \"accepted\": $json.webhook_contract.valid } }}",
        "options": {
          "responseCode": "={{ $json.webhook_contract.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        30480,
        13872
      ],
      "id": "9d6bfd11-b71a-47df-a0fe-2a8841e43312",
      "name": "Responder webhook"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json || {};\n\nif (!json.webhook_contract?.valid) {\n  return [];\n}\n\nconst { webhook_contract, ...cleanJson } = json;\nreturn [{ json: cleanJson, binary: item.binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30720,
        13872
      ],
      "id": "af52f4fd-63e9-4949-8c3a-8975e38a9220",
      "name": "Continuar webhook valido"
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar ventana de consulta": {
      "main": [
        [
          {
            "node": "iTop - Movimientos atributos",
            "type": "main",
            "index": 0
          },
          {
            "node": "iTop - Movimientos usuarios",
            "type": "main",
            "index": 0
          },
          {
            "node": "iTop - Histórico relación usuario-activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Movimientos atributos": {
      "main": [
        [
          {
            "node": "Unificar movimientos base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Movimientos usuarios": {
      "main": [
        [
          {
            "node": "Unificar movimientos base",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unificar movimientos base": {
      "main": [
        [
          {
            "node": "Unificar histórico usuario-activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Histórico relación usuario-activo": {
      "main": [
        [
          {
            "node": "Unificar histórico usuario-activo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unificar histórico usuario-activo": {
      "main": [
        [
          {
            "node": "Preparar consulta activos afectados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar consulta activos afectados": {
      "main": [
        [
          {
            "node": "iTop - Activos afectados",
            "type": "main",
            "index": 0
          },
          {
            "node": "iTop - Localidades afectadas",
            "type": "main",
            "index": 0
          },
          {
            "node": "iTop - Cambios CMDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Activos afectados": {
      "main": [
        [
          {
            "node": "Unificar activos y localidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos reporte": {
      "main": [
        [
          {
            "node": "HTML - Template Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Template Reporte": {
      "main": [
        [
          {
            "node": "Aplicar flags envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Localidades afectadas": {
      "main": [
        [
          {
            "node": "Unificar activos y localidades",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unificar activos y localidades": {
      "main": [
        [
          {
            "node": "Unificar datos complementarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Cambios CMDB": {
      "main": [
        [
          {
            "node": "Unificar datos complementarios",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unificar datos complementarios": {
      "main": [
        [
          {
            "node": "Preparar datos reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetTrigger - Flujo": {
      "main": [
        [
          {
            "node": "SubWorkflow - SetBase reportes correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SubWorkflow - SetBase reportes correo": {
      "main": [
        [
          {
            "node": "Config Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Reporte": {
      "main": [
        [
          {
            "node": "Preparar ventana de consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - ejecucion externa": {
      "main": [
        [
          {
            "node": "Validar webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - lunes 07:00": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar flags envio": {
      "main": [
        [
          {
            "node": "Enviar correo SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar webhook": {
      "main": [
        [
          {
            "node": "Responder webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder webhook": {
      "main": [
        [
          {
            "node": "Continuar webhook valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar webhook valido": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "69567aa0-678d-4f5f-b1fe-53dea29f2c5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ad3b920e2d3586b0e2fb892d909337f22ce15cbde2c7354c038d868efea76ad"
  },
  "tags": [],
  "triggerCount": 0
}
