APP/config/n8n/WorkFlow_v3/CMDB - Activos sin contacto asignado - SMTP.json
{
  "name": "CMDB - Activos sin contacto asignado - SMTP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        9792,
        2304
      ],
      "id": "f4a0a0db-00e8-41cc-88ee-110f9949b4ed",
      "name": "Ejecutar manualmente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2584a8c-2d1b-40cb-be72-244ee41e46f9",
              "name": "email_subject",
              "value": "CMDB - activos productivos sin contacto asignado",
              "type": "string"
            },
            {
              "id": "f6956bc6-d773-48ed-8f57-954fb21df1dc",
              "name": "report_mode",
              "value": "without_contact_production",
              "type": "string"
            },
            {
              "id": "2e8444b4-1b6b-4fb4-89b5-04fbc8ae6f78",
              "name": "csv_basename",
              "value": "cmdb_activos_sin_contacto",
              "type": "string"
            },
            {
              "id": "c648d9d2-09e9-4af7-8432-3ccd8acec76a",
              "name": "report_title",
              "value": "CMDB - Activos sin contacto asignado",
              "type": "string"
            },
            {
              "id": "198769f5-6c04-4454-8041-7307b0d627f8",
              "name": "report_description",
              "value": "={{ \"Vista consolidada de activos f\\u00edsicos en estado Productivo que no presentan contacto responsable asociado para la organizaci\\u00f3n Minera GoldFields Chile.\" }}",
              "type": "string"
            },
            {
              "id": "c7f55878-2883-4658-a851-a7435def19ba",
              "name": "operational_notes",
              "value": "={{ \"Este reporte fue generado autom\\u00e1ticamente por \\\"Automatizaci\\u00f3n ITSM / CMDB\\\".\\nOrganizaci\\u00f3n iTop considerada en el reporte: Minera GoldFields Chile.\\nSe adjunta un CSV \\u00fanico con el volcado consolidado del resumen CMDB.\" }}",
              "type": "string"
            },
            {
              "id": "4decc520-c11b-4f79-ae4c-348a79db247d",
              "name": "report_template_key",
              "value": "cmdb-activos-sin-contacto",
              "type": "string"
            },
            {
              "id": "2df4a47b-2845-4bf1-97e4-ed9fb5fe6386",
              "name": "include_attachment",
              "value": "={{ $json.body?.include_attachment ?? true }}",
              "type": "string"
            },
            {
              "id": "981d43d1-20fe-4c45-adda-a1c26fe75d82",
              "name": "include_detail",
              "value": "={{ $json.body?.include_detail ?? true }}",
              "type": "string"
            },
            {
              "id": "1218efc8-3f49-4fa6-91ea-2a37c124bfce",
              "name": "include_summary",
              "value": "={{ $json.body?.include_summary ?? true }}",
              "type": "string"
            },
            {
              "id": "098204b8-72d8-4186-95a4-374b54f4c74d",
              "name": "email_to",
              "value": "={{ $json.body?.email_to || 'usuario1@company.com' }}",
              "type": "string"
            },
            {
              "id": "6cd51516-057f-4a0c-b21c-b05b254adbe7",
              "name": "email_cc",
              "value": "={{ $json.body?.email_cc || '' }}",
              "type": "string"
            },
            {
              "id": "0cb6c826-7400-459f-94f8-e26264e552b3",
              "name": "email_bcc",
              "value": "={{ $json.body?.email_bcc || '' }}",
              "type": "string"
            },
            {
              "id": "1bcf70d3-87ce-4548-8cb7-0462977b5532",
              "name": "include_itop_button_footer",
              "value": "={{ $json.body?.include_itop_button_footer ?? true }}",
              "type": "string"
            },
            {
              "id": "99ea7921-2a76-45fa-9eb5-211a49a9ace2",
              "name": "include_operational_notes",
              "value": "={{ $json.body?.include_operational_notes ?? true }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10016,
        2304
      ],
      "id": "103db746-a512-4b13-9555-40c04f50b14e",
      "name": "SetTrigger - Flujo"
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "PhysicalDevice",
        "key": "SELECT PhysicalDevice\nWHERE finalclass IN ('PC', 'Laptop', 'MobilePhone', 'Tablet', 'Printer', 'Peripheral', 'NetworkDevice')\nAND status = 'production'",
        "output_fields": "id,name,friendlyname,finalclass,status,org_id,org_id_friendlyname,location_id,location_id_friendlyname,contacts_list,brand_id,brand_id_friendlyname,model_id,model_id_friendlyname,serialnumber,asset_number,move2production,purchase_date,end_of_warranty,description",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        10688,
        2304
      ],
      "id": "3da16084-3ebe-40ba-bb00-a40ffe4d3b29",
      "name": "iTop - Activos CMDB",
      "credentials": {
        "iTopTokenApi": {
          "id": "FdUX5lCOh0Z3YWW4",
          "name": "iTopToken_GF_QA"
        }
      },
      "notes": "PhysicalDevice no acepta type/type_friendlyname como output_fields. En este flujo no se separa PC y Laptop: ambos se consolidan como PC/Laptop."
    },
    {
      "parameters": {
        "jsCode": "function getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nconst baseConfig = getNodeJson('SetMixed - Configuracion efectiva');\nconst triggerConfig = getNodeJson('SetTrigger - Flujo');\nconst mergedFlags = { ...(baseConfig.flags || {}) };\nfunction mergeFlag(name) {\n  const value = triggerConfig[name];\n  if (value === undefined || value === null || value === '') return;\n  if (typeof value === 'boolean') mergedFlags[name] = value;\n  else if (typeof value === 'number') mergedFlags[name] = value !== 0;\n  else {\n    const text = String(value).trim().toLowerCase();\n    if (['true','1','yes','y','si','s','on','enabled'].includes(text)) mergedFlags[name] = true;\n    else if (['false','0','no','n','off','disabled'].includes(text)) mergedFlags[name] = false;\n  }\n}\nfor (const key of ['include_attachment','include_detail','include_summary','include_operational_notes','include_itop_button_footer','send_email','include_requirements','include_incidents','include_changes','include_problems']) mergeFlag(key);\nconst config = { ...baseConfig, ...triggerConfig, flags: mergedFlags };\nfor (const [key, value] of Object.entries(mergedFlags)) config[key] = value;\nconst company = String(config.Company || config.company || 'TecnoComp').trim();\nconst itopOrganization = String(config.itop_organization || '').trim();\nconst timezone = String(config.timezone || 'America/Santiago').trim();\nconst reportMode = String(config.report_mode || '').trim();\nconst warrantyDays = Number(config.warranty_warning_days || 90);\nconst now = new Date();\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction csvEscape(value) {\n  const text = String(value ?? '').replace(/\"/g, '\"\"');\n  return `\"${text}\"`;\n}\n\nfunction getField(obj, names, fallback = '') {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return fallback;\n}\n\nfunction flattenInput(items) {\n  const rows = [];\n  for (const item of items) {\n    const j = item.json || {};\n    if (j.objects && typeof j.objects === 'object') {\n      for (const [key, value] of Object.entries(j.objects)) {\n        rows.push({ key, ...(value || {}), fields: value?.fields || value || {} });\n      }\n      continue;\n    }\n    if (Array.isArray(j)) { rows.push(...j); continue; }\n    rows.push(j);\n  }\n  return rows;\n}\n\nfunction scalarText(value) {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const text = String(value).trim();\n    return text === '[object Object]' ? '' : text;\n  }\n  return '';\n}\n\nfunction cleanContactText(value) {\n  let text = scalarText(value);\n  if (!text) return '';\n  if (text.includes(' / ')) text = text.split(' / ')[0].trim();\n  return text;\n}\n\nfunction normalizeContactEntry(entry) {\n  if (entry === undefined || entry === null) return '';\n  const direct = cleanContactText(entry);\n  if (direct) return direct;\n  if (Array.isArray(entry)) return entry.map(normalizeContactEntry).filter(Boolean).join(', ');\n  if (typeof entry === 'object') {\n    if (entry.fields && typeof entry.fields === 'object') {\n      const fromFields = normalizeContactEntry(entry.fields);\n      if (fromFields) return fromFields;\n    }\n    if (entry.objects && typeof entry.objects === 'object') {\n      return Object.values(entry.objects).map(normalizeContactEntry).filter(Boolean).join(', ');\n    }\n    const preferred = ['contact_id_friendlyname','person_id_friendlyname','user_id_friendlyname','contact_name','person_name','display_name','name','friendlyname','email','email_address'];\n    for (const field of preferred) {\n      const text = cleanContactText(entry[field]);\n      if (text) return text;\n    }\n    const nested = ['contact_id','person_id','user_id','contact','person','user'];\n    for (const field of nested) {\n      const text = normalizeContactEntry(entry[field]);\n      if (text) return text;\n    }\n  }\n  return '';\n}\n\nfunction normalizeContacts(value) {\n  const text = normalizeContactEntry(value);\n  if (!text) return '';\n  const unique = [];\n  const seen = new Set();\n  for (const part of text.split(',').map(v => cleanContactText(v)).filter(Boolean)) {\n    const key = part.toLowerCase();\n    if (!seen.has(key)) { seen.add(key); unique.push(part); }\n  }\n  return unique.join(', ');\n}\n\nfunction isBlankValue(value) {\n  const v = String(value ?? '').trim();\n  return !v || v === '-' || v.toLowerCase() === 'n/a' || v.toLowerCase() === 'null' || v.toLowerCase() === 'undefined';\n}\n\nfunction inferWorkstationClass(f = {}) {\n  // No se realiza separaci\\u00f3n PC vs Laptop en este flujo.\n  // Todo activo cuya clase base corresponda a PC/Laptop, PC o Laptop se consolida como PC/Laptop.\n  return 'PC/Laptop';\n}\n\nfunction normalizeClass(value, f = {}) {\n  const raw = String(value || '-').trim();\n  const lower = raw.toLowerCase();\n\n  if (\n    lower === 'pc' ||\n    lower === 'laptop' ||\n    lower === 'pc/laptop' ||\n    lower.includes('pc/laptop') ||\n    lower.includes('desktop') ||\n    lower.includes('laptop') ||\n    lower.includes('notebook') ||\n    lower.includes('portable') ||\n    lower.includes('computer')\n  ) {\n    return 'PC/Laptop';\n  }\n\n  if (\n    lower === 'mobilephone' ||\n    lower.includes('mobilephone') ||\n    lower.includes('mobile phone') ||\n    lower.includes('smartphone') ||\n    lower.includes('phone') ||\n    lower.includes('telefono') ||\n    lower.includes('tel\\u00e9fono') ||\n    lower.includes('celular')\n  ) return 'Tel\\u00e9fonos m\\u00f3viles';\n\n  if (lower === 'tablet' || lower.includes('tablet')) return 'Tablet';\n  if (lower === 'printer' || lower.includes('impresora') || lower.includes('printer')) return 'Impresoras';\n  if (lower === 'peripheral' || lower.includes('periferico') || lower.includes('perif\\u00e9rico') || lower.includes('peripheral')) return 'Perif\\u00e9ricos';\n\n  return 'Perif\\u00e9ricos';\n}\n\nfunction classSortWeight(className) {\n  const order = {\n    'PC/Laptop': 10,\n    'Tablet': 20,\n    'Tel\\u00e9fonos m\\u00f3viles': 30,\n    'Impresoras': 40,\n    'Perif\\u00e9ricos': 50,\n  };\n  return order[className] || 80;\n}\n\nfunction translateStatus(value) {\n  const map = {\n    stock: 'En Stock',\n    implementation: 'No Productivo',\n    production: 'En Producci\\u00f3n',\n    obsolete: 'Obsoleto',\n  };\n  const key = String(value || '').trim().toLowerCase();\n  return map[key] || String(value || '-');\n}\n\nfunction parseDate(value) {\n  const text = String(value || '').trim();\n  if (!text || text === '-') return null;\n  const normalized = text.replace(' ', 'T');\n  const date = new Date(normalized);\n  return Number.isNaN(date.getTime()) ? null : date;\n}\n\nfunction formatDate(dateValue) {\n  if (!dateValue) return '-';\n  const date = dateValue instanceof Date ? dateValue : parseDate(dateValue);\n  if (!date) return '-';\n  return date.toLocaleDateString('es-CL', { timeZone: timezone, year:'numeric', month:'2-digit', day:'2-digit' });\n}\n\nfunction daysBetween(fromDate, toDate) {\n  const ms = 24 * 60 * 60 * 1000;\n  return Math.ceil((toDate.getTime() - fromDate.getTime()) / ms);\n}\n\nfunction groupBy(list, fn) {\n  const map = new Map();\n  for (const item of list) {\n    const key = fn(item) || '-';\n    if (!map.has(key)) map.set(key, []);\n    map.get(key).push(item);\n  }\n  return map;\n}\n\nfunction buildAssetRows(list, emptyText) {\n  if (!list.length) {\n    return `<tr><td colspan=\"7\" style=\"padding:14px; font-size:12px; color:#64748b;\">${escapeHtml(emptyText)}</td></tr>`;\n  }\n  return list.map(a => `\n    <tr>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.finalclass)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\"><strong>${escapeHtml(a.name)}</strong></td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.location)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.brand)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.model)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.serial)}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(a.warrantyDateDisplay)}</td>\n    </tr>`).join('');\n}\n\nfunction buildClassSummary(list) {\n  const groups = [...groupBy(list, a => a.finalclass).entries()]\n    .sort((a, b) => classSortWeight(a[0]) - classSortWeight(b[0]) || a[0].localeCompare(b[0], 'es'));\n  if (!groups.length) return '<tr><td colspan=\"4\" style=\"padding:12px; font-size:12px; color:#64748b;\">Sin registros para el criterio del reporte.</td></tr>';\n  return groups.map(([klass, rows]) => {\n    const locations = new Set(rows.map(r => r.location).filter(v => !isBlankValue(v) && v !== 'Sin bodega/localidad')).size;\n    const observation = locations\n      ? `Distribuido en ${locations} ${locations === 1 ? 'bodega/localidad' : 'bodegas/localidades'}.`\n      : 'Todos los registros requieren normalizaci\\u00f3n de bodega/localidad.';\n    return `<tr>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(klass)}</td>\n      <td align=\"right\" style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\"><strong>${rows.length}</strong></td>\n      <td align=\"right\" style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${locations}</td>\n      <td style=\"padding:8px; border-top:1px solid #e5e7eb; font-size:12px;\">${escapeHtml(observation)}</td>\n    </tr>`;\n  }).join('');\n}\n\nconst rawRows = flattenInput($input.all());\nlet assets = rawRows.map(row => {\n  const f = row.fields || row;\n  const warrantyDate = parseDate(getField(f, ['end_of_warranty', 'warranty_end_date'], ''));\n  const contacts = normalizeContacts(getField(f, ['contacts_list', 'contact_list', 'contact_id_friendlyname', 'contact_name'], ''));\n  const statusRaw = String(getField(f, ['status'], '-')).trim().toLowerCase();\n  const days = warrantyDate ? daysBetween(now, warrantyDate) : null;\n  return {\n    id: getField(f, ['id', 'key'], row.key || ''),\n    name: getField(f, ['name', 'friendlyname'], '-'),\n    finalclass: normalizeClass(getField(f, ['finalclass', 'class'], '-'), f),\n    statusRaw,\n    status: translateStatus(statusRaw),\n    organization: getField(f, ['org_id_friendlyname', 'org_name', 'organization_name'], '-'),\n    location: getField(f, ['location_id_friendlyname', 'location_name', 'location_id'], 'Sin bodega/localidad'),\n    contact: contacts,\n    brand: getField(f, ['brand_id_friendlyname', 'brand'], '-'),\n    model: getField(f, ['model_id_friendlyname', 'model'], '-'),\n    serial: getField(f, ['serialnumber', 'serial_number'], '-'),\n    assetNumber: getField(f, ['asset_number', 'assetnumber'], '-'),\n    purchaseDate: getField(f, ['purchase_date'], '-'),\n    warrantyDate,\n    warrantyDateDisplay: formatDate(warrantyDate),\n    daysToWarranty: days,\n    daysLabel: days === null ? '-' : (days >= 0 ? `${days} d\\u00edas` : `${Math.abs(days)} d\\u00edas vencida`),\n  };\n});\n\nif (reportMode === 'without_contact_production') {\n  assets = assets.filter(a => a.statusRaw === 'production' && isBlankValue(a.contact));\n  assets.sort((a, b) => a.location.localeCompare(b.location, 'es') || classSortWeight(a.finalclass) - classSortWeight(b.finalclass) || a.name.localeCompare(b.name, 'es'));\n} else if (reportMode === 'warranty_upcoming') {\n  assets = assets.filter(a => a.statusRaw !== 'obsolete' && a.warrantyDate && a.daysToWarranty >= 0 && a.daysToWarranty <= warrantyDays);\n  assets.sort((a, b) => a.daysToWarranty - b.daysToWarranty || a.name.localeCompare(b.name, 'es'));\n} else if (reportMode === 'warranty_expired') {\n  assets = assets.filter(a => a.statusRaw !== 'obsolete' && a.warrantyDate && a.daysToWarranty < 0);\n  assets.sort((a, b) => a.daysToWarranty - b.daysToWarranty || a.name.localeCompare(b.name, 'es'));\n}\n\nconst generatedAt = now.toLocaleString('es-CL', { timeZone: timezone, year:'numeric', month:'2-digit', day:'2-digit', hour:'2-digit', minute:'2-digit' });\nfunction formatFileTimestamp(date) {\n  const pad = (value) => String(value).padStart(2, '0');\n  return `${date.getFullYear()}${pad(date.getMonth() + 1)}${pad(date.getDate())}_${pad(date.getHours())}${pad(date.getMinutes())}`;\n}\n\nfunction slugFilePart(value, fallback = 'reporte') {\n  const slug = String(value ?? '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/_+/g, '_')\n    .replace(/^_+|_+$/g, '');\n  return (slug || fallback).slice(0, 48).replace(/_+$/g, '');\n}\n\nconst generatedAtFile = formatFileTimestamp(now);\nconst subjectBase = String(config.email_subject || 'Reporte CMDB').trim();\nconst emailSubject = itopOrganization ? `${subjectBase} - ${itopOrganization}` : subjectBase;\n\nconst headers = ['Clase','Activo','Bodega','Marca','Modelo','Serie','Garant\\u00eda'];\nconst csvContent = '\\uFEFF' + [\n  headers.map(csvEscape).join(';'),\n  ...assets.map(a => [a.finalclass,a.name,a.location,a.brand,a.model,a.serial,a.warrantyDateDisplay].map(csvEscape).join(';'))\n].join('\\r\\n');\n\nconst groupedByLocation = [...groupBy(assets, a => a.location).entries()]\n  .sort((a, b) => a[0].localeCompare(b[0], 'es'));\n\nlet detailBlocks = '';\nif (!assets.length) {\n  detailBlocks = '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #dbe3ec;\"><tr><td style=\"padding:14px; font-size:13px; color:#64748b;\">No se encontraron activos para el criterio del reporte.</td></tr></table>';\n} else {\n  detailBlocks = groupedByLocation.map(([location, rows]) => `\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 16px 0; border:1px solid #dbe3ec;\">\n      <tr>\n        <td style=\"background-color:#f8fafc; padding:10px 12px; border-bottom:1px solid #dbe3ec;\">\n          <div style=\"font-size:14px; line-height:20px; font-weight:bold; color:#0f172a;\">${escapeHtml(location)} <span style=\"color:#64748b; font-weight:normal;\">(${rows.length} activos)</span></div>\n          <div style=\"font-size:12px; line-height:18px; color:#64748b; margin-top:4px;\">Agrupaci\\u00f3n por bodega/localidad para facilitar revisi\\u00f3n operacional.</div>\n        </td>\n      </tr>\n      <tr><td>\n        <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; width:100%;\">\n          <thead><tr style=\"background:#f8fafc;\">\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Clase</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Activo</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Bodega</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Marca</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Modelo</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Serie</th>\n            <th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Garant\\u00eda</th>\n          </tr></thead>\n          <tbody>${buildAssetRows(rows, 'Sin registros.')}</tbody>\n        </table>\n      </td></tr>\n    </table>`).join('');\n}\n\nconst csvBaseName = slugFilePart(config.csv_basename || 'cmdb_reporte');\nconst csvFileName = `${csvBaseName}_${generatedAtFile}.csv`;\nconst withoutLocationCount = assets.filter(a => isBlankValue(a.location) || a.location === 'Sin bodega/localidad').length;\nconst expiredWarrantyCount = assets.filter(a => a.warrantyDate && a.daysToWarranty < 0).length;\nconst classTypeCount = new Set(assets.map(a => a.finalclass).filter(Boolean)).size;\nconst pcLaptopCount = assets.filter(a => a.finalclass === 'PC/Laptop').length;\nconst tabletCount = assets.filter(a => a.finalclass === 'Tablet').length;\nconst mobileCount = assets.filter(a => a.finalclass === 'Tel\\u00e9fonos m\\u00f3viles').length;\nconst printerCount = assets.filter(a => a.finalclass === 'Impresoras').length;\nconst peripheralCount = assets.filter(a => a.finalclass === 'Perif\\u00e9ricos').length;\n\nreturn [{\n  json: {\n    flags: config.flags || {},\n    report_template_key: config.report_template_key,\n    template_root: config.template_root,\n    include_attachment: config.flags?.include_attachment ?? config.include_attachment,\n    include_detail: config.flags?.include_detail ?? config.include_detail,\n    include_summary: config.flags?.include_summary ?? config.include_summary,\n    include_operational_notes: config.flags?.include_operational_notes ?? config.include_operational_notes,\n    include_itop_button_footer: config.flags?.include_itop_button_footer ?? config.include_itop_button_footer,\n    email_from: config.email_from,\n    email_to: config.email_to,\n    email_cc: config.email_cc || '',\n    email_bcc: config.email_bcc || '',\n    email_subject: emailSubject,\n    company,\n    Company: company,\n    itop_organization: itopOrganization || '-',\n    generated_at: generatedAt,\n    total_assets: String(assets.length),\n    production_count: String(assets.filter(a => a.statusRaw === 'production').length),\n    without_contact_count: String(assets.filter(a => isBlankValue(a.contact)).length),\n    without_location_count: String(withoutLocationCount),\n    expired_warranty_count: String(expiredWarrantyCount),\n    class_type_count: String(classTypeCount),\n    pc_laptop_count: String(pcLaptopCount),\n    tablet_count: String(tabletCount),\n    mobile_count: String(mobileCount),\n    printer_count: String(printerCount),\n    peripheral_count: String(peripheralCount),\n    warranty_days: String(warrantyDays),\n    class_summary_rows: buildClassSummary(assets),\n    detail_blocks: detailBlocks,\n    report_title: config.report_title || subjectBase,\n    report_description: config.report_description || '',\n    operational_notes: config.operational_notes || '',\n    itop_url: config.itop_url || '#',\n    csv_filename: csvFileName,\n    flags: config.flags || {},\n  },\n  binary: {\n    csv: {\n      data: Buffer.from(csvContent, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName: csvFileName,\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10912,
        2304
      ],
      "id": "1a245671-ca80-4440-96b7-933ab166f6af",
      "name": "Preparar datos reporte"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction readText(filePath) {\n  return fs.readFileSync(filePath, 'utf8');\n}\n\nfunction render(template, values) {\n  return String(template || '').replace(/{{\\s*([\\w.]+)\\s*}}/g, (_, key) => {\n    const parts = key.split('.');\n    let value = values;\n    for (const part of parts) value = value?.[part];\n    return value === undefined || value === null ? '' : String(value);\n  });\n}\n\nfunction normalizeText(value, forSubject = false) {\n  let text = String(value ?? '');\n  const htmlMap = [\n    ['Automatizaci??n','Automatizaci&oacute;n'], ['Organizaci??n','Organizaci&oacute;n'], ['organizaci??n','organizaci&oacute;n'],\n    ['Producci??n','Producci&oacute;n'], ['garant??a','garant&iacute;a'], ['Garant??a','Garant&iacute;a'], ['GARANT??A','GARANT&Iacute;A'],\n    ['pr??ximos','pr&oacute;ximos'], ['Pr??ximos','Pr&oacute;ximos'], ['PR??XIMOS','PR&Oacute;XIMOS'], ['pr??ximo','pr&oacute;ximo'], ['pr??xima','pr&oacute;xima'],\n    ['d??as','d&iacute;as'], ['D??AS','D&Iacute;AS'], ['D??as','D&iacute;as'], ['m??s','m&aacute;s'], ['M??S','M&Aacute;S'], ['M??s','M&aacute;s'],\n    ['T??tulo','T&iacute;tulo'], ['antig??edad','antig&uuml;edad'], ['actualizaci??n','actualizaci&oacute;n'], ['configuraci??n','configuraci&oacute;n'],\n    ['f??sicos','f&iacute;sicos'], ['f??sico','f&iacute;sico'], ['f??sica','f&iacute;sica'], ['tel??fono','tel&eacute;fono'], ['m??viles','m&oacute;viles'],\n    ['perif??rico','perif&eacute;rico'], ['perif??ricos','perif&eacute;ricos'], ['??nico','&uacute;nico'], ['??nica','&uacute;nica'], ['??ltimo','&uacute;ltimo'],\n    ['cr??tico','cr&iacute;tico'], ['cr??ticos','cr&iacute;ticos'], ['par??metros','par&aacute;metros'], ['env??a','env&iacute;a'], ['envi??','envi&oacute;'],\n    ['asignaci??n','asignaci&oacute;n'], ['ubicaci??n','ubicaci&oacute;n'], ['descripci??n','descripci&oacute;n'], ['categor??a','categor&iacute;a'],\n    ['seg??n','seg&uacute;n'], ['hist??rico','hist&oacute;rico'], ['relaci??n','relaci&oacute;n'], ['operaci??n','operaci&oacute;n'], ['an??lisis','an&aacute;lisis'],\n    ['creaci??n','creaci&oacute;n'], ['aprobaci??n','aprobaci&oacute;n'], ['atenci??n','atenci&oacute;n'], ['informaci??n','informaci&oacute;n'],\n    ['clasificaci??n','clasificaci&oacute;n'], ['revisi??n','revisi&oacute;n'], ['intervenci??n','intervenci&oacute;n'], ['secci??n','secci&oacute;n'],\n    ['l??nea','l&iacute;nea'], ['c??digos','c&oacute;digos'], ['d??nde','d&oacute;nde'], ['espa??ol','espa&ntilde;ol'], ['vi??etas','vi&ntilde;etas'],\n    ['m??ltiples','m&uacute;ltiples'], ['m??xima','m&aacute;xima'], ['r??pida','r&aacute;pida'], ['reposici??n','reposici&oacute;n'],\n    ['est??ndar','est&aacute;ndar'], ['alg??n','alg&uacute;n'], ['??til','&uacute;til'], ['port??til','port&aacute;til']\n  ];\n  const subjectMap = htmlMap.map(([bad, good]) => [bad, good\n    .replace(/&aacute;/g,'a').replace(/&eacute;/g,'e').replace(/&iacute;/g,'i').replace(/&oacute;/g,'o').replace(/&uacute;/g,'u')\n    .replace(/&Aacute;/g,'A').replace(/&Eacute;/g,'E').replace(/&Iacute;/g,'I').replace(/&Oacute;/g,'O').replace(/&Uacute;/g,'U')\n    .replace(/&uuml;/g,'u').replace(/&Uuml;/g,'U').replace(/&ntilde;/g,'n').replace(/&Ntilde;/g,'N')]);\n  for (const [bad, good] of (forSubject ? subjectMap : htmlMap)) text = text.split(bad).join(good);\n  text = text.split(' ?? ').join(forSubject ? ' - ' : ' &bull; ');\n  text = text.split('??').join(forSubject ? '-' : '&bull;');\n  return text;\n}\n\nfunction getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nfunction normalizeBoolean(value, fallback = true) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si', 's', 'on', 'enabled'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', 'off', 'disabled'].includes(text)) return false;\n  return fallback;\n}\n\nfunction flagEnabled(data, name, fallback = true) {\n  const trigger = getNodeJson('SetTrigger - Flujo');\n  const mixed = getNodeJson('SetMixed - Configuracion efectiva');\n  const value = trigger[name] ?? trigger.flags?.[name] ?? data[name] ?? data.flags?.[name] ?? mixed[name] ?? mixed.flags?.[name];\n  return normalizeBoolean(value, fallback);\n}\n\nfunction notesList(value) {\n  const lines = String(value ?? '')\n    .split(/\\r?\\n|\\. /)\n    .map(v => v.trim().replace(/\\.$/, ''))\n    .filter(Boolean);\n  if (!lines.length) return '<div style=\"font-size:13px; line-height:20px; color:#64748b;\">Sin observaciones adicionales.</div>';\n  return '<ul style=\"margin:0; padding-left:18px; color:#374151; font-size:13px; line-height:20px;\">' +\n    lines.map(line => '<li>' + escapeHtml(line) + '.</li>').join('') +\n    '</ul>';\n}\n\nfunction statCard(data, stat) {\n  const value = data[stat.value] ?? data[stat.fallbackValue] ?? '-';\n  return '<td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid ' + stat.border + '; background-color:' + stat.background + ';\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:' + stat.labelColor + '; font-weight:bold;\">' + escapeHtml(stat.label) + '</div><div style=\"font-size:24px; color:' + stat.valueColor + '; font-weight:bold;\">' + escapeHtml(value) + '</div></td></tr></table></td>';\n}\n\nfunction statRows(data, stats) {\n  const rows = [];\n  for (let i = 0; i < stats.length; i += 3) {\n    const cells = stats.slice(i, i + 3).map(stat => statCard(data, stat));\n    while (cells.length < 3) cells.push('<td class=\"summary-card\" width=\"33.33%\" valign=\"top\">&nbsp;</td>');\n    rows.push('<tr>' + cells.join('') + '</tr>');\n  }\n  return rows.join('\\n');\n}\n\nfunction simpleTable(title, rows, headers, emptyText) {\n  if (!rows) return '';\n  const headerHtml = headers.map(h => '<th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">' + escapeHtml(h) + '</th>').join('');\n  const body = rows || '<tr><td colspan=\"' + headers.length + '\" style=\"padding:14px; font-size:12px; color:#64748b;\">' + escapeHtml(emptyText || 'Sin registros.') + '</td></tr>';\n  return '<div style=\"font-size:14px; font-weight:bold; color:#1e293b; margin:18px 0 8px 0;\">' + escapeHtml(title) + '</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; border:1px solid #dbe3ec;\"><thead><tr style=\"background:#f8fafc;\">' + headerHtml + '</tr></thead><tbody>' + body + '</tbody></table>';\n}\n\nfunction tableContent(data) {\n  const blocks = [];\n  if (data.detail_blocks) blocks.push(data.detail_blocks);\n  if (data.class_asset_blocks) blocks.push(data.class_asset_blocks);\n  if (data.status_asset_blocks) blocks.push(data.status_asset_blocks);\n  if (data.review_asset_blocks) blocks.push(data.review_asset_blocks);\n  if (data.ticket_sections) blocks.push(data.ticket_sections);\n  if (data.older_section) blocks.push(data.older_section);\n  if (data.recent_section) blocks.push(data.recent_section);\n  if (data.ticket_rows_html) blocks.push(simpleTable('Tickets abiertos', data.ticket_rows_html, ['Criticidad','Referencia','Tipo','Titulo','Solicitante','Estado','Creacion','Ultimo update','Antiguedad','SLA'], 'Sin tickets.'));\n  if (data.movement_rows) blocks.push(simpleTable('Movimientos recientes', data.movement_rows, ['Fecha','Movimiento','Activo','Clase','Origen','Destino'], 'Sin movimientos.'));\n  if (data.class_summary_rows) blocks.push(simpleTable('Resumen por clase', data.class_summary_rows, ['Clase','Total','Dato 1','Observacion'], 'Sin resumen por clase.'));\n  if (data.warehouse_summary_rows) blocks.push(simpleTable('Resumen por bodega/localidad', data.warehouse_summary_rows, ['Bodega/localidad','Total','Clases','Observacion'], 'Sin resumen por bodega.'));\n  if (data.status_summary_rows) blocks.push(simpleTable('Resumen por estado', data.status_summary_rows, ['Estado','Total','Dato 1','Observacion'], 'Sin resumen por estado.'));\n  if (data.location_summary_rows) blocks.push(simpleTable('Resumen por localidad', data.location_summary_rows, ['Localidad','Total','Dato 1','Observacion'], 'Sin resumen por localidad.'));\n  if (data.class_status_rows) blocks.push(simpleTable('Clase por estado', data.class_status_rows, ['Clase','Productivo','Inventario','No operativo'], 'Sin matriz de estados.'));\n  if (data.location_matrix_rows) {\n    const header = data.location_matrix_header_cells || '<th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Bodega/localidad</th>';\n    blocks.push('<div style=\"font-size:14px; font-weight:bold; color:#1e293b; margin:18px 0 8px 0;\">Matriz por bodega/localidad</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; border:1px solid #dbe3ec;\"><thead><tr style=\"background:#f8fafc;\">' + header + '</tr></thead><tbody>' + data.location_matrix_rows + '</tbody></table>');\n  }\n  if (data.top_location_rows) blocks.push(simpleTable('Top bodega/localidad', data.top_location_rows, ['Bodega/localidad','Total','Dato 1','Observacion'], 'Sin top de localidades.'));\n  return blocks.filter(Boolean).join('\\n');\n}\n\nfunction buildHtml(item) {\n  const data = item.json || {};\n  const triggerConfig = getNodeJson('SetTrigger - Flujo');\n  const mixedConfig = getNodeJson('SetMixed - Configuracion efectiva');\n  const root = data.template_root || mixedConfig.template_root || triggerConfig.template_root || '/opt/n8n-config/templates/mail/v1';\n  const key = data.report_template_key || mixedConfig.report_template_key || triggerConfig.report_template_key || 'cmdb-activos-sin-contacto';\n  const contract = JSON.parse(readText(path.join(root, 'reports', key + '.json')));\n  const partial = (name) => readText(path.join(root, contract.partials[name]));\n\n  const styles = partial('styles');\n  const header = render(partial('header'), {\n    eyebrow: escapeHtml(contract.header?.eyebrow || 'Automatizacion ITSM / CMDB'),\n    title: escapeHtml(data.report_title || data.email_subject || 'Reporte'),\n    subtitle: escapeHtml(contract.header?.subtitle || ''),\n    itop_organization: escapeHtml(data.itop_organization || '-'),\n    generated_at: escapeHtml(data.generated_at || '-'),\n    source_label: escapeHtml(data.source_label || data.report_source_label || contract.header?.source_label || '-'),\n  });\n  const summary = render(partial('summary'), { description: escapeHtml(data.report_description || contract.summary?.description || '') });\n  const stats = render(partial('stats'), { stats_rows: statRows(data, contract.stats || []) });\n  const criteria = render(partial('criteria'), contract.criteria || {});\n  const tables = flagEnabled(data, 'include_detail', true) ? render(partial('tables'), {\n    title: contract.tables?.title || 'Detalle operacional',\n    subtitle: contract.tables?.subtitle || '',\n    content: tableContent(data) || '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #dbe3ec;\"><tr><td style=\"padding:14px; font-size:13px; color:#64748b;\">Sin registros para el criterio del reporte.</td></tr></table>',\n  }) : '';\n  const notes = flagEnabled(data, 'include_operational_notes', true) ? render(partial('notes'), { notes_list: notesList(data.operational_notes) }) : '';\n  const cta = flagEnabled(data, 'include_itop_button_footer', true) ? render(partial('cta'), {\n    href: escapeHtml(data.itop_url || '#'),\n    label: contract.cta?.label || 'Abrir',\n  }) : '';\n  const footer = render(partial('footer'), {\n    brand: contract.footer?.brand || 'Automatizacion ITSM / CMDB',\n    company: escapeHtml(data.company || data.Company || ''),\n    generated_at: escapeHtml(data.generated_at || '-'),\n  });\n\n  let html = render(partial('layout'), {\n    title: escapeHtml(data.report_title || data.email_subject || 'Reporte'),\n    styles,\n    header,\n    summary: flagEnabled(data, 'include_summary', true) ? summary : '',\n    stats: flagEnabled(data, 'include_summary', true) ? stats : '',\n    criteria,\n    tables,\n    notes,\n    cta,\n    footer,\n  });\n  html = normalizeText(html, false);\n  data.email_subject = normalizeText(data.email_subject, true);\n\n  const includeAttachment = flagEnabled(data, 'include_attachment', true);\n  const binary = includeAttachment ? (item.binary || {}) : {};\n  return {\n    json: {\n      ...data,\n      html,\n      template_version: contract.template_version || 'mail-v1',\n      template_contract: key,\n      include_attachment_effective: includeAttachment,\n      attachment_binary_names: includeAttachment && binary.csv ? 'csv' : '',\n      has_csv_binary: Boolean(binary.csv),\n    },\n    binary,\n  };\n}\n\nreturn $input.all().map(buildHtml);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11136,
        2304
      ],
      "id": "c6a49d12-2214-4cab-9210-e8143884a538",
      "name": "HTML - Renderer parciales"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from }}",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ $json.attachment_binary_names }}",
          "ccEmail": "={{ $json.email_cc }}",
          "bccEmail": "={{ $json.email_bcc }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        11360,
        2304
      ],
      "id": "2fd24c0a-287f-4fc7-9dff-44269f127cf7",
      "name": "Enviar correo SMTP",
      "webhookId": "7db4ae00-baa9-4802-9cc5-9a9952d26ac7",
      "credentials": {
        "smtp": {
          "id": "3SyjzuvErhGGEZZq",
          "name": "SMTP_MailPit"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "puR8KZ9UFvq5zRqX",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/puR8KZ9UFvq5zRqX",
          "cachedResultName": "SYS - Configuracion base reportes correo"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "212a9608-e1ea-4d68-b388-6303f121257d",
      "name": "SubWorkflow - SetBase reportes correo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        10240,
        2304
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first()?.json || {};\nconst trigger = $('SetTrigger - Flujo').first()?.json || {};\n\nfunction normalizeBoolean(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si'].includes(text)) return true;\n  if (['false', '0', 'no', 'n'].includes(text)) return false;\n  return fallback;\n}\n\nconst flags = { ...(base.flags || {}) };\nfor (const key of ['include_attachment', 'include_detail', 'include_summary', 'include_operational_notes', 'include_itop_button_footer', 'send_email']) {\n  if (trigger[key] !== undefined && trigger[key] !== null && trigger[key] !== '') {\n    flags[key] = normalizeBoolean(trigger[key], flags[key]);\n  }\n}\n\nconst setMixed = {\n  ...base,\n  ...trigger,\n  flags,\n  config_source: 'SetBase + SetTrigger',\n};\n\nreturn [{ json: setMixed }];"
      },
      "id": "716573bf-9471-411d-8177-16d6292035c1",
      "name": "SetMixed - Configuracion efectiva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10464,
        2304
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cmdb-activos-sin-contacto",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        9120,
        2112
      ],
      "id": "5b1d1737-e47c-4c8a-b38c-7bd3097ba49b",
      "name": "Webhook - ejecucion externa",
      "webhookId": "518122d8-34c3-4298-b8c3-03fc8581c90f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5ueiVRP6pKurE71t",
          "name": "HeaderAuth_GF_QA"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        9792,
        2496
      ],
      "id": "36c1992f-108e-46dc-8e2d-5d88a08a7842",
      "name": "Cron - lunes 07:00"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item?.json?.body || {};\nconst errors = [];\n\nfunction text(name) {\n  return String(body[name] ?? '').trim();\n}\n\nfunction positiveNumber(name) {\n  const raw = body[name];\n  if (raw === undefined || raw === null || raw === '') return false;\n  const n = Number(raw);\n  return Number.isFinite(n) && n > 0;\n}\n\nfunction validDateText(name) {\n  const value = text(name);\n  if (!value) return false;\n  const parsed = new Date(value.replace(' ', 'T'));\n  return !Number.isNaN(parsed.getTime());\n}\n\nfunction dateWindowState() {\n  const hasStart = text('start_date').length > 0;\n  const hasEnd = text('end_date').length > 0;\n  if (!hasStart && !hasEnd) return { provided: false, valid: false };\n  if (!hasStart || !hasEnd) return { provided: true, valid: false, error: 'start_date y end_date deben enviarse juntos.' };\n  if (!validDateText('start_date') || !validDateText('end_date')) return { provided: true, valid: false, error: 'start_date y end_date deben ser fechas v\\u00e1lidas.' };\n  const start = new Date(text('start_date').replace(' ', 'T'));\n  const end = new Date(text('end_date').replace(' ', 'T'));\n  if (start > end) return { provided: true, valid: false, error: 'start_date no puede ser mayor que end_date.' };\n  return { provided: true, valid: true };\n}\n\nif (!text('email_to')) {\n  errors.push('email_to es obligatorio para llamadas webhook.');\n}\n\nconst webhookPath = 'cmdb-activos-sin-contacto';\nconst window = dateWindowState();\n\nif (webhookPath === 'cmdb-movimientos-recientes-inventario') {\n  const hasMovementDays = positiveNumber('movement_days');\n  if (!hasMovementDays && !window.valid) {\n    errors.push(window.error || 'Debe enviar movement_days positivo o la ventana start_date + end_date.');\n  }\n}\n\nif (webhookPath === 'cmdb-activos-proximos-vencer-garantia') {\n  if (!positiveNumber('warranty_warning_months')) {\n    errors.push('warranty_warning_months es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (webhookPath === 'itsm-tickets-sin-actualizacion-24h') {\n  if (!positiveNumber('stale_threshold_hours')) {\n    errors.push('stale_threshold_hours es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (window.provided && !window.valid && webhookPath !== 'cmdb-movimientos-recientes-inventario') {\n  errors.push(window.error || 'Ventana de fechas inv\\u00e1lida.');\n}\n\nconst valid = errors.length === 0;\n\nreturn [{\n  json: {\n    ...(item.json || {}),\n    webhook_contract: {\n      valid,\n      status_code: valid ? 202 : 400,\n      message: valid ? 'Workflow accepted' : errors.join(' '),\n      errors,\n    },\n  },\n  binary: item.binary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9344,
        2112
      ],
      "id": "9a63a0b0-16fe-4e4f-a2b2-9395fcf4edb4",
      "name": "Validar webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $json.webhook_contract.message, \"accepted\": $json.webhook_contract.valid } }}",
        "options": {
          "responseCode": "={{ $json.webhook_contract.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        9568,
        2112
      ],
      "id": "648d4327-f67f-4cfb-b161-98e2712e7c5f",
      "name": "Responder webhook"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json || {};\n\nif (!json.webhook_contract?.valid) {\n  return [];\n}\n\nconst { webhook_contract, ...cleanJson } = json;\nreturn [{ json: cleanJson, binary: item.binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9792,
        2112
      ],
      "id": "164a252b-9676-4a87-8fb4-596f42a098e4",
      "name": "Continuar webhook valido"
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Activos CMDB": {
      "main": [
        [
          {
            "node": "Preparar datos reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos reporte": {
      "main": [
        [
          {
            "node": "HTML - Renderer parciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetTrigger - Flujo": {
      "main": [
        [
          {
            "node": "SubWorkflow - SetBase reportes correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SubWorkflow - SetBase reportes correo": {
      "main": [
        [
          {
            "node": "SetMixed - Configuracion efectiva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetMixed - Configuracion efectiva": {
      "main": [
        [
          {
            "node": "iTop - Activos CMDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Renderer parciales": {
      "main": [
        [
          {
            "node": "Enviar correo SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - ejecucion externa": {
      "main": [
        [
          {
            "node": "Validar webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - lunes 07:00": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar webhook": {
      "main": [
        [
          {
            "node": "Responder webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder webhook": {
      "main": [
        [
          {
            "node": "Continuar webhook valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar webhook valido": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "57197cb1-43a5-4bc0-adf5-f5dc9a9b2348",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ad3b920e2d3586b0e2fb892d909337f22ce15cbde2c7354c038d868efea76ad"
  },
  "id": "r5HpnZWJRL9P7fsX",
  "tags": []
}
