APP/config/n8n/WorkFlow_v3/ITSM - Tickets abiertos por agente - SMTP.json
{
  "name": "ITSM - Tickets abiertos por agente - SMTP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "9b975bda-2f91-4bc2-8608-10b671424995",
      "name": "Ejecutar manualmente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51feac48-1708-412c-8aaa-b47a1267aaab",
              "name": "itop_url",
              "value": "http://172.16.123.132/itop/",
              "type": "string"
            },
            {
              "id": "b57aa3a3-0ea4-4613-b453-484b0c799033",
              "name": "email_from",
              "value": "notificaciones@dominio.cl",
              "type": "string"
            },
            {
              "id": "0916fdf0-fc66-48ce-a23f-5afcfae0fb31",
              "name": "email_cc",
              "value": "={{ $json.body?.email_cc ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "3756cb34-0554-4b81-b0d6-d5d12bdd28a1",
              "name": "email_bcc",
              "value": "={{ $json.body?.email_bcc ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "4c783613-ae61-436c-b935-3fe63538f526",
              "name": "email_subject",
              "value": "Reporte ITSM - tickets abiertos pendientes por agente",
              "type": "string"
            },
            {
              "id": "5da52442-efa0-4bbb-b141-d39ed5922af3",
              "name": "timezone",
              "value": "America/Santiago",
              "type": "string"
            },
            {
              "id": "807d5873-559c-448b-a2f9-753f2058fc89",
              "name": "itop_organization",
              "value": "Minera GoldFields Chile",
              "type": "string"
            },
            {
              "id": "cf9bb327-aa11-4fc2-aa04-07f79d4cb68c",
              "name": "Company",
              "value": "TecnoComp",
              "type": "string"
            },
            {
              "id": "9578e917-2776-4d3a-9713-99497912212e",
              "name": "itop_limit",
              "value": 5000,
              "type": "number"
            },
            {
              "id": "6ceb37ee-9220-499b-b585-e45fd0286f8a",
              "name": "closed_status_values",
              "value": "closed,resolved,rejected,cancelled,cerrado,resuelto,rechazado",
              "type": "string"
            },
            {
              "id": "b1b0cfc4-8bb1-49a3-97c4-003ce94c0e2b",
              "name": "send_only_with_agent_email",
              "value": "={{ $json.body?.send_only_with_agent_email ?? \"true\" }}",
              "type": "string"
            },
            {
              "id": "fac46c54-d4c3-472a-b763-0a12a0480407",
              "name": "fallback_agent_email",
              "value": "={{ $json.body?.fallback_agent_email ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "2a40a116-b544-4e2e-9de2-3b352c9f6575",
              "name": "include_requirements",
              "value": "={{ $json.body?.include_requirements ?? true }}",
              "type": "string"
            },
            {
              "id": "e7b0057f-a107-4dab-a9ef-7c50ce9752bf",
              "name": "include_incidents",
              "value": "={{ $json.body?.include_incidents ?? true }}",
              "type": "string"
            },
            {
              "id": "d5d348d5-14df-4987-b7ba-e2719d2de48a",
              "name": "include_changes",
              "value": "={{ $json.body?.include_changes ?? true }}",
              "type": "string"
            },
            {
              "id": "4292c700-5e4e-4ddb-b353-2c3264d1d1de",
              "name": "include_problems",
              "value": "={{ $json.body?.include_problems ?? true }}",
              "type": "string"
            },
            {
              "id": "3fab412b-3182-4146-91ac-ce3de520374b",
              "name": "email_to",
              "value": "={{ $json.body?.email_to ?? \"usuario1@company.com\" }}",
              "type": "string"
            },
            {
              "id": "91d7c315-c2ce-4159-b225-6acd55304deb",
              "name": "include_attachment",
              "value": "={{ $json.body?.include_attachment ?? true }}",
              "type": "string"
            },
            {
              "id": "3b5a7003-4509-4c4c-a597-262df12185e6",
              "name": "include_detail",
              "value": "={{ $json.body?.include_detail ?? true }}",
              "type": "string"
            },
            {
              "id": "416be39c-fb96-4fdf-82fd-4e44ace3a988",
              "name": "include_summary",
              "value": "={{ $json.body?.include_summary ?? true }}",
              "type": "string"
            },
            {
              "id": "13fd5b06-3461-4e01-9c01-a3f7e0f8238c",
              "name": "include_operational_notes",
              "value": "={{ $json.body?.include_operational_notes ?? true }}",
              "type": "string"
            },
            {
              "id": "c7d756de-d6cf-4ea7-94f7-b04e47652cd7",
              "name": "include_itop_button_footer",
              "value": "={{ $json.body?.include_itop_button_footer ?? true }}",
              "type": "string"
            },
            {
              "id": "eb3858c2-4957-453d-b144-61c86669b81a",
              "name": "start_date",
              "value": "={{ $json.body?.start_date ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f17be684-7ab5-43c5-84dc-9293063933a5",
              "name": "end_date",
              "value": "={{ $json.body?.end_date ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "b0e2bb03-90a8-43c8-a071-ce056da5014e",
              "name": "report_template_key",
              "value": "itsm-tickets-abiertos-agente",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "id": "514ff144-aab5-4f02-8043-a6e21b64c0d0",
      "name": "SetTrigger - Flujo"
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "UserLocal",
        "key": "SELECT UserLocal AS u JOIN Person AS p ON u.contactid = p.id",
        "output_fields": "contactid,last_name,first_name,email,org_id,login,language,status,finalclass,friendlyname,contactid_friendlyname,org_id_friendlyname",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        1568,
        0
      ],
      "id": "26d894ce-430e-474e-9fff-bd2cace3957b",
      "name": "iTop - Usuarios Locales con Persona",
      "credentials": {
        "iTopTokenApi": {
          "id": "FdUX5lCOh0Z3YWW4",
          "name": "iTopToken_GF_QA"
        }
      },
      "notes": "Consulta UserLocal unido a Person para resolver el correo del agente. UserLocal por sí solo puede retornar únicamente id/friendlyname; el correo se recupera desde el contacto/persona relacionado."
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "Ticket",
        "key": "SELECT Ticket WHERE operational_status NOT IN ('closed', 'resolved', 'rejected', 'cancelled')",
        "output_fields": "operational_status,ref,org_id,org_name,caller_id,caller_name,team_id,team_name,team_email,agent_id,agent_name,title,description,start_date,end_date,last_update,close_date,private_log,contacts_list,functionalcis_list,workorders_list,finalclass,friendlyname,org_id_friendlyname,caller_id_friendlyname,team_id_friendlyname,agent_id_friendlyname",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        1792,
        0
      ],
      "id": "1bb471be-e15c-4ece-a9e1-7d081bd168aa",
      "name": "iTop - Tickets abiertos",
      "credentials": {
        "iTopTokenApi": {
          "id": "FdUX5lCOh0Z3YWW4",
          "name": "iTopToken_GF_QA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const baseConfig = $('Config Reporte').first().json;\nconst triggerConfig = $('SetTrigger - Flujo').first()?.json || {};\nconst mergedFlags = { ...(baseConfig.flags || {}) };\nfunction mergeFlag(name) {\n  const value = triggerConfig[name];\n  if (value === undefined || value === null || value === '') return;\n  if (typeof value === 'boolean') mergedFlags[name] = value;\n  else if (typeof value === 'number') mergedFlags[name] = value !== 0;\n  else {\n    const text = String(value).trim().toLowerCase();\n    if (['true','1','yes','y','si','s','on','enabled'].includes(text)) mergedFlags[name] = true;\n    else if (['false','0','no','n','off','disabled'].includes(text)) mergedFlags[name] = false;\n  }\n}\nfor (const key of ['include_attachment','include_detail','include_summary','include_operational_notes','include_itop_button_footer','send_email','include_requirements','include_incidents','include_changes','include_problems']) mergeFlag(key);\nconst config = { ...baseConfig, ...triggerConfig, flags: mergedFlags };\nfor (const [key, value] of Object.entries(mergedFlags)) config[key] = value;\nconst timezone = config.timezone || 'America/Santiago';\nconst now = new Date();\n\nconst closedValues = new Set(String(config.closed_status_values || 'closed,resolved,rejected,cancelled,cerrado,resuelto,rechazado')\n  .split(',')\n  .map(v => v.trim().toLowerCase())\n  .filter(Boolean));\n\nconst company = String(config.Company || config.company || 'TecnoComp').trim();\nconst itopOrganization = String(config.itop_organization || '').trim();\nconst subjectBase = String(config.email_subject || 'Reporte ITSM - tickets abiertos pendientes por agente').trim();\nconst sendOnlyWithAgentEmail = String(config.send_only_with_agent_email ?? 'true').toLowerCase() !== 'false';\nconst fallbackAgentEmail = String(config.fallback_agent_email || '').trim();\n\nfunction isEnabledFlag(value, defaultValue = true) {\n  if (value === undefined || value === null || value === '') return defaultValue;\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value).trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 's', 'y', 'on', 'enabled'].includes(normalized);\n}\n\nconst includeRequirements = isEnabledFlag(config.include_requirements, true);\nconst includeIncidents = isEnabledFlag(config.include_incidents, true);\nconst includeChanges = isEnabledFlag(config.include_changes, true);\nconst includeProblems = isEnabledFlag(config.include_problems, true);\n\nconst enabledTicketTypes = new Set();\nif (includeRequirements) enabledTicketTypes.add('requirement');\nif (includeIncidents) enabledTicketTypes.add('incident');\nif (includeChanges) enabledTicketTypes.add('change');\nif (includeProblems) enabledTicketTypes.add('problem');\n\nfunction normalizeTicketKind(value, fields = {}) {\n  const rawValues = [\n    value,\n    getField(fields, ['finalclass', 'class', 'class_friendlyname', 'ticket_class', 'ticket_type', 'type', 'request_type', 'request_type_friendlyname'], ''),\n    getField(fields, ['ref', 'reference', 'friendlyname'], '')\n  ].map(v => String(v || '').trim()).filter(Boolean);\n\n  const raw = rawValues.join(' ').toLowerCase();\n\n  if (raw.includes('userrequest') || raw.includes('user request') || raw.includes('request') || raw.includes('requerimiento') || raw.includes('requisito') || raw.includes('solicitud')) {\n    return { key: 'requirement', label: 'Requerimiento' };\n  }\n  if (raw.includes('incident') || raw.includes('incidente') || raw.includes('incidencia')) {\n    return { key: 'incident', label: 'Incidente' };\n  }\n  if (raw.includes('change') || raw.includes('cambio')) {\n    return { key: 'change', label: 'Cambio' };\n  }\n  if (raw.includes('problem') || raw.includes('problema')) {\n    return { key: 'problem', label: 'Problema' };\n  }\n\n  return { key: 'unknown', label: rawValues[0] || 'No identificado' };\n}\n\nfunction enabledTicketTypeText() {\n  const labels = [];\n  if (includeRequirements) labels.push('Requerimientos');\n  if (includeIncidents) labels.push('Incidentes');\n  if (includeChanges) labels.push('Cambios');\n  if (includeProblems) labels.push('Problemas');\n  return labels.length ? labels.join(', ') : 'Sin tipos habilitados';\n}\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction csvEscape(value) {\n  const text = String(value ?? '').replace(/\"/g, '\"\"');\n  return `\"${text}\"`;\n}\n\nfunction stripHtml(value) {\n  return String(value ?? '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction getField(obj, names, fallback = '') {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return fallback;\n}\n\nfunction rawField(obj, names) {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return undefined;\n}\n\nfunction entryDateValue(entry, fallbackKey = '') {\n  if (!entry || typeof entry !== 'object') return fallbackKey;\n  return entry.date || entry.created || entry.created_at || entry.creation_date || entry.timestamp || entry.time || fallbackKey || '';\n}\n\nfunction entryAuthorValue(entry) {\n  if (!entry || typeof entry !== 'object') return '';\n  return entry.user_id_friendlyname || entry.user_friendlyname || entry.user_name || entry.user_login || entry.author || entry.author_friendlyname || '';\n}\n\nfunction normalizeLogText(value, fallbackKey = '') {\n  if (value === undefined || value === null || value === '') return '';\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const text = stripHtml(value);\n    return text && text !== '[object Object]' ? text : '';\n  }\n\n  if (Array.isArray(value)) {\n    const normalized = value\n      .map((entry, index) => ({\n        date: entryDateValue(entry, String(index).padStart(6, '0')),\n        text: normalizeLogText(entry, String(index).padStart(6, '0')),\n      }))\n      .filter(e => e.text);\n    if (!normalized.length) return '';\n    normalized.sort((a, b) => String(a.date).localeCompare(String(b.date)));\n    return normalized[normalized.length - 1].text;\n  }\n\n  if (typeof value === 'object') {\n    const direct = rawField(value, [\n      'message', 'html', 'text', 'body', 'content', 'comment', 'note',\n      'last_comment', 'last_note', 'entry', 'value', 'description'\n    ]);\n\n    if (direct !== undefined && direct !== value) {\n      const text = normalizeLogText(direct, fallbackKey);\n      if (text) {\n        const date = entryDateValue(value, fallbackKey);\n        const author = entryAuthorValue(value);\n        const prefix = [date, author].map(v => stripHtml(v)).filter(Boolean).join(' - ');\n        return prefix ? `${prefix}: ${text}` : text;\n      }\n    }\n\n    const collection = value.entries || value.items || value.log || value.logs || value.records || value.data;\n    if (collection && collection !== value) {\n      const entries = Array.isArray(collection)\n        ? collection.map((v, i) => [String(i).padStart(6, '0'), v])\n        : Object.entries(collection);\n      const normalized = entries\n        .map(([key, entry]) => ({ date: entryDateValue(entry, key), text: normalizeLogText(entry, key) }))\n        .filter(e => e.text);\n      if (!normalized.length) return '';\n      normalized.sort((a, b) => String(a.date).localeCompare(String(b.date)));\n      return normalized[normalized.length - 1].text;\n    }\n\n    // Fallback para estructuras de iTop expuestas como objetos planos o respuestas parciales.\n    const nestedEntries = Object.entries(value)\n      .filter(([, val]) => val && typeof val === 'object')\n      .map(([key, val]) => ({ date: entryDateValue(val, key), text: normalizeLogText(val, key) }))\n      .filter(e => e.text);\n    if (nestedEntries.length) {\n      nestedEntries.sort((a, b) => String(a.date).localeCompare(String(b.date)));\n      return nestedEntries[nestedEntries.length - 1].text;\n    }\n\n    const leafTexts = [];\n    const ignored = new Set(['id', 'key', 'code', 'class', 'finalclass', 'type', 'attribute', 'attcode', 'att_code']);\n    for (const [key, val] of Object.entries(value)) {\n      if (ignored.has(String(key).toLowerCase())) continue;\n      if (typeof val === 'string' || typeof val === 'number' || typeof val === 'boolean') {\n        const text = stripHtml(val);\n        if (text && text !== '[object Object]') leafTexts.push(text);\n      }\n    }\n    const unique = [...new Set(leafTexts)].filter(t => t.length > 1);\n    return unique.slice(-3).join(' / ');\n  }\n\n  return '';\n}\n\nfunction getLastReadableNote(fields) {\n  const candidates = [\n    rawField(fields, ['last_comment', 'last_note', 'last_public_log', 'last_private_log', 'last_update_reason', 'last_change']),\n    rawField(fields, ['public_log', 'private_log', 'user_satisfaction', 'caselog', 'work_log', 'history']),\n    rawField(fields, ['description'])\n  ];\n\n  for (const candidate of candidates) {\n    const text = normalizeLogText(candidate);\n    if (text) return text;\n  }\n  return '-';\n}\n\nfunction flattenInput(items) {\n  const rows = [];\n  for (const item of items) {\n    const j = item.json || {};\n    if (j.objects && typeof j.objects === 'object') {\n      for (const [key, value] of Object.entries(j.objects)) {\n        rows.push({ key, ...(value || {}), fields: value?.fields || value || {} });\n      }\n      continue;\n    }\n    if (Array.isArray(j)) {\n      rows.push(...j);\n      continue;\n    }\n    rows.push(j);\n  }\n  return rows;\n}\n\nfunction parseDate(value) {\n  if (!value || value === '-') return null;\n  if (value instanceof Date) return Number.isNaN(value.getTime()) ? null : value;\n  const raw = String(value).trim();\n  if (!raw) return null;\n  const normalized = raw.includes('T') ? raw : raw.replace(' ', 'T');\n  const d = new Date(normalized);\n  return Number.isNaN(d.getTime()) ? null : d;\n}\n\nfunction fmtDateTime(value) {\n  const d = parseDate(value);\n  if (!d) return '-';\n  return d.toLocaleString('es-CL', {\n    timeZone: timezone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n}\n\nfunction diffHours(from, to = now) {\n  const d = parseDate(from);\n  if (!d) return 0;\n  return Math.max(0, Math.floor((to.getTime() - d.getTime()) / 36e5));\n}\n\nfunction formatDurationFromHours(hours) {\n  const h = Math.max(0, Math.floor(Number(hours || 0)));\n  const days = Math.floor(h / 24);\n  const rem = h % 24;\n  if (days <= 0) return `${rem}h`;\n  if (rem === 0) return `${days}d`;\n  return `${days}d ${rem}h`;\n}\n\nfunction isBlank(value) {\n  const v = String(value ?? '').trim();\n  return !v || v === '-' || v.toLowerCase() === 'null' || v.toLowerCase() === 'undefined' || v.toLowerCase() === 'n/a';\n}\n\nfunction isClosed(status) {\n  const s = String(status || '').trim().toLowerCase();\n  return closedValues.has(s);\n}\n\nfunction collectLogEntries(value, collector = []) {\n  if (value === undefined || value === null || value === '') return collector;\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const text = stripHtml(value);\n    if (text && text !== '[object Object]') collector.push({ date: '', author: '', text });\n    return collector;\n  }\n\n  if (Array.isArray(value)) {\n    value.forEach(v => collectLogEntries(v, collector));\n    return collector;\n  }\n\n  if (typeof value === 'object') {\n    const date = value.date || value.created || value.created_at || value.creation_date || value.timestamp || value.time || value.modification_date || '';\n    const author = value.user_id_friendlyname || value.user_friendlyname || value.user_name || value.user_login || value.author || value.author_friendlyname || '';\n\n    const direct = rawField(value, [\n      'message', 'html', 'text', 'body', 'content', 'comment', 'note',\n      'entry', 'value', 'description'\n    ]);\n\n    if (direct !== undefined && direct !== value) {\n      const text = stripHtml(direct);\n      if (text && text !== '[object Object]') collector.push({ date, author, text });\n    }\n\n    const collection = value.entries || value.items || value.log || value.logs || value.records || value.data;\n    if (collection && collection !== value) collectLogEntries(collection, collector);\n  }\n\n  return collector;\n}\n\nfunction getLastLog(fields) {\n  const candidates = [\n    rawField(fields, ['last_comment', 'last_note', 'last_public_log', 'last_private_log', 'last_update_reason', 'last_change']),\n    rawField(fields, ['public_log', 'private_log', 'user_satisfaction', 'caselog', 'work_log', 'history'])\n  ];\n\n  const entries = [];\n  for (const candidate of candidates) collectLogEntries(candidate, entries);\n\n  const valid = entries.filter(e => e.text);\n  if (!valid.length) return { text: '-', date: null };\n\n  valid.sort((a, b) => {\n    const da = parseDate(a.date)?.getTime() || 0;\n    const db = parseDate(b.date)?.getTime() || 0;\n    return da - db;\n  });\n\n  const last = valid[valid.length - 1];\n  const prefix = [last.date ? fmtDateTime(last.date) : '', stripHtml(last.author)].filter(Boolean).join(' - ');\n  return {\n    text: prefix ? `${prefix}: ${last.text}` : last.text,\n    date: parseDate(last.date)\n  };\n}\n\nfunction detectLastUpdate(fields, createdAt) {\n  const explicitUpdate = getField(fields, [\n    'last_update',\n    'last_update_date',\n    'last_modification_date',\n    'last_modified',\n    'modification_date',\n    'date_mod',\n    'updated_at',\n    'last_activity',\n    'last_activity_date'\n  ], '');\n\n  const explicitUpdateDate = parseDate(explicitUpdate);\n  const lastLog = getLastLog(fields);\n  const logDate = lastLog.date;\n\n  const updateCandidates = [explicitUpdateDate, logDate].filter(Boolean);\n  updateCandidates.sort((a, b) => b.getTime() - a.getTime());\n\n  return {\n    date: updateCandidates[0] || createdAt || null,\n    source: updateCandidates[0] ? 'update' : 'creation_fallback',\n    note: lastLog.text || '-'\n  };\n}\n\nfunction getSlaInfo(fields) {\n  const raw = [\n    getField(fields, ['tto_escalation_deadline', 'ttr_escalation_deadline', 'resolution_deadline'], ''),\n    getField(fields, ['tto_escalation_flag', 'ttr_escalation_flag', 'sla_status', 'sla', 'slas'], '')\n  ].filter(Boolean).join(' ');\n\n  const s = raw.toLowerCase();\n  const breached = ['breach', 'breached', 'vencido', 'expired', 'late', 'rojo', 'red'].some(v => s.includes(v));\n  return { text: raw || '-', breached };\n}\n\nfunction normalizeStatus(value) {\n  const raw = String(value || '').trim();\n  const s = raw.toLowerCase();\n  const map = {\n    ongoing: 'En curso',\n    assigned: 'Asignado',\n    new: 'Nuevo',\n    pending: 'Pendiente',\n    waiting_for_approval: 'Esperando aprobaci\\u00f3n',\n    waiting_for_customer: 'Esperando solicitante',\n    escalated_tto: 'Escalado TTO',\n    escalated_ttr: 'Escalado TTR',\n    resolved: 'Resuelto',\n    closed: 'Cerrado',\n    rejected: 'Rechazado',\n    cancelled: 'Cancelado'\n  };\n  return map[s] || raw || '-';\n}\n\nfunction severity(ticket) {\n  if (ticket.slaBreached || ticket.ageDays > 14) return 'Cr\\u00edtico';\n  if (ticket.ageDays >= 7) return 'Alto';\n  return 'Seguimiento';\n}\n\nfunction severityBadge(ticket) {\n  const s = severity(ticket);\n  if (s === 'Cr\\u00edtico') return '<span class=\"badge badge-red\">Cr\\u00edtico</span>';\n  if (s === 'Alto') return '<span class=\"badge badge-orange\">Alto</span>';\n  return '<span class=\"badge badge-yellow\">Seguimiento</span>';\n}\n\nfunction td(value, align = 'left') {\n  return `<td align=\"${align}\" style=\"font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top;\">${value}</td>`;\n}\n\nfunction th(text, align = 'left') {\n  return `<th align=\"${align}\" style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:${align}; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap;\">${escapeHtml(text)}</th>`;\n}\n\nfunction ticketRow(ticket) {\n  const note = ticket.lastNote && ticket.lastNote !== '-' ? ticket.lastNote : 'Sin anotaci\\u00f3n legible desde la respuesta de iTop';\n  return `<tr>\n    ${td(severityBadge(ticket))}\n    ${td(`<strong>${escapeHtml(ticket.ref)}</strong>`)}\n    ${td(`<strong>${escapeHtml(ticket.title)}</strong>`)}\n    ${td(escapeHtml(ticket.caller))}\n    ${td(escapeHtml(fmtDateTime(ticket.createdAt)))}\n    ${td(escapeHtml(fmtDateTime(ticket.lastUpdateAt)))}\n    ${td(escapeHtml(formatDurationFromHours(ticket.ageHours)))}\n    ${td(ticket.slaBreached ? '<span class=\"badge badge-red\">Vencido</span>' : escapeHtml(ticket.slaText || '-'))}\n    ${td(`<span class=\"wrap\">${escapeHtml(note).slice(0, 500)}</span>`)}\n  </tr>`;\n}\n\nfunction renderTicketTable(tickets) {\n  if (!tickets.length) {\n    return `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #dbe3ec; margin-bottom:20px;\"><tr><td style=\"padding:14px; font-size:13px; color:#64748b;\">No existen tickets abiertos asignados al agente.</td></tr></table>`;\n  }\n\n  const rows = tickets.map(ticketRow).join('');\n  return `<div class=\"table-scroll\" style=\"width:100%; overflow-x:auto;\">\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"data-table\" style=\"width:100%; border:1px solid #dbe3ec;\">\n      <thead><tr>\n        ${th('Crit.')}${th('Referencia')}${th('T\\u00edtulo / asunto')}${th('Solicitante')}${th('Creaci\\u00f3n')}${th('\\u00faltimo update')}${th('Tiempo abierto')}${th('SLA')}${th('\\u00faltima anotaci\\u00f3n / cambio registrado')}\n      </tr></thead>\n      <tbody>${rows}</tbody>\n    </table>\n  </div>`;\n}\n\nfunction renderTicketTypeSection(title, tickets) {\n  const sorted = [...tickets].sort((a, b) => (a.createdAt?.getTime() || 0) - (b.createdAt?.getTime() || 0));\n  return `<div style=\"font-size:15px; line-height:21px; color:#111827; font-weight:bold; margin:16px 0 8px 0;\">${escapeHtml(title)} <span style=\"color:#64748b; font-weight:normal;\">(${sorted.length})</span></div>${renderTicketTable(sorted)}`;\n}\n\nfunction renderTicketsByType(tickets) {\n  const sections = [\n    { key: 'requirement', title: 'Requerimientos' },\n    { key: 'incident', title: 'Incidentes' },\n    { key: 'change', title: 'Cambios' },\n    { key: 'problem', title: 'Problemas' },\n  ];\n\n  const blocks = sections\n    .map(section => {\n      const list = tickets.filter(ticket => ticket.ticketType === section.key);\n      if (!list.length) return '';\n      return renderTicketTypeSection(section.title, list);\n    })\n    .filter(Boolean);\n\n  if (!blocks.length) return renderTicketTable([]);\n  return blocks.join('');\n}\n\nfunction normalizeEmail(value) {\n  const text = String(value ?? '').trim();\n  const match = text.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return match ? match[0].toLowerCase() : '';\n}\n\nconst userRows = (() => {\n  try {\n    return flattenInput($('iTop - Usuarios Locales con Persona').all());\n  } catch (error) {\n    return [];\n  }\n})();\n\nconst agentEmailIndex = new Map();\n\nfunction addAgentEmailIndex(key, email) {\n  const k = String(key ?? '').trim();\n  const e = normalizeEmail(email);\n  if (!k || !e) return;\n  agentEmailIndex.set(k.toLowerCase(), e);\n}\n\nfunction indexAgentRecord(row) {\n  const f = row.fields || row;\n\n  const email = normalizeEmail(getField(f, [\n    'email',\n    'email_address',\n    'mail',\n    'notify_email',\n    'business_email',\n    'p.email',\n    'p_email',\n    'person_email',\n    'contact_email',\n    'contactid_email',\n    'contact_id_email',\n    'login'\n  ], ''));\n  if (!email) return;\n\n  const rawKeys = [\n    row.key,\n    getField(f, ['id'], ''),\n    getField(f, ['login'], ''),\n    getField(f, ['friendlyname', 'name', 'display_name', 'full_name'], ''),\n    getField(f, ['email', 'email_address', 'mail', 'p.email', 'p_email', 'person_email', 'contact_email'], ''),\n    getField(f, ['contactid', 'contact_id', 'contactid_id', 'contact_id_id', 'p.id', 'p_id', 'person_id'], ''),\n    getField(f, ['contactid_friendlyname', 'contact_id_friendlyname', 'contact_friendlyname', 'person_id_friendlyname', 'p.friendlyname', 'p_friendlyname', 'person_friendlyname'], '')\n  ];\n\n  const contactObject = rawField(f, ['contactid', 'contact_id', 'contact', 'person_id', 'person']);\n  if (contactObject && typeof contactObject === 'object') {\n    const cf = contactObject.fields || contactObject;\n    rawKeys.push(\n      contactObject.key,\n      getField(cf, ['id'], ''),\n      getField(cf, ['friendlyname', 'name', 'display_name', 'full_name'], ''),\n      getField(cf, ['email', 'email_address', 'mail'], '')\n    );\n  }\n\n  const rowKey = String(row.key || '').trim();\n  const idFromKey = rowKey.includes('::') ? rowKey.split('::').pop() : '';\n  if (idFromKey) rawKeys.push(idFromKey, `UserLocal::${idFromKey}`, `User::${idFromKey}`);\n\n  const contactId = String(getField(f, ['contactid', 'contact_id', 'contactid_id', 'contact_id_id', 'p.id', 'p_id', 'person_id'], '') || '').trim();\n  if (contactId) rawKeys.push(contactId, `Person::${contactId}`, `Contact::${contactId}`);\n\n  const personFriendly = String(getField(f, ['p.friendlyname', 'p_friendlyname', 'person_friendlyname', 'contactid_friendlyname', 'contact_id_friendlyname'], '') || '').trim();\n  if (personFriendly) rawKeys.push(personFriendly);\n\n  for (const key of rawKeys) addAgentEmailIndex(key, email);\n}\nfor (const user of userRows) indexAgentRecord(user);\n\nfunction lookupAgentEmail(value) {\n  if (value === undefined || value === null || value === '') return '';\n\n  const directEmail = normalizeEmail(value);\n  if (directEmail) return directEmail;\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const key = String(value).trim().toLowerCase();\n    return agentEmailIndex.get(key) || '';\n  }\n\n  if (typeof value === 'object') {\n    const f = value.fields || value;\n    const email = normalizeEmail(getField(f, ['email', 'email_address', 'mail', 'p.email', 'p_email', 'person_email', 'contact_email', 'login'], ''));\n    if (email) return email;\n\n    const candidates = [\n      value.key,\n      getField(f, ['id'], ''),\n      getField(f, ['login'], ''),\n      getField(f, ['contactid', 'contact_id', 'contactid_id', 'contact_id_id', 'person_id', 'user_id'], ''),\n      getField(f, ['contactid_friendlyname', 'contact_id_friendlyname', 'contact_friendlyname', 'person_id_friendlyname'], ''),\n      getField(f, ['friendlyname', 'name', 'display_name', 'full_name', 'p.friendlyname', 'p_friendlyname', 'person_friendlyname'], '')\n    ];\n\n    for (const candidate of candidates) {\n      const key = String(candidate ?? '').trim().toLowerCase();\n      if (key && agentEmailIndex.has(key)) return agentEmailIndex.get(key);\n    }\n  }\n\n  return '';\n}\n\nfunction getAgentEmail(fields) {\n  const direct = getField(fields, [\n    'agent_id_email',\n    'agent_email',\n    'assignee_id_email',\n    'assignee_email',\n    'owner_id_email',\n    'owner_email',\n    'agent_id_obsolescence_flag_email',\n    'agent_id_friendlyname_email',\n    'agent_email_address',\n    'agent_id_contact_email',\n    'agent_id_email_address',\n    'agent_id_person_email',\n    'email'\n  ], '');\n\n  let email = normalizeEmail(direct);\n  if (email) return email;\n\n  const lookupCandidates = [\n    rawField(fields, ['agent_id']),\n    rawField(fields, ['agent']),\n    rawField(fields, ['assignee_id']),\n    rawField(fields, ['assignee']),\n    rawField(fields, ['owner_id']),\n    rawField(fields, ['owner']),\n    getField(fields, ['agent_id', 'assignee_id', 'owner_id'], ''),\n    getField(fields, ['agent_id_friendlyname', 'agent_name', 'assignee_id_friendlyname', 'owner_id_friendlyname'], '')\n  ];\n\n  for (const candidate of lookupCandidates) {\n    email = lookupAgentEmail(candidate);\n    if (email) return email;\n  }\n\n  return '';\n}\n\nconst rows = flattenInput($input.all());\n\nconst mappedTickets = rows.map((row) => {\n  const f = row.fields || row;\n  const statusRaw = getField(f, ['operational_status', 'operational_status_friendlyname', 'status', 'status_friendlyname'], '');\n  const createdRaw = getField(f, ['start_date', 'creation_date', 'created_at', 'date', 'opened_at'], '');\n  const createdAt = parseDate(createdRaw);\n  const lastUpdate = detectLastUpdate(f, createdAt);\n  const lastReadableNote = getLastReadableNote(f);\n  const ageHours = diffHours(createdAt, now);\n  const sla = getSlaInfo(f);\n  const ref = getField(f, ['ref', 'reference', 'ticket_ref', 'friendlyname'], row.key || '-');\n  const agent = getField(f, ['agent_id_friendlyname', 'agent_name', 'assignee_id_friendlyname', 'team_id_friendlyname', 'owner_id_friendlyname'], 'Sin agente asignado');\n  const agentEmail = getAgentEmail(f);\n  const ticketKind = normalizeTicketKind(getField(f, ['finalclass', 'class', 'class_friendlyname', 'ticket_class', 'ticket_type', 'type'], ''), f);\n\n  return {\n    ref,\n    title: stripHtml(getField(f, ['title', 'description', 'name', 'friendlyname'], '-')),\n    ticketType: ticketKind.key,\n    ticketTypeLabel: ticketKind.label,\n    statusRaw,\n    statusLabel: normalizeStatus(statusRaw),\n    caller: getField(f, ['caller_id_friendlyname', 'customer_id_friendlyname', 'requestor_id_friendlyname', 'person_id_friendlyname'], '-'),\n    agent,\n    agentEmail: agentEmail || fallbackAgentEmail,\n    createdAt,\n    lastUpdateAt: lastUpdate.date,\n    lastUpdateSource: lastUpdate.source,\n    lastNote: lastReadableNote && lastReadableNote !== '-' ? lastReadableNote : lastUpdate.note,\n    ageHours,\n    ageDays: Math.floor(ageHours / 24),\n    slaText: sla.text,\n    slaBreached: sla.breached\n  };\n});\n\n// Evita duplicidad por respuestas repetidas del nodo iTop o joins internos.\n// La referencia del ticket es la llave operativa m\\u00e1s estable para este reporte.\nconst uniqueTicketsByRef = new Map();\nfor (const ticket of mappedTickets) {\n  const key = String(ticket.ref || '').trim().toLowerCase() || `${String(ticket.title || '').trim().toLowerCase()}|${String(ticket.agent || '').trim().toLowerCase()}|${String(ticket.createdAt?.toISOString?.() || '').trim()}`;\n  if (!uniqueTicketsByRef.has(key)) {\n    uniqueTicketsByRef.set(key, ticket);\n    continue;\n  }\n\n  const current = uniqueTicketsByRef.get(key);\n  const currentHasNote = current.lastNote && current.lastNote !== '-';\n  const ticketHasNote = ticket.lastNote && ticket.lastNote !== '-';\n  if (!currentHasNote && ticketHasNote) uniqueTicketsByRef.set(key, ticket);\n}\n\nconst tickets = Array.from(uniqueTicketsByRef.values())\n.filter(t => !isClosed(t.statusRaw))\n.filter(t => enabledTicketTypes.has(t.ticketType))\n.filter(t => !sendOnlyWithAgentEmail || !isBlank(t.agentEmail))\n.sort((a, b) => (a.createdAt?.getTime() || 0) - (b.createdAt?.getTime() || 0));\n\nconst groups = new Map();\n\nfor (const ticket of tickets) {\n  const key = ticket.agentEmail || fallbackAgentEmail || '';\n  if (!key) continue;\n  if (!groups.has(key)) {\n    groups.set(key, {\n      agentEmail: key,\n      agentName: ticket.agent || 'Sin agente asignado',\n      tickets: []\n    });\n  }\n  groups.get(key).tickets.push(ticket);\n}\n\nconst generatedAt = now.toLocaleString('es-CL', {\n  timeZone: timezone,\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst generatedAtFile = new Date()\n  .toISOString()\n  .replace(/[:.]/g, '-')\n  .replace('T', '_')\n  .slice(0, 19);\n\nconst output = [];\n\nfor (const group of groups.values()) {\n  const list = [...group.tickets].sort((a, b) => (a.createdAt?.getTime() || 0) - (b.createdAt?.getTime() || 0));\n  const olderThan14Count = list.filter(t => t.ageDays > 14).length;\n  const slaBreachedCount = list.filter(t => t.slaBreached).length;\n  const criticalCount = list.filter(t => severity(t) === 'Cr\\u00edtico').length;\n  const requirementCount = list.filter(t => t.ticketType === 'requirement').length;\n  const incidentCount = list.filter(t => t.ticketType === 'incident').length;\n  const changeCount = list.filter(t => t.ticketType === 'change').length;\n  const problemCount = list.filter(t => t.ticketType === 'problem').length;\n  const typeStatsText = `Requerimientos: ${requirementCount} ?? Incidentes: ${incidentCount} ?? Cambios: ${changeCount} ?? Problemas: ${problemCount}`;\n  const oldestTicket = list[0] ? `${list[0].ref} ?? ${formatDurationFromHours(list[0].ageHours)}` : '-';\n\n  const csvHeaders = [\n    'Referencia',\n    'Tipo',\n    'Titulo',\n    'Solicitante',\n    'Agente',\n    'Email agente',\n    'Creacion',\n    'Ultimo update',\n    'Tiempo abierto',\n    'SLA',\n    'SLA vencido',\n    'Ultima anotacion o cambio'\n  ];\n\n  const csvRows = list.map(ticket => [\n    ticket.ref,\n    ticket.ticketTypeLabel,\n    ticket.title,\n    ticket.caller,\n    ticket.agent,\n    ticket.agentEmail,\n    fmtDateTime(ticket.createdAt),\n    fmtDateTime(ticket.lastUpdateAt),\n    formatDurationFromHours(ticket.ageHours),\n    ticket.slaText,\n    ticket.slaBreached ? 'Si' : 'No',\n    ticket.lastNote\n  ]);\n\n  const csvContent = '\\uFEFF' + [\n    csvHeaders.map(csvEscape).join(';'),\n    ...csvRows.map(row => row.map(csvEscape).join(';'))\n  ].join('\\r\\n');\n\n  const safeAgent = String(group.agentName || 'agente')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-zA-Z0-9_-]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .slice(0, 60) || 'agente';\n\n  const emailSubject = itopOrganization\n    ? `${subjectBase} - ${itopOrganization} - ${group.agentName}`\n    : `${subjectBase} - ${group.agentName}`;\n\n  output.push({\n    json: {\n      flags: config.flags || {},\n      report_template_key: config.report_template_key,\n      template_root: config.template_root,\n      include_attachment: config.flags?.include_attachment ?? config.include_attachment,\n      include_detail: config.flags?.include_detail ?? config.include_detail,\n      include_summary: config.flags?.include_summary ?? config.include_summary,\n      include_operational_notes: config.flags?.include_operational_notes ?? config.include_operational_notes,\n      include_itop_button_footer: config.flags?.include_itop_button_footer ?? config.include_itop_button_footer,\n      email_from: config.email_from,\n      email_to: group.agentEmail,\n      email_cc: config.email_cc || '',\n      email_bcc: config.email_bcc || '',\n      email_subject: emailSubject,\n      company,\n      Company: company,\n      itop_organization: itopOrganization || '-',\n      itop_url: config.itop_url || '#',\n      generated_at: generatedAt,\n      enabled_ticket_types: enabledTicketTypeText(),\n      include_requirements: String(includeRequirements),\n      include_incidents: String(includeIncidents),\n      include_changes: String(includeChanges),\n      include_problems: String(includeProblems),\n      lookup_records: String(userRows.length),\n      indexed_agent_emails: String(agentEmailIndex.size),\n      agent_name: group.agentName,\n      agent_email: group.agentEmail,\n      total_open: String(list.length),\n      older_than_14_count: String(olderThan14Count),\n      sla_breached_count: String(slaBreachedCount),\n      critical_count: String(criticalCount),\n      requirement_count: String(requirementCount),\n      incident_count: String(incidentCount),\n      change_count: String(changeCount),\n      problem_count: String(problemCount),\n      type_stats_text: typeStatsText,\n      oldest_ticket: oldestTicket,\n      ticket_rows_html: renderTicketsByType(list),\n      csv_filename: `tickets_abiertos_${safeAgent}_${generatedAtFile}.csv`\n    },\n    binary: {\n      csv: {\n        data: Buffer.from(csvContent, 'utf8').toString('base64'),\n        mimeType: 'text/csv',\n        fileName: `tickets_abiertos_${safeAgent}_${generatedAtFile}.csv`\n      }\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ],
      "id": "a7efd026-cb0b-4155-97d6-4c51dc2d866d",
      "name": "Preparar datos por agente"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction readText(filePath) {\n  return fs.readFileSync(filePath, 'utf8');\n}\n\nfunction render(template, values) {\n  return String(template || '').replace(/{{\\s*([\\w.]+)\\s*}}/g, (_, key) => {\n    const parts = key.split('.');\n    let value = values;\n    for (const part of parts) value = value?.[part];\n    return value === undefined || value === null ? '' : String(value);\n  });\n}\n\nfunction normalizeText(value, forSubject = false) {\n  let text = String(value ?? '');\n  const htmlMap = [\n    ['Automatizaci??n','Automatizaci&oacute;n'], ['Organizaci??n','Organizaci&oacute;n'], ['organizaci??n','organizaci&oacute;n'],\n    ['Producci??n','Producci&oacute;n'], ['garant??a','garant&iacute;a'], ['Garant??a','Garant&iacute;a'], ['GARANT??A','GARANT&Iacute;A'],\n    ['pr??ximos','pr&oacute;ximos'], ['Pr??ximos','Pr&oacute;ximos'], ['PR??XIMOS','PR&Oacute;XIMOS'], ['pr??ximo','pr&oacute;ximo'], ['pr??xima','pr&oacute;xima'],\n    ['d??as','d&iacute;as'], ['D??AS','D&Iacute;AS'], ['D??as','D&iacute;as'], ['m??s','m&aacute;s'], ['M??S','M&Aacute;S'], ['M??s','M&aacute;s'],\n    ['T??tulo','T&iacute;tulo'], ['antig??edad','antig&uuml;edad'], ['actualizaci??n','actualizaci&oacute;n'], ['configuraci??n','configuraci&oacute;n'],\n    ['f??sicos','f&iacute;sicos'], ['f??sico','f&iacute;sico'], ['f??sica','f&iacute;sica'], ['tel??fono','tel&eacute;fono'], ['m??viles','m&oacute;viles'],\n    ['perif??rico','perif&eacute;rico'], ['perif??ricos','perif&eacute;ricos'], ['??nico','&uacute;nico'], ['??nica','&uacute;nica'], ['??ltimo','&uacute;ltimo'],\n    ['cr??tico','cr&iacute;tico'], ['cr??ticos','cr&iacute;ticos'], ['par??metros','par&aacute;metros'], ['env??a','env&iacute;a'], ['envi??','envi&oacute;'],\n    ['asignaci??n','asignaci&oacute;n'], ['ubicaci??n','ubicaci&oacute;n'], ['descripci??n','descripci&oacute;n'], ['categor??a','categor&iacute;a'],\n    ['seg??n','seg&uacute;n'], ['hist??rico','hist&oacute;rico'], ['relaci??n','relaci&oacute;n'], ['operaci??n','operaci&oacute;n'], ['an??lisis','an&aacute;lisis'],\n    ['creaci??n','creaci&oacute;n'], ['aprobaci??n','aprobaci&oacute;n'], ['atenci??n','atenci&oacute;n'], ['informaci??n','informaci&oacute;n'],\n    ['clasificaci??n','clasificaci&oacute;n'], ['revisi??n','revisi&oacute;n'], ['intervenci??n','intervenci&oacute;n'], ['secci??n','secci&oacute;n'],\n    ['l??nea','l&iacute;nea'], ['c??digos','c&oacute;digos'], ['d??nde','d&oacute;nde'], ['espa??ol','espa&ntilde;ol'], ['vi??etas','vi&ntilde;etas'],\n    ['m??ltiples','m&uacute;ltiples'], ['m??xima','m&aacute;xima'], ['r??pida','r&aacute;pida'], ['reposici??n','reposici&oacute;n'],\n    ['est??ndar','est&aacute;ndar'], ['alg??n','alg&uacute;n'], ['??til','&uacute;til'], ['port??til','port&aacute;til']\n  ];\n  const subjectMap = htmlMap.map(([bad, good]) => [bad, good\n    .replace(/&aacute;/g,'a').replace(/&eacute;/g,'e').replace(/&iacute;/g,'i').replace(/&oacute;/g,'o').replace(/&uacute;/g,'u')\n    .replace(/&Aacute;/g,'A').replace(/&Eacute;/g,'E').replace(/&Iacute;/g,'I').replace(/&Oacute;/g,'O').replace(/&Uacute;/g,'U')\n    .replace(/&uuml;/g,'u').replace(/&Uuml;/g,'U').replace(/&ntilde;/g,'n').replace(/&Ntilde;/g,'N')]);\n  for (const [bad, good] of (forSubject ? subjectMap : htmlMap)) text = text.split(bad).join(good);\n  text = text.split(' ?? ').join(forSubject ? ' - ' : ' &bull; ');\n  text = text.split('??').join(forSubject ? '-' : '&bull;');\n  return text;\n}\n\nfunction getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nfunction normalizeBoolean(value, fallback = true) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si', 's', 'on', 'enabled'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', 'off', 'disabled'].includes(text)) return false;\n  return fallback;\n}\n\nfunction flagEnabled(data, name, fallback = true) {\n  const trigger = getNodeJson('SetTrigger - Flujo');\n  const mixed = getNodeJson('SetMixed - Configuracion efectiva');\n  const value = trigger[name] ?? trigger.flags?.[name] ?? data[name] ?? data.flags?.[name] ?? mixed[name] ?? mixed.flags?.[name];\n  return normalizeBoolean(value, fallback);\n}\n\nfunction notesList(value) {\n  const lines = String(value ?? '')\n    .split(/\\r?\\n|\\. /)\n    .map(v => v.trim().replace(/\\.$/, ''))\n    .filter(Boolean);\n  if (!lines.length) return '<div style=\"font-size:13px; line-height:20px; color:#64748b;\">Sin observaciones adicionales.</div>';\n  return '<ul style=\"margin:0; padding-left:18px; color:#374151; font-size:13px; line-height:20px;\">' +\n    lines.map(line => '<li>' + escapeHtml(line) + '.</li>').join('') +\n    '</ul>';\n}\n\nfunction statCard(data, stat) {\n  const value = data[stat.value] ?? data[stat.fallbackValue] ?? '-';\n  return '<td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid ' + stat.border + '; background-color:' + stat.background + ';\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:' + stat.labelColor + '; font-weight:bold;\">' + escapeHtml(stat.label) + '</div><div style=\"font-size:24px; color:' + stat.valueColor + '; font-weight:bold;\">' + escapeHtml(value) + '</div></td></tr></table></td>';\n}\n\nfunction statRows(data, stats) {\n  const rows = [];\n  for (let i = 0; i < stats.length; i += 3) {\n    const cells = stats.slice(i, i + 3).map(stat => statCard(data, stat));\n    while (cells.length < 3) cells.push('<td class=\"summary-card\" width=\"33.33%\" valign=\"top\">&nbsp;</td>');\n    rows.push('<tr>' + cells.join('') + '</tr>');\n  }\n  return rows.join('\\n');\n}\n\nfunction simpleTable(title, rows, headers, emptyText) {\n  if (!rows) return '';\n  const headerHtml = headers.map(h => '<th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">' + escapeHtml(h) + '</th>').join('');\n  const body = rows || '<tr><td colspan=\"' + headers.length + '\" style=\"padding:14px; font-size:12px; color:#64748b;\">' + escapeHtml(emptyText || 'Sin registros.') + '</td></tr>';\n  return '<div style=\"font-size:14px; font-weight:bold; color:#1e293b; margin:18px 0 8px 0;\">' + escapeHtml(title) + '</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; border:1px solid #dbe3ec;\"><thead><tr style=\"background:#f8fafc;\">' + headerHtml + '</tr></thead><tbody>' + body + '</tbody></table>';\n}\n\nfunction tableContent(data) {\n  const blocks = [];\n  if (data.detail_blocks) blocks.push(data.detail_blocks);\n  if (data.class_asset_blocks) blocks.push(data.class_asset_blocks);\n  if (data.status_asset_blocks) blocks.push(data.status_asset_blocks);\n  if (data.review_asset_blocks) blocks.push(data.review_asset_blocks);\n  if (data.ticket_sections) blocks.push(data.ticket_sections);\n  if (data.older_section) blocks.push(data.older_section);\n  if (data.recent_section) blocks.push(data.recent_section);\n  if (data.ticket_rows_html) blocks.push(simpleTable('Tickets abiertos', data.ticket_rows_html, ['Criticidad','Referencia','Tipo','Titulo','Solicitante','Estado','Creacion','Ultimo update','Antiguedad','SLA'], 'Sin tickets.'));\n  if (data.movement_rows) blocks.push(simpleTable('Movimientos recientes', data.movement_rows, ['Fecha','Movimiento','Activo','Clase','Origen','Destino'], 'Sin movimientos.'));\n  if (data.class_summary_rows) blocks.push(simpleTable('Resumen por clase', data.class_summary_rows, ['Clase','Total','Dato 1','Observacion'], 'Sin resumen por clase.'));\n  if (data.warehouse_summary_rows) blocks.push(simpleTable('Resumen por bodega/localidad', data.warehouse_summary_rows, ['Bodega/localidad','Total','Clases','Observacion'], 'Sin resumen por bodega.'));\n  if (data.status_summary_rows) blocks.push(simpleTable('Resumen por estado', data.status_summary_rows, ['Estado','Total','Dato 1','Observacion'], 'Sin resumen por estado.'));\n  if (data.location_summary_rows) blocks.push(simpleTable('Resumen por localidad', data.location_summary_rows, ['Localidad','Total','Dato 1','Observacion'], 'Sin resumen por localidad.'));\n  if (data.class_status_rows) blocks.push(simpleTable('Clase por estado', data.class_status_rows, ['Clase','Productivo','Inventario','No operativo'], 'Sin matriz de estados.'));\n  if (data.location_matrix_rows) {\n    const header = data.location_matrix_header_cells || '<th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Bodega/localidad</th>';\n    blocks.push('<div style=\"font-size:14px; font-weight:bold; color:#1e293b; margin:18px 0 8px 0;\">Matriz por bodega/localidad</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; border:1px solid #dbe3ec;\"><thead><tr style=\"background:#f8fafc;\">' + header + '</tr></thead><tbody>' + data.location_matrix_rows + '</tbody></table>');\n  }\n  if (data.top_location_rows) blocks.push(simpleTable('Top bodega/localidad', data.top_location_rows, ['Bodega/localidad','Total','Dato 1','Observacion'], 'Sin top de localidades.'));\n  return blocks.filter(Boolean).join('\\n');\n}\n\nfunction buildHtml(item) {\n  const data = item.json || {};\n  const triggerConfig = getNodeJson('SetTrigger - Flujo');\n  const mixedConfig = getNodeJson('SetMixed - Configuracion efectiva');\n  const root = data.template_root || mixedConfig.template_root || triggerConfig.template_root || '/opt/n8n-config/templates/mail/v1';\n  const key = data.report_template_key || mixedConfig.report_template_key || triggerConfig.report_template_key || 'cmdb-activos-sin-contacto';\n  const contract = JSON.parse(readText(path.join(root, 'reports', key + '.json')));\n  const partial = (name) => readText(path.join(root, contract.partials[name]));\n\n  const styles = partial('styles');\n  const header = render(partial('header'), {\n    eyebrow: escapeHtml(contract.header?.eyebrow || 'Automatizacion ITSM / CMDB'),\n    title: escapeHtml(data.report_title || data.email_subject || 'Reporte'),\n    subtitle: escapeHtml(contract.header?.subtitle || ''),\n    itop_organization: escapeHtml(data.itop_organization || '-'),\n    generated_at: escapeHtml(data.generated_at || '-'),\n    source_label: escapeHtml(data.source_label || data.report_source_label || contract.header?.source_label || '-'),\n  });\n  const summary = render(partial('summary'), { description: escapeHtml(data.report_description || contract.summary?.description || '') });\n  const stats = render(partial('stats'), { stats_rows: statRows(data, contract.stats || []) });\n  const criteria = render(partial('criteria'), contract.criteria || {});\n  const tables = flagEnabled(data, 'include_detail', true) ? render(partial('tables'), {\n    title: contract.tables?.title || 'Detalle operacional',\n    subtitle: contract.tables?.subtitle || '',\n    content: tableContent(data) || '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #dbe3ec;\"><tr><td style=\"padding:14px; font-size:13px; color:#64748b;\">Sin registros para el criterio del reporte.</td></tr></table>',\n  }) : '';\n  const notes = flagEnabled(data, 'include_operational_notes', true) ? render(partial('notes'), { notes_list: notesList(data.operational_notes) }) : '';\n  const cta = flagEnabled(data, 'include_itop_button_footer', true) ? render(partial('cta'), {\n    href: escapeHtml(data.itop_url || '#'),\n    label: contract.cta?.label || 'Abrir',\n  }) : '';\n  const footer = render(partial('footer'), {\n    brand: contract.footer?.brand || 'Automatizacion ITSM / CMDB',\n    company: escapeHtml(data.company || data.Company || ''),\n    generated_at: escapeHtml(data.generated_at || '-'),\n  });\n\n  let html = render(partial('layout'), {\n    title: escapeHtml(data.report_title || data.email_subject || 'Reporte'),\n    styles,\n    header,\n    summary: flagEnabled(data, 'include_summary', true) ? summary : '',\n    stats: flagEnabled(data, 'include_summary', true) ? stats : '',\n    criteria,\n    tables,\n    notes,\n    cta,\n    footer,\n  });\n  html = normalizeText(html, false);\n  data.email_subject = normalizeText(data.email_subject, true);\n\n  const includeAttachment = flagEnabled(data, 'include_attachment', true);\n  const binary = includeAttachment ? (item.binary || {}) : {};\n  return {\n    json: {\n      ...data,\n      html,\n      template_version: contract.template_version || 'mail-v1',\n      template_contract: key,\n      include_attachment_effective: includeAttachment,\n      attachment_binary_names: includeAttachment && binary.csv ? 'csv' : '',\n      has_csv_binary: Boolean(binary.csv),\n    },\n    binary,\n  };\n}\n\nreturn $input.all().map(buildHtml);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        0
      ],
      "id": "4b667fe7-8811-4d2f-9c7c-5009555ee060",
      "name": "HTML - Renderer parciales"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from }}",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ $json.attachment_binary_names }}",
          "ccEmail": "={{ $json.email_cc }}",
          "bccEmail": "={{ $json.email_bcc }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2688,
        0
      ],
      "id": "12a69ea1-178e-4d26-9581-9783908a0604",
      "name": "Enviar correo SMTP",
      "webhookId": "0711891f-e083-4c41-82df-2dec573e4bbe",
      "credentials": {
        "smtp": {
          "id": "3SyjzuvErhGGEZZq",
          "name": "SMTP_MailPit"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "itsm-tickets-abiertos-agente",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -192
      ],
      "id": "c8ece4fe-3c82-4bb4-b1c0-a0ea4907e737",
      "name": "Webhook - ejecucion externa",
      "webhookId": "af375e9f-9f54-4622-bfcf-d4f3ed525f37",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5ueiVRP6pKurE71t",
          "name": "HeaderAuth_GF_QA"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        672,
        192
      ],
      "id": "08433403-7d92-4cc5-add6-29973e2a552d",
      "name": "Cron - lunes 07:00"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "puR8KZ9UFvq5zRqX",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/puR8KZ9UFvq5zRqX",
          "cachedResultName": "SYS - Configuracion base reportes correo"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "acbc0878-b545-4e81-99cb-c95ce4a0a29d",
      "name": "SubWorkflow - SetBase reportes correo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first()?.json || {};\nconst trigger = $('SetTrigger - Flujo').first()?.json || {};\n\nfunction normalizeBoolean(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si'].includes(text)) return true;\n  if (['false', '0', 'no', 'n'].includes(text)) return false;\n  return fallback;\n}\n\nconst flags = { ...(base.flags || {}) };\nfor (const key of ['include_attachment', 'include_detail', 'include_summary', 'include_operational_notes', 'include_itop_button_footer', 'send_email', 'include_requirements', 'include_incidents', 'include_changes', 'include_problems']) {\n  if (trigger[key] !== undefined && trigger[key] !== null && trigger[key] !== '') {\n    flags[key] = normalizeBoolean(trigger[key], flags[key]);\n  }\n}\n\nconst setMixed = {\n  ...base,\n  ...trigger,\n  flags,\n  config_source: 'SetBase + SetTrigger',\n};\n\nfor (const [key, value] of Object.entries(flags)) {\n  if (setMixed[key] === undefined || setMixed[key] === null || setMixed[key] === '') setMixed[key] = value;\n}\n\nreturn [{ json: setMixed }];"
      },
      "id": "619ad031-5f4a-4d92-9c10-e003cb664a53",
      "name": "Config Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nfunction mergeFlags(...sources) {\n  const flags = {};\n  for (const source of sources) {\n    if (!source) continue;\n    Object.assign(flags, source.flags || {});\n    for (const key of ['include_attachment','include_detail','include_summary','include_operational_notes','include_itop_button_footer','send_email','include_requirements','include_incidents','include_changes','include_problems']) {\n      if (source[key] !== undefined && source[key] !== null && source[key] !== '') flags[key] = normalizeBoolean(source[key], flags[key]);\n    }\n  }\n  return flags;\n}\n\nfunction normalizeBoolean(value, fallback = true) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si', 's', 'on', 'enabled'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', 'off', 'disabled'].includes(text)) return false;\n  return fallback;\n}\n\nfunction flagEnabled(data, name, fallback = true) {\n  return normalizeBoolean(data[name] ?? data.flags?.[name], fallback);\n}\n\nfunction removeOuterRowByMarker(html, marker) {\n  const index = html.indexOf(marker);\n  if (index === -1) return html;\n  const starts = ['\\n      <tr><td', '\\n                        <tr><td', '<tr><td', '<tr>'];\n  let start = -1;\n  for (const needle of starts) {\n    const pos = html.lastIndexOf(needle, index);\n    if (pos !== -1 && pos > start) start = pos;\n  }\n  if (start === -1) start = Math.max(0, index - 200);\n  const ends = ['\\n      <tr><td', '\\n                        <tr><td', '\\n      <tr><td style=\"background-color', '\\n                        <tr><td style=\"background-color'];\n  let end = -1;\n  for (const needle of ends) {\n    const pos = html.indexOf(needle, index + marker.length);\n    if (pos !== -1 && (end === -1 || pos < end)) end = pos;\n  }\n  if (end === -1) {\n    const close = html.indexOf('</td></tr>', index);\n    end = close === -1 ? index + marker.length : close + '</td></tr>'.length;\n  }\n  return html.slice(0, start) + html.slice(end);\n}\n\nfunction removeAllRowsByMarker(html, marker) {\n  let previous;\n  do {\n    previous = html;\n    html = removeOuterRowByMarker(html, marker);\n  } while (html !== previous);\n  return html;\n}\n\nfunction removeTablesByClass(html) {\n  return html\n    .replace(/<table\\b[^>]*class=[\"'][^\"']*(?:data-table|ticket-table)[^\"']*[\"'][\\s\\S]*?<\\/table>/gi, '')\n    .replace(/<table\\b[^>]*(?:data-table|ticket-table)[^>]*>[\\s\\S]*?<\\/table>/gi, '');\n}\n\n\nfunction repairMailEncoding(value, forSubject = false) {\n  let text = String(value ?? '');\n  const htmlMap = [\n    ['Automatizaci??n','Automatizaci&oacute;n'], ['automatizaci??n','automatizaci&oacute;n'],\n    ['Organizaci??n','Organizaci&oacute;n'], ['organizaci??n','organizaci&oacute;n'],\n    ['Producci??n','Producci&oacute;n'], ['producci??n','producci&oacute;n'],\n    ['garant??a','garant&iacute;a'], ['Garant??a','Garant&iacute;a'], ['GARANT??A','GARANT&Iacute;A'],\n    ['pr??ximos','pr&oacute;ximos'], ['Pr??ximos','Pr&oacute;ximos'], ['PR??XIMOS','PR&Oacute;XIMOS'], ['pr??ximo','pr&oacute;ximo'], ['pr??xima','pr&oacute;xima'],\n    ['d??as','d&iacute;as'], ['D??AS','D&Iacute;AS'], ['D??as','D&iacute;as'],\n    ['m??s','m&aacute;s'], ['M??S','M&Aacute;S'], ['M??s','M&aacute;s'],\n    ['T??tulo','T&iacute;tulo'], ['t??tulo','t&iacute;tulo'],\n    ['antig??edad','antig&uuml;edad'], ['Antig??edad','Antig&uuml;edad'],\n    ['actualizaci??n','actualizaci&oacute;n'], ['Actualizaci??n','Actualizaci&oacute;n'],\n    ['configuraci??n','configuraci&oacute;n'], ['Configuraci??n','Configuraci&oacute;n'],\n    ['f??sicos','f&iacute;sicos'], ['f??sico','f&iacute;sico'], ['f??sica','f&iacute;sica'], ['f??sicamente','f&iacute;sicamente'],\n    ['tel??fono','tel&eacute;fono'], ['Tel??fonos','Tel&eacute;fonos'], ['m??viles','m&oacute;viles'],\n    ['perif??rico','perif&eacute;rico'], ['perif??ricos','perif&eacute;ricos'], ['Perif??ricos','Perif&eacute;ricos'],\n    ['??nico','&uacute;nico'], ['??nica','&uacute;nica'], ['??ltimo','&uacute;ltimo'], ['??ltima','&uacute;ltima'],\n    ['cr??tico','cr&iacute;tico'], ['cr??ticos','cr&iacute;ticos'], ['Cr??tico','Cr&iacute;tico'], ['CR??TICOS','CR&Iacute;TICOS'],\n    ['par??metros','par&aacute;metros'], ['inv??lida','inv&aacute;lida'], ['v??lida','v&aacute;lida'], ['v??lidas','v&aacute;lidas'],\n    ['env??a','env&iacute;a'], ['envi??','envi&oacute;'], ['asignaci??n','asignaci&oacute;n'], ['ubicaci??n','ubicaci&oacute;n'],\n    ['descripci??n','descripci&oacute;n'], ['categor??a','categor&iacute;a'], ['seg??n','seg&uacute;n'], ['hist??rico','hist&oacute;rico'], ['Hist??rico','Hist&oacute;rico'],\n    ['relaci??n','relaci&oacute;n'], ['operaci??n','operaci&oacute;n'], ['an??lisis','an&aacute;lisis'], ['creaci??n','creaci&oacute;n'],\n    ['aprobaci??n','aprobaci&oacute;n'], ['atenci??n','atenci&oacute;n'], ['informaci??n','informaci&oacute;n'], ['clasificaci??n','clasificaci&oacute;n'],\n    ['revisi??n','revisi&oacute;n'], ['intervenci??n','intervenci&oacute;n'], ['secci??n','secci&oacute;n'], ['l??nea','l&iacute;nea'],\n    ['c??digos','c&oacute;digos'], ['d??nde','d&oacute;nde'], ['espa??ol','espa&ntilde;ol'], ['vi??etas','vi&ntilde;etas'],\n    ['m??ltiples','m&uacute;ltiples'], ['m??xima','m&aacute;xima'], ['r??pida','r&aacute;pida'], ['reposici??n','reposici&oacute;n'],\n    ['est??ndar','est&aacute;ndar'], ['alg??n','alg&uacute;n'], ['??til','&uacute;til'], ['port??til','port&aacute;til']\n  ];\n  const subjectMap = htmlMap.map(([bad, good]) => [bad, good\n    .replace(/&aacute;/g,'a').replace(/&eacute;/g,'e').replace(/&iacute;/g,'i').replace(/&oacute;/g,'o').replace(/&uacute;/g,'u')\n    .replace(/&Aacute;/g,'A').replace(/&Eacute;/g,'E').replace(/&Iacute;/g,'I').replace(/&Oacute;/g,'O').replace(/&Uacute;/g,'U')\n    .replace(/&uuml;/g,'u').replace(/&Uuml;/g,'U').replace(/&ntilde;/g,'n').replace(/&Ntilde;/g,'N')]);\n  for (const [bad, good] of (forSubject ? subjectMap : htmlMap)) text = text.split(bad).join(good);\n  text = text.split(' ?? ').join(forSubject ? ' - ' : ' &bull; ');\n  text = text.split('??').join(forSubject ? '-' : '&bull;');\n  return text;\n}\n\nfunction applyVisualFlags(html, data) {\n  if (!html) return html;\n  if (!flagEnabled(data, 'include_summary', true)) {\n    for (const marker of ['Resumen ejecutivo', 'TOTAL ACTIVOS', 'TOTAL CON CONTACTO', 'TOTAL TICKETS', 'TOTAL CAMBIOS', 'TOTAL MOVIMIENTOS']) html = removeAllRowsByMarker(html, marker);\n  }\n  if (!flagEnabled(data, 'include_detail', true)) {\n    for (const marker of [\n      'Detalle operacional',\n      'Detalle de activos',\n      'Detalle de tickets',\n      'Detalle por agente',\n      'Detalle por antig?edad',\n      'Resumen por estado',\n      'Resumen por bodega/localidad',\n      'Resumen por clase',\n      'Activos por clase',\n      'Por revisar',\n      'Tickets abiertos',\n      'Tickets abiertos pendientes',\n      'Tickets abiertos por agente',\n      'Tickets con m?s de 14 d?as abiertos',\n      'Tickets abiertos hasta 14 d?as',\n      'Movimientos recientes',\n      'data-table',\n      'ticket-table'\n    ]) html = removeAllRowsByMarker(html, marker);\n    html = removeTablesByClass(html);\n    html = html.replace(/\\.data-table[\\s\\S]*?\\}/g, '').replace(/\\.ticket-table[\\s\\S]*?\\}/g, '');\n  }\n  if (!flagEnabled(data, 'include_operational_notes', true)) html = removeAllRowsByMarker(html, 'Observaciones operacionales');\n  if (!flagEnabled(data, 'include_itop_button_footer', true)) html = removeAllRowsByMarker(html, 'Abrir Combodo iTop');\n  return html;\n}\n\nreturn $input.all().map((item) => {\n  const configReporte = getNodeJson('Config Reporte');\n  const setMixed = getNodeJson('SetMixed - Configuracion efectiva');\n  const setTrigger = getNodeJson('SetTrigger - Flujo');\n  const itemJson = item.json || {};\n  const flags = mergeFlags(configReporte, setMixed, itemJson, setTrigger);\n  const data = { ...configReporte, ...setMixed, ...itemJson, ...setTrigger, flags };\n  for (const [key, value] of Object.entries(flags)) data[key] = value;\n\n  const includeAttachment = flagEnabled(data, 'include_attachment', true);\n  const binary = includeAttachment ? (item.binary || {}) : {};\n  const html = repairMailEncoding(applyVisualFlags(data.html, data), false);\n  data.email_subject = repairMailEncoding(data.email_subject, true);\n\n  return {\n    json: {\n      ...data,\n      html,\n      include_attachment_effective: includeAttachment,\n      attachment_binary_names: includeAttachment && binary.csv ? 'csv' : '',\n      has_csv_binary: Boolean(binary.csv),\n    },\n    binary,\n  };\n});"
      },
      "id": "baf39255-a448-447c-8ada-260ae6be2c7f",
      "name": "Aplicar flags envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item?.json?.body || {};\nconst errors = [];\n\nfunction text(name) {\n  return String(body[name] ?? '').trim();\n}\n\nfunction positiveNumber(name) {\n  const raw = body[name];\n  if (raw === undefined || raw === null || raw === '') return false;\n  const n = Number(raw);\n  return Number.isFinite(n) && n > 0;\n}\n\nfunction validDateText(name) {\n  const value = text(name);\n  if (!value) return false;\n  const parsed = new Date(value.replace(' ', 'T'));\n  return !Number.isNaN(parsed.getTime());\n}\n\nfunction dateWindowState() {\n  const hasStart = text('start_date').length > 0;\n  const hasEnd = text('end_date').length > 0;\n  if (!hasStart && !hasEnd) return { provided: false, valid: false };\n  if (!hasStart || !hasEnd) return { provided: true, valid: false, error: 'start_date y end_date deben enviarse juntos.' };\n  if (!validDateText('start_date') || !validDateText('end_date')) return { provided: true, valid: false, error: 'start_date y end_date deben ser fechas v\\u00e1lidas.' };\n  const start = new Date(text('start_date').replace(' ', 'T'));\n  const end = new Date(text('end_date').replace(' ', 'T'));\n  if (start > end) return { provided: true, valid: false, error: 'start_date no puede ser mayor que end_date.' };\n  return { provided: true, valid: true };\n}\n\nif (!text('email_to')) {\n  errors.push('email_to es obligatorio para llamadas webhook.');\n}\n\nconst webhookPath = 'itsm-tickets-abiertos-agente';\nconst window = dateWindowState();\n\nif (webhookPath === 'cmdb-movimientos-recientes-inventario') {\n  const hasMovementDays = positiveNumber('movement_days');\n  if (!hasMovementDays && !window.valid) {\n    errors.push(window.error || 'Debe enviar movement_days positivo o la ventana start_date + end_date.');\n  }\n}\n\nif (webhookPath === 'cmdb-activos-proximos-vencer-garantia') {\n  if (!positiveNumber('warranty_warning_months')) {\n    errors.push('warranty_warning_months es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (webhookPath === 'itsm-tickets-sin-actualizacion-24h') {\n  if (!positiveNumber('stale_threshold_hours')) {\n    errors.push('stale_threshold_hours es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (window.provided && !window.valid && webhookPath !== 'cmdb-movimientos-recientes-inventario') {\n  errors.push(window.error || 'Ventana de fechas inv\\u00e1lida.');\n}\n\nconst valid = errors.length === 0;\n\nreturn [{\n  json: {\n    ...(item.json || {}),\n    webhook_contract: {\n      valid,\n      status_code: valid ? 202 : 400,\n      message: valid ? 'Workflow accepted' : errors.join(' '),\n      errors,\n    },\n  },\n  binary: item.binary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -192
      ],
      "id": "23ac9090-5ed7-4362-b7c3-b5651be0102d",
      "name": "Validar webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $json.webhook_contract.message, \"accepted\": $json.webhook_contract.valid } }}",
        "options": {
          "responseCode": "={{ $json.webhook_contract.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        -192
      ],
      "id": "699b058c-53a6-4445-851f-16e7ff03dfbf",
      "name": "Responder webhook"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json || {};\n\nif (!json.webhook_contract?.valid) {\n  return [];\n}\n\nconst { webhook_contract, ...cleanJson } = json;\nreturn [{ json: cleanJson, binary: item.binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -192
      ],
      "id": "2efac6e5-5678-4cdc-9fcd-031f49813e1f",
      "name": "Continuar webhook valido"
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Tickets abiertos": {
      "main": [
        [
          {
            "node": "Preparar datos por agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos por agente": {
      "main": [
        [
          {
            "node": "HTML - Renderer parciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Renderer parciales": {
      "main": [
        [
          {
            "node": "Aplicar flags envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Usuarios Locales con Persona": {
      "main": [
        [
          {
            "node": "iTop - Tickets abiertos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetTrigger - Flujo": {
      "main": [
        [
          {
            "node": "SubWorkflow - SetBase reportes correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SubWorkflow - SetBase reportes correo": {
      "main": [
        [
          {
            "node": "Config Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Reporte": {
      "main": [
        [
          {
            "node": "iTop - Usuarios Locales con Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - ejecucion externa": {
      "main": [
        [
          {
            "node": "Validar webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - lunes 07:00": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar flags envio": {
      "main": [
        [
          {
            "node": "Enviar correo SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar webhook": {
      "main": [
        [
          {
            "node": "Responder webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder webhook": {
      "main": [
        [
          {
            "node": "Continuar webhook valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar webhook valido": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cbe245d1-264c-491f-af19-f5e7bf6f5017",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ad3b920e2d3586b0e2fb892d909337f22ce15cbde2c7354c038d868efea76ad"
  },
  "id": "6ZNlk0b0DsgkOyUy",
  "tags": []
}
