APP/config/n8n/WorkFlow_v3/ITSM - Tickets abiertos por antigüedad - SMTP.json
{
  "name": "ITSM - Tickets abiertos por antigüedad - SMTP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        784,
        288
      ],
      "id": "d2ddcfa6-3664-433d-9282-3c3db63912a0",
      "name": "Ejecutar manualmente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51b2fe19-198f-4bb2-94eb-9e726b20df7f",
              "name": "itop_url",
              "value": "http://172.16.123.132/itop/",
              "type": "string"
            },
            {
              "id": "de13300d-b4e7-4f43-a8e3-12c2d724af4c",
              "name": "email_from",
              "value": "notificaciones@dominio.cl",
              "type": "string"
            },
            {
              "id": "d5e7eb4e-d4e1-4730-a614-e6f1887bfaa3",
              "name": "email_to",
              "value": "={{ $json.body?.email_to ?? \"destinatario@dominio.cl\" }}",
              "type": "string"
            },
            {
              "id": "5160a2f6-43ef-4ad9-a842-0ee32ab1c931",
              "name": "email_cc",
              "value": "={{ $json.body?.email_cc ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "39455dd6-a2e1-466c-8b7c-9e0f77b3ff53",
              "name": "email_bcc",
              "value": "={{ $json.body?.email_bcc ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "8ff0c37d-3154-423c-b50a-9194bb10d4bf",
              "name": "email_subject",
              "value": "={{ \"Reporte ITSM - tickets abiertos por agente y antiguedad\" }}",
              "type": "string"
            },
            {
              "id": "78f63101-d761-46ca-9a8d-f17a51f86432",
              "name": "timezone",
              "value": "America/Santiago",
              "type": "string"
            },
            {
              "id": "5c3a4350-da76-4b11-800d-438180c888f8",
              "name": "closed_status_values",
              "value": "closed,resolved,rejected,cancelled,cerrado,resuelto,rechazado",
              "type": "string"
            },
            {
              "id": "60a39ca8-0c77-4e8e-b9b2-9142758e63d4",
              "name": "itop_organization",
              "value": "Minera GoldFields Chile",
              "type": "string"
            },
            {
              "id": "3afae4a8-b974-4aea-938f-aeed4d45335b",
              "name": "Company",
              "value": "TecnoComp",
              "type": "string"
            },
            {
              "id": "c5a8578c-2b2c-4497-9174-90efc684e843",
              "name": "itop_limit",
              "value": 5000,
              "type": "number"
            },
            {
              "id": "3d4c6c48-5d76-47a8-b258-e873d9999dce",
              "name": "include_requirements",
              "value": "={{ $json.body?.include_requirements ?? true }}",
              "type": "string"
            },
            {
              "id": "0d18198b-97e7-41f2-b695-d110e8a6c598",
              "name": "include_incidents",
              "value": "={{ $json.body?.include_incidents ?? true }}",
              "type": "string"
            },
            {
              "id": "e98995aa-be79-4822-b63f-13fce95f1f10",
              "name": "include_changes",
              "value": "={{ $json.body?.include_changes ?? true }}",
              "type": "string"
            },
            {
              "id": "f4c3a78c-948a-4f3c-ac50-253afa44bd5d",
              "name": "include_problems",
              "value": "={{ $json.body?.include_problems ?? true }}",
              "type": "string"
            },
            {
              "id": "5091fca6-b39e-4e84-9ebb-6ae1e3a19c21",
              "name": "include_attachment",
              "value": "={{ $json.body?.include_attachment ?? true }}",
              "type": "string"
            },
            {
              "id": "1e0eca4a-5d97-4cc8-9416-8ba4730be1fb",
              "name": "include_detail",
              "value": "={{ $json.body?.include_detail ?? true }}",
              "type": "string"
            },
            {
              "id": "6eddbacb-6210-4dc4-91e1-d82547fc67e5",
              "name": "include_summary",
              "value": "={{ $json.body?.include_summary ?? true }}",
              "type": "string"
            },
            {
              "id": "b55d88ac-386d-4abb-9d31-a75fa31ac0a5",
              "name": "include_operational_notes",
              "value": "={{ $json.body?.include_operational_notes ?? true }}",
              "type": "string"
            },
            {
              "id": "ff8951ed-c08f-4b63-8fe7-96bed852e2ce",
              "name": "include_itop_button_footer",
              "value": "={{ $json.body?.include_itop_button_footer ?? true }}",
              "type": "string"
            },
            {
              "id": "1841bb9f-9de4-4549-8646-bf088e0c4ebb",
              "name": "start_date",
              "value": "={{ $json.body?.start_date ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "f114f027-72b1-4cfd-98de-d52c6990c2b2",
              "name": "end_date",
              "value": "={{ $json.body?.end_date ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "0f5152be-87b7-4cc6-adb3-320878e397bc",
              "name": "report_template_key",
              "value": "itsm-tickets-abiertos-antiguedad",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        288
      ],
      "id": "b7646da7-03ff-4c03-bfeb-1edd2b3269f4",
      "name": "SetTrigger - Flujo"
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "Ticket",
        "key": "SELECT Ticket WHERE operational_status NOT IN ('closed', 'resolved', 'rejected', 'cancelled')",
        "output_fields": "ref,operational_status,org_id,org_name,caller_id,caller_name,team_id,team_name,team_email,agent_id,agent_name,title,description,start_date,end_date,last_update,close_date,private_log,contacts_list,functionalcis_list,workorders_list,finalclass,friendlyname,org_id_friendlyname,caller_id_friendlyname,team_id_friendlyname,agent_id_friendlyname",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        1680,
        288
      ],
      "id": "e2bd7bd4-56d7-4996-b900-7b32744846eb",
      "name": "iTop - Tickets abiertos",
      "credentials": {
        "iTopTokenApi": {
          "id": "FdUX5lCOh0Z3YWW4",
          "name": "iTopToken_GF_QA"
        }
      },
      "notes": "Output Fields definido explícitamente para evitar selector * y recuperar solo campos usados por el reporte."
    },
    {
      "parameters": {
        "jsCode": "const baseConfig = $('Config Reporte').first().json;\nconst triggerConfig = $('SetTrigger - Flujo').first()?.json || {};\nconst mergedFlags = { ...(baseConfig.flags || {}) };\nfunction mergeFlag(name) {\n  const value = triggerConfig[name];\n  if (value === undefined || value === null || value === '') return;\n  if (typeof value === 'boolean') mergedFlags[name] = value;\n  else if (typeof value === 'number') mergedFlags[name] = value !== 0;\n  else {\n    const text = String(value).trim().toLowerCase();\n    if (['true','1','yes','y','si','s','on','enabled'].includes(text)) mergedFlags[name] = true;\n    else if (['false','0','no','n','off','disabled'].includes(text)) mergedFlags[name] = false;\n  }\n}\nfor (const key of ['include_attachment','include_detail','include_summary','include_operational_notes','include_itop_button_footer','send_email','include_requirements','include_incidents','include_changes','include_problems']) mergeFlag(key);\nconst config = { ...baseConfig, ...triggerConfig, flags: mergedFlags };\nfor (const [key, value] of Object.entries(mergedFlags)) config[key] = value;\nconst company = String(config.Company || config.company || 'TecnoComp').trim();\nconst itopOrganization = String(config.itop_organization || '').trim();\n\n\nfunction isEnabledFlag(value, defaultValue = true) {\n  if (value === undefined || value === null || value === '') return defaultValue;\n  if (typeof value === 'boolean') return value;\n  const normalized = String(value).trim().toLowerCase();\n  return ['true', '1', 'yes', 'si', 's', 'y', 'on', 'enabled'].includes(normalized);\n}\n\nconst includeRequirements = isEnabledFlag(config.include_requirements, true);\nconst includeIncidents = isEnabledFlag(config.include_incidents, true);\nconst includeChanges = isEnabledFlag(config.include_changes, true);\nconst includeProblems = isEnabledFlag(config.include_problems, true);\n\nconst enabledTicketTypes = new Set();\nif (includeRequirements) enabledTicketTypes.add('requirement');\nif (includeIncidents) enabledTicketTypes.add('incident');\nif (includeChanges) enabledTicketTypes.add('change');\nif (includeProblems) enabledTicketTypes.add('problem');\n\nfunction enabledTicketTypeText() {\n  const labels = [];\n  if (includeRequirements) labels.push('Requerimientos');\n  if (includeIncidents) labels.push('Incidentes');\n  if (includeChanges) labels.push('Cambios');\n  if (includeProblems) labels.push('Problemas');\n  return labels.length ? labels.join(', ') : 'Sin tipos habilitados';\n}\n\n\nfunction csvEscape(value) {\n  const text = String(value ?? '').replace(/\"/g, '\"\"');\n  return `\"${text}\"`;\n}\n\nfunction escapeHtml(value) {\n  return String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;').replace(/'/g, '&#039;');\n}\nfunction getField(obj, names, fallback = '') {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return fallback;\n}\n\nfunction stripHtml(value) {\n  return String(value ?? '')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#039;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction rawField(obj, names) {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return undefined;\n}\nfunction entryDateValue(entry, fallbackKey = '') {\n  if (!entry || typeof entry !== 'object') return fallbackKey;\n  return entry.date || entry.created || entry.created_at || entry.creation_date || entry.timestamp || entry.time || fallbackKey || '';\n}\nfunction entryAuthorValue(entry) {\n  if (!entry || typeof entry !== 'object') return '';\n  return entry.user_id_friendlyname || entry.user_friendlyname || entry.user_name || entry.user_login || entry.author || entry.author_friendlyname || '';\n}\nfunction normalizeLogText(value, fallbackKey = '') {\n  if (value === undefined || value === null || value === '') return '';\n\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const text = stripHtml(value);\n    return text && text !== '[object Object]' ? text : '';\n  }\n\n  if (Array.isArray(value)) {\n    const normalized = value\n      .map((entry, index) => ({\n        date: entryDateValue(entry, String(index).padStart(6, '0')),\n        text: normalizeLogText(entry, String(index).padStart(6, '0')),\n      }))\n      .filter(e => e.text);\n    if (!normalized.length) return '';\n    normalized.sort((a, b) => String(a.date).localeCompare(String(b.date)));\n    return normalized[normalized.length - 1].text;\n  }\n\n  if (typeof value === 'object') {\n    const direct = rawField(value, [\n      'message', 'html', 'text', 'body', 'content', 'comment', 'note',\n      'last_comment', 'last_note', 'entry', 'value', 'description'\n    ]);\n\n    if (direct !== undefined && direct !== value) {\n      const text = normalizeLogText(direct, fallbackKey);\n      if (text) {\n        const date = entryDateValue(value, fallbackKey);\n        const author = entryAuthorValue(value);\n        const prefix = [date, author].map(v => stripHtml(v)).filter(Boolean).join(' - ');\n        return prefix ? `${prefix}: ${text}` : text;\n      }\n    }\n\n    const collection = value.entries || value.items || value.log || value.logs || value.records || value.data;\n    if (collection && collection !== value) {\n      const entries = Array.isArray(collection)\n        ? collection.map((v, i) => [String(i).padStart(6, '0'), v])\n        : Object.entries(collection);\n      const normalized = entries\n        .map(([key, entry]) => ({ date: entryDateValue(entry, key), text: normalizeLogText(entry, key) }))\n        .filter(e => e.text);\n      if (!normalized.length) return '';\n      normalized.sort((a, b) => String(a.date).localeCompare(String(b.date)));\n      return normalized[normalized.length - 1].text;\n    }\n\n    const leafTexts = [];\n    const ignored = new Set(['id', 'key', 'code', 'class', 'finalclass', 'type', 'attribute', 'attcode', 'att_code']);\n    for (const [key, val] of Object.entries(value)) {\n      if (ignored.has(String(key).toLowerCase())) continue;\n      if (typeof val === 'string' || typeof val === 'number' || typeof val === 'boolean') {\n        const text = stripHtml(val);\n        if (text && text !== '[object Object]') leafTexts.push(text);\n      }\n    }\n    const unique = [...new Set(leafTexts)].filter(t => t.length > 1);\n    return unique.slice(-3).join(' / ');\n  }\n\n  return '';\n}\nfunction getLastReadableNote(fields) {\n  const candidates = [\n    rawField(fields, ['last_comment','last_note','last_public_log','last_private_log','last_update_reason','last_change']),\n    rawField(fields, ['public_log','private_log','user_satisfaction','operational_status']),\n    rawField(fields, ['description'])\n  ];\n\n  for (const candidate of candidates) {\n    const text = normalizeLogText(candidate);\n    if (text) return text;\n  }\n  return '-';\n}\nfunction flattenInput(items) {\n  const rows = [];\n  for (const item of items) {\n    const j = item.json || {};\n    if (j.objects && typeof j.objects === 'object') {\n      for (const [key, value] of Object.entries(j.objects)) rows.push({ key, ...(value || {}), fields: value?.fields || value || {} });\n      continue;\n    }\n    if (Array.isArray(j)) { rows.push(...j); continue; }\n    rows.push(j);\n  }\n  return rows;\n}\nfunction fmtDate(value) {\n  if (!value || value === '-') return '-';\n  const d = new Date(String(value).replace(' ', 'T'));\n  if (Number.isNaN(d.getTime())) return String(value);\n  return d.toLocaleString('es-CL', { timeZone: config.timezone || 'America/Santiago', year:'numeric', month:'2-digit', day:'2-digit', hour:'2-digit', minute:'2-digit' });\n}\nfunction fmtDateOnly(value) {\n  if (!value || value === '-') return '-';\n  const d = new Date(String(value).replace(' ', 'T'));\n  if (Number.isNaN(d.getTime())) return String(value);\n  return d.toLocaleDateString('es-CL', { timeZone: config.timezone || 'America/Santiago', year:'numeric', month:'2-digit', day:'2-digit' });\n}\nfunction ageHours(value) {\n  if (!value) return 0;\n  const d = new Date(String(value).replace(' ', 'T'));\n  if (Number.isNaN(d.getTime())) return 0;\n  return Math.max(0, Math.floor((Date.now() - d.getTime()) / 36e5));\n}\nfunction ageTextFromHours(h) {\n  const days = Math.floor(h / 24); const hours = h % 24;\n  if (days > 0) return `${days}d ${hours}h`;\n  return `${hours}h`;\n}\nfunction td(value, align='left') {\n  return `<td align=\"${align}\" style=\"font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top;\">${value}</td>`;\n}\nfunction badge(text, cls='badge-gray') { return `<span class=\"badge ${cls}\">${escapeHtml(text)}</span>`; }\nfunction replaceAllVars(html, replacements) { for (const [k,v] of Object.entries(replacements)) html = html.replaceAll(`{{${k}}}`, String(v)); return html; }\n\nfunction translateOperationalStatus(value) {\n  const raw = String(value ?? '').trim();\n  if (!raw || raw === '-') return '-';\n\n  const key = raw\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[\\s-]+/g, '_');\n\n  const map = {\n    ongoing: 'En curso',\n    new: 'Nuevo',\n    assigned: 'Asignado',\n    pending: 'Pendiente',\n    waiting_for_approval: 'En espera de aprobaci\\u00f3n',\n    waiting_for_customer: 'En espera del solicitante',\n    waiting_for_user: 'En espera del usuario',\n    waiting_for_provider: 'En espera de proveedor',\n    wait_for_customer: 'En espera del solicitante',\n    wait_for_user: 'En espera del usuario',\n    wait_for_provider: 'En espera de proveedor',\n    escalated: 'Escalado',\n    resolved: 'Resuelto',\n    closed: 'Cerrado',\n    rejected: 'Rechazado',\n    cancelled: 'Cancelado',\n    canceled: 'Cancelado',\n    frozen: 'Congelado',\n    approved: 'Aprobado',\n    implemented: 'Implementado',\n    monitored: 'En monitoreo',\n    validated: 'Validado',\n    accepted: 'Aceptado',\n    completed: 'Completado',\n    failed: 'Fallido'\n  };\n\n  return map[key] || raw;\n}\n\nfunction normalizeTicketKind(value, fields = {}) {\n  const rawValues = [\n    value,\n    getField(fields, ['finalclass', 'class', 'class_friendlyname', 'ticket_class', 'ticket_type', 'type', 'request_type', 'request_type_friendlyname'], ''),\n    getField(fields, ['ref', 'reference', 'friendlyname'], '')\n  ].map(v => String(v || '').trim()).filter(Boolean);\n\n  const raw = rawValues.join(' ').toLowerCase();\n\n  if (raw.includes('userrequest') || raw.includes('user request') || raw.includes('request') || raw.includes('requerimiento') || raw.includes('requisito') || raw.includes('solicitud')) {\n    return { key: 'requirement', label: 'Requerimiento' };\n  }\n  if (raw.includes('incident') || raw.includes('incidente') || raw.includes('incidencia')) {\n    return { key: 'incident', label: 'Incidente' };\n  }\n  if (raw.includes('change') || raw.includes('cambio')) {\n    return { key: 'change', label: 'Cambio' };\n  }\n  if (raw.includes('problem') || raw.includes('problema')) {\n    return { key: 'problem', label: 'Problema' };\n  }\n\n  return { key: 'unknown', label: rawValues[0] || 'No identificado' };\n}\n\nconst generatedAt = new Date().toLocaleString('es-CL', { timeZone: config.timezone || 'America/Santiago', year:'numeric', month:'2-digit', day:'2-digit', hour:'2-digit', minute:'2-digit' });\nconst rawRows = flattenInput($input.all());\n\nconst openStatusBlacklist = String(config.closed_status_values || 'closed,resolved,rejected,cancelled,cerrado,resuelto,rechazado').toLowerCase().split(',').map(s=>s.trim()).filter(Boolean);\nlet tickets = rawRows.map((row) => {\n  const f = row.fields || row;\n  const ref = getField(f, ['ref','friendlyname','id'], '-');\n  const start = getField(f, ['start_date','creation_date','created','date'], '');\n  const last = getField(f, ['last_update','last_update_date','modify_date','modification_date','updated'], start);\n  const priority = getField(f, ['priority_friendlyname','priority','urgency_friendlyname','urgency'], '-');\n  const status = getField(f, ['operational_status_friendlyname','operational_status','status_friendlyname','status'], '-');\n  const sla = getField(f, ['tto_escalation_deadline','ttr_escalation_deadline','resolution_date','tto_deadline','ttr_deadline'], '');\n  const ticketKind = normalizeTicketKind(getField(f, ['finalclass','class','class_friendlyname','ticket_class','ticket_type','type'], ''), f);\n  return {\n    ref,\n    finalclass: getField(f, ['finalclass','class'], '-'),\n    ticketType: ticketKind.key,\n    ticketTypeLabel: ticketKind.label,\n    title: getField(f, ['title','description','friendlyname'], '-'),\n    status,\n    priority,\n    caller: getField(f, ['caller_id_friendlyname','caller_name','user_id_friendlyname','requestor_id_friendlyname'], '-'),\n    team: getField(f, ['team_id_friendlyname','team_name','assignment_team_id_friendlyname'], '-'),\n    agent: getField(f, ['agent_id_friendlyname','agent_name','assignee_id_friendlyname'], ''),\n    start,\n    last,\n    openHours: ageHours(start),\n    inactiveHours: ageHours(last),\n    slaDeadline: sla,\n    lastNote: getLastReadableNote(f),\n  };\n}).filter(t => !openStatusBlacklist.some(x => String(t.status || '').toLowerCase().includes(x)))\n  .filter(t => enabledTicketTypes.has(t.ticketType));\nfunction isSlaBreached(t) { if (!t.slaDeadline) return false; const d=new Date(String(t.slaDeadline).replace(' ','T')); return !Number.isNaN(d.getTime()) && d.getTime() < Date.now(); }\nfunction isCritical(t) { const p=String(t.priority||'').toLowerCase(); return p.includes('critical') || p.includes('cr\\u00edtica') || p.includes('critica') || p.includes('1') || isSlaBreached(t) || t.openHours >= 72; }\nfunction critBadge(t, byInactive=false) {\n  const h = byInactive ? t.inactiveHours : t.openHours;\n  if (isSlaBreached(t) || h >= 72 || isCritical(t)) return badge('Cr\\u00edtico','badge-red');\n  if (h >= 48) return badge('Alto','badge-orange');\n  if (h >= 24) return badge('Medio','badge-yellow');\n  return badge('Normal','badge-green');\n}\nfunction slaBadge(t) { return isSlaBreached(t) ? badge('Vencido','badge-red') : badge('Sin vencimiento','badge-green'); }\n\ntickets.sort((a,b) => b.openHours - a.openHours || String(a.ref).localeCompare(String(b.ref),'es'));\n\nfunction agentKey(ticket) {\n  const agent = String(ticket.agent || '').trim();\n  return agent || 'Sin agente';\n}\n\nfunction ticketTableHeader() {\n  return `<thead><tr>\n    <th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec;\">Crit.</th>\n    <th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec;\">Referencia</th>\n    <th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec;\">T\\u00edtulo / asunto</th>\n    <th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec;\">Solicitante</th>\n    <th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec;\">Creaci\\u00f3n</th>\n    <th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec;\">&lt. mod.</th>\n    <th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec;\">Tiempo abierto</th>\n    <th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec;\">SLA</th>\n    <th style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:left; padding:8px 7px; border-bottom:1px solid #dbe3ec;\">\\u00faltima observaci\\u00f3n / cambio</th>\n  </tr></thead>`;\n}\n\nfunction ticketRow(t) {\n  return `<tr>`\n    + td(critBadge(t))\n    + td(`<strong>${escapeHtml(t.ref)}</strong>`)\n    + td(escapeHtml(t.title))\n    + td(escapeHtml(t.caller))\n    + td(escapeHtml(fmtDate(t.start)))\n    + td(escapeHtml(fmtDate(t.last)))\n    + td(`<strong>${ageTextFromHours(t.openHours)}</strong>`)\n    + td(slaBadge(t))\n    + td(escapeHtml(normalizeLogText(t.lastNote) || '-').slice(0, 400))\n    + `</tr>`;\n}\n\nfunction groupByAgent(list) {\n  const groups = new Map();\n  const sorted = [...list].sort((a,b) => b.openHours - a.openHours || String(a.ref).localeCompare(String(b.ref),'es'));\n\n  for (const ticket of sorted) {\n    const key = agentKey(ticket);\n    if (!groups.has(key)) groups.set(key, []);\n    groups.get(key).push(ticket);\n  }\n\n  return Array.from(groups.entries()).sort((a, b) => {\n    const aOldest = a[1][0]?.openHours || 0;\n    const bOldest = b[1][0]?.openHours || 0;\n    return bOldest - aOldest || a[0].localeCompare(b[0], 'es');\n  });\n}\n\nfunction renderAgentBlock(agent, list) {\n  const oldest = list[0] ? ageTextFromHours(list[0].openHours) : '-';\n  const slaCount = list.filter(isSlaBreached).length;\n  const criticalCount = list.filter(isCritical).length;\n\n  return `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:16px; border:1px solid #dbe3ec;\">\n    <tr>\n      <td style=\"background-color:#f8fafc; padding:10px 12px; border-bottom:1px solid #dbe3ec;\">\n        <div style=\"font-size:14px; line-height:20px; font-weight:bold; color:#0f172a;\">${escapeHtml(agent)} <span style=\"color:#64748b; font-weight:normal;\">(${list.length} tickets)</span></div>\n        <div style=\"font-size:12px; line-height:18px; color:#64748b; margin-top:2px;\">M\\u00e1s antiguo: ${escapeHtml(oldest)} ?? Cr\\u00edticos: ${criticalCount} ?? SLA vencido: ${slaCount}</div>\n      </td>\n    </tr>\n    <tr>\n      <td>\n        <div class=\"ticket-scroll\" style=\"width:100%; overflow-x:auto;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"ticket-table\" style=\"width:100%;\">\n            ${ticketTableHeader()}\n            <tbody>${list.map(ticketRow).join('')}</tbody>\n          </table>\n        </div>\n      </td>\n    </tr>\n  </table>`;\n}\n\nfunction renderTicketSection(title, description, list, color = 'gray') {\n  if (!list.length) {\n    return `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:18px; border:1px solid #dbe3ec; background-color:#ffffff;\">\n      <tr><td style=\"padding:14px; font-size:13px; line-height:19px; color:#64748b;\">${escapeHtml(title)}: sin tickets para listar.</td></tr>\n    </table>`;\n  }\n\n  const grouped = groupByAgent(list).map(([agent, agentTickets]) => renderAgentBlock(agent, agentTickets)).join('');\n  return `<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:22px;\">\n    <tr>\n      <td style=\"padding:10px 12px; background-color:${color === 'red' ? '#fef2f2' : '#f8fafc'}; border:1px solid ${color === 'red' ? '#fecaca' : '#dbe3ec'};\">\n        <div style=\"font-size:15px; line-height:21px; font-weight:bold; color:${color === 'red' ? '#991b1b' : '#111827'};\">${escapeHtml(title)} <span style=\"font-weight:normal; color:#64748b;\">(${list.length})</span></div>\n        <div style=\"font-size:12px; line-height:18px; color:#64748b; margin-top:2px;\">${escapeHtml(description)}</div>\n      </td>\n    </tr>\n    <tr><td style=\"padding-top:12px;\">${grouped}</td></tr>\n  </table>`;\n}\n\nconst ticketsOver14Days = tickets.filter(t => t.openHours > (14 * 24));\nconst ticketsUpTo14Days = tickets.filter(t => t.openHours <= (14 * 24));\nconst ticketSections =\n  renderTicketSection('Tickets con m\\u00e1s de 14 d\\u00edas abiertos', 'Prioridad de revisi\\u00f3n: tickets envejecidos, agrupados por agente y ordenados desde el m\\u00e1s antiguo al m\\u00e1s reciente.', ticketsOver14Days, 'red') +\n  renderTicketSection('Tickets abiertos hasta 14 d\\u00edas', 'Backlog operacional vigente, agrupado por agente y ordenado desde el m\\u00e1s antiguo al m\\u00e1s reciente.', ticketsUpTo14Days, 'gray');\n\n\nconst avgHours = tickets.length ? Math.round(tickets.reduce((s,t)=>s+t.openHours,0) / tickets.length) : 0;\nconst oldest = tickets[0] ? `${tickets[0].ref} / ${ageTextFromHours(tickets[0].openHours)}` : '-';\nconst totalOpen = tickets.length;\nconst criticalCount = tickets.filter(isCritical).length;\nconst slaBreachedCount = tickets.filter(isSlaBreached).length;\nconst unassignedCount = tickets.filter(t => !String(t.agent || '').trim()).length;\n\nconst subjectBase = String(config.email_subject || 'Reporte ITSM - tickets abiertos por agente y antig\\u00fcedad').trim();\nconst emailSubject = itopOrganization ? `${subjectBase} - ${itopOrganization}` : subjectBase;\n\nconst generatedAtFile = new Date()\n  .toISOString()\n  .replace(/[:.]/g, '-')\n  .replace('T', '_')\n  .slice(0, 19);\n\nconst csvHeaders = [\n  'Criticidad',\n  'Referencia',\n  'Tipo',\n  'Titulo / Asunto',\n  'Solicitante',\n  'Agente',\n  'Creacion',\n  'Ultima modificacion',\n  'Tiempo abierto',\n  'Horas sin modificacion',\n  'SLA',\n  'Ultima observacion / cambio'\n];\n\nfunction criticalityText(t) {\n  if (isSlaBreached(t) || t.openHours >= 72 || isCritical(t)) return 'Critico';\n  if (t.openHours >= 48) return 'Alto';\n  if (t.openHours >= 24) return 'Medio';\n  return 'Normal';\n}\n\nconst csvRows = tickets.map(t => [\n  criticalityText(t),\n  t.ref,\n  t.ticketTypeLabel,\n  t.title,\n  t.caller,\n  agentKey(t),\n  fmtDate(t.start),\n  fmtDate(t.last),\n  ageTextFromHours(t.openHours),\n  ageTextFromHours(t.inactiveHours),\n  isSlaBreached(t) ? 'Vencido' : 'Sin vencimiento',\n  normalizeLogText(t.lastNote) || '-'\n]);\n\nconst csvContent = '\\uFEFF' + [\n  csvHeaders.map(csvEscape).join(';'),\n  ...csvRows.map(row => row.map(csvEscape).join(';')),\n].join('\\r\\n');\n\nreturn [{\n  json: {\n    flags: config.flags || {},\n    report_template_key: config.report_template_key,\n    template_root: config.template_root,\n    include_attachment: config.flags?.include_attachment ?? config.include_attachment,\n    include_detail: config.flags?.include_detail ?? config.include_detail,\n    include_summary: config.flags?.include_summary ?? config.include_summary,\n    include_operational_notes: config.flags?.include_operational_notes ?? config.include_operational_notes,\n    include_itop_button_footer: config.flags?.include_itop_button_footer ?? config.include_itop_button_footer,\n    email_from: config.email_from,\n    email_to: config.email_to,\n    email_cc: config.email_cc || '',\n    email_bcc: config.email_bcc || '',\n    email_subject: emailSubject,\n    company,\n    Company: company,\n    itop_organization: itopOrganization || '-',\n    generated_at: generatedAt,\n    total_open: String(totalOpen),\n    critical_count: String(criticalCount),\n    sla_breached_count: String(slaBreachedCount),\n    unassigned_count: String(unassignedCount),\n    oldest_ticket: oldest,\n    average_age: ageTextFromHours(avgHours),\n    enabled_ticket_types: enabledTicketTypeText(),\n    include_requirements: String(includeRequirements),\n    include_incidents: String(includeIncidents),\n    include_changes: String(includeChanges),\n    include_problems: String(includeProblems),\n    ticket_sections: ticketSections,\n    itop_url: config.itop_url || '#',\n    csv_filename: `tickets_abiertos_${generatedAtFile}.csv`,\n  },\n  binary: {\n    csv: {\n      data: Buffer.from(csvContent, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName: `tickets_abiertos_${generatedAtFile}.csv`,\n    },\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        288
      ],
      "id": "a65c47fe-be7e-4e21-aa80-8e9261f2583d",
      "name": "Preparar datos reporte"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction readText(filePath) {\n  return fs.readFileSync(filePath, 'utf8');\n}\n\nfunction render(template, values) {\n  return String(template || '').replace(/{{\\s*([\\w.]+)\\s*}}/g, (_, key) => {\n    const parts = key.split('.');\n    let value = values;\n    for (const part of parts) value = value?.[part];\n    return value === undefined || value === null ? '' : String(value);\n  });\n}\n\nfunction normalizeText(value, forSubject = false) {\n  let text = String(value ?? '');\n  const htmlMap = [\n    ['Automatizaci??n','Automatizaci&oacute;n'], ['Organizaci??n','Organizaci&oacute;n'], ['organizaci??n','organizaci&oacute;n'],\n    ['Producci??n','Producci&oacute;n'], ['garant??a','garant&iacute;a'], ['Garant??a','Garant&iacute;a'], ['GARANT??A','GARANT&Iacute;A'],\n    ['pr??ximos','pr&oacute;ximos'], ['Pr??ximos','Pr&oacute;ximos'], ['PR??XIMOS','PR&Oacute;XIMOS'], ['pr??ximo','pr&oacute;ximo'], ['pr??xima','pr&oacute;xima'],\n    ['d??as','d&iacute;as'], ['D??AS','D&Iacute;AS'], ['D??as','D&iacute;as'], ['m??s','m&aacute;s'], ['M??S','M&Aacute;S'], ['M??s','M&aacute;s'],\n    ['T??tulo','T&iacute;tulo'], ['antig??edad','antig&uuml;edad'], ['actualizaci??n','actualizaci&oacute;n'], ['configuraci??n','configuraci&oacute;n'],\n    ['f??sicos','f&iacute;sicos'], ['f??sico','f&iacute;sico'], ['f??sica','f&iacute;sica'], ['tel??fono','tel&eacute;fono'], ['m??viles','m&oacute;viles'],\n    ['perif??rico','perif&eacute;rico'], ['perif??ricos','perif&eacute;ricos'], ['??nico','&uacute;nico'], ['??nica','&uacute;nica'], ['??ltimo','&uacute;ltimo'],\n    ['cr??tico','cr&iacute;tico'], ['cr??ticos','cr&iacute;ticos'], ['par??metros','par&aacute;metros'], ['env??a','env&iacute;a'], ['envi??','envi&oacute;'],\n    ['asignaci??n','asignaci&oacute;n'], ['ubicaci??n','ubicaci&oacute;n'], ['descripci??n','descripci&oacute;n'], ['categor??a','categor&iacute;a'],\n    ['seg??n','seg&uacute;n'], ['hist??rico','hist&oacute;rico'], ['relaci??n','relaci&oacute;n'], ['operaci??n','operaci&oacute;n'], ['an??lisis','an&aacute;lisis'],\n    ['creaci??n','creaci&oacute;n'], ['aprobaci??n','aprobaci&oacute;n'], ['atenci??n','atenci&oacute;n'], ['informaci??n','informaci&oacute;n'],\n    ['clasificaci??n','clasificaci&oacute;n'], ['revisi??n','revisi&oacute;n'], ['intervenci??n','intervenci&oacute;n'], ['secci??n','secci&oacute;n'],\n    ['l??nea','l&iacute;nea'], ['c??digos','c&oacute;digos'], ['d??nde','d&oacute;nde'], ['espa??ol','espa&ntilde;ol'], ['vi??etas','vi&ntilde;etas'],\n    ['m??ltiples','m&uacute;ltiples'], ['m??xima','m&aacute;xima'], ['r??pida','r&aacute;pida'], ['reposici??n','reposici&oacute;n'],\n    ['est??ndar','est&aacute;ndar'], ['alg??n','alg&uacute;n'], ['??til','&uacute;til'], ['port??til','port&aacute;til']\n  ];\n  const subjectMap = htmlMap.map(([bad, good]) => [bad, good\n    .replace(/&aacute;/g,'a').replace(/&eacute;/g,'e').replace(/&iacute;/g,'i').replace(/&oacute;/g,'o').replace(/&uacute;/g,'u')\n    .replace(/&Aacute;/g,'A').replace(/&Eacute;/g,'E').replace(/&Iacute;/g,'I').replace(/&Oacute;/g,'O').replace(/&Uacute;/g,'U')\n    .replace(/&uuml;/g,'u').replace(/&Uuml;/g,'U').replace(/&ntilde;/g,'n').replace(/&Ntilde;/g,'N')]);\n  for (const [bad, good] of (forSubject ? subjectMap : htmlMap)) text = text.split(bad).join(good);\n  text = text.split(' ?? ').join(forSubject ? ' - ' : ' &bull; ');\n  text = text.split('??').join(forSubject ? '-' : '&bull;');\n  return text;\n}\n\nfunction getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nfunction normalizeBoolean(value, fallback = true) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si', 's', 'on', 'enabled'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', 'off', 'disabled'].includes(text)) return false;\n  return fallback;\n}\n\nfunction flagEnabled(data, name, fallback = true) {\n  const trigger = getNodeJson('SetTrigger - Flujo');\n  const mixed = getNodeJson('SetMixed - Configuracion efectiva');\n  const value = trigger[name] ?? trigger.flags?.[name] ?? data[name] ?? data.flags?.[name] ?? mixed[name] ?? mixed.flags?.[name];\n  return normalizeBoolean(value, fallback);\n}\n\nfunction notesList(value) {\n  const lines = String(value ?? '')\n    .split(/\\r?\\n|\\. /)\n    .map(v => v.trim().replace(/\\.$/, ''))\n    .filter(Boolean);\n  if (!lines.length) return '<div style=\"font-size:13px; line-height:20px; color:#64748b;\">Sin observaciones adicionales.</div>';\n  return '<ul style=\"margin:0; padding-left:18px; color:#374151; font-size:13px; line-height:20px;\">' +\n    lines.map(line => '<li>' + escapeHtml(line) + '.</li>').join('') +\n    '</ul>';\n}\n\nfunction statCard(data, stat) {\n  const value = data[stat.value] ?? data[stat.fallbackValue] ?? '-';\n  return '<td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid ' + stat.border + '; background-color:' + stat.background + ';\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:' + stat.labelColor + '; font-weight:bold;\">' + escapeHtml(stat.label) + '</div><div style=\"font-size:24px; color:' + stat.valueColor + '; font-weight:bold;\">' + escapeHtml(value) + '</div></td></tr></table></td>';\n}\n\nfunction statRows(data, stats) {\n  const rows = [];\n  for (let i = 0; i < stats.length; i += 3) {\n    const cells = stats.slice(i, i + 3).map(stat => statCard(data, stat));\n    while (cells.length < 3) cells.push('<td class=\"summary-card\" width=\"33.33%\" valign=\"top\">&nbsp;</td>');\n    rows.push('<tr>' + cells.join('') + '</tr>');\n  }\n  return rows.join('\\n');\n}\n\nfunction simpleTable(title, rows, headers, emptyText) {\n  if (!rows) return '';\n  const headerHtml = headers.map(h => '<th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">' + escapeHtml(h) + '</th>').join('');\n  const body = rows || '<tr><td colspan=\"' + headers.length + '\" style=\"padding:14px; font-size:12px; color:#64748b;\">' + escapeHtml(emptyText || 'Sin registros.') + '</td></tr>';\n  return '<div style=\"font-size:14px; font-weight:bold; color:#1e293b; margin:18px 0 8px 0;\">' + escapeHtml(title) + '</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; border:1px solid #dbe3ec;\"><thead><tr style=\"background:#f8fafc;\">' + headerHtml + '</tr></thead><tbody>' + body + '</tbody></table>';\n}\n\nfunction tableContent(data) {\n  const blocks = [];\n  if (data.detail_blocks) blocks.push(data.detail_blocks);\n  if (data.class_asset_blocks) blocks.push(data.class_asset_blocks);\n  if (data.status_asset_blocks) blocks.push(data.status_asset_blocks);\n  if (data.review_asset_blocks) blocks.push(data.review_asset_blocks);\n  if (data.ticket_sections) blocks.push(data.ticket_sections);\n  if (data.older_section) blocks.push(data.older_section);\n  if (data.recent_section) blocks.push(data.recent_section);\n  if (data.ticket_rows_html) blocks.push(simpleTable('Tickets abiertos', data.ticket_rows_html, ['Criticidad','Referencia','Tipo','Titulo','Solicitante','Estado','Creacion','Ultimo update','Antiguedad','SLA'], 'Sin tickets.'));\n  if (data.movement_rows) blocks.push(simpleTable('Movimientos recientes', data.movement_rows, ['Fecha','Movimiento','Activo','Clase','Origen','Destino'], 'Sin movimientos.'));\n  if (data.class_summary_rows) blocks.push(simpleTable('Resumen por clase', data.class_summary_rows, ['Clase','Total','Dato 1','Observacion'], 'Sin resumen por clase.'));\n  if (data.warehouse_summary_rows) blocks.push(simpleTable('Resumen por bodega/localidad', data.warehouse_summary_rows, ['Bodega/localidad','Total','Clases','Observacion'], 'Sin resumen por bodega.'));\n  if (data.status_summary_rows) blocks.push(simpleTable('Resumen por estado', data.status_summary_rows, ['Estado','Total','Dato 1','Observacion'], 'Sin resumen por estado.'));\n  if (data.location_summary_rows) blocks.push(simpleTable('Resumen por localidad', data.location_summary_rows, ['Localidad','Total','Dato 1','Observacion'], 'Sin resumen por localidad.'));\n  if (data.class_status_rows) blocks.push(simpleTable('Clase por estado', data.class_status_rows, ['Clase','Productivo','Inventario','No operativo'], 'Sin matriz de estados.'));\n  if (data.location_matrix_rows) {\n    const header = data.location_matrix_header_cells || '<th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Bodega/localidad</th>';\n    blocks.push('<div style=\"font-size:14px; font-weight:bold; color:#1e293b; margin:18px 0 8px 0;\">Matriz por bodega/localidad</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; border:1px solid #dbe3ec;\"><thead><tr style=\"background:#f8fafc;\">' + header + '</tr></thead><tbody>' + data.location_matrix_rows + '</tbody></table>');\n  }\n  if (data.top_location_rows) blocks.push(simpleTable('Top bodega/localidad', data.top_location_rows, ['Bodega/localidad','Total','Dato 1','Observacion'], 'Sin top de localidades.'));\n  return blocks.filter(Boolean).join('\\n');\n}\n\nfunction buildHtml(item) {\n  const data = item.json || {};\n  const triggerConfig = getNodeJson('SetTrigger - Flujo');\n  const mixedConfig = getNodeJson('SetMixed - Configuracion efectiva');\n  const root = data.template_root || mixedConfig.template_root || triggerConfig.template_root || '/opt/n8n-config/templates/mail/v1';\n  const key = data.report_template_key || mixedConfig.report_template_key || triggerConfig.report_template_key || 'cmdb-activos-sin-contacto';\n  const contract = JSON.parse(readText(path.join(root, 'reports', key + '.json')));\n  const partial = (name) => readText(path.join(root, contract.partials[name]));\n\n  const styles = partial('styles');\n  const header = render(partial('header'), {\n    eyebrow: escapeHtml(contract.header?.eyebrow || 'Automatizacion ITSM / CMDB'),\n    title: escapeHtml(data.report_title || data.email_subject || 'Reporte'),\n    subtitle: escapeHtml(contract.header?.subtitle || ''),\n    itop_organization: escapeHtml(data.itop_organization || '-'),\n    generated_at: escapeHtml(data.generated_at || '-'),\n    source_label: escapeHtml(data.source_label || data.report_source_label || contract.header?.source_label || '-'),\n  });\n  const summary = render(partial('summary'), { description: escapeHtml(data.report_description || contract.summary?.description || '') });\n  const stats = render(partial('stats'), { stats_rows: statRows(data, contract.stats || []) });\n  const criteria = render(partial('criteria'), contract.criteria || {});\n  const tables = flagEnabled(data, 'include_detail', true) ? render(partial('tables'), {\n    title: contract.tables?.title || 'Detalle operacional',\n    subtitle: contract.tables?.subtitle || '',\n    content: tableContent(data) || '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #dbe3ec;\"><tr><td style=\"padding:14px; font-size:13px; color:#64748b;\">Sin registros para el criterio del reporte.</td></tr></table>',\n  }) : '';\n  const notes = flagEnabled(data, 'include_operational_notes', true) ? render(partial('notes'), { notes_list: notesList(data.operational_notes) }) : '';\n  const cta = flagEnabled(data, 'include_itop_button_footer', true) ? render(partial('cta'), {\n    href: escapeHtml(data.itop_url || '#'),\n    label: contract.cta?.label || 'Abrir',\n  }) : '';\n  const footer = render(partial('footer'), {\n    brand: contract.footer?.brand || 'Automatizacion ITSM / CMDB',\n    company: escapeHtml(data.company || data.Company || ''),\n    generated_at: escapeHtml(data.generated_at || '-'),\n  });\n\n  let html = render(partial('layout'), {\n    title: escapeHtml(data.report_title || data.email_subject || 'Reporte'),\n    styles,\n    header,\n    summary: flagEnabled(data, 'include_summary', true) ? summary : '',\n    stats: flagEnabled(data, 'include_summary', true) ? stats : '',\n    criteria,\n    tables,\n    notes,\n    cta,\n    footer,\n  });\n  html = normalizeText(html, false);\n  data.email_subject = normalizeText(data.email_subject, true);\n\n  const includeAttachment = flagEnabled(data, 'include_attachment', true);\n  const binary = includeAttachment ? (item.binary || {}) : {};\n  return {\n    json: {\n      ...data,\n      html,\n      template_version: contract.template_version || 'mail-v1',\n      template_contract: key,\n      include_attachment_effective: includeAttachment,\n      attachment_binary_names: includeAttachment && binary.csv ? 'csv' : '',\n      has_csv_binary: Boolean(binary.csv),\n    },\n    binary,\n  };\n}\n\nreturn $input.all().map(buildHtml);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        288
      ],
      "id": "f385c655-8ec4-4e29-a9d0-0062e2357c31",
      "name": "HTML - Renderer parciales"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from }}",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ $json.attachment_binary_names }}",
          "ccEmail": "={{ $json.email_cc }}",
          "bccEmail": "={{ $json.email_bcc }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2576,
        288
      ],
      "id": "c978f007-5cb0-4972-b6e1-4485b7a52edd",
      "name": "Enviar correo SMTP",
      "webhookId": "7db4ae00-baa9-4802-9cc5-9a9952d26ac7",
      "credentials": {
        "smtp": {
          "id": "3SyjzuvErhGGEZZq",
          "name": "SMTP_MailPit"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "itsm-tickets-abiertos-antiguedad",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        96
      ],
      "id": "ed9edd3d-1fb6-40bd-9b85-bcdcbb74d0a9",
      "name": "Webhook - ejecucion externa",
      "webhookId": "3a67d711-e3e7-4825-9235-44c4ccd9726f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5ueiVRP6pKurE71t",
          "name": "HeaderAuth_GF_QA"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        784,
        480
      ],
      "id": "ad09321d-136d-4b1d-880e-5e92a9e7d2f4",
      "name": "Cron - lunes 07:00"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "puR8KZ9UFvq5zRqX",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/puR8KZ9UFvq5zRqX",
          "cachedResultName": "SYS - Configuracion base reportes correo"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "f4d85d21-12b2-4d8d-ab2f-d8f179e9e50a",
      "name": "SubWorkflow - SetBase reportes correo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1232,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first()?.json || {};\nconst trigger = $('SetTrigger - Flujo').first()?.json || {};\n\nfunction normalizeBoolean(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si'].includes(text)) return true;\n  if (['false', '0', 'no', 'n'].includes(text)) return false;\n  return fallback;\n}\n\nconst flags = { ...(base.flags || {}) };\nfor (const key of ['include_attachment', 'include_detail', 'include_summary', 'include_operational_notes', 'include_itop_button_footer', 'send_email', 'include_requirements', 'include_incidents', 'include_changes', 'include_problems']) {\n  if (trigger[key] !== undefined && trigger[key] !== null && trigger[key] !== '') {\n    flags[key] = normalizeBoolean(trigger[key], flags[key]);\n  }\n}\n\nconst setMixed = {\n  ...base,\n  ...trigger,\n  flags,\n  config_source: 'SetBase + SetTrigger',\n};\n\nfor (const [key, value] of Object.entries(flags)) {\n  if (setMixed[key] === undefined || setMixed[key] === null || setMixed[key] === '') setMixed[key] = value;\n}\n\nreturn [{ json: setMixed }];"
      },
      "id": "9de78f63-fd78-424b-a863-c902d460f090",
      "name": "Config Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "function getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nfunction mergeFlags(...sources) {\n  const flags = {};\n  for (const source of sources) {\n    if (!source) continue;\n    Object.assign(flags, source.flags || {});\n    for (const key of ['include_attachment','include_detail','include_summary','include_operational_notes','include_itop_button_footer','send_email','include_requirements','include_incidents','include_changes','include_problems']) {\n      if (source[key] !== undefined && source[key] !== null && source[key] !== '') flags[key] = normalizeBoolean(source[key], flags[key]);\n    }\n  }\n  return flags;\n}\n\nfunction normalizeBoolean(value, fallback = true) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si', 's', 'on', 'enabled'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', 'off', 'disabled'].includes(text)) return false;\n  return fallback;\n}\n\nfunction flagEnabled(data, name, fallback = true) {\n  return normalizeBoolean(data[name] ?? data.flags?.[name], fallback);\n}\n\nfunction removeOuterRowByMarker(html, marker) {\n  const index = html.indexOf(marker);\n  if (index === -1) return html;\n  const starts = ['\\n      <tr><td', '\\n                        <tr><td', '<tr><td', '<tr>'];\n  let start = -1;\n  for (const needle of starts) {\n    const pos = html.lastIndexOf(needle, index);\n    if (pos !== -1 && pos > start) start = pos;\n  }\n  if (start === -1) start = Math.max(0, index - 200);\n  const ends = ['\\n      <tr><td', '\\n                        <tr><td', '\\n      <tr><td style=\"background-color', '\\n                        <tr><td style=\"background-color'];\n  let end = -1;\n  for (const needle of ends) {\n    const pos = html.indexOf(needle, index + marker.length);\n    if (pos !== -1 && (end === -1 || pos < end)) end = pos;\n  }\n  if (end === -1) {\n    const close = html.indexOf('</td></tr>', index);\n    end = close === -1 ? index + marker.length : close + '</td></tr>'.length;\n  }\n  return html.slice(0, start) + html.slice(end);\n}\n\nfunction removeAllRowsByMarker(html, marker) {\n  let previous;\n  do {\n    previous = html;\n    html = removeOuterRowByMarker(html, marker);\n  } while (html !== previous);\n  return html;\n}\n\nfunction removeTablesByClass(html) {\n  return html\n    .replace(/<table\\b[^>]*class=[\"'][^\"']*(?:data-table|ticket-table)[^\"']*[\"'][\\s\\S]*?<\\/table>/gi, '')\n    .replace(/<table\\b[^>]*(?:data-table|ticket-table)[^>]*>[\\s\\S]*?<\\/table>/gi, '');\n}\n\n\nfunction repairMailEncoding(value, forSubject = false) {\n  let text = String(value ?? '');\n  const htmlMap = [\n    ['Automatizaci??n','Automatizaci&oacute;n'], ['automatizaci??n','automatizaci&oacute;n'],\n    ['Organizaci??n','Organizaci&oacute;n'], ['organizaci??n','organizaci&oacute;n'],\n    ['Producci??n','Producci&oacute;n'], ['producci??n','producci&oacute;n'],\n    ['garant??a','garant&iacute;a'], ['Garant??a','Garant&iacute;a'], ['GARANT??A','GARANT&Iacute;A'],\n    ['pr??ximos','pr&oacute;ximos'], ['Pr??ximos','Pr&oacute;ximos'], ['PR??XIMOS','PR&Oacute;XIMOS'], ['pr??ximo','pr&oacute;ximo'], ['pr??xima','pr&oacute;xima'],\n    ['d??as','d&iacute;as'], ['D??AS','D&Iacute;AS'], ['D??as','D&iacute;as'],\n    ['m??s','m&aacute;s'], ['M??S','M&Aacute;S'], ['M??s','M&aacute;s'],\n    ['T??tulo','T&iacute;tulo'], ['t??tulo','t&iacute;tulo'],\n    ['antig??edad','antig&uuml;edad'], ['Antig??edad','Antig&uuml;edad'],\n    ['actualizaci??n','actualizaci&oacute;n'], ['Actualizaci??n','Actualizaci&oacute;n'],\n    ['configuraci??n','configuraci&oacute;n'], ['Configuraci??n','Configuraci&oacute;n'],\n    ['f??sicos','f&iacute;sicos'], ['f??sico','f&iacute;sico'], ['f??sica','f&iacute;sica'], ['f??sicamente','f&iacute;sicamente'],\n    ['tel??fono','tel&eacute;fono'], ['Tel??fonos','Tel&eacute;fonos'], ['m??viles','m&oacute;viles'],\n    ['perif??rico','perif&eacute;rico'], ['perif??ricos','perif&eacute;ricos'], ['Perif??ricos','Perif&eacute;ricos'],\n    ['??nico','&uacute;nico'], ['??nica','&uacute;nica'], ['??ltimo','&uacute;ltimo'], ['??ltima','&uacute;ltima'],\n    ['cr??tico','cr&iacute;tico'], ['cr??ticos','cr&iacute;ticos'], ['Cr??tico','Cr&iacute;tico'], ['CR??TICOS','CR&Iacute;TICOS'],\n    ['par??metros','par&aacute;metros'], ['inv??lida','inv&aacute;lida'], ['v??lida','v&aacute;lida'], ['v??lidas','v&aacute;lidas'],\n    ['env??a','env&iacute;a'], ['envi??','envi&oacute;'], ['asignaci??n','asignaci&oacute;n'], ['ubicaci??n','ubicaci&oacute;n'],\n    ['descripci??n','descripci&oacute;n'], ['categor??a','categor&iacute;a'], ['seg??n','seg&uacute;n'], ['hist??rico','hist&oacute;rico'], ['Hist??rico','Hist&oacute;rico'],\n    ['relaci??n','relaci&oacute;n'], ['operaci??n','operaci&oacute;n'], ['an??lisis','an&aacute;lisis'], ['creaci??n','creaci&oacute;n'],\n    ['aprobaci??n','aprobaci&oacute;n'], ['atenci??n','atenci&oacute;n'], ['informaci??n','informaci&oacute;n'], ['clasificaci??n','clasificaci&oacute;n'],\n    ['revisi??n','revisi&oacute;n'], ['intervenci??n','intervenci&oacute;n'], ['secci??n','secci&oacute;n'], ['l??nea','l&iacute;nea'],\n    ['c??digos','c&oacute;digos'], ['d??nde','d&oacute;nde'], ['espa??ol','espa&ntilde;ol'], ['vi??etas','vi&ntilde;etas'],\n    ['m??ltiples','m&uacute;ltiples'], ['m??xima','m&aacute;xima'], ['r??pida','r&aacute;pida'], ['reposici??n','reposici&oacute;n'],\n    ['est??ndar','est&aacute;ndar'], ['alg??n','alg&uacute;n'], ['??til','&uacute;til'], ['port??til','port&aacute;til']\n  ];\n  const subjectMap = htmlMap.map(([bad, good]) => [bad, good\n    .replace(/&aacute;/g,'a').replace(/&eacute;/g,'e').replace(/&iacute;/g,'i').replace(/&oacute;/g,'o').replace(/&uacute;/g,'u')\n    .replace(/&Aacute;/g,'A').replace(/&Eacute;/g,'E').replace(/&Iacute;/g,'I').replace(/&Oacute;/g,'O').replace(/&Uacute;/g,'U')\n    .replace(/&uuml;/g,'u').replace(/&Uuml;/g,'U').replace(/&ntilde;/g,'n').replace(/&Ntilde;/g,'N')]);\n  for (const [bad, good] of (forSubject ? subjectMap : htmlMap)) text = text.split(bad).join(good);\n  text = text.split(' ?? ').join(forSubject ? ' - ' : ' &bull; ');\n  text = text.split('??').join(forSubject ? '-' : '&bull;');\n  return text;\n}\n\nfunction applyVisualFlags(html, data) {\n  if (!html) return html;\n  if (!flagEnabled(data, 'include_summary', true)) {\n    for (const marker of ['Resumen ejecutivo', 'TOTAL ACTIVOS', 'TOTAL CON CONTACTO', 'TOTAL TICKETS', 'TOTAL CAMBIOS', 'TOTAL MOVIMIENTOS']) html = removeAllRowsByMarker(html, marker);\n  }\n  if (!flagEnabled(data, 'include_detail', true)) {\n    for (const marker of [\n      'Detalle operacional',\n      'Detalle de activos',\n      'Detalle de tickets',\n      'Detalle por agente',\n      'Detalle por antig?edad',\n      'Resumen por estado',\n      'Resumen por bodega/localidad',\n      'Resumen por clase',\n      'Activos por clase',\n      'Por revisar',\n      'Tickets abiertos',\n      'Tickets abiertos pendientes',\n      'Tickets abiertos por agente',\n      'Tickets con m?s de 14 d?as abiertos',\n      'Tickets abiertos hasta 14 d?as',\n      'Movimientos recientes',\n      'data-table',\n      'ticket-table'\n    ]) html = removeAllRowsByMarker(html, marker);\n    html = removeTablesByClass(html);\n    html = html.replace(/\\.data-table[\\s\\S]*?\\}/g, '').replace(/\\.ticket-table[\\s\\S]*?\\}/g, '');\n  }\n  if (!flagEnabled(data, 'include_operational_notes', true)) html = removeAllRowsByMarker(html, 'Observaciones operacionales');\n  if (!flagEnabled(data, 'include_itop_button_footer', true)) html = removeAllRowsByMarker(html, 'Abrir Combodo iTop');\n  return html;\n}\n\nreturn $input.all().map((item) => {\n  const configReporte = getNodeJson('Config Reporte');\n  const setMixed = getNodeJson('SetMixed - Configuracion efectiva');\n  const setTrigger = getNodeJson('SetTrigger - Flujo');\n  const itemJson = item.json || {};\n  const flags = mergeFlags(configReporte, setMixed, itemJson, setTrigger);\n  const data = { ...configReporte, ...setMixed, ...itemJson, ...setTrigger, flags };\n  for (const [key, value] of Object.entries(flags)) data[key] = value;\n\n  const includeAttachment = flagEnabled(data, 'include_attachment', true);\n  const binary = includeAttachment ? (item.binary || {}) : {};\n  const html = repairMailEncoding(applyVisualFlags(data.html, data), false);\n  data.email_subject = repairMailEncoding(data.email_subject, true);\n\n  return {\n    json: {\n      ...data,\n      html,\n      include_attachment_effective: includeAttachment,\n      attachment_binary_names: includeAttachment && binary.csv ? 'csv' : '',\n      has_csv_binary: Boolean(binary.csv),\n    },\n    binary,\n  };\n});"
      },
      "id": "d27ce4cc-6fbd-41f4-af57-78067ad25b15",
      "name": "Aplicar flags envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item?.json?.body || {};\nconst errors = [];\n\nfunction text(name) {\n  return String(body[name] ?? '').trim();\n}\n\nfunction positiveNumber(name) {\n  const raw = body[name];\n  if (raw === undefined || raw === null || raw === '') return false;\n  const n = Number(raw);\n  return Number.isFinite(n) && n > 0;\n}\n\nfunction validDateText(name) {\n  const value = text(name);\n  if (!value) return false;\n  const parsed = new Date(value.replace(' ', 'T'));\n  return !Number.isNaN(parsed.getTime());\n}\n\nfunction dateWindowState() {\n  const hasStart = text('start_date').length > 0;\n  const hasEnd = text('end_date').length > 0;\n  if (!hasStart && !hasEnd) return { provided: false, valid: false };\n  if (!hasStart || !hasEnd) return { provided: true, valid: false, error: 'start_date y end_date deben enviarse juntos.' };\n  if (!validDateText('start_date') || !validDateText('end_date')) return { provided: true, valid: false, error: 'start_date y end_date deben ser fechas v\\u00e1lidas.' };\n  const start = new Date(text('start_date').replace(' ', 'T'));\n  const end = new Date(text('end_date').replace(' ', 'T'));\n  if (start > end) return { provided: true, valid: false, error: 'start_date no puede ser mayor que end_date.' };\n  return { provided: true, valid: true };\n}\n\nif (!text('email_to')) {\n  errors.push('email_to es obligatorio para llamadas webhook.');\n}\n\nconst webhookPath = 'itsm-tickets-abiertos-antiguedad';\nconst window = dateWindowState();\n\nif (webhookPath === 'cmdb-movimientos-recientes-inventario') {\n  const hasMovementDays = positiveNumber('movement_days');\n  if (!hasMovementDays && !window.valid) {\n    errors.push(window.error || 'Debe enviar movement_days positivo o la ventana start_date + end_date.');\n  }\n}\n\nif (webhookPath === 'cmdb-activos-proximos-vencer-garantia') {\n  if (!positiveNumber('warranty_warning_months')) {\n    errors.push('warranty_warning_months es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (webhookPath === 'itsm-tickets-sin-actualizacion-24h') {\n  if (!positiveNumber('stale_threshold_hours')) {\n    errors.push('stale_threshold_hours es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (window.provided && !window.valid && webhookPath !== 'cmdb-movimientos-recientes-inventario') {\n  errors.push(window.error || 'Ventana de fechas inv\\u00e1lida.');\n}\n\nconst valid = errors.length === 0;\n\nreturn [{\n  json: {\n    ...(item.json || {}),\n    webhook_contract: {\n      valid,\n      status_code: valid ? 202 : 400,\n      message: valid ? 'Workflow accepted' : errors.join(' '),\n      errors,\n    },\n  },\n  binary: item.binary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        96
      ],
      "id": "f818ea6d-ff30-4a64-881c-fae6e1dab161",
      "name": "Validar webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $json.webhook_contract.message, \"accepted\": $json.webhook_contract.valid } }}",
        "options": {
          "responseCode": "={{ $json.webhook_contract.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        96
      ],
      "id": "fe338ba1-4c97-4e16-a137-2d5dccdaa091",
      "name": "Responder webhook"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json || {};\n\nif (!json.webhook_contract?.valid) {\n  return [];\n}\n\nconst { webhook_contract, ...cleanJson } = json;\nreturn [{ json: cleanJson, binary: item.binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        96
      ],
      "id": "480b21ea-dc63-4c14-b118-402c1beaa6f3",
      "name": "Continuar webhook valido"
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Tickets abiertos": {
      "main": [
        [
          {
            "node": "Preparar datos reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos reporte": {
      "main": [
        [
          {
            "node": "HTML - Renderer parciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Renderer parciales": {
      "main": [
        [
          {
            "node": "Aplicar flags envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetTrigger - Flujo": {
      "main": [
        [
          {
            "node": "SubWorkflow - SetBase reportes correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SubWorkflow - SetBase reportes correo": {
      "main": [
        [
          {
            "node": "Config Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Reporte": {
      "main": [
        [
          {
            "node": "iTop - Tickets abiertos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - ejecucion externa": {
      "main": [
        [
          {
            "node": "Validar webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - lunes 07:00": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar flags envio": {
      "main": [
        [
          {
            "node": "Enviar correo SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar webhook": {
      "main": [
        [
          {
            "node": "Responder webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder webhook": {
      "main": [
        [
          {
            "node": "Continuar webhook valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar webhook valido": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c5322133-b940-4df4-9b66-1132b67aca38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ad3b920e2d3586b0e2fb892d909337f22ce15cbde2c7354c038d868efea76ad"
  },
  "id": "v57Wrl49m43o7oH5",
  "tags": []
}
