APP/config/n8n/WorkFlow_v4/CMDB - Resumen por clase, estado y bodega - SMTP.json
{
  "name": "CMDB - Resumen por clase, estado y bodega - SMTP",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "55a41b36-545c-438d-8681-6744d1218581",
      "name": "Ejecutar manualmente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ec07e88-bd2b-4221-aa2f-7cd18380f666",
              "name": "itop_url",
              "value": "http://10.130.221.203/itop/",
              "type": "string"
            },
            {
              "id": "ad09e0b1-8308-4961-a552-f55c22dba1bf",
              "name": "email_from",
              "value": "MesaDeAyudaChile@goldfields.com",
              "type": "string"
            },
            {
              "id": "8bacba6b-eb55-4c79-8b01-ba0752edfe8a",
              "name": "email_to",
              "value": "={{ $json.body?.email_to ?? \"jswaneck@tecnocomp.cl\" }}",
              "type": "string"
            },
            {
              "id": "1ac196c8-3a0d-4bf0-8dbc-459c71e963a1",
              "name": "email_cc",
              "value": "={{ $json.body?.email_cc ?? \"cconcha@tecnocomp.cl, rmarquez@tecnocomp.cl, vsoto@tecnocomp.cl\" }}",
              "type": "string"
            },
            {
              "id": "87acf377-71f9-4322-b572-2e8605a5af42",
              "name": "email_bcc",
              "value": "={{ $json.body?.email_bcc ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "d22afb26-6380-40fb-a466-cd2d652c22e0",
              "name": "email_subject",
              "value": "Reporte CMDB - resumen por clase, estado y bodega",
              "type": "string"
            },
            {
              "id": "db8a7736-00e1-42c1-ba99-05d0701e3f9a",
              "name": "timezone",
              "value": "America/Santiago",
              "type": "string"
            },
            {
              "id": "9ffd3f8f-1526-4662-9ab2-ed1354842b5c",
              "name": "itop_organization",
              "value": "Minera GoldFields Chile",
              "type": "string"
            },
            {
              "id": "a123a734-1fa3-4152-b410-8c3be609c991",
              "name": "Company",
              "value": "TecnoComp",
              "type": "string"
            },
            {
              "id": "1f4b144a-94a4-4ea4-8a30-204063ea6b58",
              "name": "itop_limit",
              "value": 5000,
              "type": "number"
            },
            {
              "id": "ddd4ba56-ef9c-49fe-bac1-c9541c68b8c1",
              "name": "include_attachment",
              "value": "={{ $json.body?.include_attachment ?? true }}",
              "type": "string"
            },
            {
              "id": "4e47651d-40f1-4b05-b1ef-4e7073af0560",
              "name": "include_detail",
              "value": "={{ $json.body?.include_detail ?? true }}",
              "type": "string"
            },
            {
              "id": "3858027a-d86e-4cea-9cf3-64f86d922f65",
              "name": "include_summary",
              "value": "={{ $json.body?.include_summary ?? true }}",
              "type": "string"
            },
            {
              "id": "3a117cfc-95e8-474c-bb4a-63fe2573cf57",
              "name": "include_operational_notes",
              "value": "={{ $json.body?.include_operational_notes ?? true }}",
              "type": "string"
            },
            {
              "id": "959d251a-ceca-4dc2-b654-15f8c0f68100",
              "name": "include_itop_button_footer",
              "value": "={{ $json.body?.include_itop_button_footer ?? true }}",
              "type": "string"
            },
            {
              "id": "b5ded7f0-02f2-407f-9de0-6bace8b7fdf3",
              "name": "start_date",
              "value": "={{ $json.body?.start_date ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "1a243f0d-1679-46f6-b1d9-1a58ba9ea46e",
              "name": "end_date",
              "value": "={{ $json.body?.end_date ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "b96461a3-ab62-4722-b6af-dfc0201c049e",
              "name": "report_template_key",
              "value": "cmdb-resumen-clase-estado-bodega",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "id": "308682df-b7fc-48fa-9c99-bb5adf60a687",
      "name": "SetTrigger - Flujo"
    },
    {
      "parameters": {
        "authentication": "token",
        "class": "PhysicalDevice",
        "key": "SELECT PhysicalDevice AS d JOIN lnkContactToFunctionalCI AS l ON l.functionalci_id = d.id",
        "output_fields": "id,name,friendlyname,finalclass,status,org_id,org_id_friendlyname,location_id,location_id_friendlyname,contacts_list,brand_id,brand_id_friendlyname,model_id,model_id_friendlyname,serialnumber,asset_number,move2production,purchase_date,end_of_warranty,description",
        "limit": "={{ $json.itop_limit }}",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-itop.iTop",
      "typeVersion": 1,
      "position": [
        1568,
        0
      ],
      "id": "2825518e-2253-452c-8877-abd02a3fa170",
      "name": "iTop - Activos CMDB para resumen",
      "credentials": {
        "iTopTokenApi": {
          "id": "FdUX5lCOh0Z3YWW4",
          "name": "iTopToken_GF_QA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const baseConfig = $('Config Reporte').first().json;\nconst triggerConfig = $('SetTrigger - Flujo').first()?.json || {};\nconst mergedFlags = { ...(baseConfig.flags || {}) };\nfunction mergeFlag(name) {\n  const value = triggerConfig[name];\n  if (value === undefined || value === null || value === '') return;\n  if (typeof value === 'boolean') mergedFlags[name] = value;\n  else if (typeof value === 'number') mergedFlags[name] = value !== 0;\n  else {\n    const text = String(value).trim().toLowerCase();\n    if (['true','1','yes','y','si','s','on','enabled'].includes(text)) mergedFlags[name] = true;\n    else if (['false','0','no','n','off','disabled'].includes(text)) mergedFlags[name] = false;\n  }\n}\nfor (const key of ['include_attachment','include_detail','include_summary','include_operational_notes','include_itop_button_footer','send_email','include_requirements','include_incidents','include_changes','include_problems']) mergeFlag(key);\nconst config = { ...baseConfig, ...triggerConfig, flags: mergedFlags };\nfor (const [key, value] of Object.entries(mergedFlags)) config[key] = value;\nconst company = String(config.Company || config.company || 'TecnoComp').trim();\nconst itopOrganization = String(config.itop_organization || '').trim();\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction csvEscape(value) {\n  const text = String(value ?? '').replace(/\"/g, '\"\"');\n  return `\"${text}\"`;\n}\n\nfunction getField(obj, names, fallback = '') {\n  for (const name of names) {\n    if (obj && obj[name] !== undefined && obj[name] !== null && obj[name] !== '') return obj[name];\n    if (obj?.fields && obj.fields[name] !== undefined && obj.fields[name] !== null && obj.fields[name] !== '') return obj.fields[name];\n  }\n  return fallback;\n}\n\nfunction flattenInput(items) {\n  const rows = [];\n  for (const item of items) {\n    const j = item.json || {};\n    if (j.objects && typeof j.objects === 'object') {\n      for (const [key, value] of Object.entries(j.objects)) rows.push({ key, ...(value || {}), fields: value?.fields || value || {} });\n      continue;\n    }\n    if (Array.isArray(j)) { rows.push(...j); continue; }\n    rows.push(j);\n  }\n  return rows;\n}\n\nfunction scalarText(value) {\n  if (value === undefined || value === null) return '';\n  if (typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean') {\n    const text = String(value).trim();\n    return text === '[object Object]' ? '' : text;\n  }\n  return '';\n}\n\nfunction cleanContactText(value) {\n  let text = scalarText(value);\n  if (!text) return '';\n  if (text.includes(' / ')) text = text.split(' / ')[0].trim();\n  return text;\n}\n\nfunction normalizeContactEntry(entry) {\n  if (entry === undefined || entry === null) return '';\n  const direct = cleanContactText(entry);\n  if (direct) return direct;\n  if (Array.isArray(entry)) return entry.map(normalizeContactEntry).filter(Boolean).join(', ');\n  if (typeof entry === 'object') {\n    if (entry.fields && typeof entry.fields === 'object') {\n      const fromFields = normalizeContactEntry(entry.fields);\n      if (fromFields) return fromFields;\n    }\n    if (entry.objects && typeof entry.objects === 'object') {\n      return Object.values(entry.objects).map(normalizeContactEntry).filter(Boolean).join(', ');\n    }\n    const preferred = ['contact_id_friendlyname','person_id_friendlyname','user_id_friendlyname','contact_name','person_name','display_name','name','friendlyname','email','email_address'];\n    for (const field of preferred) {\n      const text = cleanContactText(entry[field]);\n      if (text) return text;\n    }\n    const nested = ['contact_id','person_id','user_id','contact','person','user'];\n    for (const field of nested) {\n      const text = normalizeContactEntry(entry[field]);\n      if (text) return text;\n    }\n  }\n  return '';\n}\n\nfunction normalizeContacts(value) {\n  const text = normalizeContactEntry(value);\n  if (!text) return '';\n  const unique = [];\n  const seen = new Set();\n  for (const part of text.split(',').map(v => cleanContactText(v)).filter(Boolean)) {\n    const key = part.toLowerCase();\n    if (!seen.has(key)) { seen.add(key); unique.push(part); }\n  }\n  return unique.join(', ');\n}\n\nfunction isBlankValue(value) {\n  const v = String(value ?? '').trim();\n  return !v || v === '-' || v.toLowerCase() === 'n/a' || v.toLowerCase() === 'null' || v.toLowerCase() === 'undefined' || v.toLowerCase() === 'sin bodega/localidad';\n}\n\nfunction inferWorkstationClass(f) {\n  const rawHints = [\n    getField(f, ['finalclass', 'class', 'class_friendlyname'], ''),\n    getField(f, ['type', 'type_friendlyname', 'computer_type', 'computer_type_friendlyname', 'device_type', 'device_type_friendlyname'], ''),\n    getField(f, ['category', 'category_friendlyname', 'subcategory', 'subcategory_friendlyname'], ''),\n    getField(f, ['name', 'friendlyname'], ''),\n    getField(f, ['model_id_friendlyname', 'model'], ''),\n    getField(f, ['brand_id_friendlyname', 'brand'], ''),\n    getField(f, ['description', 'comment', 'comments'], ''),\n  ].map(v => String(v || '').trim()).filter(Boolean);\n  const hint = rawHints.join(' ').toLowerCase();\n  const laptopPatterns = ['laptop','notebook','portable','portatil','port\\u00fatil','ultrabook','latitude','elitebook','probook','thinkpad','thinkbook','macbook','vivobook','zenbook','travelmate','tecra','xps 13','xps 15',/\\b(34|35|54|55|72|73|74|75)[0-9]{2}\\b/,/\\bt14\\b/,/\\bt15\\b/,/\\bx1\\b/,/\\be14\\b/,/\\be15\\b/];\n  const desktopPatterns = ['desktop','sobremesa','escritorio','tower','torre','sff','micro','minitower','optiplex','prodesk','elitedesk','thinkcentre','workstation','all-in-one','all in one','aio'];\n  for (const pattern of desktopPatterns) if (hint.includes(pattern)) return 'PC';\n  for (const pattern of laptopPatterns) if (pattern instanceof RegExp ? pattern.test(hint) : hint.includes(pattern)) return 'Laptop';\n  return 'PC';\n}\n\nfunction normalizeClass(value, f = {}) {\n  const raw = String(value || '-').trim();\n  const lower = raw.toLowerCase();\n  if (lower === 'pc' || lower === 'pc/laptop' || lower.includes('pc/laptop') || lower.includes('desktop') || lower.includes('laptop') || lower.includes('notebook') || lower.includes('portable')) {\n    return inferWorkstationClass({ ...f, finalclass: raw });\n  }\n  if (lower === 'mobilephone' || lower.includes('phone') || lower.includes('telefono') || lower.includes('tel\\u00e9fono')) return 'Tel\\u00e9fonos m\\u00f3viles';\n  if (lower === 'tablet') return 'Tablets';\n  if (lower === 'printer' || lower.includes('impresora')) return 'Impresoras';\n  if (lower === 'peripheral' || lower.includes('periferico') || lower.includes('perif\\u00e9rico')) return 'Perif\\u00e9ricos';\n  return raw || 'Otros';\n}\n\nfunction classSortWeight(className) {\n  const order = { 'PC': 10, 'Laptop': 20, 'Tablets': 30, 'Tel\\u00e9fonos m\\u00f3viles': 40, 'Impresoras': 50, 'Perif\\u00e9ricos': 60, 'Otros': 90 };\n  return order[className] || 80;\n}\n\nfunction normalizeStatusInfo(value) {\n  const raw = String(value || '-').trim();\n  const s = raw.toLowerCase();\n  if (s === 'stock' || s.includes('stock') || s.includes('inventario') || s.includes('available') || s.includes('disponible')) return { key: 'stock', label: 'En Inventario', raw };\n  if (s === 'implementation' || s.includes('implementation') || s.includes('implementacion') || s.includes('implementaci\\u00f3n') || s.includes('no productivo')) return { key: 'implementation', label: 'No Productivo', raw };\n  if (s === 'production' || s.includes('production') || s.includes('produccion') || s.includes('producci\\u00f3n') || s.includes('active') || s.includes('assigned') || s.includes('asignado')) return { key: 'production', label: 'Productivo', raw };\n  if (s === 'obsolete' || s.includes('obsolete') || s.includes('obsoleto') || s.includes('retired') || s.includes('retirado')) return { key: 'obsolete', label: 'Obsoleto', raw };\n  return { key: 'other', label: raw || 'Sin estado', raw };\n}\n\nfunction statusSortWeight(key) { return ({ stock: 10, implementation: 20, production: 30, obsolete: 40, other: 90 })[key] || 99; }\nfunction badge(text, cls='badge-gray') { return `<span class=\"badge ${cls}\">${escapeHtml(text)}</span>`; }\nfunction statusBadgeByKey(key, label) {\n  if (key === 'production') return badge(label, 'badge-green');\n  if (key === 'stock') return badge(label, 'badge-blue');\n  if (key === 'implementation') return badge(label, 'badge-orange');\n  if (key === 'obsolete') return badge(label, 'badge-gray');\n  return badge(label, 'badge-yellow');\n}\nfunction td(value, align='left') { return `<td align=\"${align}\" style=\"font-size:12px; line-height:16px; color:#1f2937; padding:8px 7px; border-bottom:1px solid #edf2f7; vertical-align:top;\">${value}</td>`; }\nfunction th(value, align='left') { return `<th align=\"${align}\" style=\"background-color:#f8fafc; color:#334155; font-size:11px; line-height:15px; font-weight:bold; text-align:${align}; padding:8px 7px; border-bottom:1px solid #dbe3ec; white-space:nowrap;\">${escapeHtml(value)}</th>`; }\nfunction fmtDateOnly(value) {\n  if (!value || value === '-') return '-';\n  const d = new Date(String(value).replace(' ', 'T'));\n  if (Number.isNaN(d.getTime())) return String(value);\n  return d.toLocaleDateString('es-CL', { timeZone: config.timezone || 'America/Santiago', year:'numeric', month:'2-digit', day:'2-digit' });\n}\n\nconst generatedAt = new Date().toLocaleString('es-CL', { timeZone: config.timezone || 'America/Santiago', year:'numeric', month:'2-digit', day:'2-digit', hour:'2-digit', minute:'2-digit' });\nconst rawRows = flattenInput($input.all());\n\nconst mappedAssets = rawRows.map((row) => {\n  const f = row.fields || row;\n  const contactRaw = getField(f, ['contacts_list_friendlyname','contacts_list','contact_id_friendlyname','contact_name','person_id_friendlyname','user_id_friendlyname'], '');\n  const statusInfo = normalizeStatusInfo(getField(f, ['operational_status_friendlyname','operational_status','status_friendlyname','status'], '-'));\n  const finalclassRaw = getField(f, ['finalclass','class','class_friendlyname'], '-');\n  return {\n    id: getField(f, ['id','key'], ''),\n    name: getField(f, ['name','friendlyname'], '-'),\n    finalclass: normalizeClass(finalclassRaw, f),\n    finalclassRaw,\n    status: statusInfo.label,\n    statusKey: statusInfo.key,\n    statusRaw: statusInfo.raw,\n    organization: getField(f, ['org_id_friendlyname','organization_name','org_name'], '-'),\n    location: getField(f, ['location_id_friendlyname','location_name','location_id'], ''),\n    contacts: normalizeContacts(contactRaw),\n    brand: getField(f, ['brand_id_friendlyname','brand'], '-'),\n    model: getField(f, ['model_id_friendlyname','model'], '-'),\n    serial: getField(f, ['serialnumber','serial_number'], ''),\n    move2production: getField(f, ['move2production','production_date'], '-'),\n    purchaseDate: getField(f, ['purchase_date'], '-'),\n    warrantyEnd: getField(f, ['end_of_warranty'], '-'),\n  };\n});\n\nconst unique = new Map();\nfor (const a of mappedAssets) {\n  const key = String(a.id || `${a.finalclass}|${a.name}|${a.serial}`);\n  if (!unique.has(key)) unique.set(key, a);\n}\n\nfor (const asset of unique.values()) {\n  if (String(asset.finalclass || '').trim().toLowerCase() === 'pc/laptop') {\n    asset.finalclass = 'PC';\n  }\n}\n\nconst assets = Array.from(unique.values()).sort((a,b) =>\n  statusSortWeight(a.statusKey) - statusSortWeight(b.statusKey) ||\n  classSortWeight(a.finalclass) - classSortWeight(b.finalclass) ||\n  String(a.finalclass).localeCompare(String(b.finalclass),'es') ||\n  String(a.location).localeCompare(String(b.location),'es') ||\n  String(a.name).localeCompare(String(b.name),'es')\n);\n\nfunction isProductionStatus(a) { return a.statusKey === 'production'; }\nfunction isStockStatus(a) { return a.statusKey === 'stock'; }\nfunction isImplementationStatus(a) { return a.statusKey === 'implementation'; }\nfunction isObsoleteStatus(a) { return a.statusKey === 'obsolete'; }\n\nconst classes = new Map(), classStatus = new Map(), classLocation = new Map(), locations = new Map();\nfunction inc(map, key, by=1) { map.set(key, (map.get(key) || 0) + by); }\n\nfor (const a of assets) {\n  if (!classes.has(a.finalclass)) classes.set(a.finalclass, []);\n  classes.get(a.finalclass).push(a);\n  inc(classStatus, `${a.finalclass}||${a.statusKey}||${a.status}`);\n  inc(classLocation, `${a.finalclass}||${a.location || 'Sin bodega/localidad'}`);\n  const loc = a.location || 'Sin bodega/localidad';\n  if (!locations.has(loc)) locations.set(loc, []);\n  locations.get(loc).push(a);\n}\n\nconst classSummaryRows = Array.from(classes.entries())\n  .sort(([a],[b]) => classSortWeight(a) - classSortWeight(b) || a.localeCompare(b,'es'))\n  .map(([cls, list]) => `<tr>` +\n    td(escapeHtml(cls)) +\n    td(`<strong>${list.length}</strong>`,'right') +\n    td(list.filter(isProductionStatus).length,'right') +\n    td(list.filter(isStockStatus).length,'right') +\n    td(list.filter(a => isImplementationStatus(a) || isObsoleteStatus(a)).length,'right') +\n    td(list.filter(a => !String(a.location || '').trim()).length,'right') +\n  `</tr>`).join('');\n\nconst classStatusRows = Array.from(classStatus.entries()).sort((a,b) => {\n  const [classA, keyA] = a[0].split('||');\n  const [classB, keyB] = b[0].split('||');\n  return classSortWeight(classA) - classSortWeight(classB) || classA.localeCompare(classB,'es') || statusSortWeight(keyA) - statusSortWeight(keyB);\n}).map(([key,count]) => {\n  const [cls,statusKey,statusLabel]=key.split('||');\n  const obs = statusKey === 'implementation' ? badge('No productivo / implementaci\\u00f3n','badge-orange') : statusKey === 'obsolete' ? badge('Fuera de ciclo','badge-gray') : statusKey === 'stock' ? badge('Disponible en inventario','badge-blue') : statusKey === 'production' ? badge('Activo operativo','badge-green') : badge('Validar estado','badge-yellow');\n  return `<tr>` + td(escapeHtml(cls)) + td(statusBadgeByKey(statusKey, statusLabel)) + td(`<strong>${count}</strong>`,'right') + td(obs) + `</tr>`;\n}).join('');\n\nconst orderedMatrixClasses = Array.from(classes.keys())\n  .sort((a,b) => classSortWeight(a) - classSortWeight(b) || a.localeCompare(b,'es'));\n\nconst locationMatrixHeaderCells = [\n  th('Bodega / localidad'),\n  th('Estado'),\n  ...orderedMatrixClasses.map(cls => th(cls, 'right')),\n  th('Total', 'right'),\n].join('');\n\nconst locationMatrixRows = Array.from(locations.entries())\n  .sort(([a],[b]) => a.localeCompare(b,'es'))\n  .map(([loc, list]) => {\n    const statusMap = new Map();\n    for (const asset of list) {\n      if (!statusMap.has(asset.statusKey)) {\n        statusMap.set(asset.statusKey, { key: asset.statusKey, label: asset.status, list: [] });\n      }\n      statusMap.get(asset.statusKey).list.push(asset);\n    }\n\n    return Array.from(statusMap.values())\n      .sort((a,b) => statusSortWeight(a.key) - statusSortWeight(b.key) || a.label.localeCompare(b.label,'es'))\n      .map(({ key: statusKey, label: statusLabel, list: statusList }) => {\n        const classCells = orderedMatrixClasses.map((cls) => {\n          const count = statusList.filter(asset => asset.finalclass === cls).length;\n          return td(count ? `<strong>${count}</strong>` : '0', 'right');\n        }).join('');\n\n        return `<tr>` +\n          td(escapeHtml(loc || 'Sin bodega/localidad')) +\n          td(statusBadgeByKey(statusKey, statusLabel)) +\n          classCells +\n          td(`<strong>${statusList.length}</strong>`, 'right') +\n        `</tr>`;\n      }).join('');\n  }).join('');\n\nconst topLocationRows = Array.from(locations.entries()).sort((a,b)=>b[1].length-a[1].length).map(([loc,list]) => {\n  const classNames=[...new Set(list.map(a=>a.finalclass))].sort((a,b)=>classSortWeight(a)-classSortWeight(b)||a.localeCompare(b,'es')).join(', ');\n  return `<tr>` + td(escapeHtml(loc)) + td(`<strong>${list.length}</strong>`,'right') + td(escapeHtml(classNames || '-')) + `</tr>`;\n}).join('');\n\nconst csvHeaders = [\n  'Nombre', 'Clase/Tipo', 'Estado', 'Bodega/Localidad', 'Contactos', 'Marca', 'Modelo', 'Serie', 'Puesto en Produccion', 'Fecha de Compra', 'Vencimiento de Garantia'\n];\nconst csvRows = assets.map(a => [a.name, a.finalclass, a.status, a.location || 'Sin bodega/localidad', a.contacts, a.brand, a.model, a.serial, fmtDateOnly(a.move2production), fmtDateOnly(a.purchaseDate), fmtDateOnly(a.warrantyEnd)]);\nconst csvContent = '\\uFEFF' + [csvHeaders.map(csvEscape).join(';'), ...csvRows.map(row => row.map(csvEscape).join(';'))].join('\\r\\n');\n\nconst subjectBase = String(config.email_subject || 'Reporte CMDB - resumen por clase, estado y bodega').trim();\nconst emailSubject = itopOrganization ? `${subjectBase} - ${itopOrganization}` : subjectBase;\nconst generatedAtFile = new Date().toISOString().replace(/[:.]/g, '-').replace('T', '_').slice(0, 19);\n\nreturn [{\n  json: {\n    flags: config.flags || {},\n    report_template_key: config.report_template_key,\n    template_root: config.template_root,\n    include_attachment: config.flags?.include_attachment ?? config.include_attachment,\n    include_detail: config.flags?.include_detail ?? config.include_detail,\n    include_summary: config.flags?.include_summary ?? config.include_summary,\n    include_operational_notes: config.flags?.include_operational_notes ?? config.include_operational_notes,\n    include_itop_button_footer: config.flags?.include_itop_button_footer ?? config.include_itop_button_footer,\n    email_from: config.email_from,\n    email_to: config.email_to,\n    email_cc: config.email_cc || '',\n    email_bcc: config.email_bcc || '',\n    email_subject: emailSubject,\n    company,\n    Company: company,\n    itop_organization: itopOrganization || '-',\n    generated_at: generatedAt,\n    total_assets: String(assets.length),\n    production_count: String(assets.filter(isProductionStatus).length),\n    stock_count: String(assets.filter(isStockStatus).length),\n    without_location_count: String(assets.filter(a => !String(a.location || '').trim()).length),\n    non_operational_count: String(assets.filter(a => isImplementationStatus(a) || isObsoleteStatus(a)).length),\n    implementation_count: String(assets.filter(isImplementationStatus).length),\n    obsolete_count: String(assets.filter(isObsoleteStatus).length),\n    class_count: String(classes.size),\n    class_summary_rows: classSummaryRows || `<tr>${td('Sin datos CMDB para resumir.')}</tr>`,\n    class_status_rows: classStatusRows || `<tr>${td('Sin estados para resumir.')}</tr>`,\n    location_matrix_header_cells: locationMatrixHeaderCells,\n    location_matrix_rows: locationMatrixRows || `<tr><td colspan=\"${orderedMatrixClasses.length + 3}\" style=\"padding:12px; font-size:12px; color:#64748b;\">Sin bodegas/localidades para resumir.</td></tr>`,\n    top_location_rows: topLocationRows || `<tr>${td('Sin bodegas/localidades para listar.')}</tr>`,\n    itop_url: config.itop_url || '#',\n    csv_filename: `cmdb_resumen_clase_estado_bodega_${generatedAtFile}.csv`,\n  },\n  binary: {\n    csv: {\n      data: Buffer.from(csvContent, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName: `cmdb_resumen_clase_estado_bodega_${generatedAtFile}.csv`,\n    },\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        0
      ],
      "id": "fc09743d-d7bd-4fc1-aeaf-3f1ee26bbd8d",
      "name": "Preparar datos reporte"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction readText(filePath) {\n  return fs.readFileSync(filePath, 'utf8');\n}\n\nfunction render(template, values) {\n  return String(template || '').replace(/{{\\s*([\\w.]+)\\s*}}/g, (_, key) => {\n    const parts = key.split('.');\n    let value = values;\n    for (const part of parts) value = value?.[part];\n    return value === undefined || value === null ? '' : String(value);\n  });\n}\n\nfunction normalizeText(value, forSubject = false) {\n  let text = String(value ?? '');\n  const htmlMap = [\n    ['Automatizaci??n','Automatizaci&oacute;n'], ['Organizaci??n','Organizaci&oacute;n'], ['organizaci??n','organizaci&oacute;n'],\n    ['Producci??n','Producci&oacute;n'], ['garant??a','garant&iacute;a'], ['Garant??a','Garant&iacute;a'], ['GARANT??A','GARANT&Iacute;A'],\n    ['pr??ximos','pr&oacute;ximos'], ['Pr??ximos','Pr&oacute;ximos'], ['PR??XIMOS','PR&Oacute;XIMOS'], ['pr??ximo','pr&oacute;ximo'], ['pr??xima','pr&oacute;xima'],\n    ['d??as','d&iacute;as'], ['D??AS','D&Iacute;AS'], ['D??as','D&iacute;as'], ['m??s','m&aacute;s'], ['M??S','M&Aacute;S'], ['M??s','M&aacute;s'],\n    ['T??tulo','T&iacute;tulo'], ['antig??edad','antig&uuml;edad'], ['actualizaci??n','actualizaci&oacute;n'], ['configuraci??n','configuraci&oacute;n'],\n    ['f??sicos','f&iacute;sicos'], ['f??sico','f&iacute;sico'], ['f??sica','f&iacute;sica'], ['tel??fono','tel&eacute;fono'], ['m??viles','m&oacute;viles'],\n    ['perif??rico','perif&eacute;rico'], ['perif??ricos','perif&eacute;ricos'], ['??nico','&uacute;nico'], ['??nica','&uacute;nica'], ['??ltimo','&uacute;ltimo'],\n    ['cr??tico','cr&iacute;tico'], ['cr??ticos','cr&iacute;ticos'], ['par??metros','par&aacute;metros'], ['env??a','env&iacute;a'], ['envi??','envi&oacute;'],\n    ['asignaci??n','asignaci&oacute;n'], ['ubicaci??n','ubicaci&oacute;n'], ['descripci??n','descripci&oacute;n'], ['categor??a','categor&iacute;a'],\n    ['seg??n','seg&uacute;n'], ['hist??rico','hist&oacute;rico'], ['relaci??n','relaci&oacute;n'], ['operaci??n','operaci&oacute;n'], ['an??lisis','an&aacute;lisis'],\n    ['creaci??n','creaci&oacute;n'], ['aprobaci??n','aprobaci&oacute;n'], ['atenci??n','atenci&oacute;n'], ['informaci??n','informaci&oacute;n'],\n    ['clasificaci??n','clasificaci&oacute;n'], ['revisi??n','revisi&oacute;n'], ['intervenci??n','intervenci&oacute;n'], ['secci??n','secci&oacute;n'],\n    ['l??nea','l&iacute;nea'], ['c??digos','c&oacute;digos'], ['d??nde','d&oacute;nde'], ['espa??ol','espa&ntilde;ol'], ['vi??etas','vi&ntilde;etas'],\n    ['m??ltiples','m&uacute;ltiples'], ['m??xima','m&aacute;xima'], ['r??pida','r&aacute;pida'], ['reposici??n','reposici&oacute;n'],\n    ['est??ndar','est&aacute;ndar'], ['alg??n','alg&uacute;n'], ['??til','&uacute;til'], ['port??til','port&aacute;til']\n  ];\n  const subjectMap = htmlMap.map(([bad, good]) => [bad, good\n    .replace(/&aacute;/g,'a').replace(/&eacute;/g,'e').replace(/&iacute;/g,'i').replace(/&oacute;/g,'o').replace(/&uacute;/g,'u')\n    .replace(/&Aacute;/g,'A').replace(/&Eacute;/g,'E').replace(/&Iacute;/g,'I').replace(/&Oacute;/g,'O').replace(/&Uacute;/g,'U')\n    .replace(/&uuml;/g,'u').replace(/&Uuml;/g,'U').replace(/&ntilde;/g,'n').replace(/&Ntilde;/g,'N')]);\n  for (const [bad, good] of (forSubject ? subjectMap : htmlMap)) text = text.split(bad).join(good);\n  text = text.split(' ?? ').join(forSubject ? ' - ' : ' &bull; ');\n  text = text.split('??').join(forSubject ? '-' : '&bull;');\n  return text;\n}\n\nfunction getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nfunction normalizeBoolean(value, fallback = true) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si', 's', 'on', 'enabled'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', 'off', 'disabled'].includes(text)) return false;\n  return fallback;\n}\n\nfunction flagEnabled(data, name, fallback = true) {\n  const trigger = getNodeJson('SetTrigger - Flujo');\n  const mixed = getNodeJson('SetMixed - Configuracion efectiva');\n  const value = trigger[name] ?? trigger.flags?.[name] ?? data[name] ?? data.flags?.[name] ?? mixed[name] ?? mixed.flags?.[name];\n  return normalizeBoolean(value, fallback);\n}\n\nfunction notesList(value) {\n  const lines = String(value ?? '')\n    .split(/\\r?\\n|\\. /)\n    .map(v => v.trim().replace(/\\.$/, ''))\n    .filter(Boolean);\n  if (!lines.length) return '<div style=\"font-size:13px; line-height:20px; color:#64748b;\">Sin observaciones adicionales.</div>';\n  return '<ul style=\"margin:0; padding-left:18px; color:#374151; font-size:13px; line-height:20px;\">' +\n    lines.map(line => '<li>' + escapeHtml(line) + '.</li>').join('') +\n    '</ul>';\n}\n\nfunction statCard(data, stat) {\n  const value = data[stat.value] ?? data[stat.fallbackValue] ?? '-';\n  return '<td class=\"summary-card\" width=\"33.33%\" valign=\"top\"><table role=\"presentation\" width=\"100%\" style=\"border:1px solid ' + stat.border + '; background-color:' + stat.background + ';\"><tr><td style=\"padding:12px;\"><div style=\"font-size:11px; color:' + stat.labelColor + '; font-weight:bold;\">' + escapeHtml(stat.label) + '</div><div style=\"font-size:24px; color:' + stat.valueColor + '; font-weight:bold;\">' + escapeHtml(value) + '</div></td></tr></table></td>';\n}\n\nfunction statRows(data, stats) {\n  const rows = [];\n  for (let i = 0; i < stats.length; i += 3) {\n    const cells = stats.slice(i, i + 3).map(stat => statCard(data, stat));\n    while (cells.length < 3) cells.push('<td class=\"summary-card\" width=\"33.33%\" valign=\"top\">&nbsp;</td>');\n    rows.push('<tr>' + cells.join('') + '</tr>');\n  }\n  return rows.join('\\n');\n}\n\nfunction simpleTable(title, rows, headers, emptyText) {\n  if (!rows) return '';\n  const headerHtml = headers.map(h => '<th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">' + escapeHtml(h) + '</th>').join('');\n  const body = rows || '<tr><td colspan=\"' + headers.length + '\" style=\"padding:14px; font-size:12px; color:#64748b;\">' + escapeHtml(emptyText || 'Sin registros.') + '</td></tr>';\n  return '<div style=\"font-size:14px; font-weight:bold; color:#1e293b; margin:18px 0 8px 0;\">' + escapeHtml(title) + '</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; border:1px solid #dbe3ec;\"><thead><tr style=\"background:#f8fafc;\">' + headerHtml + '</tr></thead><tbody>' + body + '</tbody></table>';\n}\n\nfunction tableContent(data) {\n  const blocks = [];\n  if (data.detail_blocks) blocks.push(data.detail_blocks);\n  if (data.class_asset_blocks) blocks.push(data.class_asset_blocks);\n  if (data.status_asset_blocks) blocks.push(data.status_asset_blocks);\n  if (data.review_asset_blocks) blocks.push(data.review_asset_blocks);\n  if (data.ticket_sections) blocks.push(data.ticket_sections);\n  if (data.older_section) blocks.push(data.older_section);\n  if (data.recent_section) blocks.push(data.recent_section);\n  if (data.ticket_rows_html) blocks.push(simpleTable('Tickets abiertos', data.ticket_rows_html, ['Criticidad','Referencia','Tipo','Titulo','Solicitante','Estado','Creacion','Ultimo update','Antiguedad','SLA'], 'Sin tickets.'));\n  if (data.movement_rows) blocks.push(simpleTable('Movimientos recientes', data.movement_rows, ['Fecha','Movimiento','Activo','Clase','Origen','Destino'], 'Sin movimientos.'));\n  if (data.class_summary_rows) blocks.push(simpleTable('Resumen por clase', data.class_summary_rows, ['Clase','Total','Dato 1','Observacion'], 'Sin resumen por clase.'));\n  if (data.warehouse_summary_rows) blocks.push(simpleTable('Resumen por bodega/localidad', data.warehouse_summary_rows, ['Bodega/localidad','Total','Clases','Observacion'], 'Sin resumen por bodega.'));\n  if (data.status_summary_rows) blocks.push(simpleTable('Resumen por estado', data.status_summary_rows, ['Estado','Total','Dato 1','Observacion'], 'Sin resumen por estado.'));\n  if (data.location_summary_rows) blocks.push(simpleTable('Resumen por localidad', data.location_summary_rows, ['Localidad','Total','Dato 1','Observacion'], 'Sin resumen por localidad.'));\n  if (data.class_status_rows) blocks.push(simpleTable('Clase por estado', data.class_status_rows, ['Clase','Productivo','Inventario','No operativo'], 'Sin matriz de estados.'));\n  if (data.location_matrix_rows) {\n    const header = data.location_matrix_header_cells || '<th align=\"left\" style=\"padding:8px; font-size:11px; color:#475569;\">Bodega/localidad</th>';\n    blocks.push('<div style=\"font-size:14px; font-weight:bold; color:#1e293b; margin:18px 0 8px 0;\">Matriz por bodega/localidad</div><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse; border:1px solid #dbe3ec;\"><thead><tr style=\"background:#f8fafc;\">' + header + '</tr></thead><tbody>' + data.location_matrix_rows + '</tbody></table>');\n  }\n  if (data.top_location_rows) blocks.push(simpleTable('Top bodega/localidad', data.top_location_rows, ['Bodega/localidad','Total','Dato 1','Observacion'], 'Sin top de localidades.'));\n  return blocks.filter(Boolean).join('\\n');\n}\n\nfunction buildHtml(item) {\n  const data = item.json || {};\n  const triggerConfig = getNodeJson('SetTrigger - Flujo');\n  const mixedConfig = getNodeJson('SetMixed - Configuracion efectiva');\n  const root = data.template_root || mixedConfig.template_root || triggerConfig.template_root || '/opt/n8n-config/templates/mail/v1';\n  const key = data.report_template_key || mixedConfig.report_template_key || triggerConfig.report_template_key || 'cmdb-activos-sin-contacto';\n  const contract = JSON.parse(readText(path.join(root, 'reports', key + '.json')));\n  const partial = (name) => readText(path.join(root, contract.partials[name]));\n\n  const styles = partial('styles');\n  const header = render(partial('header'), {\n    eyebrow: escapeHtml(contract.header?.eyebrow || 'Automatizacion ITSM / CMDB'),\n    title: escapeHtml(data.report_title || data.email_subject || 'Reporte'),\n    subtitle: escapeHtml(contract.header?.subtitle || ''),\n    itop_organization: escapeHtml(data.itop_organization || '-'),\n    generated_at: escapeHtml(data.generated_at || '-'),\n    source_label: escapeHtml(data.source_label || data.report_source_label || contract.header?.source_label || '-'),\n  });\n  const summary = render(partial('summary'), { description: escapeHtml(data.report_description || contract.summary?.description || '') });\n  const stats = render(partial('stats'), { stats_rows: statRows(data, contract.stats || []) });\n  const criteria = render(partial('criteria'), contract.criteria || {});\n  const tables = flagEnabled(data, 'include_detail', true) ? render(partial('tables'), {\n    title: contract.tables?.title || 'Detalle operacional',\n    subtitle: contract.tables?.subtitle || '',\n    content: tableContent(data) || '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #dbe3ec;\"><tr><td style=\"padding:14px; font-size:13px; color:#64748b;\">Sin registros para el criterio del reporte.</td></tr></table>',\n  }) : '';\n  const notes = flagEnabled(data, 'include_operational_notes', true) ? render(partial('notes'), { notes_list: notesList(data.operational_notes) }) : '';\n  const cta = flagEnabled(data, 'include_itop_button_footer', true) ? render(partial('cta'), {\n    href: escapeHtml(data.itop_url || '#'),\n    label: contract.cta?.label || 'Abrir',\n  }) : '';\n  const footer = render(partial('footer'), {\n    brand: contract.footer?.brand || 'Automatizacion ITSM / CMDB',\n    company: escapeHtml(data.company || data.Company || ''),\n    generated_at: escapeHtml(data.generated_at || '-'),\n  });\n\n  let html = render(partial('layout'), {\n    title: escapeHtml(data.report_title || data.email_subject || 'Reporte'),\n    styles,\n    header,\n    summary: flagEnabled(data, 'include_summary', true) ? summary : '',\n    stats: flagEnabled(data, 'include_summary', true) ? stats : '',\n    criteria,\n    tables,\n    notes,\n    cta,\n    footer,\n  });\n  html = normalizeText(html, false);\n  data.email_subject = normalizeText(data.email_subject, true);\n\n  const includeAttachment = flagEnabled(data, 'include_attachment', true);\n  const binary = includeAttachment ? (item.binary || {}) : {};\n  return {\n    json: {\n      ...data,\n      html,\n      template_version: contract.template_version || 'mail-v1',\n      template_contract: key,\n      include_attachment_effective: includeAttachment,\n      attachment_binary_names: includeAttachment && binary.csv ? 'csv' : '',\n      has_csv_binary: Boolean(binary.csv),\n    },\n    binary,\n  };\n}\n\nreturn $input.all().map(buildHtml);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ],
      "id": "5ab82288-7d0b-4d21-a85a-f01266a82806",
      "name": "HTML - Renderer parciales"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.email_from }}",
        "toEmail": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachments": "={{ $json.attachment_binary_names }}",
          "ccEmail": "={{ $json.email_cc }}",
          "bccEmail": "={{ $json.email_bcc }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2464,
        0
      ],
      "id": "45de348a-5292-4ac3-b2fd-c4049bafeead",
      "name": "Enviar correo SMTP",
      "webhookId": "7db4ae00-baa9-4802-9cc5-9a9952d26ac7",
      "credentials": {
        "smtp": {
          "id": "0Kph5ncFnrBvdaVP",
          "name": "SMTP_Exchange"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cmdb-resumen-clase-estado-bodega",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -192
      ],
      "id": "d563bfb5-2e32-4fb7-8648-1f6369e04935",
      "name": "Webhook - ejecucion externa",
      "webhookId": "3df7f116-e2e4-46f2-9cc2-30bff89bcf5c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5ueiVRP6pKurE71t",
          "name": "HeaderAuth_GF_QA"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        672,
        192
      ],
      "id": "9b217f98-e13e-4983-b24c-5a4f13913a7d",
      "name": "Cron - lunes 07:00"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "puR8KZ9UFvq5zRqX",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/puR8KZ9UFvq5zRqX",
          "cachedResultName": "SYS - Configuracion base reportes correo"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "42144b84-3e9f-4e2c-900e-f47fb07b6e78",
      "name": "SubWorkflow - SetBase reportes correo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first()?.json || {};\nconst trigger = $('SetTrigger - Flujo').first()?.json || {};\n\nfunction normalizeBoolean(value, fallback) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si'].includes(text)) return true;\n  if (['false', '0', 'no', 'n'].includes(text)) return false;\n  return fallback;\n}\n\nconst flags = { ...(base.flags || {}) };\nfor (const key of ['include_attachment', 'include_detail', 'include_summary', 'include_operational_notes', 'include_itop_button_footer', 'send_email', 'include_requirements', 'include_incidents', 'include_changes', 'include_problems']) {\n  if (trigger[key] !== undefined && trigger[key] !== null && trigger[key] !== '') {\n    flags[key] = normalizeBoolean(trigger[key], flags[key]);\n  }\n}\n\nconst setMixed = {\n  ...base,\n  ...trigger,\n  flags,\n  config_source: 'SetBase + SetTrigger',\n};\n\nfor (const [key, value] of Object.entries(flags)) {\n  if (setMixed[key] === undefined || setMixed[key] === null || setMixed[key] === '') setMixed[key] = value;\n}\n\nreturn [{ json: setMixed }];"
      },
      "id": "e7f6113d-55ff-4bc3-aa3b-ced7be9f6445",
      "name": "Config Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function getNodeJson(name) {\n  try { return $(name).first()?.json || {}; } catch (error) { return {}; }\n}\n\nfunction mergeFlags(...sources) {\n  const flags = {};\n  for (const source of sources) {\n    if (!source) continue;\n    Object.assign(flags, source.flags || {});\n    for (const key of ['include_attachment','include_detail','include_summary','include_operational_notes','include_itop_button_footer','send_email','include_requirements','include_incidents','include_changes','include_problems']) {\n      if (source[key] !== undefined && source[key] !== null && source[key] !== '') flags[key] = normalizeBoolean(source[key], flags[key]);\n    }\n  }\n  return flags;\n}\n\nfunction normalizeBoolean(value, fallback = true) {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'boolean') return value;\n  if (typeof value === 'number') return value !== 0;\n  const text = String(value).trim().toLowerCase();\n  if (['true', '1', 'yes', 'y', 'si', 's', 'on', 'enabled'].includes(text)) return true;\n  if (['false', '0', 'no', 'n', 'off', 'disabled'].includes(text)) return false;\n  return fallback;\n}\n\nfunction flagEnabled(data, name, fallback = true) {\n  return normalizeBoolean(data[name] ?? data.flags?.[name], fallback);\n}\n\nfunction removeOuterRowByMarker(html, marker) {\n  const index = html.indexOf(marker);\n  if (index === -1) return html;\n  const starts = ['\\n      <tr><td', '\\n                        <tr><td', '<tr><td', '<tr>'];\n  let start = -1;\n  for (const needle of starts) {\n    const pos = html.lastIndexOf(needle, index);\n    if (pos !== -1 && pos > start) start = pos;\n  }\n  if (start === -1) start = Math.max(0, index - 200);\n  const ends = ['\\n      <tr><td', '\\n                        <tr><td', '\\n      <tr><td style=\"background-color', '\\n                        <tr><td style=\"background-color'];\n  let end = -1;\n  for (const needle of ends) {\n    const pos = html.indexOf(needle, index + marker.length);\n    if (pos !== -1 && (end === -1 || pos < end)) end = pos;\n  }\n  if (end === -1) {\n    const close = html.indexOf('</td></tr>', index);\n    end = close === -1 ? index + marker.length : close + '</td></tr>'.length;\n  }\n  return html.slice(0, start) + html.slice(end);\n}\n\nfunction removeAllRowsByMarker(html, marker) {\n  let previous;\n  do {\n    previous = html;\n    html = removeOuterRowByMarker(html, marker);\n  } while (html !== previous);\n  return html;\n}\n\nfunction removeTablesByClass(html) {\n  return html\n    .replace(/<table\\b[^>]*class=[\"'][^\"']*(?:data-table|ticket-table)[^\"']*[\"'][\\s\\S]*?<\\/table>/gi, '')\n    .replace(/<table\\b[^>]*(?:data-table|ticket-table)[^>]*>[\\s\\S]*?<\\/table>/gi, '');\n}\n\n\nfunction repairMailEncoding(value, forSubject = false) {\n  let text = String(value ?? '');\n  const htmlMap = [\n    ['Automatizaci??n','Automatizaci&oacute;n'], ['automatizaci??n','automatizaci&oacute;n'],\n    ['Organizaci??n','Organizaci&oacute;n'], ['organizaci??n','organizaci&oacute;n'],\n    ['Producci??n','Producci&oacute;n'], ['producci??n','producci&oacute;n'],\n    ['garant??a','garant&iacute;a'], ['Garant??a','Garant&iacute;a'], ['GARANT??A','GARANT&Iacute;A'],\n    ['pr??ximos','pr&oacute;ximos'], ['Pr??ximos','Pr&oacute;ximos'], ['PR??XIMOS','PR&Oacute;XIMOS'], ['pr??ximo','pr&oacute;ximo'], ['pr??xima','pr&oacute;xima'],\n    ['d??as','d&iacute;as'], ['D??AS','D&Iacute;AS'], ['D??as','D&iacute;as'],\n    ['m??s','m&aacute;s'], ['M??S','M&Aacute;S'], ['M??s','M&aacute;s'],\n    ['T??tulo','T&iacute;tulo'], ['t??tulo','t&iacute;tulo'],\n    ['antig??edad','antig&uuml;edad'], ['Antig??edad','Antig&uuml;edad'],\n    ['actualizaci??n','actualizaci&oacute;n'], ['Actualizaci??n','Actualizaci&oacute;n'],\n    ['configuraci??n','configuraci&oacute;n'], ['Configuraci??n','Configuraci&oacute;n'],\n    ['f??sicos','f&iacute;sicos'], ['f??sico','f&iacute;sico'], ['f??sica','f&iacute;sica'], ['f??sicamente','f&iacute;sicamente'],\n    ['tel??fono','tel&eacute;fono'], ['Tel??fonos','Tel&eacute;fonos'], ['m??viles','m&oacute;viles'],\n    ['perif??rico','perif&eacute;rico'], ['perif??ricos','perif&eacute;ricos'], ['Perif??ricos','Perif&eacute;ricos'],\n    ['??nico','&uacute;nico'], ['??nica','&uacute;nica'], ['??ltimo','&uacute;ltimo'], ['??ltima','&uacute;ltima'],\n    ['cr??tico','cr&iacute;tico'], ['cr??ticos','cr&iacute;ticos'], ['Cr??tico','Cr&iacute;tico'], ['CR??TICOS','CR&Iacute;TICOS'],\n    ['par??metros','par&aacute;metros'], ['inv??lida','inv&aacute;lida'], ['v??lida','v&aacute;lida'], ['v??lidas','v&aacute;lidas'],\n    ['env??a','env&iacute;a'], ['envi??','envi&oacute;'], ['asignaci??n','asignaci&oacute;n'], ['ubicaci??n','ubicaci&oacute;n'],\n    ['descripci??n','descripci&oacute;n'], ['categor??a','categor&iacute;a'], ['seg??n','seg&uacute;n'], ['hist??rico','hist&oacute;rico'], ['Hist??rico','Hist&oacute;rico'],\n    ['relaci??n','relaci&oacute;n'], ['operaci??n','operaci&oacute;n'], ['an??lisis','an&aacute;lisis'], ['creaci??n','creaci&oacute;n'],\n    ['aprobaci??n','aprobaci&oacute;n'], ['atenci??n','atenci&oacute;n'], ['informaci??n','informaci&oacute;n'], ['clasificaci??n','clasificaci&oacute;n'],\n    ['revisi??n','revisi&oacute;n'], ['intervenci??n','intervenci&oacute;n'], ['secci??n','secci&oacute;n'], ['l??nea','l&iacute;nea'],\n    ['c??digos','c&oacute;digos'], ['d??nde','d&oacute;nde'], ['espa??ol','espa&ntilde;ol'], ['vi??etas','vi&ntilde;etas'],\n    ['m??ltiples','m&uacute;ltiples'], ['m??xima','m&aacute;xima'], ['r??pida','r&aacute;pida'], ['reposici??n','reposici&oacute;n'],\n    ['est??ndar','est&aacute;ndar'], ['alg??n','alg&uacute;n'], ['??til','&uacute;til'], ['port??til','port&aacute;til']\n  ];\n  const subjectMap = htmlMap.map(([bad, good]) => [bad, good\n    .replace(/&aacute;/g,'a').replace(/&eacute;/g,'e').replace(/&iacute;/g,'i').replace(/&oacute;/g,'o').replace(/&uacute;/g,'u')\n    .replace(/&Aacute;/g,'A').replace(/&Eacute;/g,'E').replace(/&Iacute;/g,'I').replace(/&Oacute;/g,'O').replace(/&Uacute;/g,'U')\n    .replace(/&uuml;/g,'u').replace(/&Uuml;/g,'U').replace(/&ntilde;/g,'n').replace(/&Ntilde;/g,'N')]);\n  for (const [bad, good] of (forSubject ? subjectMap : htmlMap)) text = text.split(bad).join(good);\n  text = text.split(' ?? ').join(forSubject ? ' - ' : ' &bull; ');\n  text = text.split('??').join(forSubject ? '-' : '&bull;');\n  return text;\n}\n\nfunction applyVisualFlags(html, data) {\n  if (!html) return html;\n  if (!flagEnabled(data, 'include_summary', true)) {\n    for (const marker of ['Resumen ejecutivo', 'TOTAL ACTIVOS', 'TOTAL CON CONTACTO', 'TOTAL TICKETS', 'TOTAL CAMBIOS', 'TOTAL MOVIMIENTOS']) html = removeAllRowsByMarker(html, marker);\n  }\n  if (!flagEnabled(data, 'include_detail', true)) {\n    for (const marker of [\n      'Detalle operacional',\n      'Detalle de activos',\n      'Detalle de tickets',\n      'Detalle por agente',\n      'Detalle por antig?edad',\n      'Resumen por estado',\n      'Resumen por bodega/localidad',\n      'Resumen por clase',\n      'Activos por clase',\n      'Por revisar',\n      'Tickets abiertos',\n      'Tickets abiertos pendientes',\n      'Tickets abiertos por agente',\n      'Tickets con m?s de 14 d?as abiertos',\n      'Tickets abiertos hasta 14 d?as',\n      'Movimientos recientes',\n      'data-table',\n      'ticket-table'\n    ]) html = removeAllRowsByMarker(html, marker);\n    html = removeTablesByClass(html);\n    html = html.replace(/\\.data-table[\\s\\S]*?\\}/g, '').replace(/\\.ticket-table[\\s\\S]*?\\}/g, '');\n  }\n  if (!flagEnabled(data, 'include_operational_notes', true)) html = removeAllRowsByMarker(html, 'Observaciones operacionales');\n  if (!flagEnabled(data, 'include_itop_button_footer', true)) html = removeAllRowsByMarker(html, 'Abrir Combodo iTop');\n  return html;\n}\n\nreturn $input.all().map((item) => {\n  const configReporte = getNodeJson('Config Reporte');\n  const setMixed = getNodeJson('SetMixed - Configuracion efectiva');\n  const setTrigger = getNodeJson('SetTrigger - Flujo');\n  const itemJson = item.json || {};\n  const flags = mergeFlags(configReporte, setMixed, itemJson, setTrigger);\n  const data = { ...configReporte, ...setMixed, ...itemJson, ...setTrigger, flags };\n  for (const [key, value] of Object.entries(flags)) data[key] = value;\n\n  const includeAttachment = flagEnabled(data, 'include_attachment', true);\n  const binary = includeAttachment ? (item.binary || {}) : {};\n  const html = repairMailEncoding(applyVisualFlags(data.html, data), false);\n  data.email_subject = repairMailEncoding(data.email_subject, true);\n\n  return {\n    json: {\n      ...data,\n      html,\n      include_attachment_effective: includeAttachment,\n      attachment_binary_names: includeAttachment && binary.csv ? 'csv' : '',\n      has_csv_binary: Boolean(binary.csv),\n    },\n    binary,\n  };\n});"
      },
      "id": "0c31277e-53db-4e51-bf0f-ee189be6f8f7",
      "name": "Aplicar flags envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst body = item?.json?.body || {};\nconst errors = [];\n\nfunction text(name) {\n  return String(body[name] ?? '').trim();\n}\n\nfunction positiveNumber(name) {\n  const raw = body[name];\n  if (raw === undefined || raw === null || raw === '') return false;\n  const n = Number(raw);\n  return Number.isFinite(n) && n > 0;\n}\n\nfunction validDateText(name) {\n  const value = text(name);\n  if (!value) return false;\n  const parsed = new Date(value.replace(' ', 'T'));\n  return !Number.isNaN(parsed.getTime());\n}\n\nfunction dateWindowState() {\n  const hasStart = text('start_date').length > 0;\n  const hasEnd = text('end_date').length > 0;\n  if (!hasStart && !hasEnd) return { provided: false, valid: false };\n  if (!hasStart || !hasEnd) return { provided: true, valid: false, error: 'start_date y end_date deben enviarse juntos.' };\n  if (!validDateText('start_date') || !validDateText('end_date')) return { provided: true, valid: false, error: 'start_date y end_date deben ser fechas v\\u00e1lidas.' };\n  const start = new Date(text('start_date').replace(' ', 'T'));\n  const end = new Date(text('end_date').replace(' ', 'T'));\n  if (start > end) return { provided: true, valid: false, error: 'start_date no puede ser mayor que end_date.' };\n  return { provided: true, valid: true };\n}\n\nif (!text('email_to')) {\n  errors.push('email_to es obligatorio para llamadas webhook.');\n}\n\nconst webhookPath = 'cmdb-resumen-clase-estado-bodega';\nconst window = dateWindowState();\n\nif (webhookPath === 'cmdb-movimientos-recientes-inventario') {\n  const hasMovementDays = positiveNumber('movement_days');\n  if (!hasMovementDays && !window.valid) {\n    errors.push(window.error || 'Debe enviar movement_days positivo o la ventana start_date + end_date.');\n  }\n}\n\nif (webhookPath === 'cmdb-activos-proximos-vencer-garantia') {\n  if (!positiveNumber('warranty_warning_months')) {\n    errors.push('warranty_warning_months es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (webhookPath === 'itsm-tickets-sin-actualizacion-24h') {\n  if (!positiveNumber('stale_threshold_hours')) {\n    errors.push('stale_threshold_hours es obligatorio y debe ser un numero mayor a 0.');\n  }\n}\n\nif (window.provided && !window.valid && webhookPath !== 'cmdb-movimientos-recientes-inventario') {\n  errors.push(window.error || 'Ventana de fechas inv\\u00e1lida.');\n}\n\nconst valid = errors.length === 0;\n\nreturn [{\n  json: {\n    ...(item.json || {}),\n    webhook_contract: {\n      valid,\n      status_code: valid ? 202 : 400,\n      message: valid ? 'Workflow accepted' : errors.join(' '),\n      errors,\n    },\n  },\n  binary: item.binary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -192
      ],
      "id": "91e212a3-1918-4f21-a3f9-bdbbef6ac8d1",
      "name": "Validar webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $json.webhook_contract.message, \"accepted\": $json.webhook_contract.valid } }}",
        "options": {
          "responseCode": "={{ $json.webhook_contract.status_code }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        -192
      ],
      "id": "4612d9dd-4944-4f20-a179-bccc18cc3218",
      "name": "Responder webhook"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item?.json || {};\n\nif (!json.webhook_contract?.valid) {\n  return [];\n}\n\nconst { webhook_contract, ...cleanJson } = json;\nreturn [{ json: cleanJson, binary: item.binary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -192
      ],
      "id": "92c88313-1fbc-456e-94fd-c49136af5865",
      "name": "Continuar webhook valido"
    }
  ],
  "pinData": {},
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iTop - Activos CMDB para resumen": {
      "main": [
        [
          {
            "node": "Preparar datos reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos reporte": {
      "main": [
        [
          {
            "node": "HTML - Renderer parciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML - Renderer parciales": {
      "main": [
        [
          {
            "node": "Aplicar flags envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetTrigger - Flujo": {
      "main": [
        [
          {
            "node": "SubWorkflow - SetBase reportes correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SubWorkflow - SetBase reportes correo": {
      "main": [
        [
          {
            "node": "Config Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Reporte": {
      "main": [
        [
          {
            "node": "iTop - Activos CMDB para resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - ejecucion externa": {
      "main": [
        [
          {
            "node": "Validar webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron - lunes 07:00": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar flags envio": {
      "main": [
        [
          {
            "node": "Enviar correo SMTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar webhook": {
      "main": [
        [
          {
            "node": "Responder webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder webhook": {
      "main": [
        [
          {
            "node": "Continuar webhook valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar webhook valido": {
      "main": [
        [
          {
            "node": "SetTrigger - Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3ee19098-983d-4fed-9735-db191452fcde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ad3b920e2d3586b0e2fb892d909337f22ce15cbde2c7354c038d868efea76ad"
  },
  "id": "gDChMTnkdpiUPs6",
  "tags": []
}